[2022-03-21 10:00] miquelduranfrigola opened #6 "Add progress bar when fetching a model"
# Background
The `fetch` command downloads a model from a GitHub repository corresponding to the identifier of the model, for example, [eos4e40](https://github.com/ersilia-os/eo4e40). In verbose mode (`ersilia -v fetch eos4e40`), the logging is displayed on the terminal. However, if verbose mode is not used, (`ersilia fetch eos4e40`) the user does not have a sense of the progress in downloading an

[2022-03-21 10:13] miquelduranfrigola opened #7 "Calculate disk usage of a model"
# Background
When a model is downloaded with the `fetch` command, the corresponding GitHub repository is cloned, including Git LFS files. As of now, there is no way to know the size of the downloaded files before cloning. In addition, a conda environment or a docker container is created after download. We do not have a way of estimating the size of such environments/containers. Therefore, we are u

[2022-03-21 10:30] miquelduranfrigola opened #8 "Track unused models and automatically delete them"
# Background
Most models in Ersilia require substantial disk usage. Deleting a model means removing all model files as well as the corresponding conda environment or docker container. A desirable feature would be to automatically remove models if they have not been used for e.g. a month.

# Requested feature
Keep track of model last usage date, and delete it automatically if considered to be unuse

[2022-03-21 10:37] miquelduranfrigola opened #9 "Make ersilia conda-installable"
# Background
Currently, Ersilia can be pip-installed. We have a GitHub Action to update ersilia on PyPi every time we do a new release. However, pip installation does not ensure that extra requirements (such as git-lfs) are installed. Perhaps having ersilia as a conda package would be desirable as well.

# Requested feature
Make ersilia conda-installable and trigger a GitHub Action every to update

[2022-03-21 11:12] miquelduranfrigola opened #10 "Link Isaura to the AWS Registry of Open Data"
# Background
A few months ago, we created a small repository named [isaura](https://github.com/ersilia-os/isaura) to manage calculated data. Storing calculations is very relevant, especially for computationally intensive models that have not been optimized for production by original authors. Isaura works mainly on HDF5 files, and our idea is to store these files in the [AWS Registry of Open Data (

[2022-03-21 11:16] miquelduranfrigola opened #11 "Write a more standard README file"
We want to write a better README file, including better installation instructions and a better description of the package features. Are there any guidelines to a good README file?

[2022-03-23 05:27] miquelduranfrigola opened #12 "Better model catalog display"
# Background
Currently, users can list the catalog of all available ersilia models with the command `ersilia catalog`. They have the option to list only models that are available on their local computer with `ersilia catalog --local`.
The current output of these commands is a table printed on the terminal using the [tabulate](https://pypi.org/project/tabulate/) python library.

# Requested feature

[2022-03-23 05:47] miquelduranfrigola opened #13 "Add model search functionality in the CLI"
# Background
Ersilia models can be browsed on the web. Although we do not have a good interface now, this can be done through an [Airtable base](https://airtable.com/shrUcrUnd7jB9ChZV). There is no way to search/filter models using the CLI. As of now, the only thing that can be done is: `ersilia catalog`, which simply prints all models on a table.

# Requested feature
We would like to have a searc

[2022-03-23 06:00] miquelduranfrigola opened #14 "Code documentation"
# Background
Our high-level documentation is being built using a [GitBook](https://ersilia.gitbook.io/ersilia-book/). In addition, we have the automatically generated documentation (package index) as created by Sphinx. This low-level documentation can be seen [here](https://ersilia-os.github.io/ersilia/).

# Help needed
We currently lack docstrings for most of the classes in ersilia, which results

[2022-03-23 09:19] GemmaTuron opened #15 "Set up an Issue Template for Model Requests"
Create a template for an issue to request a model incorporation in the hub. Important questions to keep in mind are: name of the model, why is it for, license, where is the code living...
If someone else is working on this, you can create a new template or contribute your ideas to the existing one.

[2022-03-23 09:21] GemmaTuron opened #16 "Tutorial inspiration"
We are working to develop simple tutorials for the Ersilia Model Hub.
Ca you comment below suggestion one example of a good tutorial from another FOSS project we could get inspiration from?

This is a required step to tackle Issue #17

[2022-03-23 09:24] GemmaTuron opened #17 "Create a mock tutorial slide"
Create one or two slides with a schema of how to use the Ersilia Model Hub and upload them in the folder /tutorials
Feel free to use any tools you want, we recommend checking [carbon](https://carbon.now.sh/) for snippets of code, and also reading our brand guidelines [here](https://medium.com/ersiliaio/ersilia-open-source-initiative-brand-guidelines-130fe53104f5).
You can start working on this pro

[2022-03-25 20:14] AnshuKumari197 commented on #11
Yes, I have guidelines for a good README file. If you allow me then I will write a better README file for this organization.

[2022-03-25 20:17] AnshuKumari197 commented on #17
Can I make slides in plain text or in code format ?.

[2022-03-26 00:51] AviatorIfeanyi commented on #16
Does this have to include articles from blog posts?
This is exciting and i would love to collaborate with you on this

Find below an example

https://towardsdatascience.com/how-to-use-machine-learning-for-drug-discovery-1ccb5fdf81ad

[2022-03-26 02:58] AviatorIfeanyi commented on #14
Would it be possible to implement the open api specification?

[2022-03-26 03:13] AviatorIfeanyi commented on #14
I am still trying to wrap my head around this issue😎😎

I found this though

https://www.writethedocs.org/guide/writing/beginners-guide-to-docs/

would love to know how i would be of help to the project

[2022-03-26 03:32] Ama-tech0001 commented on #16
Greetings @GemmaTuron
During my esearch, I came accross this video on Youtube, I don't know if it can be of help in any way
https://www.youtube.com/watch?v=SoeQZJLQlMc

[2022-03-26 03:52] Ama-tech0001 commented on #16
Below are links to some articles that I came across;

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3884843/

https://www.researchgate.net/publication/256200380_Open_source_drug_discovery_-_A_limited_tutorial

https://www.simulations-plus.com/software/admetpredictor/?gclid=Cj0KCQjw0PWRBhDKARIsAPKHFGhoMZIta7SvbRDIVEYQAVqvBB1BU1CPYmbUBRPCro5zjdNiF2fDk_kaAnvpEALw_wcB

https://www.knime.com/blog/tutori

[2022-03-26 03:54] Ama-tech0001 commented on #16
I'm hoping that I got the assignment correctly. In case I'm making a mistake, I'll greatly appreciate any corrections

[2022-03-26 06:30] Melkeb commented on #11
Yes, there are some guidelines for writing a README and these are some of the relevant guidelines I have found.

Links
https://www.welcometothejungle.com/en/articles/btc-readme-documentation-best-practices
https://www.freecodecamp.org/news/how-to-write-a-good-readme-file/
https://www.writethedocs.org/guide/writing/beginners-guide-to-docs/
https://github.com/elsewhencode/project-guidelines/blob/mas

[2022-03-26 08:23] ifeoluwafavour commented on #15
I'm interested in this issue and would love to contribute to it to tackle it

[2022-03-26 10:32] anamika-yadav99 commented on #13
Hi @miquelduranfrigola Can I work on this issue?

[2022-03-26 10:44] martwebber commented on #13
Hello @miquelduranfrigola, I would like to contribute to this.

[2022-03-26 12:17] Annysah commented on #17
Hello @GemmaTuron 👋, I'm Anisat, an Outreachy applicant.
I would like know if this issue is open to anyone interested in contributing?

[2022-03-26 12:20] yigakpoa commented on #14
Hi @GemmaTuron @miquelduranfrigola  please find below a few amazing resources on how to write documentation:

**Victoria of Freecodecamp** advises we curate accurate notes, explaining decisions, no neglect of prerequisite knowledge, and documentation of everything: https://www.freecodecamp.org/news/how-to-write-good-documentation/

**HeroThemes** educates us on the various types of documentation,

[2022-03-26 14:33] Kcfreshly commented on #11
I hope this sample page and guideline for a better doumentation will be helpful..

**An interesting sample of a readme**
[code]

**A great Template for readme**
[code]

I can also create a more engaging and eaasy to understand writing for the Readme file.

**I worked on the first paragraph in our readme,**

"The Ersilia Model Hub is a patient zero of Ersillia Open Source Initiative. The platform w

[2022-03-26 14:46] ashaby4000 commented on #11
**Here is a Sample ReadME Guide that I came up with after doing some research on ReadME file**
For easy understanding, I checked the part of the guide that the current ReadMe file has been able to justify.

- [x] Project title
- [x] Project description
- [x] Table of contents
- [ ] Technologies
- [ ] Features
- [ ] Screenshots
- [ ] Installation instruction
- [ ] Operation
- [ ] Project stage
- [

[2022-03-26 15:57] Kcfreshly commented on #11
Honestly your points are so valid, however, I made a little tweak to your checklist.

[2022-03-26 17:03] victorabba commented on #16
I think the way forward is to test the model by installing and trying it out after which we can then make a video tutorial on how newbies can install and use the model.

[2022-03-26 17:05] victorabba commented on #15
I would love to tackle this issue as well.

[2022-03-26 17:19] victorabba commented on #14
The resource below shows an efficient way of writting code documentation

https://guides.lib.berkeley.edu/how-to-write-good-documentation

[2022-03-26 17:49] victorabba commented on #14
I would love to help in the code documentation. Docstrings for classes and modules are documented in a different way. However we can may not necessarily need to do the documentation manually for all the codes. If the code is written with python we can use the python console or python shell to generate the code description while we input the docstrings manually.

[2022-03-26 18:03] victorabba commented on #17
@GemmaTuron please where is the folder for the upload located?

[2022-03-26 21:46] ElizabethMawutin commented on #11
I found this guideline useful for writing a good ReadMe file.

https://www.freecodecamp.org/news/how-to-write-a-good-readme-file/
https://www.makeareadme.com/

I believe a good ReadMe file should have these

- [ ] Project title
- [ ] Project Description
- [ ] Table of contents
- [ ] Project installation
- [ ] Usage
- [ ] Acknowledgment
- [ ] License

[2022-03-26 23:09] AishaSaman commented on #16
Hi, I am Aisha and I am Outreachy internship applicant.

I think this website have really good, simple tutorials for inspiration:
https://material.io/design/machine-learning/barcode-scanning.html#usage

Things that inspire me and I found helpful are:
1. step by step with pictures and videos where necessary for better understanding
2. dos and donts are shown with green and red colors
3. links to re

[2022-03-26 23:53] AishaSaman commented on #15
Hi, I am Aisha and I am Outreachy internship applicant.

I have done few changes in Issue: Model request. Please check them.

[2022-03-27 00:25] AishaSaman commented on #14
Hi, I am Aisha and I am an Outreachy internship applicant.

I am willing to help and contribute in writing documentation.

I found these resources helpful:
https://docs.readthedocs.io/en/stable/tutorial/
https://www.geeksforgeeks.org/python-docstrings/

[2022-03-27 03:24] sayantani11 opened #21 "Create a contributing guidelines for the project"
**Is your feature request related to a problem? Please describe.**
From a beginner's perspective, the first thing someone looks for is the contribution guidelines. In order to understand how to make a pull request, check related formats and to look for beginner friendly issues.

**Describe the solution you'd like**
A readme file about contribution guidelines will be a great addition to make the pr

[2022-03-27 03:24] sayantani11 commented on #21
I am an outreachy applicant, and would love to be assigned this issue.

[2022-03-27 06:06] julietugo commented on #16
I believe the 'Getting Started' page of Python is a good example. I would like to write such for Ersilia.

[2022-03-27 06:50] ifeoluwafavour opened #23 "For Third-party Model incorporation into the Hub"
Ersilia accepts the incorporation of third-party models and would not mind suggestions.

**Model title**
Suggest a title for your model. For example, 'Antimicrobial activity prediction'

**Model features**
Describe the features of the model. For example, "The Antimicrobial activit prediction model predicts antimicrobial activity in a specimen."

**Use Case**
Give a brief tutorial of how the model

[2022-03-27 06:52] ifeoluwafavour commented on #23
This issue is in response to issue #15 made by Gemma asking for an issue template to request a model.

I hope to make more meaningful contributions

[2022-03-27 06:54] ifeoluwafavour commented on #15
I have added the issue template. It is on issue #23

[2022-03-27 06:59] victorabba opened #24 "Bug report for the Ersilia model"
**Describe the bug**
A clear and concise description of what the bug is. Example can be a calculation error or a missing command.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help expl

[2022-03-27 07:11] victorabba opened #25 "Feature request"
**What is your feature request ?, Is  your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2022-03-27 07:23] victorabba commented on #21
I would love to be assigned this issue.

[2022-03-27 08:43] victorabba commented on #23
I would love to contribute to this model.

[2022-03-27 09:54] ASLManasa commented on #21
I am an outreachy applicant, and would love to be assigned this issue.

[2022-03-27 11:29] ifeoluwafavour opened #26 "Installation steps of Ersilia Model for Windows operating system"
I noticed that there are no installation steps for Ersilia Model on Windows and the steps would be coming soon.

Please, I would like to work with the developers to know how to install Ersilia on Windows and help write the steps.

I have already downloaded Miniconda, activated the Ersilia environment and installed Ersilia. I just need to collaborate with the developers for it to properly work on m

[2022-03-27 12:00] victorabba commented on #26
I will like to contribute to this issue. I'm currently working on it though.

[2022-03-27 12:35] harshita214 commented on #11
@miquelduranfrigola @GemmaTuron I am interested to contribute to this issue, by keeping in mind the points highlighted by @ashaby4000 @Kcfreshly @ElizabethMawutin, I am willing to work collaboratively also with them.

[2022-03-27 15:18] victorabba commented on #6
I would love to contribute to this issue.

[2022-03-27 15:30] julian55455 commented on #17
@GemmaTuron is the issue open to anyone interested in contributing?if yes,how do i make the slides?

[2022-03-27 16:01] IdealisticINTJ commented on #9
Hi @miquelduranfrigola,
I'd like to work on this issue. Please assign it to me.

[2022-03-27 16:08] GemmaTuron commented on #17
Hello Anshu, this issue is related to outreach material so it should be in any format that is easily distributable to a general audience (not code format).

[2022-03-27 16:09] GemmaTuron commented on #17
Hello Anisat, yes, feel free to start working on this, it won't be assigned to anyone individually as it is up to each applicant's ideas and can be tackled by different people at the same time

[2022-03-27 16:10] GemmaTuron commented on #17
Hello Julian,
Please prepare the material in any format you would like and upload it to the /tutorials folder (that will be soon created hopefully :) )

[2022-03-27 16:10] GemmaTuron commented on #17
Hello Victor,

I noticed there is no folder so I just created an issue, I hope an applicant will create the folder !

[2022-03-27 17:08] GemmaTuron opened #28 "Add folder for Tutorials - Outreachy begginers"
Hello,

Could you create an empty folder in the ersilia project with the name "tutorial" ?
This issue is great if you are a beginner who wants to test how the git fork, branch, and pull requests work. I recommend reading this [tutorial](https://blog.openreplay.com/getting-started-with-open-source-how-to-contribute) first
Please note this issue will only be assigned to one applicant, ping me here i

[2022-03-27 17:15] kbetty commented on #28
Hello @GemmaTuron am an outreach applicant and passionate about the project. I am interested to kick off with my contribution with this task. Thanks

[2022-03-27 17:19] GemmaTuron commented on #26
Hello @victorabba and @ifeoluwafavour

As you may find in the installation notes, Ersilia only works in Windows Subsystem Linux (WSL). We think attempting to refactor the package to work natively on Windows is too complicated at this step. We would welcome though a proper guide for Windows users on how to install WSL (instead of only this [paragraph](https://ersilia.gitbook.io/ersilia-book/quick-s

[2022-03-27 17:21] GemmaTuron commented on #15
Hello @ifeoluwafavour thanks for your contribution! please remember to record contributions in the Outreachy website

[2022-03-27 17:24] GemmaTuron commented on #23
thanks @ifeoluwafavour for the contribution!

@victorabba if there is something you wish to add to  please do so in this conversation thread. It will remain open for the week for any further contributions. It may be there is no further information to add, if you think that is the case, let me know so I can close the issue and check for other open issues to contribute to.

[2022-03-27 17:25] ifeoluwafavour commented on #26
Thank you very much. @GemmaTuron

I will start working on it now

[2022-03-27 17:25] GemmaTuron commented on #15
Hello @victorabba please see issue #23 to continue working on this, thanks!

[2022-03-27 17:26] Riyabelle25 commented on #28
Hi @GemmaTuron! I would love to contribute to this project and am an Outreachy applicant. My interests particularly lie in the intersection of ML and Software Dev, so I feel I'll be a natural fit here 👋
I have started looking at other open issues in this project, do let me know if I can be assigned this issue here as well

[2022-03-27 17:27] GemmaTuron commented on #15
Hello @AishaSaman I do not find the issue you mention. Could you please link here the number of the issue for me to follow up? thanks!

[2022-03-27 17:27] dchidindu5 commented on #28
Hello @GemmaTuron, I'd love to work on this project as soon as possible. Id be willing to devote my time to this

[2022-03-27 17:31] GemmaTuron commented on #21
Hello @sayantani11 thanks for your initiative.
Please go ahead in creating the guidelines in a .md file and upload it in the /documentation (**not /docs**) folder. Add your name or an identifier to the document.

@victorabba and @ASLManasa this is a collaborative project. You can also add your own contribution guidelines or add a comment to another applicant work if you think there is something mi

[2022-03-27 17:32] GemmaTuron commented on #25
Hello @victorabba is this responding to any open issue or is a new feature you would like to add?

thanks!

[2022-03-27 17:34] GemmaTuron commented on #24
hello @victorabba ,

This bug report template is the default in our repository. Can you let me know what is the issue?
thanks!

[2022-03-27 17:36] Riyabelle25 commented on #13
Hello, I have experience with Software Development for ML tools, and would love to contribute here! I have set up Ersilia and have been going through the codebase. I would like to tackle this issue, can I start working on a PR for the same?

[2022-03-27 17:37] GemmaTuron commented on #28
Hello,

Thanks for your interest. @kbetty I have assigned the issue to you. @Riyabelle25 and @dchidindu5 please look for open issues to contribute!
thanks

[2022-03-27 17:38] GemmaTuron opened #29 "Add folder /documentation - Outreachy Applicants"
Hello,

Could you create an empty folder in the ersilia project with the name /documentation ?
This issue is great if you are a beginner who wants to test how the git fork, branch, and pull requests work. I recommend reading this  "[tutorial](https://blog.openreplay.com/getting-started-with-open-source-how-to-contribute)" first
Please note this issue will only be assigned to one applicant, ping me

[2022-03-27 17:42] Riyabelle25 commented on #7
Hey there! I can take this issue up

[2022-03-27 17:45] Riyabelle25 commented on #8
Hi!
Can I take this issue up?

[2022-03-27 17:47] victorabba commented on #23
Their is actually something missing. I will attend to it.

[2022-03-27 17:52] victorabba opened #30 "Model request"
Ersilia accepts the incorporation of third-party models and would not mind suggestions.

Model title
Suggest a title for your model. For example, 'Antimicrobial activity prediction'

Model features
Describe the features of the model. For example, "The Antimicrobial activit prediction model predicts antimicrobial activity in a specimen."

Use Case
Give a brief tutorial of how the model is used. Scr

[2022-03-27 17:55] victorabba commented on #29
I would love to contribute to this issue.

[2022-03-27 17:56] GemmaTuron commented on #11
Hello,

Thanks for your interest! Here some comments and how to continue working on this:
@ashaby4000 the checklist is a good idea to work from there, thanks for sharing that
@Kcfreshly please revise what is the Ersilia Model Hub and your first line: _The Ersilia Model Hub is a patient zero of Ersillia Open Source Initiative. The platform will deploy user-friendly AI/models._ Make sure this makes

[2022-03-27 17:58] GemmaTuron commented on #30
Hello @victorabba,
please comment on the same issue instead of opening a new one to make it easier to follow. Can you add this to issue #23 and explain what is missing and why have you added it?
thank you!

[2022-03-27 17:58] #30 closed

[2022-03-27 18:02] GemmaTuron commented on #29
Hi @victorabba you are already tagged in a number of issues and assigned to issues #23 and #27, I will give time to other applicants to express their interest as well, please continue working on the open issues you are assigned to

[2022-03-27 18:03] GemmaTuron commented on #26
To other Applicants, this issue will accept **up to 5 assignes**. The next weeks we will work in merging the different versions into one, if you are interested in contributing here ping me and I will assign this task as well.

[2022-03-27 18:06] victorabba commented on #26
Thanks @GemmaTuron, I will get to work.

[2022-03-27 18:07] Rufaida98 commented on #29
Hi I would love to contribute to this issue

[2022-03-27 18:08] victorabba commented on #23
Benefit of the model should be added to the template.
Benefit: How can the model be of benefit in the field of science?

[2022-03-27 18:16] victorabba commented on #24
I don't think their is need for a smartphone field since the model usage is on a PC.

[2022-03-27 18:23] Rufaida98 commented on #29
Hi @GemmaTuron I would love to contribute

[2022-03-27 18:31] kbetty commented on #28
Hello @Riyabelle25 here is the [PR](https://github.com/ersilia-os/ersilia/pull/32)

[2022-03-27 18:32] GemmaTuron commented on #29
Hello @Rufaida98 I have assigned this issue to you, thanks!

[2022-03-27 18:33] Rufaida98 commented on #29
Thank you @GemmaTuron . I will try my best!!

[2022-03-27 18:35] GemmaTuron commented on #28
thanks @kbetty can you now delete the .keep file inside the folder?

[2022-03-27 18:35] anamika-yadav99 commented on #13
Hi @miquelduranfrigola  I have looked into the codebase and worked around a little bit. I found that  catalog already has --search option
![image](https://user-images.githubusercontent.com/54634163/160295480-33348a6d-ccb1-4bd2-9023-f228fad50ff3.png)
I worked on creating a new cli feature search which searches through the catalog and finds the model with text or model. It works like this
![image](h

[2022-03-27 18:41] kbetty commented on #28
Welcome @GemmaTuron ! Let me make a PR to address the issue ASAP.

[2022-03-27 18:53] kbetty commented on #28
Hello @GemmaTuron have come to learn that Git does not care about folders - it cares about files. Therefore, if a folder is empty, Git will not offer you to add it to version control. Here is the documentation at https://www.git-tower.com/learn/git/faq/add-empty-folder-to-version-control

So when I delete that hidden file, Git considers the folder to be deleted as well.

Here is my suggestion:
We

[2022-03-27 18:56] martwebber commented on #26
Hello @GemmaTuron, I would love to contribute to this issue.

[2022-03-27 19:07] kbetty commented on #16
Hello @GemmaTuron I have searched and gone through several tutorials from other FOSS communities and I found one at https://wiki.openmrs.org/display/docs/Developer+Guide so inspiring that we can borrow a leaf as we develop ours for Ersilia Model Hub and  passionate to contribute to  the project.

[2022-03-27 19:09] arushi2715 commented on #11
Hello @GemmaTuron I want to work on this.

[2022-03-27 19:19] martwebber commented on #11
Hello @GemmaTuron, I would love to contribute to this issue.

[2022-03-27 19:20] Shivani-Parihar99 commented on #29
Hi @GemmaTuron, I just summitted the pull request for this issue. When I started working on this issue I did not realized that you assigned it to @Rufaida98. Please review my pull request and please guide me if I have to make any further changes.

[2022-03-27 19:36] victorabba commented on #25
I didn't think we were to make any changes to the issues. However, I would like to suggest that the first question should be ' What is your feature request?' before the second question' Is your feature request related to a problem?

[2022-03-27 19:46] KundaiChasinda commented on #6
I would like to contribute to this issue @miquelduranfrigola

[2022-03-27 19:55] kbetty commented on #16
@GemmaTuron I think we have two separate tutorials to cater for technical contributors and non technical contributors so that we come up with tutorials that will be of great use to our community.

[2022-03-27 19:58] dchidindu5 commented on #26
Hello @GemmaTuron I'm interested in working such an issue

[2022-03-27 20:17] pauline-banye commented on #11
Hi Henry and Gemma, I would like to contribute to thos

[2022-03-27 20:31] ugo-bee commented on #11
Hi @GemmaTuron i would love to contribute to this issue

[2022-03-27 21:17] adeola-dev commented on #16
Hi @GemmaTuron I found this helpful for the usability of the Firefox FOSS project;
https://itsfoss.com/firefox/

And this for the VLC FOSS project;
https://itsfoss.com/install-latest-vlc/
https://www.flexclip.com/learn/vlc.html.

I am open to collaboration with other contributors to this issue

[2022-03-27 21:28] adeola-dev commented on #26
Hello @GemmaTuron , Iwould love to contribute to this issue

[2022-03-27 21:38] dchidindu5 opened #35 "The Installation guide for intalling ersilia model did not specify the Conda Environment that should be used"
While reading through the conda documentation, I found out that the Conda environment is made up of two versions (miniconda and anaconda).
Both are recommended but with different features and functionalities.

I'm suggesting that both versions should be outlined in the "Ersilia Installation Guide" so that users can make their choices.

[2022-03-27 21:50] adeola-dev commented on #11
Hi @GemmaTuron , I would love to contribute to this issue.

[2022-03-28 02:29] Ama-tech0001 commented on #17
@GemmaTuron, I did a slide and will love to upload for review. Please how should I do that?

[2022-03-28 02:44] prtk2001 commented on #6
I'm currently working on this issue @miquelduranfrigola

[2022-03-28 04:54] Shivani-Parihar99 commented on #11
Hi @GemmaTuron , I would love to contribute to this issue as well.

[2022-03-28 05:34] GemmaTuron commented on #29
Hello @Shivani-Parihar99,

Thanks for your contribution. In order to make the most for each applicant we have to respect the assignation procedure. There are tasks that can be tackled by multiple contributors and others that will be assigned to a specific one. This is the reason I haven't merged you pull request, I hope you understand we need to follow the assignment order otherwise applicants wil

[2022-03-28 05:37] GemmaTuron commented on #28
Hi @kbetty

Well done. Directories in GitHub are created once a file is directed to them. When applicants start uploading their contributions we can delete the placeholder.
Please record this contribution in the Outreachy website!

Thanks!

[2022-03-28 05:37] #28 closed

[2022-03-28 05:44] kbetty commented on #28
Thanks @GemmaTuron

I will take the initiative to ensure the placeholder is removed once file(s) are uploaded in the folder.

Sure! This is my first task in open source development and has taught me to something that git does not track empty folders.

[2022-03-28 05:45] GemmaTuron commented on #17
Hello @Ama-tech0001,

To upload documents on a github repository, follow this instructions: https://docs.github.com/en/repositories/working-with-files/managing-files/adding-a-file-to-a-repository
Please make sure you reduce the size of the slides otherwise they won't be able to be uploaded

[2022-03-28 05:47] kbetty commented on #17
Hello @GemmaTuron  I have an idea on this task and am wondering whether multiple people can work on the task. Your guidance is really helpful on the subject.

[2022-03-28 05:49] GemmaTuron commented on #17
For anyone interested in working in this issue, please first:

Check Issue #16 and comment there where are you getting your inspiration to work on the documents, link any relevant resources and explain your ideas so the rest of the community will see them.
We will not accept contributions to this issue if you do not answer first to issue #16 !

Thanks

[2022-03-28 05:55] kbetty commented on #17
@GemmaTuron I made a comment and explained my idea [here](https://github.com/ersilia-os/ersilia/issues/16#issuecomment-1080007598). I am open to collaborating with other contributors on this issue. Am wondering if I can go a head and make a skeleton of the proposed idea. Thanks for your guidance.

[2022-03-28 06:01] GemmaTuron commented on #16
Hello,

@AviatorIfeanyi, you link to a high level introduction to ML for drug discovery, but here we are looking at creating specific tutorials for the Ersilia Model hub, our tool. Please think how to do this and find perhaps more adapted examples before continuing

@Ama-tech0001, the first resources you list are also high level overview of using computer science for drug discovery. The most relev

[2022-03-28 06:04] Ama-tech0001 commented on #17
Okay, noted. I already made changes without seeing your last comment, I'll make sure to check Issue #16 right away

[2022-03-28 06:08] GemmaTuron commented on #14
Hello @AviatorIfeanyi, this guide to docs is referring to high level documentation (such as readme files). Here we are thinking about low level, technical documentation. If you are interested in high-level docs, here are other issues focused on them, such as #16

[2022-03-28 06:10] GemmaTuron commented on #14
Hello @yigakpoa , thanks for the resources, well-found. Would you be interested in pursuing this issue further? If so let us know and we will assign you a specific contribution regarding low-level documentation

[2022-03-28 06:11] Ama-tech0001 commented on #16
Thank you for the comments @GemmaTuron
Can you please check out what I did in issue #17 ?

[2022-03-28 06:11] GemmaTuron commented on #14
Hello @victorabba, indeed. When you finish your contributions to other issues let us know and we will assign you a specific task for low-level documentation

[2022-03-28 06:12] anamika-yadav99 commented on #9
Hi @miquelduranfrigola  I tried to make this package conda installable but it keeps breaking down on conda build command. That's because there are dependencies which are not present on Conda. The problem is that conda package dependencies only refer to other conda packages. I also tried to repackage the dependencies not present on conda and then publish them in my channel but again, the conda buil

[2022-03-28 06:13] GemmaTuron commented on #14
Hello @AishaSaman

Thanks, are you interested in contributing to low-level documentation? Please note that for technical documents Python knowledge is required

[2022-03-28 06:14] kbetty commented on #16
Thanks for the insight. I have gone through several user-oriented guides but the one at https://wiki.openmrs.org/pages/viewpage.action?pageId=589851 out-stands them and I think we can borrow a leaf and we come up with a user guide with clear steps on how to use ersilia.

[2022-03-28 06:17] GemmaTuron commented on #11
Hello @martwebber, @pauline-banye, @arushi2715, @Melkeb and @ugo-bee

I have assigned this task to you as well.

@adeola-dev  and @Shivani-Parihar99 , thanks for your interest, please give the assignes a few days to work on this and next week we will continue the work on README files and you will have more opportunities for contributing

[2022-03-28 06:21] GemmaTuron opened #36 "Show Installation and Run of the Ersilia Model Hub - Outreachy"
This issue is for Outreachy Applicants interested in contributing to the Project "Improve the Ersilia Model Hub, a FOSS platform offering pre trained AI/ML models for research"

**Before** tackling any coding issue, comment here with:
 - Your name
 - System (OS, Windows., Linux) and version
 - Your background in Python (required skill for this project)
 - A snapshot of your CLI showing that you ha

[2022-03-28 06:22] GemmaTuron commented on #6
Hello @KundaiChasinda, @prtk2001

Please before continuing the work in this issue, go to issue #36 as this is a required initial step to work on the project!
Thanks!

[2022-03-28 06:23] GemmaTuron commented on #7
Hello @Riyabelle25,

This is great thanks. To tackle this issue can you please first answer in issue #36 ?

[2022-03-28 06:24] GemmaTuron commented on #8
Hello @Riyabelle25,

As I mentioned, please first complete the requirements in issue #36. Then we advise you to choose one issue to start working with, either this one or issue #7   where you have also shown interest

[2022-03-28 06:26] GemmaTuron commented on #9
hello @IdealisticINTJ and @anamika-yadav99

Thanks for your interest to contribute to this. TPlease, first refer to issue #36 before continuing the work here.
@anamika-yadav99, please also go to issue #36 before and we will then work on this issue

[2022-03-28 06:28] GemmaTuron commented on #13
Hello @anamika-yadav99, @martwebber, @Riyabelle25

Thanks for your enthusiasm. Please, before continuing the work on this issue, refer to issue #36 and answer the questions there.
We also advise applicants to tackle one issue at a time, also leaving the opportunity to others to contribute. @Riyabelle25  and @anamika-yadav99 which issue are you most interested in pursuing? You have shown interest i

[2022-03-28 06:36] Rufaida98 commented on #29
yes i am working in it as its great opportunity to learn @GemmaTuron .Thank you so much

[2022-03-28 06:49] anamika-yadav99 commented on #13
Hi @GemmaTuron I would like to work on this issue #13.

[2022-03-28 06:53] Kheredine commented on #16
Hi @GemmaTuron , I hope this will help
https://youtu.be/yL_NqXZgmks

[2022-03-28 07:40] Kcfreshly commented on #16
@GemmaTuron Knime flow as suggested by @Ama-tech0001 looks great, I believe I can create a similar tutorial and possibly include a short tutorial video on how to use the Ersilia Model Hub.

[2022-03-28 07:41] Shivani-Parihar99 commented on #11
@GemmaTuron Thankyou for consideration.

[2022-03-28 07:42] Riyabelle25 commented on #36
- Hi, I'm **Riya Elizabeth John** a third-year B.E undergrad at IIT Roorkee, India
- **System (OS, Windows., Linux) and version:** **MacOS** Monterey Version 12.1, Apple M1 chip
- **Your background in Python (required skill for this project):** I'm primarily a Python Developer with (both open-source and industrial) experience working in ML Toolboxes/Packages. As part of the Vision and Language Gro

[2022-03-28 08:08] Rufaida98 commented on #29
@GemmaTuron sorry to bother but when i try git commit it says to me author identity unknown

[2022-03-28 08:11] Rufaida98 commented on #29
![Capture git add](https://user-images.githubusercontent.com/92082003/160354994-28c3f409-75ed-41c6-a1f9-79e1f6fec0e4.PNG)
![Capture git add](https://user-images.githubusercontent.com/92082003/160355026-90ba4a6c-2fb9-4566-8e6d-d0d6edc9ea82.PNG)

[2022-03-28 08:13] Rufaida98 commented on #29
![capture gitcommit](https://user-images.githubusercontent.com/92082003/160355233-e0e51b6d-34c0-4b54-ab33-40f31f1fcba0.PNG)
![Capture git add](https://user-images.githubusercontent.com/92082003/160355253-e3021c22-92d5-4010-a1b7-b19465d3c16c.PNG)

[2022-03-28 08:25] GemmaTuron commented on #36
Hello @Riyabelle25,
Many thanks for answering! Next step would be to pick one of the issues with the label "code" to start working on it.
@miquelduranfrigola will be your mentor for that, ping him in the issue of your interest and it will be assigned to you.
You can already record this issue in the Outreachy Website to start your application for this project.

_Please note that we are updating the

[2022-03-28 08:34] Riyabelle25 commented on #36
Aight, will do 💛

[2022-03-28 08:53] Onabel commented on #16
Pictures helps as anchor to direction and it gives a visualization of what to expect as well as a road map. I would like to contribute to this project by creating a picture tutorial for users.

[2022-03-28 09:03] Rufaida98 commented on #29
Dear @GemmaTuron please check if their an issue with the issue#29

[2022-03-28 09:06] Prakashh21 commented on #36
Hi, I'm Prakash, an undergrad from India
**System (OS, Windows., Linux) and version:** Ubuntu 20.04.4 LTS
**Your background in Python (required skill for this project):**  I have a fair bit of experience in python , I have worked with libraries including pandas and numPy , although I am new to opensource but I would love to be a part of this project and contribute. Thankyou !!
**A snapshot of your

[2022-03-28 09:06] julietugo commented on #16
Thank you @GemmaTuron for the feedback. I believe this is what you are looking for - https://towardsai.net/p/l/how-to-discover-antiviral-drugs-with-deep-learning. I can create this kind of tutorial for Ersilia

[2022-03-28 09:07] pauline-banye commented on #11
Thank you @GemmaTuron, I can't wait to get started.

[2022-03-28 09:08] martwebber commented on #11
Thank you @GemmaTuron

[2022-03-28 10:03] Riyabelle25 commented on #7
@GemmaTuron thanks!
I've made a PR to fix this issue first, will then move to the other issues I showed an interest in (if they're still open then)

[2022-03-28 11:36] Rufaida98 commented on #36
![Capture ercilia](https://user-images.githubusercontent.com/92082003/160389612-789e1781-3fbe-4125-8f05-0c24444bb0a4.PNG)
i installed succefully but i coudnt run the model. Can anyone help me ?

[2022-03-28 11:38] srcmilena commented on #11
Hello @GemmaTuron

I would love to contribute to this issue

[2022-03-28 11:43] Riyabelle25 commented on #36
Could you specify your OS setup, and reproduce your steps?

[2022-03-28 12:06] Rufaida98 commented on #36
![Os](https://user-images.githubusercontent.com/92082003/160394162-19bc900a-788c-4744-be1a-02d22230e289.PNG)
I did the steps again in anaconda power shell and gave me the same result

[2022-03-28 12:28] adeola-dev commented on #16
Thanks @GemmaTuron for the feedback. I found the resources cited by @AishaSaman very useful. I could create a simple tutorial using the template.

[2022-03-28 12:34] adeola-dev commented on #16
Thank you @GemmaTuron for the feedback. I found the resources cited by @AishaSaman very useful. I could create a simple tutorial using the template.

[2022-03-28 12:42] Rufaida98 commented on #36
hi @anamika-yadav99 yes i am trying installing wsl right now. wish me luck :)

[2022-03-28 12:49] 1218muskan commented on #36
- Hi, my name is Muskan Gupta. I am a 2nd year B.Tech Undergraduate from India.
- **System (OS, Windows., Linux) and version:** Windows 10. Using WSL (Ubuntu 18.04 LTS).
- **Your background in Python (required skill for this project):** I am familiar with all the basics and some advanced concepts of python. I have learned and experimented with python libraries including numpy, pandas and some data

[2022-03-28 13:39] MsChineme commented on #16
Here is Google AutoML. Though works on the cloud, It's an open source platform that enables people with little knowledge of ML to train models specific to their use cases.

Features:
Image classification
Video intelligence
Auto ML translation
Natural language

Links
https://www.youtube.com/watch?v=kgxfdTh9lz0
https://www.youtube.com/watch?v=aUfIFoMEIgg

[2022-03-28 13:42] anamika-yadav99 commented on #36
you can follow this tutorial : https://www.minitool.com/news/enable-virtualization-windows-10.html

[2022-03-28 14:27] anamika-yadav99 commented on #36
Hi, I'm Anamika. I'm 3rd year undergraduate from India.
System (OS, Windows., Linux) and version:  Windows 10.  Using WSL (Ubuntu 18.04)
Your background in Python (required skill for this project): I'm a Python Developer with open source experience working in ML, bioinformatics, ML toolboxes/packages . I'm a student researcher working in application of ML algorithms in solving complex problems in

[2022-03-28 14:28] Jaya3112 commented on #29
Hi @GemmaTuron I would love to contribute

[2022-03-28 15:20] ps-19 commented on #16
@GemmaTuron mam i would love to work on this issue.

[2022-03-28 15:49] miquelduranfrigola commented on #13
Thanks @anamika-yadav99! Thanks, and apologies for a confusing issue description.
The simplest will be to do the following:
`ersilia catalog --text 'antimalarial'`
and
`ersilia catalog --mode 'pretrained'`

[2022-03-28 16:14] miquelduranfrigola commented on #9
Hi @anamika-yadav99 thanks for your contribution here. These dependencies should be pip-installable, if I am not mistaken. If you install pip in the conda environment, is it possible to then install these packages with the pip command?

[2022-03-28 16:22] miquelduranfrigola commented on #6
Hi @prtk2001 thanks for your interest in this issue. Can you briefly explain to me your approach to the problem? I just want to make sure that your solution corresponds to what we need :)

[2022-03-28 16:30] ps-19 commented on #36
You need to enable virtualisation in you PC to use window subsystem with ubuntu.

[2022-03-28 16:57] Rufaida98 commented on #36
i installed ubuntu and did all the steps right but still the same problem arises

[2022-03-28 16:59] prtk2001 commented on #36
Hi, I'm Prateek Singh, i'm 3rd year undergraduate from India
    System (OS, Windows., Linux) and version: Ubuntu 20.4 on VMware
    Your background in Python (required skill for this project):Being a machine learning engineer, i'm pretty familiar with python. I have greate experience in tensorflow and a rookie in AWS
    A snapshot of your CLI showing that you have successfully run a model:

![er

[2022-03-28 17:27] sejalsingh417 commented on #35
I would like to contribute, please assigned it to me

[2022-03-28 17:35] miquelduranfrigola commented on #6
Indeed. Getting size of git-lfs files is key here. Please see related issue #7 currently being tackled by @Riyabelle25

Using tqdm sounds good to me :ok_hand:

[2022-03-28 17:58] ps-19 commented on #36
@Rufaida98 can you please attach a screenshot of installation error.

[2022-03-28 18:08] ps-19 commented on #36
or copy paste the issue.

[2022-03-28 19:14] Shivani-Parihar99 commented on #21
I would also love to work on this issue.

[2022-03-28 19:24] Rufaida98 commented on #36
@ps-19 it is as same as above. It came always after I try code "pip install - e." or if i succeeded with that it does not let do the last step which is "ercilia - - help".

[2022-03-28 19:45] ifeoluwafavour commented on #23
Thank you for contribution @victorabba
I don't know if I should include it because it would look like my contribution when you added the "benefit of the model" clause

[2022-03-28 20:55] anamika-yadav99 commented on #9
@miquelduranfrigola  Yes the dependencies are pip-installable but they aren't conda-installable.  Dependencies are required to be conda installable to build a conda package.

[2022-03-29 00:39] dauinh commented on #36
Hi @GemmaTuron

- **Your name**: My name is Linh /ling/ from Vietnam

- **System (OS, Windows., Linux) and version**: MacOS Mojave, version 10.14.6

- **Your background in Python (required skill for this project)**: I'm fairly experienced with Python and familiar with libraries like numpy, matplotlib. I'm experimenting with PyTorch and building deep networks.

- **A snapshot of your CLI showing th

[2022-03-29 00:58] Amna-28 commented on #36
- Hi, I am **Amna Ali**, a Data science/ Machine Learning enthusiast with masters in Computer Science.
- **System :**  Ubuntu 20.04.3 LTS
- **Python Background :** I have hands-on experience in python as my MS research work was ML/AI related problem. I have worked extensively with the following python libraries and tools :

- A snapshot of your CLI showing that you have successfully run a model

!

[2022-03-29 03:29] sayantani11 opened #44 "Guidelines for onboarding of new contributors"
**Is your feature request related to a problem? Please describe.**
As a contributor for quite sometime now, I can tell from my experience the initial experience can be stressful. On the other hand, a lot of new contributors are sometimes shy to open up about their issues and problems to the project maintainers, or discuss about in the public communication channels.

**Describe the solution you'd l

[2022-03-29 03:30] sayantani11 commented on #44
Please assign me this issue. Would like to work on it.

[2022-03-29 03:32] sayantani11 commented on #12
@miquelduranfrigola Would like to give a try!

[2022-03-29 04:59] kbetty commented on #16
@GemmaTuron I have been reading more about the project  to gather information on how best we can  develop a simple tutorials for the Ersilia Model Hub. And as from my findings there are things we need to put into consideration

1.  The users of the tutorial.
2. The limitation users may encounter when using the tutorials during deploying
3. The main barriers of AI adoption in experimental research.

[2022-03-29 05:15] kbetty opened #45 "Fix typo in the Readme file"
The Readme file contains a typo in the word `acknowledgement` and there is a need to be fixed. cc: @GemmaTuron

[2022-03-29 05:24] kbetty commented on #45
Have added a PR at https://github.com/ersilia-os/ersilia/pull/46 to address the issue.

[2022-03-29 06:03] kbetty commented on #16
Getting to know more on this project, I discovered after Ersilia AI models are validated they are published but they lack the Deployment feature which can aid users to use the tool(s) with ease. Of which these users most of them are scientific researcher but lack computer skills and this result into our tools not being adopted by the users.

So the Tutorial we are developing is address the issue a

[2022-03-29 06:20] Rufaida98 commented on #45
@kbetty should i fix it and address it as an issue?

[2022-03-29 06:27] kbetty commented on #45
Thanks @Rufaida98 for showing the interest on the issue. You may need to take a look at the comment I made [here](https://github.com/ersilia-os/ersilia/issues/45#issuecomment-1081417751).

[2022-03-29 06:30] GemmaTuron commented on #44
Hi @Sayantani11,

Good initiative. Please do it by creating a CONTRIBUTION.md file in the root of the repository. I might add things in this file as well!

[2022-03-29 06:31] GemmaTuron commented on #45
Thanks @kbetty your contribution is merged

[2022-03-29 06:31] #45 closed

[2022-03-29 06:32] #29 closed

[2022-03-29 06:35] GemmaTuron commented on #21
Hello @sayantani11

Sorry about it, the contribution file would be best placed in the root not in the documentation folder.
Could you change this before I merge your pull request?

@victorabba and @ASLManasa and @Shivani-Parihar99 , once the document is there I will think about missing sections and assign them to you one by one !

[2022-03-29 06:37] GemmaTuron commented on #23
Hello @ifeoluwafavour and @victorabba for your contributions.

I think this is an interesting discussion. The question _How can the model be of benefit in the field of science?_ is perhaps to general. Could you think of a way of rephrasing it so that it is more narrow?
For example, instead of how it can benefit the field of science - why is it relevant to the Ersilia Mission.

[2022-03-29 06:37] kbetty commented on #45
@GemmaTuron should I record this task in the Outreachy website?

[2022-03-29 06:39] GemmaTuron commented on #17
Hello @kbetty ,

great please go ahead, looking forward to seeing it!

[2022-03-29 06:39] GemmaTuron commented on #16
please head to issue #17 to start working on this!

[2022-03-29 06:41] GemmaTuron commented on #16
Hi @kbetty, you have done a good research! Indeed, non technical users might face difficulties in using the Hub. We would like one or two slides/text/video showing how can they use it (at the current stage of deployment, which is through CLI)

[2022-03-29 06:41] GemmaTuron commented on #16
Hi @MsChineme , this is a good find and a very nice example.

[2022-03-29 06:42] GemmaTuron commented on #16
Hello @ps-19, comment with some examples you will use as a template and then go ahead to issue #17 !

[2022-03-29 06:44] Annysah commented on #17
Thank you! @GemmaTuron

[2022-03-29 06:53] MsChineme commented on #16
Thank you @GemmaTuron . Do I proceed to the next step, if yes? Please what is the next step?

[2022-03-29 06:54] MsChineme commented on #16
Thank you @GemmaTuron . Do I proceed to the next step, if yes? Please what is the next step?

[2022-03-29 06:55] MsChineme commented on #16
Thank you @GemmaTuron . Do I proceed to the next step, if yes? Please what is the next step?

[2022-03-29 07:52] Rufaida98 commented on #36
Finally everything works for me.Thank you for everyone who reached to me

[2022-03-29 07:54] Rufaida98 commented on #36
My name is Rufaida Ali
Windows 10 with Ubunto 18.04
I am so passionate about ML and AI and aspiring to be a data scientist.I am currently learning python and reached
intermediate level.build some game projects
![Capture ersilia](https://user-images.githubusercontent.com/92082003/160561543-f4171c67-ba08-4b31-8530-89a8f6d34629.PNG)

[2022-03-29 08:04] Rufaida98 commented on #44
@sayantani11 nice initiative

[2022-03-29 09:01] Rufaida98 opened #47 "set up conda environment"
@miquelduranfrigola @GemmaTuron I want to address an issue not related to fixing a bug but something i encountered while trying to install ersilia CLI. As related to issue #36 i installed the Ubuntu because my system is windows 10 and downloaded all the packages needed but still it didnt work and it was due to my conda environment.

So if someone faced the same problem instead of using:
"conda cre

[2022-03-29 09:03] ifeoluwafavour commented on #23
Okay. Thank you @GemmaTuron

Can I put it like this:
**Third-party's Relevance to Ersilia's Mission**
State how the third-party model is relevant to [Ersilia's Mission](https://ersilia.io/)

[2022-03-29 09:36] Rufaida98 commented on #16
@GemmaTuron I think it already listed but a video tutorial as i learned a lot from video tutorials or like what you did in ersilia book to download the Ubuntu and other packages for ersilia API which was very straightforward and helpful.

[2022-03-29 09:53] Amna-28 commented on #36
Hi @miquelduranfrigola @gemmaturon !
I have completed the installation and have run the model.
I was going through the issues but it seems like every issue related to code has been assigned.
Can you please suggest any issue that I could work on?
I really want to contribute to this project. Thank you.

[2022-03-29 10:19] Amna-28 commented on #8
Hi!
I have completed the Ersilia installation and have run the model. I am really interested in this issue.
May I start working on this task?

[2022-03-29 11:40] Emidowojo commented on #11
Hello, @GemmaTuron can I contribute to this issue?

[2022-03-29 13:20] dauinh commented on #13
Hi @miquelduranfrigola, can I be assigned to work on this issue?

[2022-03-29 14:05] ifeoluwafavour commented on #47
Thank you very much for this @Rufaida98

It is very helpful

[2022-03-29 14:34] Shivani-Parihar99 commented on #21
@GemmaTuron Okay sure

[2022-03-29 15:35] miquelduranfrigola commented on #47
Thanks @Rufaida98! Can you please provide the full sequence of commands that worked for you? At what stage did you create the ersilia conda environment? Thanks!

[2022-03-29 15:39] miquelduranfrigola commented on #36
Thanks @Amna-28! I am now reviewing issues, will update you soon.

[2022-03-29 15:44] victorabba commented on #21
Okay @GemmaTuron

[2022-03-29 15:46] #13 closed

[2022-03-29 15:50] miquelduranfrigola commented on #9
Hi @anamika-yadav99 thanks a lot. The conda skeleton solution that you suggest seems to be a good option: https://stackoverflow.com/questions/64916092/how-do-i-install-pip-packages-through-a-conda-build-recipe

[2022-03-29 17:22] manognyaa opened #49 "Enhancement of README.file"
**Is your feature request related to a problem? Please describe.**
The readme file is absolutely stunning. When I was reading the file, it seems to be very simple, the alignments, bold fonts,etc. I would like to add my creativity.

**Describe the solution you'd like**
I will change the file look by adding some outstanding ideas on to it.
@GemmaTuron could you pls assign this to me

**Describe alte

[2022-03-29 19:05] tracycod3r commented on #47
Thanks @Rufaida98

[2022-03-29 19:22] Rufaida98 commented on #47
@ifeoluwafavour @tracycod3r you are very welcome

[2022-03-29 19:22] Rufaida98 commented on #47
@miquelduranfrigola right away

[2022-03-29 19:26] Rufaida98 commented on #47
![Capture step1](https://user-images.githubusercontent.com/92082003/160691713-417ec032-37fa-4944-987d-89ea7e753dc5.PNG)
![Capture step2](https://user-images.githubusercontent.com/92082003/160691723-a6ecd95b-75f2-4b47-9cb2-46af4f221e07.PNG)

[2022-03-29 20:51] ashaby4000 commented on #29
Hi @GemmaTuron This issue is closed but I can't find the documentation folder. I will like to fix this issue if you can reassign it

[2022-03-29 22:03] busiratazeez opened #51 "Add "Back to top button" to the README file"
**Is your feature request related to a problem? Please describe.**
Scrolling up and down is exhausting when exploring the readme file

**Describe the solution you'd like**
I want to incorporate a button to scroll back to the top page after every sub-section of the readme file
@GemmaTuron @miquelduranfrigola kindly assign this issue to me

[2022-03-29 22:43] ashaby4000 commented on #10
my opinion on this would be to allow users to contribute their precalculation but not directly. It has to be properly moderated and verified before it can be added to the public file. I'm suggesting this because user contribution will eventually enhance the models.  If its possible, a user public file can be created for users to contribute their precalculation. After the contribution has been veri

[2022-03-30 05:00] Rufaida98 commented on #29
@ashaby4000 i am sorry i accidentally add a file because i forgot"/". i pulled another request to put the folder.Thank you for your observation

[2022-03-30 05:06] Rufaida98 commented on #10
@ashaby4000 your idea sounds good

[2022-03-30 05:09] Rufaida98 commented on #6
@miquelduranfrigola your idea about calculating the size which shows how much progress is an interesting approach

[2022-03-30 05:59] kbetty opened #54 "Correct grammar in the Roadmap section in the ReadME file"
Within the Road map section there is a need to correct as improvement to the read me file. cc: @GemmaTuron

[2022-03-30 06:05] kbetty commented on #54
Have made the PR at https://github.com/ersilia-os/ersilia/pull/55 to address the issue.

[2022-03-30 06:23] kbetty commented on #16
As part of the ground work during my research so that we develop a useful tutorial for users, I discovered a user has two ways of using the product:

1. Using the CLI
2. Using an online platform via cloud services

However, at the our current stage of deployment, the user can so far use the CLI. My idea that am working on is to come up with the skeleton of a useful Table of Content for the tutoria

[2022-03-30 06:31] GemmaTuron commented on #54
Hello @kbetty

Thanks, please check the comment I left on the PR and try to find the error existing in our README!

[2022-03-30 06:31] #54 closed

[2022-03-30 06:34] GemmaTuron commented on #49
Hi @manognyaa

Thanks for your enthusiasm. Issue #11 is addressing this task. There are currently 10 people assigned to it but we will soon open it to more, we just need to set up the structure so that we can review all your suggestions. May I ask you to keep thinking of what you want to add but wait a couple of days to upload it?

[2022-03-30 06:37] GemmaTuron commented on #35
Hi @dchidindu5

Thanks for noting this. I currently cannot give access to edit the GitBook where the Installation guide is, but can you write down here the paragraph you would like to add? I will later add it to our Installation guide. You can link this issue directly in the outreachy website to record your contribution.

@sejalsingh417 please add your comments once @dchidindu5 has provided a firs

[2022-03-30 06:39] GemmaTuron commented on #11
Hi @pauline-banye the issue should be solved now so you can try to add your readme file in the /documentation folder. Please add your name so I know who has created it!

[2022-03-30 06:40] GemmaTuron commented on #11
@Emidowojo @srcmilena  Please read issue #49

This issue is initially assigned to 10 participants. We are thinking of the best way to open it to more contributors, give us a few days to think through it.

[2022-03-30 06:40] GemmaTuron commented on #51
This is a good idea @ashaby4000
I have assigned it to you

[2022-03-30 06:43] SHRIYA1706 commented on #11
Hi @GemmaTuron, I would like to contribute to this issue by adding some visual effects with HTML code to make a eye-catching README. Please assign this issue to me.

[2022-03-30 06:51] Rufaida98 commented on #47
@miquelduranfrigola one more i did install anaconda and miniconda package

[2022-03-30 07:20] SHRIYA1706 opened #57 "Grammatical error in https://www.ersilia.io/ site"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-30 07:28] SHRIYA1706 opened #59 "issue #57 -1. In 'our strategy' section at the content of the foster in-country research there should be working on instead of working in infectious and neglected diseases. 2. Can I know what are we planning to include in the volunteer part in the footer section to know if I can contribute or help in any way if possible."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-30 07:29] ashaby4000 commented on #51
Thanks @GemmaTuron kindly check the PR

[2022-03-30 07:37] SHRIYA1706 opened #60 "Improving the search engine in https://airtable.com/shrUcrUnd7jB9ChZV/tblZGe2a2XeBxrEHP"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-03-30 07:40] SHRIYA1706 commented on #60
When searching for some keywords it is showing 0 of 0 when no result is found. What we can do is we can show the best match results or related suggestions when any keyword is searched for which is not directly present, like some synonyms or some related symptoms and diseases as suggestions to help them get a related close model.

[2022-03-30 08:33] Rufaida98 opened #63 "code problems"
@miquelduranfrigola @GemmaTuron I hope if there are more code problems that can tackles the contributors skills in python to improve
their skills .What do you think folks? we can do a discussion here

[2022-03-30 09:15] manognyaa commented on #49
oh yes, thanks for the reply. I will be eagerly waiting for this issue. thank you !

[2022-03-30 09:24] loweyvana commented on #11
Hi @GemmaTuron , please I would love to make some contributions to this project in collaboration with the other assignees. Would that be possible please?

[2022-03-30 10:50] Jaya3112 commented on #44
For new contributors, it is quite difficult and stressful to contribute because they do not know how to approach any problem smoothly. They have to hustle a lot to solve any issue. So if we provide some images that can direct them in a correct then it will be very easy for them to do their contribution. I want to add more to the  CONTRIBUTION.md file which will help new contributors. Please assign

[2022-03-30 11:04] loweyvana commented on #11
Going through the project description, found the purpose of Ersilia is to enable scientists ( mostly in LMIC) WITHOUT CODING EXPERTISE to have to more access to AI which they can use to obtain predictions. However, going through the installation process is a little bit complex and contains many technical words which might be difficult to understand for someone not in a field. Here are some suggest

[2022-03-30 11:12] pauline-banye commented on #11
Thanks @GemmaTuron 😀. Would update my repo and make a PR.

[2022-03-30 11:14] Ye7ni commented on #11
Hello @GemmaTuron I've gone through the guidelines listed on this page as well as done my research on how to create a most compelling READ ME. Pls assign me to this project to contribute my bit. Thanks

[2022-03-30 11:17] loweyvana commented on #11
Here is a great link for awesome READMEs
There  is no one-format-fits-all because every project is different. However, here is a great guide which can be adjusted to best fit with Ersilia. I am willing , ready and available to contribute to this.

https://github.com/matiassingers/awesome-readme

[2022-03-30 11:21] dchidindu5 commented on #35
Can you please reassign me the project? i mistakenly clicked on something

[2022-03-30 11:55] loweyvana commented on #44
@sayantani11 nice initiative. If you don't mind i would like to work with you on this. Being a new contributor, I must say i had a difficult time getting familiar here and I, therefore, think I can be of help to those coming after me. I could
-add demo gifs and/or demo screenshots to make the process easier and smoother.

[2022-03-30 11:58] Rufaida98 commented on #44
@sayantani11 can you make a folder and anyone ads file like I want to add resources file which contain helpful resources for contributors is it possible?

[2022-03-30 12:05] resiato commented on #11
Hello @GemmaTuron I am interested in this project. I have gone through the [https://www.freecodecamp.org/news/how-to-write-a-good-readme-file/](url) guideline and it offers the best steps in formulating a standard README.md file

[2022-03-30 12:07] loweyvana commented on #21
Hi, I am an outreachy applicant and would love to contribute to this.

[2022-03-30 12:19] resiato commented on #10
@busiratazeez we share the same idea. Allowing users to contribute their precalculation goes a long way in enhancing the models. @miquelduranfrigola my concern which is a potential risk is that these calculations may not be accurate and hence the need for verification before being added to the public file

[2022-03-30 13:17] sonali-sk commented on #36
Hi @GemmaTuron,

I have explored most of the data structures and am familiar with libraries such as numpy, pandas, matplotlib etc.

![RunSuccess](https://user-images.githubusercontent.com/65673196/160838854-4a2e5dc0-96fb-4519-9983-9921809aeb51.JPG)

[2022-03-30 13:29] SHRIYA1706 commented on #23
I would love to add some more points to at what @ifeoluwafavour had contributed.

We can add 'Test Case' and 'Flexibility and limitations' .

Test Case which would basically include the input and the output format and the parameters to make the model even more clear to users while testing and get an idea of the exact keyword to be tested for.

Flexibility and limitations would include any boundary

[2022-03-30 13:43] ASLManasa commented on #21
okay @GemmaTuron

[2022-03-30 14:01] Jaya3112 commented on #44
@sayantani11 can I work on this issue. I have mentioned my idea above.

[2022-03-30 14:41] ifeoluwafavour commented on #23
Thank you @SHRIYA1706

[2022-03-30 14:57] miquelduranfrigola commented on #11
Hi All! This is a fantastic thread here. I am closing the issue for now, since we already got a lot of great feedback from many people. Might reopen in the future. Thanks to all of you for your contributions!

[2022-03-30 14:57] #11 closed

[2022-03-30 14:59] #51 closed

[2022-03-30 15:04] miquelduranfrigola commented on #63
Definitely, @Rufaida98. We are currently putting up a second batch of issues. Stay tunned!
If you have ideas, please feel free to list them in this threat.

[2022-03-30 15:06] miquelduranfrigola commented on #60
This is of course a good idea. There must be some built in function in Airtable to do so. Do you know of any?

[2022-03-30 15:07] miquelduranfrigola commented on #59
Thanks @SHRIYA1706. Can you try to do a PR to address this issue? That'd be good practice!
As for the planning, we are working on a communication through Slack. Stay tunned!

[2022-03-30 15:08] miquelduranfrigola commented on #49
Closing this issue now! Thanks for a great discussion and stay tuned!

[2022-03-30 15:08] #49 closed

[2022-03-30 15:13] anamika-yadav99 commented on #9
Hi @miquelduranfrigola  I'm on it.

[2022-03-30 15:37] anamika-yadav99 commented on #60
@SHRIYA1706  @miquelduranfrigola One easier way to achieve this would be adding tag words in the card. Later we could add those tag words in the $ersilia catalog --help . This would also help search using the tag words.

[2022-03-30 16:50] vaishnavi-sms commented on #16
Hello, I am Vaishnavi, Outreachy applicant.
First, we must install the model and analyze the problems the user might encounter during installation.
Then make a tutorial video which will show everything steps by step, from where to install it to how to use it.

[2022-03-30 16:54] miquelduranfrigola commented on #60
I think this solution is plausible @anamika-yadav99! I am adding a "tag" field in the Airtable right now. As soon as I have filled tags for a reasonable number of models, I will open an issue to include a tag-filtering option in the ersilia catalog command.

[2022-03-30 16:54] #60 closed

[2022-03-30 17:06] vaishnavi-sms commented on #16
I found a series of tutorial videos that explain everything about the app, starting with what it is, how to use it, what plus points are, etc.

Here I am sharing this series I think this will be helpful to make any tutorial video.
https://youtu.be/HCc7wzUH4ts - Introduction and app overview
https://youtu.be/gH2G0niO6cM - Visualize your thoughts
https://youtu.be/4sp2X4nsBwA - Tell the story through

[2022-03-30 17:12] miquelduranfrigola commented on #44
Thanks @sayantani11 for an awesome initiative. A CONTRIBUTION.md file has been created in #70

We really want to make things easy for everyone. As you might have noticed, we do have a GitBook account, which is quite awesome and can be synchronized with this GitHub repository. I think I will add the book as part of the repo, so you can all edit it. **What do you think?** Would that help?

In any ca

[2022-03-30 17:14] #25 closed

[2022-03-30 17:22] miquelduranfrigola commented on #47
OK I see, thanks @Rufaida98. This is not necessarily an ersilia issue (sourcing conda in some systems does not happen when opening a terminal). I am closing the issue for now (thanks for your feedback!). I suggest editing the bashrc: [https://askubuntu.com/questions/849470/how-do-i-activate-a-conda-environment-in-my-bashrc](https://askubuntu.com/questions/849470/how-do-i-activate-a-conda-environme

[2022-03-30 17:22] #47 closed

[2022-03-30 17:24] miquelduranfrigola commented on #16
Hi @GemmaTuron I see a lot of traction here! Can we nominate some assignees? (see right bar).

[2022-03-30 17:26] miquelduranfrigola commented on #15
Hi @GemmaTuron can this issue be closed? I think that people have been redirected to issue #23, correct? Feel free to close issue or nominate assignees.

[2022-03-30 17:29] miquelduranfrigola commented on #24
Good catch @victorabba . Solved and closing issue.

[2022-03-30 17:29] #24 closed

[2022-03-30 17:45] miquelduranfrigola commented on #6
Alright, so let's take this avenue, if you both agree @prtk2001 and @Rufaida98! It will not be straightforward, though.

Many things happen at "fetching" time (`ersilia fetch ...`), including downloading, creating folders, creating environments, deleting folders, doing tests, etc.

I suggest the following solution:
1. Create a `metadata.json` file where each step is stored along with the **time**

[2022-03-30 17:47] miquelduranfrigola commented on #7
Hi @Riyabelle25 please refer to issue #6. If you want to contribute I will be happy to add you as an assignee! Many thanks for your amazing contributions. Closing issue now.

[2022-03-30 17:47] #7 closed

[2022-03-30 17:48] miquelduranfrigola commented on #23
Hi @GemmaTuron this discussion is great. We need to nominate one or a few assignees here (right bar).

[2022-03-30 17:49] #59 closed

[2022-03-30 17:50] miquelduranfrigola commented on #63
Hi @Rufaida98 I am adding you as an assignee to moderate this thread if you don't mind, in case more people are contributing.

[2022-03-30 17:54] miquelduranfrigola commented on #8
Hi @Amna-28 and @Riyabelle25! I see that both of you are showing interest in this task. Before implementing anything, I'd like to hear your thoughts, so that we are all on the same page (this issue may be a bit tricky to address). How would you like to approach this problem? (one or two lines will suffice :))

[2022-03-30 17:58] miquelduranfrigola commented on #14
@GemmaTuron what is the current status of this issue? People have provided great resources, I am very grateful for this. We need to identify a couple of easy-to-document scripts so that people can start making their contributions.

[2022-03-30 18:03] Rufaida98 commented on #63
@miquelduranfrigola no problem at all. HAPPY to help!

[2022-03-30 18:05] Rufaida98 commented on #6
@miquelduranfrigola Amazing!. I really want to learn and happy to work with a colleague @prtk2001  :)

[2022-03-30 18:07] miquelduranfrigola commented on #10
Hi @busiratazeez and @resiato, thanks for your excellent feedback. I did some thinking on all of this a while ago. You can see a scheme I draw back in the day: [s3-hdf5-scheme.pdf](https://github.com/ersilia-os/ersilia/files/8383027/s3-hdf5-scheme.pdf) (please don't worry if you don't understand it! Bottomline is... it's complicated :))

Our colleague @JHlozek has done a lot of thinking about it t

[2022-03-30 18:10] Riyabelle25 commented on #8
Hi there!
First, could you tell us from where do we delete the unused model?
In my last issue, I observed that each model is fetched from its own repo: https://github.com/ersilia-os/eos6tg8
So is it desired to delete the git repo itself?

[2022-03-30 18:10] SHRIYA1706 commented on #57
In 'our strategy' section at the content of the foster in-country research there should be working on instead of working in infectious and neglected diseases.

[2022-03-30 18:18] loweyvana commented on #44
souunds like a plan. Thanks for assigning me.

[2022-03-30 18:24] prtk2001 commented on #6
@miquelduranfrigola  sounds goood, I'm in!
same from this side @Rufaida98  :)

[2022-03-30 18:46] resiato commented on #10
@miquelduranfrigola Honestly, I can't say I have encountered DVC before but I'm open to learning the innings of this of this system

[2022-03-30 19:35] busiratazeez commented on #10
@miquelduranfrigola I'm a beginner in coding. So I checked out [DVC](https://dvc.org/) and I understand why it's the current solution. It will provide a pointer to the large files but it definitely not solving the issue of verifying what a user uploads. I'm willing to dive into brainstorming alongside the team and see what we can come up with.

[2022-03-30 20:13] miquelduranfrigola commented on #57
Solved and closing issue. Thanks for the catch!

[2022-03-30 20:13] #57 closed

[2022-03-30 20:46] arushi2715 commented on #14
Hello @miquelduranfrigola I would like to work on this

[2022-03-30 21:43] Riyabelle25 commented on #6
@miquelduranfrigola I'd love to work with/help you on pts 1,2,3. If you have an approach in mind (asides [this](https://github.com/ersilia-os/ersilia/pull/38#issuecomment-1081128632)), do share!

[2022-03-30 21:44] pauline-banye commented on #14
Hi @miquelduranfrigola I would love to volunteer to work on this. I'll hold on until you have identified the exemplary scripts

[2022-03-30 21:48] AbiolaAnisere commented on #16
Hi @GemmaTuron

[2022-03-30 21:48] AbiolaAnisere commented on #16
These are a few suggestions of good tutorials I found from different sources. Please provide feedback. Thank you.

https://www.youtube.com/watch?v=SoeQZJLQlMc

https://material.io/design/machine-learning/barcode-scanning.html#usage

https://towardsai.net/p/l/how-to-discover-antiviral-drugs-with-deep-learning

https://www.youtube.com/watch?v=kgxfdTh9lz0

[2022-03-30 21:59] AbiolaAnisere commented on #16
Hi @GemmaTuron,

These are a few suggestions of good tutorials I found from different sources. Please provide feedback. Thank you.

https://www.youtube.com/watch?v=SoeQZJLQlMc

https://material.io/design/machine-learning/barcode-scanning.html#usage

https://towardsai.net/p/l/how-to-discover-antiviral-drugs-with-deep-learning

https://www.youtube.com/watch?v=kgxfdTh9lz0

[2022-03-31 06:12] kbetty commented on #16
Hello @GemmaTuron,  have just completed Ersilia installation on my machine and am coming up with a simple user tutorial of our model. Hoping to be done by the end of today and will share a PR.

[2022-03-31 06:14] sejalsingh417 commented on #35
We should make two versions in the installation guide, first one is for the Anaconda and second is for the Miniconda

[2022-03-31 07:10] delphine-boke commented on #14
hello. i think we can use:
https://medium.com/technical-writing-is-easy/tools-for-code-documentation-4fd9e8e39eed

or use Open API like Swagger to document this. i can be of help there.

[2022-03-31 07:19] victorabba commented on #14
I forgot to mention I have knowledge in Python and Django.

[2022-03-31 07:25] delphine-boke commented on #14
i am familiar with python(django, flask); java and python for ML models

[2022-03-31 08:26] delphine-boke commented on #14
@GemmaTuron @miquelduranfrigola, i would love to contribute to this issue

[2022-03-31 08:37] Amna-28 commented on #8
I have been working on this task.
I have created a python script that uses python os and datetime to create files that are not accessed for n days and deletes them and used cron job to automate the deletion after required interval.
I am unsure about whether we could automate the creation of cronjob itself, was searching and found that we can create cron job using shell script on the host.
still wo

[2022-03-31 08:41] AnshuKumari197 opened #80 "How Ersilla Model Hub will help in future for mankind. It is not mentioned anywhere."
**What is your feature request?**
A clear concise descritprion of what you want to happen.

**Is your feature request related to a problem?**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add

[2022-03-31 08:50] victorabba commented on #80
I'm interested in this issue.

[2022-03-31 08:53] AnshuKumari197 commented on #80
@GemmaTuron Can i make documentation file on this??

[2022-03-31 09:01] ps-19 opened #81 "Broken Links"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to README.md
2. Click on 'Contributor Covenant' in the head section
3. Redirected to 404 page
3. See error

**Expected behavior**
[This](https://github.com/ersilia-os/ersilia/blob/master/CODE_OF_CONDUCT.md) page should have rendered.

**Screenshots**
![image](https://us

[2022-03-31 09:10] AnshuKumari197 commented on #16
Hello, @GemmaTuron Can i make tutorial how Ersilia Model Hub will help in future for mankind ?

[2022-03-31 09:52] ElizabethMawutin commented on #44
Hello @miquelduranfrigola can i also work on this project?
i have some ideas i would love to see added to the contribution file.
Thank you.

[2022-03-31 12:38] camus60 commented on #14
@GemmaTuron @miquelduranfrigola I have experience in python,currently working on an API design project in Flask and Django,I wouldn't mind contributing to this issue.

[2022-03-31 13:20] dchidindu5 commented on #35
Making two versions, don't you think the guide will be so bulky and
confusing.

From my own initiative, the goal should be to tell the user the most
convenient conda package that should be used.
Conda has it's own documentation and there's a link to that in the Ersilia
book documentation.

On Thu, Mar 31, 2022, 8:10 AM Dennis chidindu ***@***.***> wrote:

[2022-03-31 14:46] Jaya3112 commented on #44
thankyou @miquelduranfrigola  for this opportunity

[2022-03-31 14:51] camus60 commented on #14
@GemmaTuron @miquelduranfrigola are you referring to something similar to this?
[code]

[2022-03-31 15:31] camus60 commented on #26
@GemmaTuron   I would like to suggest that the current contributors also design a tutorial for running the code on Gitbash, since WSL is only available on newer versions of the windows operating system,but gitbash is available on older and newer versions.

[2022-03-31 17:52] itsIapetus commented on #63
Hey, I am an Outreachy applicant, and I would love to work on this issue and create a pull request in the same.
Can I go ahead with this?

Thank You

[2022-03-31 18:21] yokwejuste commented on #44
Hey I'm Steve YONKEU, same as I'm having issues starting my journey at Ersilia, i would like to work on this issues already as a start

[2022-03-31 22:49] #81 closed

[2022-03-31 23:01] miquelduranfrigola opened #86 "Test issue"

[2022-03-31 23:03] #86 closed

[2022-04-01 07:20] Shamswaggirl commented on #80
@GemmaTuron shall I contribute for this issue?

[2022-04-01 08:19] Shamswaggirl commented on #80
- As it is open source to all, it's the key point which addresses whoever is interested to contribute or researching drugs can access this hub without any regrets. Ersilia provisions a remote laboratory for researchers, for instance, we all are familiar with Covid-19, which caused lots of deaths however we are safe now due to the invention of vaccination.

- If everybody gets access to research an

[2022-04-01 08:19] HarrietMwanza commented on #12
Hi @sayantani11 I am an Outreachy applicant and picked this first-time issue to contribute. Please do walk me over what I can help with.

[2022-04-01 08:27] Lewanja commented on #12
Hi @miquelduranfrigola , I am a first time outreachy intern and would like to contribute to this project. Please, guide me through. Where do I start?

[2022-04-01 11:32] Ye7ni commented on #80
@AnshuKumari197
Hello
I'd very much like to be assigned this task as I believe my input would be needed. Thank you

[2022-04-01 12:47] Rufaida98 commented on #80
Interesting approach. Good idea

[2022-04-01 12:48] Rufaida98 commented on #10
@miquelduranfrigola I'll be happy to learn new things and apply it.

[2022-04-01 13:22] mahamtariq58 commented on #36
Hi @GemmaTuron @miquelduranfrigola  !

- I am Maham Tariq
- My system specfications are : Ubuntu 20.04 LTS
- I have the basic understanding of Python and have also explored some libraries such as pandas, matplotlib and numpy. I am still learning to increase my expertise in Python.
-  Snapshot of ersilia CLI
![image](https://user-images.githubusercontent.com/11984160/161272108-676030ce-2cc2-4d6f-95

[2022-04-01 16:27] sayantani11 opened #88 "Create a writing style guidelines for ersilia"
**What is your feature request?**
A writing style guide that will have every document follow a standard style.

**Is your feature request related to a problem?**
Ersilia deals a with a lot of documentation, keeping that in mind it will be great if we introduce a writing style guideline. In that way we can maintain a standard format for every document. This will also help when we have new contribut

[2022-04-01 16:27] sayantani11 commented on #88
I would like to work on this issue!

[2022-04-01 16:32] sayantani11 commented on #12
@miquelduranfrigola In order to understand the issue a bit more, I would like to know what are the problems that are being faced by the current catalog display....and what are the maintainers looking for in the future?

[2022-04-01 21:28] suryaremanan commented on #36
Hi @GemmaTuron and @miquelduranfrigola, I would like to contribute to the coding project.

<ul>
<li> My Name: Kumari Surya Remanan </li>

<li> System Specs: Ubuntu 20.04 LTS</li>
<li> I am well versed with almost all the machine learning and deep learning algorithms</li>
<li> Snapshot of Ersilia CLI</l>

![Screenshot from 2022-04-02 02-44-46](https://user-images.githubusercontent.com/17148269/1613

[2022-04-01 21:41] suryaremanan commented on #36
@GemmaTuron and @miquelduranfrigola kindly assign me an issue to work upon. Thanks in advance.

[2022-04-01 21:56] suryaremanan commented on #63
Hi @miquelduranfrigola , can you please assign me an issue so that I can start contributing as soon as possible? I'd like to stick to the code projects. Thank You.

[2022-04-02 01:44] suryaremanan opened #90 "Drug Discovery using Deep Learning Algorithms"
**Medicinal Literature**
<ol>
<li> Collect Data from various open sources (learn more about the Isaura Data Store)</li>
<li> Perform EDA </li>
<li> Dimensionality Reduction algorithms (like PCA and t-SNE)</li>
<li> visualize the chemicals using matplotlib, plotly, dash</li>
<li> Combine two or more chemicals to form new drugs and make sense out of it (this will require domain expertise) </li>
</ol

[2022-04-02 06:23] anamika-yadav99 commented on #90
Hi @suryaremanan This is what the Ersilia is doing. It takes the data from scientists then train a model ,package it and deploy it.  Then it provides an API for the model which makes it easier for people in scientific community with limited resources and coding skills to use it. It actually even takes pre-trained models and 3rd party model and deploys it. So, if you have any particular dataset in

[2022-04-02 12:39] AishaSaman commented on #14
Yes I am interested. I have basic python knowledge.

[2022-04-02 12:59] Sukriti-sood opened #91 "Issue forms"
Creating Issue Templates using the Issue forms and replacing the markdown files with YAML files.

The issue form looks like this:---

![New-Issue-·-moja-global-community-website](https://user-images.githubusercontent.com/55010599/161384401-57bc4903-57c7-47d4-a468-5bcb82c4456b.png)

Also, the Outreachy Documentation template is not generated correctly, I also want to update that using yaml.

[2022-04-02 13:00] Sukriti-sood commented on #91
@GemmaTuron Please assign me this issue, if you find it good enhancement.

[2022-04-02 13:50] Exquisitedesigner commented on #26
@GemmaTuron , I would love to contribute to this as well. I figured out while setting up the repository on my Windows machine that it's a bit tricky and the current Documentation did not give a clear guidance as to how to set this up for a Windows client.

Having a more detailed narration and help to setting this up for a Windows user will go a long way in creating inclusiveness for all major OS u

[2022-04-02 19:02] Jaya3112 commented on #21
I think if we add some images which can lead people to their destination easily and they can contribute easily. It will be helpful for them. I would love to solve this issue .

[2022-04-03 05:05] deepthi1107 commented on #90
Hello, @suryaremanan I am an outreachy applicant, Can you assign me for this issue, I would like to contribute.

[2022-04-03 08:05] GemmaTuron commented on #91
Hello @Sukriti-sood,

Thanks for the suggestions:
- Outreachy templates: this was still work in progress, now it is well placed as an .md file, please do not modify it.
- Having yaml forms instead of .md files: I like your idea for some of the issues, could you confirm before proceeding that we can have both  issue forms (.yaml) and regular issue templates (.md) in the same repo? We are not ready

[2022-04-03 08:08] GemmaTuron commented on #90
Hello @suryaremanan,

Can you provide more information of what is the issue about? Do you want to deploy a particular ML model as @anamika-yadav99 is suggesting?
@deepthi1107, I am the mentor for this project, before assigning this issue I would like to understand better what is it referring to.

Please go to the Slack channel where we will now post how to continue contributing to this project

[2022-04-03 08:09] GemmaTuron commented on #88
Hi @sayantani11,

I have assigned this issue to you, but before continuing working on it, check the new guidelines in the Slack channel and follow them! thanks

[2022-04-03 08:10] GemmaTuron commented on #80
Hello all,

We have added some more structure on the contribution tasks for Outreachy applicants. Please check the Slack channel and follow the instructions, you can take this idea there @AnshuKumari197
I am closing this issue to move the discussion to the appropriate thread

[2022-04-03 08:10] #80 closed

[2022-04-03 08:12] GemmaTuron commented on #63
Hi all,

We have created new contribution guidelines to make it easier for all of you to follow tasks, please head to the Slack channel for instructions!
I will close this issue to avoid duplicating too many conversations. If you have suggestions link them in your own issue, which will make it easier for us to follow each applicant work!

[2022-04-03 08:12] #63 closed

[2022-04-03 08:17] GemmaTuron commented on #44
Hello all,

Please see the new contribution schema we have put together to make it easier to contribute tasks and follow everyone's work. I will close this issue now and ask you to focus on the tasks in the issue template, if you want to work on contribution guidelines check there to see the procedure
@sayantani11 before closing this issue, I would ask you to merge your NEW_CONTRIBUTION.md file wi

[2022-04-03 08:18] GemmaTuron commented on #35
Hello @dchidindu5 and @sejalsingh417
Please see the new contribution structure, I will close this issue for the moment to let you focus on the tasks specified there.
Go to the slack channel for information!

[2022-04-03 08:18] #35 closed

[2022-04-03 08:19] GemmaTuron commented on #36
Hello all,

In an effort to improve tracking each applicant work, we have reformatted the contribution schema. Please head over to github and follow the instructions! I will close this issue here to avoid duplicating instructions.
Thanks!

[2022-04-03 08:19] #36 closed

[2022-04-03 08:22] GemmaTuron commented on #26
Hello all,

Thanks for your great suggestions. If you go to the Slack channel you will see new contribution guidelines established. Please follow them and add your comments and suggestions under the relevant page. I will close this issue to avoid duplicating information!

[2022-04-03 08:22] #26 closed

[2022-04-03 08:23] GemmaTuron commented on #17
Hello All,

I will close this issue and move the discussion to the relevant threads under each applicant's new issues as specified in the Contribution Guidelines in Slack

[2022-04-03 08:23] #17 closed

[2022-04-03 08:24] GemmaTuron commented on #16
Hello all,

Thanks for your ideas, sound great! Please follow the new contribution guidelines to make sure we can track each applicant's work and suggestions!

I will close this issue now to move the discussions to the relevant thread

[2022-04-03 08:24] #16 closed

[2022-04-03 08:25] GemmaTuron commented on #15
Hi,

This issue has been tackled in #23, I will close this contribution and answer the discussions there! @AnshuKumari197 please check the new contribution guidelines to continue working!

[2022-04-03 08:25] #15 closed

[2022-04-03 08:28] GemmaTuron commented on #23
Hello!

@ifeoluwafavour thanks for the clarification. @victorabba I would like you to also think about my question and answer it here so I can close the issue!
@SHRIYA1706 I think the test case might be a bit too much to ask of contributors simply for suggesting a model, but adding a clause about the limitations of the model would be interesting, thanks.

@victorabba please make your suggestion an

[2022-04-03 08:31] GemmaTuron commented on #14
hello all!
@camus60: yes, this is a good example
@AishaSaman, @delphine-boke @victorabba please check the new contribution guidelines for outreachy participants and follow them. The low-level documentation is related to the #code project rather than the documentation one, but if you want to contibute as part of the documentation it would also be possible, follow the new instructions!

I am closing

[2022-04-03 08:31] #14 closed

[2022-04-03 08:32] GemmaTuron commented on #21
@sayantani11

Please see my comment on issue #44 and finish the changes specified there! For the rest, follow the new contribution guidelines to make it easier for the mentors to follow each applicant's work! thanks
I will close this comment now to avoid duplicating information

[2022-04-03 08:32] #21 closed

[2022-04-03 08:40] Sukriti-sood commented on #91
yes @GemmaTuron we can have both (yaml) and (.md) firmatts for issue templates.

[2022-04-03 08:41] victorabba commented on #23
Benefit of the model: How can the third party model help Ersilia to achieve it's goal?
Tips:
1 Is it scientifically or medically related?
2 Does it provide a basis for disease prediction?

[2022-04-03 11:01] camus60 commented on #88
@GemmaTuron @sayantani11 I would like to contribute to this issue

[2022-04-03 11:03] anamika-yadav99 opened #92 "Outreachy Code Project: Name: Anamika Yadav"
Applicant: https://github.com/anamika-yadav99

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requi

[2022-04-03 11:08] Simran1604 opened #93 "Outreachy Documentation Project: <Simran1604>"
**What is your feature request?**
There are some spelling and grammatical errors in the readme.md file which can be resolved and also there is as of now no information or links to direct the new commers to the contribution guidelines in the readme file. Including that information can be quite helpful.

**Is your feature request related to a problem?**
As I landed on the repository and went through

[2022-04-03 11:08] Simran1604 commented on #93
I will like to work on this issue, pls assign this to me.

[2022-04-03 11:15] mahamtariq58 opened #94 "Outreachy Code Project: <Maham Tariq , Github : https://github.com/mahamtariq58>"
Applicant: https://github.com/mahamtariq58

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires

[2022-04-03 11:16] camus60 commented on #92
@anamika-yadav99  Is this the format that issue is meant to have going forward?

[2022-04-03 11:21] deepthi1107 commented on #90
sure @GemmaTuron

[2022-04-03 11:28] mahamtariq58 commented on #94
![Screenshot from 2022-04-03 16-22-23](https://user-images.githubusercontent.com/11984160/161425658-7dadbd2e-0141-4e53-8682-2c49ee740ca9.png)

[2022-04-03 11:42] mahamtariq58 commented on #92
![Uploading Screenshot from 2022-04-03 16-22-23.png…]()

[2022-04-03 11:43] Amna-28 opened #95 "Improve catalog by including model size in "ersilia catalog" output"
**feature request :** Improve catalog by including model size in "ersilia catalog" output. A Column displaying model size against each model would help the user to get an idea of the amount of time it will take to download, also the user would get to know how much space is required in the disk.
**Problem :** while working on the issue #8 , I had to test the deletion of models. for which I had to d

[2022-04-03 11:43] mahamtariq58 commented on #94
![Screenshot from 2022-04-03 16-22-23](https://user-images.githubusercontent.com/11984160/161426286-071a66e1-ef3d-4d4e-8d75-adc0f16b375a.png)
![Screenshot from 2022-04-03 16-41-50](https://user-images.githubusercontent.com/11984160/161426288-cf2f66af-43cb-459f-a906-efafb2f9cb2b.png)

[2022-04-03 11:50] victorabba commented on #93
I developed a contributing guideline which is stored in the contribution.md file. I will like to add that to the readme file and make additional charges as well.

[2022-04-03 11:52] camus60 opened #96 "Outreachy Documentation Project: Maxwell Kambona https://github.com/camus60"
Applicant:  Maxwell Kambona **https://github.com/camus60**

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps*

[2022-04-03 12:49] ifeoluwafavour opened #97 "Outreachy Documentation Project: Ifeoluwa Favour Ojumoro"
Applicant: @ifeoluwafavour

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are RE

[2022-04-03 12:50] ifeoluwafavour commented on #97
**Why I am interested in Ersilia**
Ersilia's ultimate goal is to effectively lower the barrier to drug discovery, encouraging academic groups and enterprises to pursue the development of new medicines and this excites me.

I'm an Industrial Chemistry undergraduate and I attended a public lecture in my university once, where lecturers and research scientists complained about the limitations they fa

[2022-04-03 12:54] dchidindu5 opened #98 "Outreachy Documentation Project: Dennis Onyeka / dchidindu5"
Applicant: < @dchidindu5 >

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are RE

[2022-04-03 13:04] dchidindu5 commented on #98
Why I am interested in Ersilia?

Ersilia Model Hub is a free, open-source repository of Artificial Intelligence and Machine Learning (AI/ML) models for drug discovery.
 I'm an open source advocate though till new to the space, my passion for open source has given me the opportunity to participate and to contribute meaningfully to Ersilia to ensure remarkable breakthrough in the field of medicine.

[2022-04-03 13:19] sayantani11 commented on #21
I didn't understand what you meant by merging new contribution file with the contribution guidelines file?

[2022-04-03 13:20] sayantani11 commented on #44
I am not able to understand  the merging part, can you elaborate?

[2022-04-03 13:28] dchidindu5 commented on #98
@GemmaTuron As regards to the previous issue I posted concerning Specifying in details the two conda distribution packages that should be outlined in the "Ersilia Installation Guide" to enable users make their choices in installation''.
Can I still go with the task?
I've already written the documentation in collaboration with my assigned contributor.

[2022-04-03 13:49] MsChineme opened #99 "Outreachy Documentation Project: <Chineme C.>"
Applicant: <@MsChineme>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUI

[2022-04-03 13:56] busiratazeez opened #100 "Outreachy Documentation Project: <Busirat Azeez/busiratazeez>"
Applicant: <busiratazeez>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQ

[2022-04-03 14:08] ifeoluwafavour commented on #97
Initial contributions
1. I  corrected a typo at Line 47 in the README file
https://github.com/ersilia-os/ersilia/pull/18#issue-1181659850

2. I created an issue template for third-party model incorporation to Ersilia's Model to be suggested by contributors.
https://github.com/ersilia-os/ersilia/issues/23

3. I created an issue to include a Windows Installation guide on Ersilia's Model Hub page.
ht

[2022-04-03 14:14] Nawarrr commented on #36
- My Name is Abdelrahman Nawar
- **System :**  Pop!_OS 21.04 (Based on Ubuntu 21.04)
- I've been using Python for the past 3 years, I've freelanced doing automations and scripting with python for a couple of months, I also used it to build backends for some projects, It's been the main language I use for the past 3 years and it will probably stay like that as I really love using it
![WhatsApp Imag

[2022-04-03 14:19] sayantani11 opened #101 "Outreachy Documentation Project: <Sayantani Saha/sayantani11>"
Applicant: <@sayantani11>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQ

[2022-04-03 14:21] Amna-28 commented on #95
Hi @miquelduranfrigola , I would like to work on this issue.

[2022-04-03 14:26] Nawarrr opened #102 "Outreachy Code Project: Abdelrahman Nawar"
Applicant: Abdelrahman Nawar @Nawarrr

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires know

[2022-04-03 14:26] Nawarrr commented on #102
![WhatsApp Image 2022-04-03 at 4 09 41 PM](https://user-images.githubusercontent.com/46817360/161432753-eb6ed3ac-20f5-4f8f-9ea1-872387392c4a.jpeg)

[2022-04-03 14:30] MsChineme commented on #99
I am interested in this project because first of all, it's open source and long before now, I've had interest in open source.

Secondly, the project is creating ways whereby researchers with little expertise in coding can easily access and make use of AI/ML tools relevant for their research in infectious disease. I'd like to contribute through documentation in making this awesome initiative possib

[2022-04-03 14:42] sayantani11 commented on #101
Ersilia is an open source model that deals with drug discovery. The most interesting part of the project is that it deals with neglected diseases and help in discovery of the drugs related to that and also adverse effects. A major part of the project deals with documentation, as I have had contributed documentation in lot of projects previously and have experience in writing whitepaper as well, th

[2022-04-03 15:20] loweyvana opened #103 "Outreachy Documentation Project: Lowe Yvana"
Applicant:  @loweyvana

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIR

[2022-04-03 15:23] Amna-28 opened #104 "Outreachy Code Project: Amna Ali"
Applicant:  @Amna-28

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Pyth

[2022-04-03 15:36] Amna-28 commented on #104
**Running "molecular-weight" Model:**

![ersilia-install](https://user-images.githubusercontent.com/98670206/161435602-409008d3-b2c8-470a-9f6a-71397f5f80f9.png)

[2022-04-03 15:42] Kcfreshly opened #105 "Outreachy Documentation Project: <Kcfreshly>"
Applicant: <@Kcfreshly>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUI

[2022-04-03 15:43] loweyvana commented on #103
As a final year medical student who is very passionate about research, especially in the domain of infectious diseases, my ultimate goal is to combine medicine and artificial intelligence because they somewhere interact. How to do that I am not sure yet due to the fact that I am from a low-resource setting ,and that is exactly where Ersilia comes in. Ersilia perfectly blends my passion for medicin

[2022-04-03 15:53] Kcfreshly commented on #105
After going through the presentations made by @GemmaTuron  in TReND Africa, I became so interested in this project. Ersilia is an open source initiative that aims to provide AI models to enable scientist make drug discovery much quicker. Thousands of children and adult die in Africa yearly over illnesses that have few or insufficient drugs.

With what Ersilia is doing, scientist can easily predict

[2022-04-03 16:48] GemmaTuron commented on #102
Ho @Nawarrr please could you add your name in the Issue title? where it says <Applicant>

[2022-04-03 17:01] victorabba opened #106 "Outreachy Documentation Project: victorabba"
Applicant: @victorabba

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improving the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQU

[2022-04-03 17:05] Kcfreshly commented on #105
Here is a link to the README.md file i created. Please i am open to constructive criticisms and recommendations.
https://github.com/ersilia-os/ersilia/blob/0945fbd6db6c022bd452817e57248d6b3bfb1e93/documentation/README_Kcfreshly.md

[2022-04-03 17:20] BeeBombshell opened #107 "Outreachy Documentation Project: <Bhavya Verma / @BeeBombshell>"
Applicant: @BeeBombshell

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQU

[2022-04-03 17:28] victorabba commented on #106
There are a lot of scientist and researchers that are not technically inclined especially  in the programming field. This is a huge limitation as most medical  research works deals with analysis of historical data which is required to design the predictive model.
Ersilia could help  eliminate this huddle by designing models that requires little or no programming experience. This will save the rese

[2022-04-03 17:34] victorabba commented on #106
I made the 'slack' word a link and also modified the project name.

[2022-04-03 17:37] loweyvana commented on #103
Hi @GemmaTuron this is a screenshot of a model installed on my computer.
![model hub demo](https://user-images.githubusercontent.com/102544900/161440666-2c23f0af-5f2c-40f9-91d3-d25fd8e1fec6.PNG)
![model ersillia](https://user-images.githubusercontent.com/102544900/161440687-4fe7763d-1d50-4fa4-a785-516b45fb0e67.PNG)

[2022-04-03 17:41] BeeBombshell commented on #107
Hi Everyone, I'm Bhavya Verma and I'm currently pursuing my B.Tech from Delhi University, India. I've been part of the open-source community for quite some time now and I'm looking forward to participating in Outreachy'22. Having experience in technical content writing, AI, and frontend development, I find that I'll be a good fit for the Ersilia Documentation Project.

Since Ersilia Model Hub is a

[2022-04-03 18:46] Nawarrr commented on #102
I'm Interested in Ersilia as I believe in the product and what it delivers, I think I will be learning a lot if I got accepted,
I've applied to this project specially because I think it fits my skills and the benefit are what I need to learn for the career that I want, I've been using Python for the past three years, I freelanced for a couple of months doing Python Automation and Scripting, I've a

[2022-04-03 23:23] dauinh opened #108 "Outreachy Code Project: Linh (@dauinh)"
Applicant: @dauinh

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Python

[2022-04-03 23:25] dauinh commented on #108
![Screen Shot 2022-03-28 at 8 31 28 PM](https://user-images.githubusercontent.com/62679553/161453429-730be962-c62f-42c1-8c16-35a8c120d172.png)

[2022-04-04 02:04] kbetty opened #109 "Outreachy Documentation Project: <kbetty>"
Applicant: <Betty Mirembe, kbetty>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* section

[2022-04-04 02:06] #109 closed

[2022-04-04 02:07] kbetty opened #110 "Outreachy Documentation Project: <Betty Mirembe>"
Applicant: <Betty Mirembe, kbetty>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* section

[2022-04-04 02:40] dauinh commented on #108
![Screen Shot 2022-04-03 at 10 40 08 PM](https://user-images.githubusercontent.com/62679553/161465172-f1bf0edc-0a8d-4f30-856b-83946813b12b.png)

[2022-04-04 03:22] Jaya3112 commented on #44
@GemmaTuron I have added some more text along with images. Please review it and if you want to give any suggestion please do the needful.

[2022-04-04 03:49] dauinh commented on #108
Why I'm interested in this project:
- I started learning about AI/ML recently and I really want to get involved with a real-life application. I'm excited to create tools that help people.
- I'm currently a CS student and I'm also interested in the field of Bioinformatics. I want to learn more about genetic diseases.

[2022-04-04 04:43] Jaya3112 opened #112 "Markdown Guide for Contribution"
Markdown is the markup language which is a requirement for everyone, who wants to contribute. It is used for creating formatted text using a plain-text editor.

[2022-04-04 04:44] Jaya3112 commented on #112
I would like to work on this issue.

[2022-04-04 04:45] dauinh commented on #108
**Python library**
![Screen Shot 2022-04-04 at 12 43 56 AM](https://user-images.githubusercontent.com/62679553/161475414-4fad5522-f643-44ee-96ca-705f39274fc4.png)

[2022-04-04 06:15] kbetty commented on #110
Initial contributions:

1.  I updated a created a folder for tutorials
https://github.com/ersilia-os/ersilia/pull/32
2. I corrected a typo in the readme file
https://github.com/ersilia-os/ersilia/pull/46
3. I updated the Readme file
https://github.com/ersilia-os/ersilia/pull/55

[2022-04-04 06:24] GemmaTuron commented on #97
Hi @ifeoluwafavour ,

Great work so far. I will incorporate the template for model request once the discussion is closed. For the Windows installation, I am only missing a couple of sentences explaining a bit what a virtual machine is. For example, users might get confused that they have to install python or conda again even if they have it in their computers already. Can you add one line to expla

[2022-04-04 06:25] GemmaTuron commented on #98
Hi @dchidindu5
yes please go on with it and tag it here in a comment when its completed so I can revise and provide feedback!
thanks

[2022-04-04 06:28] GemmaTuron commented on #103
Hi @loweyvana

Thanks for your interest. As you are a medical student, perhaps the sections related to scientific content are of interest to you and you could start working there!

[2022-04-04 06:41] GemmaTuron commented on #105
Hi @Kcfreshly

Thanks for your work! It looks really good, I'm just leaving here a few comments as a guidance!

- Images: I appreciate that you have gone through our videos and available docs to find images! I feel perhaps two images are too many as people will get distracted from the important information. Can you select one of them? I think the model steps would be more appropriate here.
- Featu

[2022-04-04 06:42] GemmaTuron commented on #101
Hi @sayantani11

Since you have done already some contributions not listed here, can I ask you to check @ifeoluwafavour issue and see how she has linked the previous work and do the same? To have everything in one place!

Thanks

[2022-04-04 06:48] GemmaTuron commented on #23
Hi @victorabba
Thanks for the answers. I have been doing some thinking, I think relevant questions could be:
- What stage of the drug discovery cascade is your model contributing to?
- Describe the dataset used to train the model. @SHRIYA1706 this is a better way to understand the limitations of the model (i,e data comes from a very specific experiment, pulls from various ones, which size..)

I wi

[2022-04-04 06:48] #23 closed

[2022-04-04 06:51] GemmaTuron commented on #44
Hi @sayantani11 sure!

Your document  NEW_CONTRIBUTION.md has some interesting and well written parts that are not included in the CONTRIBUTION.md.
I would like you to identify those and add them to the CONTRIBUTION.md. After, you can delete the NEW_CONTRIBUTION so that there is only one document

[2022-04-04 06:51] GemmaTuron commented on #106
Hi @victorabba
You have already made some previous contributions, could you check how @ifeoluwafavour has linked them in her github issue and do the same? This way we have all contributions in one space.
Thanks!

[2022-04-04 06:52] ifeoluwafavour commented on #97
Okay. Thank you very much for your feedback. I will go ahead to start making changes now and also start working on a task.

[2022-04-04 06:57] GemmaTuron commented on #88
Hi @camus60

Thanks for your interest, to make contributions more ordered some issues will for the moment only be assigned to one person! Then we will ask input from other interested applicants.
I see you already have a github issue with the tasks, could you go over there and start working in some of these?
Thanks!

[2022-04-04 06:59] GemmaTuron commented on #91
Thanks @Sukriti-sood

Then, can I ask you to:
1) Create GitHub issue using the appropriate template (see issues opened by other applicants already) and work through the initial tasks?
2) Link this issue in a comment under your github issue and start working on it

This way we have all contributions from each applicant in a single thread easier to follow!
thanks!

[2022-04-04 07:10] GemmaTuron commented on #93
Hello @Simran1604

Currently @sayantani11 is working in merging the contribution and new_contribution files. Several applicants are working on the README file, creating new versions that go into the /documentation project.
Please, to start contributing, create a new github issue using the appropriate template (see the instructions in the project outreachy website) and start checking the tasks ther

[2022-04-04 07:11] GemmaTuron commented on #93
Hello @victorabba
Please can you first go to the github issue you have created and add all your work there before working on new issues?

[2022-04-04 07:13] GemmaTuron commented on #112
Hello @Jaya3112

Please can you follow the instructions on the Outreachy project website and create a new issue with your name, to track all your contributions? We need you to complete the initial steps before adding any new contribution, this way mentors know who is working on what and it makes easier for us to follow your work.
Many thanks.

[2022-04-04 07:18] victorabba commented on #106
Initial tasks:

I added a [contributing guideline](folder.https://github.com/ersilia-os/ersilia/blob/master/CONTRIBUTION.md) for contributors.

2 I created a step by step process
 for installing the Ersilia model in a windows operating system. I used the Oracle virtual box system to install the Ubuntu. The file is present in the [documentation folder](https://github.com/ersilia-os/ersilia/blob/094

[2022-04-04 07:45] victorabba commented on #106
Hi @GemmaTuron , I added some contents to my file containing the Ersilia installation steps using Windows. I've also created a pull request for it, please review and let me know if there are any other changes required.

[2022-04-04 08:06] Amna-28 commented on #104
**Screenshot of command "ersilia catalog --local" :**

![image](https://user-images.githubusercontent.com/98670206/161500978-d1a54241-08b1-4891-be84-563a3b61ac3d.png)

[2022-04-04 08:45] ElizabethMawutin opened #114 "Outreachy Documentation Project: <ElizabethJoseph>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-04 09:01] Rufaida98 opened #115 "Outreachy Code Project: <@Rufaida98>"
Applicant: @Rufaida98

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Pyt

[2022-04-04 09:08] Rufaida98 commented on #115
1) i had issue#29 to add an empty folder which i learned so much through this issue
2) i am working on issue#44 to add resources file to contribution.md that could be helpful for the contributors
3) i am working also on issue#6 to find solution of how to add progress bar

[2022-04-04 09:22] ifeoluwafavour commented on #97
I have created a pull request where I updated the installation steps file explaining why users still need to download Conda, Python and Git for Linux.

https://github.com/ersilia-os/ersilia/pull/116

[2022-04-04 09:23] FrozenGirl-spd opened #117 "Outreachy Documentation Project: Silla Priyadarshni"
Applicant: FrozenGirl-spd

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQ

[2022-04-04 09:51] ElizabethMawutin commented on #114
Hello @GemmaTuron .
Here is the [Readme](https://github.com/ersilia-os/ersilia/commit/2dac58b6a35bae0bcd5250c832cce6282d5a81f7) file i created.
Below are the contributions i made on the file.
* I added the project aim to the project description
* I added a screenshot of the schematic view of Ersilia Model Hub
* I listed the pre-requisites for installing the model
* I added a link to the GitHub pro

[2022-04-04 09:59] adeola-dev opened #119 "Outreachy Documentation Project: <adeola-dev>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-04 10:20] Amna-28 commented on #104
I am working on issue #8 - Track unused models and automatically delete them

[2022-04-04 10:23] Amna-28 commented on #104
**Suggest at least one missing feature in the CLI :** Improve catalog by including model size in "ersilia catalog" output
I have opened the issue #95 as an enhancement, I would love to work on it.

[2022-04-04 11:48] AbihaFatima opened #120 "Outreachy Documentation Project: <Abiha Fatima>"
Applicant: [@AbihaFatima](https://github.com/AbihaFatima)

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps*

[2022-04-04 11:49] AbihaFatima commented on #120
Hello👋! I am Abiha Fatima, a junior year computer engineering undergraduate student from India. I am an Outreachy ’22 applicant for this cohort. My interest lies in designing, development and technical writing. It’s absolutely my pleasure joining the Ersilia community and I love how it’s goal-oriented. I look forward to support this initiative by making meaningful contributions that will create a

[2022-04-04 12:21] 0DUNTAN commented on #120
Hi , I am Oduntan Mubarak, A Web Developer and Technical writer, I am an Outreachy '22 Applicant, I would love contribute  to the Ersilia Open Source Initiative Project 1 (Improve the documentation and outreach material of the Ersilia Model Hub) and  to be added to the community, My email is moduntan29@gmail.com, It's also the email for my slack account

[2022-04-04 12:23] 0DUNTAN opened #121 "Outreachy Documentation Project: <0DUNTAN>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-04 12:23] 0DUNTAN commented on #121
Hi , I am Oduntan Mubarak, A Web Developer and Technical writer, I am an Outreachy '22 Applicant, I would love contribute to the Ersilia Open Source Initiative Project 1 (Improve the documentation and outreach material of the Ersilia Model Hub) and to be added to the community, My email is [moduntan29@gmail.com](mailto:moduntan29@gmail.com), It's also the email for my slack account

[2022-04-04 13:29] Dapper50 opened #122 "Outreachy Documentation Project: <Dapper50>"
Applicant: <Dapper50>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRE

[2022-04-04 13:54] Dapper50 commented on #122
I found this community through the outreachy projects after constant search for a suitable project without any luck. The moment I came across this project and I read the guidelines and what the project entails I immediately connected with it and I  knew this was what I have been looking for. I joined the slack channel and everyone has been helpful and friendly towards me.  This is my first experie

[2022-04-04 14:25] JHlozek commented on #10
Hi all.

@busiratazeez I agree with your comments. DVC is just the back-end storage facilitator and here we need to add an extra layer of functionality where users can opt to contribute data that is verified. I think the idea of staging them first (as you suggest) is prudent.

Some points to think about for implementation of data contribution:
- Where and how is the contributed data staged? Is thi

[2022-04-04 15:58] Sukriti-sood commented on #91
Thanks @GemmaTuron , I will create issue.

[2022-04-04 16:25] Amna-28 commented on #104
**Prediction Example using ersilia model on jupyter notebook**

![image](https://user-images.githubusercontent.com/98670206/161588394-d553a2df-6544-42ae-8d4b-dd68609e82a8.png)

[2022-04-04 18:21] adeolaadedeji opened #123 "Outreachy Documentation Project: <adeolaadedeji>"
Applicant: <adeolaadedeji>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are RE

[2022-04-04 19:02] tracycod3r opened #124 "Outreachy Documentation Project: Tracy Nuwagaba"
Applicant: @tracycod3r

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIR

[2022-04-04 19:45] Prachi-22-81 opened #125 "Outreachy Documentation Project: <Prachi Gupta/ Prachi-22-81>"
Applicant: <Prachi-22-81>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQ

[2022-04-04 20:30] Amna-28 commented on #104
**Created a simple Streamlit app :** takes the chemical structure as input and displays the results based on which model and api is selected by the user:

**Calculating the molecular weight of Aspirin**
![Capture1](https://user-images.githubusercontent.com/98670206/161626416-e504b898-38e0-44fa-88c5-071f7d1e682b.PNG)

**The antibiotic activity prediction**
![Capture2](https://user-images.githubuser

[2022-04-04 21:24] Dapper50 commented on #122
Ersilia model

![fullsizeoutput_573](https://user-images.githubusercontent.com/94048274/161634520-b2839363-d76f-4ea5-a4a6-832a2cfd7d6d.jpeg)

[2022-04-04 21:32] Amna-28 opened #126 "Add a streamlit app for ersilia model"
**What is your feature request?**
Develop a streamlit app for ersilia model for better user experience

**Is your feature request related to a problem?**
No, it could be just an enhancement

**Describe alternatives you've considered**
with Ersilia model app, the user could select the model to run, choose api, fetch models, display catalog, request a cleanup (delete unused models in local machine)

[2022-04-04 21:34] Amna-28 commented on #126
Hi @miquelduranfrigola ,
Please assign this task to me if you find it any useful. I would really enjoy working on it.

[2022-04-04 21:54] sophiee-blip opened #127 "Outreachy Documentation Project: Sophie Abiona"
Applicant: sophiee-blip

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUI

[2022-04-04 21:55] loweyvana commented on #103
Definitely! I'm currently working on it. Hoping to send a first draft soon.

[2022-04-04 23:34] Dapper50 commented on #88
Hi @GemmaTuron, Please i would love to work on this issue.

[2022-04-05 02:00] loweyvana commented on #103
Hi @GemmaTuron.
Here is the link to the blog post I have written, summarising Ersilia's strategic plan for 2021-2023.https://docs.google.com/document/d/1-9fjOPDfYV_OqfD4Zt9ub4s5ddIOAwksswfOoXUCBmI/edit?usp=sharing

Please permit me to make  some points ;
-Unfortunately, I could not find ersilia's preferred typography "Beausite classic clear/ Beausite Classic SemiBold" in google docs so I went with

[2022-04-05 03:48] tracycod3r commented on #124
### Why I am interested in Ersilia
Ersilia is a non profit organisation that supports research for infectious and neglected diseases with a focus on establishing collaborations in low resourced settings where the costs of drug discovery are prohibitive.

I come from a developing country, Uganda and infectious diseases are a major burden because they continue to threaten the health of million of pe

[2022-04-05 04:09] JyteCeo opened #129 "Outreachy Documentation Project: <Stanhope Jite>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-05 06:10] GemmaTuron commented on #108
Thanks @dauinh great work, keep on the task list and check for new issues as they appear later in the week!

[2022-04-05 06:11] GemmaTuron commented on #127
Hello @sophiee-blip
Can you add your name in the issue title, in <Applicant>?

[2022-04-05 06:13] GemmaTuron commented on #126
@Amna-28 great work.

Link this to your issue thread as well please. I will let @miquelduranfrigola comment.
Something "nice to have" if the models work fine on streamlit is to show the representation of the molecular structure of the input (use the rdkit python library for example)

[2022-04-05 06:14] GemmaTuron commented on #122
Hi @Dapper50

God job in installing the hub and testing the models! Please pick some of the tasks outlined above to continue your contribution, and record it on the Outreachy website.

[2022-04-05 06:15] GemmaTuron commented on #120
Hi @0DUNTAN,
Please add this comment to your issue #121  and mark the tasks you have already completed, it will help in tracking your work!

@AbihaFatima you are all set to continue working on the next tasks!

[2022-04-05 06:16] GemmaTuron commented on #119
Hi @adeola-dev

Have you succeeded in installing the hub? f so, paste a screenshot showing a model running and tackle any of the next tasks! Many thanks

[2022-04-05 06:20] kbetty commented on #110
Have added a PR for the Readme file at https://github.com/ersilia-os/ersilia/pull/130 cc: @GemmaTuron

[2022-04-05 06:21] AditiiTripathii opened #131 "Outreachy Documentation Project: <Aditi Tripathi>"

[2022-04-05 06:21] GemmaTuron commented on #114
Hi @ElizabethMawutin,

Thanks for the work, I have gone through your document but before giving more comments can you do the following change:
- When you create a file you must specify the type of document, otherwise it cannot be opened as markdown. In this case, it should be: README_ElisabethJoseph.md
Then I will be able to visualize with the full markdown formatting which will be much better!

[2022-04-05 06:29] GemmaTuron commented on #110
Hi @kbetty
Thanks for your contribution. Here a few comments:
- The logo is really big, I never managed to make it smaller in the original README file, if you know how to do it that would be great. Note that I did not manage to do it so it might be it is just difficult to work with images in readme files. Just asking here :)
- Some links in the table of content are not pointing to the sections in

[2022-04-05 06:35] GemmaTuron commented on #106
Hi @victorabba thanks for linking your work here.
The WSL installation is very detailed, but I would appreciate if you use markdown formatting to make it easier to follow (for example, use titles and subtitles with the ### ). The steps are really detailed so perhaps you could divide them in sections (Installation of Oracle, Installation of Ubutnu, Installation of Dependencies)

Like I commented in

[2022-04-05 06:36] kbetty commented on #110
Thanks @GemmaTuron for your constructive feedback. Am going to work on the recommendations

[2022-04-05 06:37] GemmaTuron commented on #104
Hi @Amna-28 this looks great
See my suggestion under issue #126

[2022-04-05 06:38] GemmaTuron commented on #103
Hi @loweyvana

Thanks for the work, could you give me access to the file as I cannot see it now?
Do not worry about the font as it is not open, Arial works just fine for now

[2022-04-05 06:40] GemmaTuron commented on #97
Thanks @ifeoluwafavour I have merged your changes!
Please check the list of tasks and select one that you find interesting to continue the contribution!

[2022-04-05 06:42] ifeoluwafavour commented on #97
Thank you very much @GemmaTuron
I'm currently working on one of the tasks.

[2022-04-05 06:43] GemmaTuron commented on #94
Hi @mahamtariq58
Thanks, good work on running our software! Please check the next tasks and start working in the ones that are most interesting to you

[2022-04-05 07:05] victorabba commented on #106
Thanks for the corrections @Gemma. I will implement them right away.

[2022-04-05 07:26] loweyvana commented on #103
Hi @gemmaturon.
I think you can access it now.

On Tue, 5 Apr 2022 at 07:38 gemmaturon ***@***.***> wrote:

[2022-04-05 07:40] Prachi-22-81 commented on #125
I am a sophomore who is particularly interested in the role of artificial intelligence in medical science and how it may benefit people's lives. In addition, I'd like to delve more into this field and conduct research. I've worked in web development and experimented with Machine Learning as a sophomore. I found Ersilia's project through the Outreachy. It contains the perfect mix of duties and rese

[2022-04-05 08:04] Kcfreshly commented on #105
Hello @GemmaTuron  I have made the recommended changes and also created a pull request.
#133

[2022-04-05 08:05] Kcfreshly commented on #105
Also my major in school was Chemical engineering, so i have a background in chemistry and a bit in biology

[2022-04-05 08:51] adeolaadedeji commented on #123
I have been struggling with finding a suitable project with no luck, then i found this community. I read the guidelines/project description and i  knew i could do this.. What really stood out was the opportunity to  learn new skills. I have joined the slack channel and everyone seems friendly and willing to help. I am really excited about this opportunity to learn and contribute to the project...

[2022-04-05 08:58] itsIapetus opened #135 "Outreachy Documentation Project: <Kriti | itslapetus>"

[2022-04-05 09:14] ElizabethMawutin commented on #114
Hello @GemmaTuron, here is the corrected [README](https://github.com/ersilia-os/ersilia/pull/136/commits/9139cf732bf20ef24a903320e73c2d8c970fb359) file.
While awaiting your response on this issue, can i treat other issues on the template?.

[2022-04-05 09:33] ifeoluwafavour commented on #97
![Adobe_Post_20220405_1016170.03516428464077359-2.png](https://user-images.githubusercontent.com/64481442/161724652-f81c22a9-f672-4f88-a3c9-5b99f49edc1b.png)

[2022-04-05 09:57] adeola-dev commented on #119
Hello @GemmaTuron, I have successfully installed the hub but I keep getting this error when I try to run the model
![Capture](https://user-images.githubusercontent.com/67130581/161729254-ebe2d17b-f4ec-4aca-b4bf-b8cf1b56d2f6.PNG)

[2022-04-05 10:22] loweyvana commented on #103
Hi @GemmaTuron. Good day. Here is the link to a slide explaining Ersilia's mission and vision. Since you earlier said the font is not open, I went with Glacial Indifference.
 https://raw.githubusercontent.com/loweyvana/ersilia/Slides/-videos/assets/Ersilia-mission_Lowe_Yvana.png
I also tried as much as possible to make the slide soothing for the eyes while respecting the colors. I tried plum on mi

[2022-04-05 10:31] loweyvana commented on #103
Or  this can be used.
https://docs.google.com/document/d/1-9fjOPDfYV_OqfD4Zt9ub4s5ddIOAwksswfOoXUCBmI/edit?usp=sharing

[2022-04-05 10:47] Nawarrr commented on #102
fetched 3 models
![Ersilia_3models](https://user-images.githubusercontent.com/46817360/161737717-8e7a7f79-baba-4c32-8c8d-445e4a516550.png)

[2022-04-05 10:52] Amna-28 commented on #126
Thanks @GemmaTuron ,
Sure thing, I will add the link and start working on it.
Thanks for your feedback!

[2022-04-05 10:55] Amna-28 commented on #104
I am working on issue **#126 - Add a streamlit app for ersilia model**

[2022-04-05 10:58] Amna-28 commented on #104
#126

[2022-04-05 11:50] FrozenGirl-spd commented on #117
The very first chapter of Outreachy journey is to choose a project, find the field which interests for it is this inclination that exhorts me to strive tirelessly for perfection. My scientific interest for biomedical science and curiosity for Open source propelled me into the project. The real capabilities of AI/ML is advancing and and I intend to incorporate it into making our lives easier. Getti

[2022-04-05 12:12] itsIapetus commented on #135
I am Kriti an Integrated M.Sc. student from India.
_Why am I interested in this project?_
This model can help develop effective drugs against contagious and neglected diseases. It is possible to impact the lives of millions of people through this particular project. I respect this organization's goals and share them, which is why I am here. I look forward to creating meaningful contributions that

[2022-04-05 12:14] itsIapetus opened #138 "Outreachy Code Project: Kriti"
Applicant: @itsIapetus

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Py

[2022-04-05 12:15] itsIapetus commented on #138
This is Kriti, an Integrated MSc student from India.

_Why am I interested in this project?_

This model can help develop effective drugs against contagious and neglected diseases. It is possible to impact the lives of millions of people through this particular project. I respect this organization's goals and share them, which is why I am here. I look forward to creating meaningful contributions t

[2022-04-05 12:16] #135 closed

[2022-04-05 13:23] Dapper50 commented on #122
Graphic Material:

https://docs.google.com/presentation/d/1ZASZBscCtZep0jzMKMvaYSyTUYA7GOk9RJBF9yjLfDg/edit?usp=sharing

[2022-04-05 13:23] Dapper50 commented on #122
@GemmaTuron Thank you so much for the feedback.

[2022-04-05 14:12] Jaya3112 opened #140 "Outreachy Documentation Project: Jaya Gupta"
Applicant: @Jaya3112

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRED

[2022-04-05 14:27] goelesha opened #141 "Outreachy Documentation Project: <Esha Goel>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-05 15:15] GemmaTuron opened #142 "Outreachy Documentation Project: Gemma Test"
Applicant: @GemmaTuron

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIR

[2022-04-05 15:20] srcmilena opened #143 "Outreachy Documentation Project: Milena Brito"
Applicant: Milena Brito

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUI

[2022-04-05 15:20] harshita214 opened #144 "Outreachy Documentation Project: <Harshita>"
Applicant: [harshita214](https://github.com/harshita214)

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* a

[2022-04-05 15:20] Femme-js opened #145 "Outreachy Code Project: Jeevanshi"
Applicant: @Femme-js

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Pyth

[2022-04-05 15:25] itsmedeepak opened #146 "Outreachy Documentation Project: itsmedeepak"
Applicant: @itsmedeepak

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUI

[2022-04-05 15:29] AditiiTripathii opened #147 "Outreachy Documentation Project: <Aditi Tripathi>"
Applicant:  @AditiiTripathii

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are

[2022-04-05 15:36] LoneBTsie opened #148 "Outreachy Documentation Project: <Lone B. Tsie>"
Applicant: <LoneBTsie>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIR

[2022-04-05 16:16] Dapper50 commented on #146
@itsmedeepak Hi please assist put me through on how you created your Readmefile

[2022-04-05 16:21] dchidindu5 commented on #98
### Which should you choose?

**Minconda OR Anaconda**

 Conda is the package manager (i.e. it displays all the installed packages in the environment.)
Whereas Anaconda and Miniconda are distributions (i.e. they are collection of packages, pre-built and pre-configured, that can be installed and used on a computer system).

**Choose Miniconda:**

- If you do not mind installing each of the packages

[2022-04-05 16:22] dchidindu5 commented on #98
k

[2022-04-05 16:22] mahamtariq58 commented on #94
Thank you @GemmaTuron .. Sure

[2022-04-05 16:23] sayantani11 commented on #101
@GemmaTuron Yes sure!!!

[2022-04-05 16:39] sophiee-blip commented on #127
Good evening ma'am.
In the issue created on GitHub, under the initial steps, the first one is
to create an application, I'm confused ma.
Is it the final application or just an in progress contribution?
Thank you so for all your help.

On Tue, Apr 5, 2022, 7:11 AM gemmaturon ***@***.***> wrote:

[2022-04-05 16:50] julietugo opened #150 "Outreachy Documentation Project: <Ugochi Juliet>"
Applicant: @julietugo

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRE

[2022-04-05 17:00] Amna-28 commented on #126
Hi @GemmaTuron
Keeping your suggestion in mind, are you talking about something like this?

![image](https://user-images.githubusercontent.com/98670206/161809359-a074a541-3fea-42fe-9839-a06182eb1d9f.png)

[2022-04-05 17:02] sayantani11 commented on #101
Contributions:
- The project was missing a contribution guildelines as of which made an issue to track that:
   https://github.com/ersilia-os/ersilia/issues/21

- Starting with open source can always be over whelming as of which made an issue and PR to add a readme that will be helpful for the new contributors:
   https://github.com/ersilia-os/ersilia/pull/70
   https://github.com/ersilia-os/ersil

[2022-04-05 17:33] AnshuKumari197 opened #151 "Outreachy Documentation Project: <Anshu_Kumari>"
Applicant: @AnshuKumari197

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are RE

[2022-04-05 18:05] AnshuKumari197 commented on #151
hello @GemmaTuron here is the link to my previous PR that was merged by you. Please review and recommend.
#1
#84

[2022-04-05 18:12] marv-tech opened #153 "Outreachy Documentation Project: <Marvis Chukwudi/marv-tech>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-05 19:00] marv-tech commented on #153
I recently began my journey in bioinformatics, and one of the major drivers of my interest was harnessing the powers of machine learning in drug discovery and the discovery of microRNA, which sparked medical breakthroughs. Because of the discovery of miRNAs, drugs/vaccines and biomarkers for some terminal diseases, such as cancer, have been developed.
Ersilia's ultimate goal is to facilitate and s

[2022-04-05 19:13] dchidindu5 commented on #98
I created a pull request as regards to the documentation that should be added to the Ersilia Installation Guide #154

[2022-04-05 19:42] victorabba commented on #106
Current tasks:
1 Blogpost for the [Ersilia 2021-2023 strategic plan](https://docs.google.com/document/d/1rUwg7aoDGgteAw-BpxA0yFMQp-JCQMq57zdVmBEg5KQ/edit?usp=drivesdk).

[2022-04-05 20:00] julietugo commented on #150
I am interested in this project because Ersilia’s work supports research in infectious and neglected diseases. This work will help us understand how the body's immune system responds to disease, ways to prevent the disease and develop the right treatment. My passion for good health motivates me to join Ersilia in their good work.

[2022-04-05 20:40] Amna-28 commented on #104
**Why am I interested in this project?**

I am a Data science and Machine learning enthusiast with a masters degree in computer science. I have worked with different machine learning algorithms and tools. As this project involves Machine learning and Python programming, that I am very passionate about, I would really like to be a part of something that helps people and institutes where ML and bioi

[2022-04-05 20:43] Amna-28 commented on #126
@GemmaTuron Can I consider this as a new idea mentioned in "other" section of the application as:
_Add a comment in this issue with your new idea, tagging the mentor_

can I mark it referencing this issue?

[2022-04-05 22:38] AIgbine opened #155 "Outreachy Documentation Project: Anita Igbine"
Applicant: @AIgbine

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRED.

[2022-04-05 23:37] AIgbine commented on #155
Hi, I'm Anita. A data analyst and technical writer. I am contributing to this documentation for the following reasons:

1. I started out learning python on my own and documentation, how-to tutorials were my go-to whenever I got stuck
2. I enjoy contributing to learning resources and have done so for a year now
3. For my final year project at school (class of 2020) I build a machine learning model.

[2022-04-06 02:29] srcmilena commented on #143
When I opened Outreachy project list and started to seek a project to join, I was looking for something unusual and different from what I study and already do (software development) and at same time, something that I am curious about.
When I found Ersilia and started reading about their organization itself, I confess that seeing "IA", "Machine Learning" caught all my attention because before this

[2022-04-06 05:53] ifeoluwafavour commented on #97
Docstring for the ErsiliaModel class

[code]

[2022-04-06 06:52] sfrooti opened #156 "Outreachy Documentation Project: sfrooti"
Applicant: sfrooti

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRED.

[2022-04-06 07:05] sfrooti commented on #156
Hello! I'm Sfurti. I am visual designer & study brand strategy as a junior in college.

I look forward to contributing & supporting Ersilias mission of establishing collaborations in low-resourced settings, which is something I am extremely passionate about.
I am excited to work with the community because I have always wanted to contribute to such important projects as Ersilia’s but was not really

[2022-04-06 07:08] Shamswaggirl commented on #142
Hello @GemmaTuron,
I have created a 1-page blog post for the strategic plan 2021-2023, please do refer

https://docs.google.com/document/d/1iN4uweFNAvHO4Dfl1UtAt4Qc_eDzWqVA8qvFXMw0Swk/edit?usp=sharing

#142

[2022-04-06 09:48] loweyvana commented on #103
Hi @GemmaTuron. Please find attached the link to a blog post I wrote on Neglected Tropical Diseases. I did not know which aspect of NTDs to focus on so I gave an overview.
https://lowe-yvana.blogspot.com/2022/04/tropical-diseases-overview-according-to.html

I made use of blogger.com. Is that OK?

There is so much to write about NTDs, I suggest we write several blog posts about the different aspect

[2022-04-06 09:49] Sukriti-sood opened #157 "Outreachy Documentation Project: Sukriti Sood"
Applicant: [Sukriti-sood](https://github.com/Sukriti-sood)

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps*

[2022-04-06 10:58] Sukriti-sood commented on #157
It has always been my desire to do something that contributes to improving Global Health. Ersilia is giving me the opportunity to participate in a team that is working on a related mission. I am an Open Source and Machine Learning enthusiast with a strong interest in Technical Writing, Backend Development. I love to work with communities as they foster collaborative learning. As a member of the po

[2022-04-06 10:58] DokuaAsiedu opened #158 "Outreachy Documentation Project: Akua Dokua Asiedu"
Applicant: @DokuaAsiedu

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUI

[2022-04-06 10:59] DokuaAsiedu commented on #158
The open source environment fascinates me. Although it has not been long since I was introduced to it, the concept of making source code available to anyone in order to pool contributions from all types of skillsets to a enhance a project is a bold step in my opinion. The reason why I say this is that I am only familiar with environments where everything is done discreetly until it is time for lau

[2022-04-06 11:15] Riyabelle25 opened #159 "Outreachy Code Project: Riya Elizabeth John"
Applicant: @Riyabelle25 (she/her)

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledg

[2022-04-06 11:21] Riyabelle25 commented on #159
Hey there!

I'm Riya Elizabeth John a third-year B.E undergrad at IIT Roorkee, India.
I'm primarily a Python Developer with (both open-source and industrial) experience working in ML Toolboxes/Packages. I love being involved in OpenSource projects and communities- I'd previously contributed to [sktime](https://github.com/alan-turing-institute/sktime) and am currently an MLH (Open-Source) Fellow.
A

[2022-04-06 11:24] Riyabelle25 commented on #159
### Add a screenshot under this issue showing that you are able to run one model (for example, the chemprop-antibiotic model)
<img width="600" alt="Screenshot 2022-03-28 at 1 09 30 PM" src="https://user-images.githubusercontent.com/55790848/161964009-384b93e6-0ab3-4c13-978b-69eb393a8258.png">

[2022-04-06 12:52] EugeniaDedeTeye commented on #10
@busiratazeez  I like your points made. @miquelduranfrigola  The best situation would be to allow users to make their contributions to their local files, I believe the DVC would track any changes made to the calculations and would also allow users to go back on calculations done if any mistakes are made. This way users would be allowed to make changes to their precalculations after reviewing them

[2022-04-06 13:20] Med16-11 opened #160 "Outreachy Documentation Project: Medhavi Singh"
Applicant: @Med16-11

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRED

[2022-04-06 13:26] itsmedeepak commented on #146
Hey @Dapper50  just go through the readme.md file in root directory, clone it, change it as per your requirement...

[2022-04-06 13:54] Riyabelle25 commented on #159
### Fetch at least 3 models from the Ersilia Model Hub. You can find these models with the ersilia catalog command. Add a screenshot of the local catalog (ersilia catalog –local
<img width="900" alt="Screenshot 2022-04-06 at 5 30 05 PM" src="https://user-images.githubusercontent.com/55790848/161991016-0361a84f-6f87-467c-970f-dda35615bd1d.png">
)

[2022-04-06 13:58] Med16-11 commented on #160
Hello Mentors,
I am Medhavi Singh, a second-year computer science engineering student.
I like the concept of using artificial intelligence and machine learning to make medicine for infectious diseases. I believe that this type of technology would be very useful for people who are suffering from infectious diseases. Artificial Intelligence and Machine learning have the power to solve these concerni

[2022-04-06 14:03] victorabba commented on #106
![ersilla result 1](https://user-images.githubusercontent.com/97383086/161992865-b8a47258-cc1f-49c0-a64e-4923b3779d23.png)

[2022-04-06 14:05] victorabba commented on #106
![ersilla result 2](https://user-images.githubusercontent.com/97383086/161993140-f1f96326-46d6-4817-a7e9-1a6aa045477a.png)

Result of molecular mass of Aspirin.

[2022-04-06 14:16] loweyvana commented on #103
Hi @GemmaTuron, @miquelduranfrigola
Here is the link to the feedback on the blog post I wrote on Neglected Tropical Diseases.

[2022-04-06 14:20] loweyvana commented on #103
Hi @GemmaTuron, @miquelduranfrigola
After searching scientinfic literature, I saw these models which I think could be incorporated in the hub.

https://outreachyersilia.slack.com/team/U03A88CKTLZ

[2022-04-06 14:20] loweyvana commented on #103
https://outreachyersilia.slack.com/team/U03A88CKTLZ

[2022-04-06 14:47] loweyvana commented on #103
HI @GemmaTuron, @miquelduranfrigola
After searching scientific literature, I found these 3 models which I think could be incorporated in the hub.

-DeepChem: a machine learning model that uses a python-based AI system to find a suitable candidate in drug discovery.

-DeepTox: ML algorithm that predicts the toxicity of numerous molecules.

-Support Vector Machines.

-Random Forests.

Reference link

[2022-04-06 15:32] srcmilena commented on #143
Graphic material

- Created by Canva
  - https://www.canva.com/design/DAE9FKhK0nU/Fec4u92dKzWVT1qzjH4O6Q/view?utm_content=DAE9FKhK0nU&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

- Details
  - Fonts
    - Open Sans Light
    - Open Sans
    - Open Sans Bold

   - Font size
     - 24 (subtitles in "Vision" topics)
     - 26 ("Vision" text)
     - 27 ("Ersilia" and "Mission" tex

[2022-04-06 16:12] loweyvana commented on #103
Hi @GemmaTuron , @miquelduranfrigola  Here is a sample of a technical card I have written on one of the models. I didn't know which format to use so I went with this. Waiting for your suggestions. Thank you.
### TECHNICAL CARD ON CHEMPROP-ANTIBIOTIC
WHY THIS PROJECT? There has been a steady rise in the number of antibiotic-resistant bacteria in the past years, causing an estimated 700,000 deaths a

[2022-04-06 16:25] JyteCeo commented on #11
@GemmaTuron is this now open for other applicants to contribute to it .. ?

[2022-04-06 16:38] adeola-dev commented on #119
Hello @GemmaTuron, here is the linked PR to the readme file I created #137

[2022-04-06 17:10] JyteCeo commented on #127
you already added your name .. that's what she wanted ..
if this is your first time contributing, I suggest you check what others are doing and know where to correct yourself . Also try keep up with the slack channels , you can ask questions there always and get asap response

[2022-04-06 17:12] srcmilena commented on #11
@JyteCeo hello! i read the issue. could you explain to me how can i help/join?

[2022-04-06 17:45] Pmaidoo opened #162 "Outreachy Documentation Project: <@Pmaidoo>"
Applicant: <@Pmaidoo>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRE

[2022-04-06 17:51] sophiee-blip commented on #127
Okay, thank you so much.

On Wed, Apr 6, 2022, 6:11 PM Stanhope Jite ***@***.***> wrote:

[2022-04-06 17:56] sophiee-blip commented on #127
I am interested in this project because I take it as an opportunity to utilize my flair and skill for documentation. I also love what Ersilia stands for, as a microbiologist in training, I understand how hard it is sometimes to find cures for communicable diseases in underdeveloped countries. I want to be a part of the force that changes that and this is the perfect opportunity. I really look forw

[2022-04-06 18:12] sophiee-blip commented on #127
I am interested in this project because I take it as an opportunity to utilize my flair and skill for documentation. I also love what Ersilia stands for, as a microbiologist in training, I understand how hard it is sometimes to find cures for communicable diseases in underdeveloped countries. I want to be a part of the force that changes that and this is the perfect opportunity. I really look forw

[2022-04-06 19:47] JyteCeo commented on #129
### **Why I'm Interested In Ersilia**

Ersilia is a nonprofit initiative that is bridging the gap between developed and underdeveloped societies in the drug production industry.
Her goal to facilitate the total adoption of ML and AI tools in drug development is an applaudable one.
I’m from the underrepresented area of Nigeria, so I've come face to face with the sore disaster resulting from infecti

[2022-04-06 20:23] Esther146 opened #163 "Outreachy Documentation Project: Esther Anierobi"
Applicant: @Esther146

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRE

[2022-04-06 21:08] adeolaadedeji commented on #123
https://docs.google.com/presentation/d/10ZLQkj54-aL5jCNXnxWunBvavB_uAIjAfQbwBy67ev8/edit?usp=sharing

[2022-04-06 21:14] Pmaidoo commented on #162
My name is Priscilla Maria Aidoo from Ghana , Africa. I am an Actuarial Science  graduate which a passion for finance and technology. I am an in coming data scientist and analyst who enjoys working on data to make meaning out of it and to help in decision making. After consecutive reading and research about the ersilia project i find it as one project that deem fit me as a person. As an individual

[2022-04-06 21:27] Esther146 commented on #163
As an Outreachy applicant new to Free and Open source (FOSS).
I have a background in biochemistry and I once did research on drugs and drug effect, having read about the Ersilia project's Goal, Vision, and Mission. I'm interested to do my research and make quality contribution to this project.
As I have personal goal to do M.Sc in public health related courses, I believe that Ersilia is a good pla

[2022-04-06 22:01] tracycod3r commented on #124
Contributions:

1. I have created a README file as one of the Github Documentation tasks #165

[2022-04-06 23:32] Nawarrr commented on #102
Perdiction using as a Python library![ersilia_jup_notebook](https://user-images.githubusercontent.com/46817360/162090634-4e700e51-fcfb-440f-8e86-a7e2896e4e8a.png)

[2022-04-07 02:06] Nawarrr commented on #102
Here is a simple Streamlit app
![Screenshot 2022-04-07 at 04-04-19 main · Streamlit](https://user-images.githubusercontent.com/46817360/162105894-a7785321-d799-4893-96bf-29d9b99176d7.png)

[2022-04-07 05:03] Sukriti-sood commented on #157
Create [PR](https://github.com/ersilia-os/ersilia/pull/167) for README file

[2022-04-07 05:51] miquelduranfrigola opened #168 "Check that Git LFS is correctly installed"
Some large models (e.g. chemprop-antibiotic) require Git LFS to be installed. If Git LFS is not installed, then the model is fetched but only pointers to the checkpoints are given. As a result, users get empty outputs when running predictions with the model.

I would suggest that we add a check in the main `__init__.py` file to check that Git LFS is installed. If it is not, raise an exception. Hap

[2022-04-07 06:00] miquelduranfrigola commented on #126
Hi, @Amna-28 this is quite awesome!

A few suggestions:
* Not all models have all APIs, so it would be great that the radio buttons in the "select API" are dynamic, depending on the available APIs for the model. If you are using the `ErsiliaModel` class, it has a `get_apis` method that can help.
* It is OK to see the output in JSON format, but I think it is best if you just display the "output" pa

[2022-04-07 06:01] Jaya3112 commented on #140
Ersilia is an open-source initiative that aims to provide AI models to enable scientists to make drug discoveries much faster. They are on a mission to make scientific progress accessible to all. They focus on establishing collaborations in low-resourced settings where the costs of drug discovery are prohibitive. There are millions of people who are suffering from neglected diseases and do not pro

[2022-04-07 06:19] GemmaTuron commented on #162
Hi @Pmaidoo
Can you please add your name in the issue title, and then continue working from there?
Thanks!

[2022-04-07 06:21] GemmaTuron commented on #160
Hi @Med16-11

Thanks for your contribution. Please, do not mark tasks before they are completed (I have not yet provided the feedback so wait until I do and you incorporate it, meaning you modify according to my recommendations before marking it as done)
I wanted to ask if perhaps, given your background in computer science, your skills would be well applied to the Code project? Just asking!

[2022-04-07 06:24] Shamswaggirl opened #169 "Outreachy Documentation Project: @Shamswaggirl(Shanmugapriya.D)"
Applicant: @Shamswaggirl

Hello @GemmaTuron,
I am interested in contributing to 1-page blog post for the strategic plan 2021-2023 .

[2022-04-07 06:26] Shamswaggirl commented on #169
I have created a 1-page blog post for the strategic plan 2021-2023, please do refer

https://docs.google.com/document/d/1iN4uweFNAvHO4Dfl1UtAt4Qc_eDzWqVA8qvFXMw0Swk/edit?usp=sharing

#142

[2022-04-07 06:35] GemmaTuron commented on #159
Hi @Riyabelle25

Great work thanks! Check the list for some more contribution options. I am also tagging @miquelduranfrigola in case he has suggestions

[2022-04-07 06:49] GemmaTuron commented on #157
Hi @Sukriti-sood thanks for your contribution!

Find here some feedback on the README file, think if there are any changes you would like to make based on it and continue working on other tasks.
I see you have done a lot of work on it, that's great! As a general comment, the README is quite long now and some information is repeated. I would suggest you think of each section and the main message yo

[2022-04-07 06:50] GemmaTuron commented on #156
Hi @sfrooti !

Thanks for your interest! As you can see there are some tasks specifically focused in design, we would be very happy to hear your ideas in these topics given your background!

[2022-04-07 06:50] Riyabelle25 commented on #159
Thank you @GemmaTuron.
I had recently built a streamlit app for data visualization (solar flare bursts, from data provided by ISRO), so maybe I can build one for Ersilia as well?

[2022-04-07 06:51] GemmaTuron commented on #155
Hi @AIgbine !

Thanks for your interest! Given your background and description, perhaps your skills are better suited to the coding project? If you have python knowledge and are interested in the computational aspects of our work check the second open project!

[2022-04-07 06:52] GemmaTuron commented on #153
Hi @marv-tech

Thanks for your intro! Given your interests perhaps starting in the scientific content section is a good way to start!

[2022-04-07 06:56] GemmaTuron commented on #157
Hi @Sukriti-sood
I am revising other contributors work and I realised some paragraphs are very similar or identical to contributions by other participants who worked on this issue before. Please make sure to post unique work, of course readme files will be similar, but we would appreciate if participants wrote the concepts in their own words.

[2022-04-07 07:03] GemmaTuron commented on #151
Hi @AnshuKumari197

Thanks for your contributions, you created quite a good README File, but there are some suggestions for your consideration:
- The table of Content could have links to each section to make it easier to follow
- The Project description has this sentence:  Ersilia Open Source Initiative is a part of the Ersilia Model Hub which should be the other way around, the Ersilia Open Sourc

[2022-04-07 07:07] GemmaTuron commented on #146
Hi @itsmedeepak

You created a copy of the README file but I cannot see any additions or modifications. The goal of this task is to suggest changes in our readme file to make it better, more informative.. can you work on it?
You can also choose a different task if you are more interested in another topic, browse the list above for ideas

[2022-04-07 07:11] mahamtariq58 commented on #168
Hi @miquelduranfrigola , I would love to try this issue....

[2022-04-07 07:12] GemmaTuron commented on #143
Hi @srcmilena

Thanks for the work! I really like your background. can I give you a few suggestions?
The Ersilia metaphor has two sides, one, abandoned cities and abandoned research, as you well describe. The other more positive one is to establish threads and a network of communications between scientists. Can you rephrase to show this idea? To give an encouraging message!
The mission of the init

[2022-04-07 07:12] Shamswaggirl opened #170 "Outreachy Documentation Project: Shanmugapriya.D"
Applicant: @Shamswaggirl

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQU

[2022-04-07 07:16] GemmaTuron commented on #142
Hello @Shamswaggirl

This was an issue I created during the Zoom call as a test. Do you have your own issue opened? If not please do so and add your work there as I will close this test issue.

[2022-04-07 07:16] #142 closed

[2022-04-07 07:17] Shamswaggirl commented on #170
Hello @GemmaTuron,
 I am Shanmugapriya.D from India. I am interested in research and documentation, I have published three research papers in Springer publications. So I am interested in contributing to documentation for Ersilia model hub.

[2022-04-07 07:18] GemmaTuron commented on #127
Hi @sophiee-blip

The first task is to record your application for this project in the Outreachy website, otherwise you will not be able to record a final application for the project.
Ask for support in the Slack channel if you are still unsure on how to do that!

[2022-04-07 07:19] Shamswaggirl commented on #170
I have created a 1-page blog post for the strategic plan 2021-2023, please do refer

https://docs.google.com/document/d/1iN4uweFNAvHO4Dfl1UtAt4Qc_eDzWqVA8qvFXMw0Swk/edit?usp=sharing

#142

[2022-04-07 07:20] #169 closed

[2022-04-07 07:28] GemmaTuron commented on #124
Hi @tracycod3r

Thanks for starting to work on the Ersilia project. The goal of the README task is to add some contributions or suggestions to improve what is there. I don't see major changes in your readme, can you check it and add some ideas of what is missing?
If you are interested in other types of task please check the list and select soemthing else to start working.
Thanks!

[2022-04-07 07:28] Sukriti-sood commented on #157
Thank you @GemmaTuron for your feedback, I will update the readme file according to your feedback. I had confusion regarding some of the points.. it got cleard by your feedback.

[2022-04-07 07:35] tracycod3r commented on #124
Thank you @GemmaTuron for the update, working on the changes

[2022-04-07 08:05] GemmaTuron commented on #123
Hi @adeolaadedeji
I cannot access the document, can you revise the permits and let me know once its open?
Thanks!

[2022-04-07 08:08] adeolaadedeji commented on #123
Hi Gemma,  i am sorry about that.. The document is open now.

[2022-04-07 08:12] GemmaTuron commented on #123
Hi @adeolaadedeji thanks!
A few comments:
- On the first slide, I would remove the green lines, as they are not in our brand colours. Perhaps choose a background color from our palette?  we always prefer plum-green combination
- For the second slide, you have all the messages there, but I think some are repeated. Could you structure in three sections mission -  vision - the Ersilia organisation, m

[2022-04-07 08:16] adeolaadedeji commented on #123
Okay @GemmaTuron i will work on it.. Thank you

[2022-04-07 08:22] GemmaTuron commented on #114
Hi @ElizabethMawutin

Thanks, I only have a few comments! I like the image but I think its too complex for a readme file... its just my opinion.
Double check which license we are using, and in the follow us section do not add the slack link as it is only for outreachy, but perhaps add twitter and linkedin accounts?

[2022-04-07 08:22] GemmaTuron commented on #112
Thanks @Jaya3112 I am closing this issue then!

[2022-04-07 08:22] #112 closed

[2022-04-07 08:27] GemmaTuron commented on #126
I @Amna-28

Yes this is what I had in mind great job! This can be considered a new idea sure, no need to open an issue though since you are already solving it.

[2022-04-07 08:27] GemmaTuron commented on #102
Hi @Nawarrr

Thanks! I am tagging @miquelduranfrigola to check on this but looks good! As I suggested to some other applicants, displaying the molecule as an image when it is inputed would be cool

[2022-04-07 08:28] adeolaadedeji commented on #123
Hi @GemmaTuron i have worked on it, kindly review..Thank you

[2022-04-07 08:29] GemmaTuron commented on #98
Hi @dchidindu5 great thanks for the clarification
We will consider adding it to our installation guide on Gitbook. Please continue with some new tasks !

[2022-04-07 08:30] GemmaTuron commented on #97
Hi @ifeoluwafavour !

I am taggin @miquelduranfrigola for feedback on the docstrings, meanwhile continue working on some other task !

[2022-04-07 08:31] GemmaTuron commented on #106
Hi @victorabba

I cannot access the blogposts, can you revise permissions? thanks!

[2022-04-07 08:35] GemmaTuron commented on #105
Hi @Kcfreshly thanks for adding the feedback!
If it is of interest due to your background, check the Scientific content section!

[2022-04-07 08:37] victorabba commented on #106
Ok. You can try now I have reviewed permissions.

[2022-04-07 08:41] ifeoluwafavour commented on #97
Okay. Thank you for your feedback.
I will move on to another task

[2022-04-07 09:02] AIgbine commented on #155
Hi @GemmaTuron

I will definitely be contributing to the coding project. On the outreachy website I noticed that you only need one intern so I plan to contribute to both the documentation and the coding projects.

I'll jump on the second project right away!

[2022-04-07 09:11] AIgbine commented on #155
Hi @GemmaTuron

Here is my link for a one-page blog on the Strategic Plan 2021 - 2023

https://docs.google.com/document/d/1lM3w3Ojdmj3edkneJi4XjjPzfNrk9pjJtNl1aUndC20/edit

[2022-04-07 09:17] Sukriti-sood opened #172 "Customizing ersilia-os's Profile"
# Organization's profile README

Adding Organization's Profile readme will be a great addition for our Organisation. We can share information about how to engage with our organization by creating an organization profile README. GitHub shows  organization profile README in the "Overview" tab of the organization.

## Example
![moja-global (1)](https://user-images.githubusercontent.com/55010599/16216

[2022-04-07 09:37] Shamswaggirl commented on #170
Hello @GemmaTuron,
I have made a slide for the mission and vision for EOSI. Please do refer

https://www.canva.com/design/DAEbEBjwGqw/kOZbPv55ejaA-GEc-RGmnA/view?utm_content=DAEbEBjwGqw&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

[2022-04-07 09:48] marv-tech commented on #153
Thank you @GemmaTuron, will get started with the scientific content section as you suggested.

[2022-04-07 09:50] Amna-28 commented on #126
@miquelduranfrigola Thank you for your suggestions, yes that would be better to just show the output part. Also I will make use of `get_apis` method to display api available in the model selected.

[2022-04-07 09:54] Amna-28 commented on #126
Got it, thank you @GemmaTuron for your continuous support and feedback

[2022-04-07 10:14] adeola-dev commented on #119
Hi @GemmaTuron, I have created the readme file in the /documentation folder. Here is the linked pull request #173

[2022-04-07 10:29] ifeoluwafavour commented on #97
I have written a summary of EOSI's strategic plan. Here's the link to the document:

https://docs.google.com/document/d/18sPRsVA7GmRMQdR5DELKpcy6Jn1pmqvfF_7_s2ZNZeo/edit?usp=drivesdk

[2022-04-07 10:58] ifeoluwafavour commented on #97
Hi @GemmaTuron
I didn't see the need to rewrite everything. I just highlighted the main points from the main strategic plan page.

[2022-04-07 11:20] Jaya3112 commented on #140
Contribution :

Added context with image, which will help new contributors.
https://github.com/ersilia-os/ersilia/pull/111#issue-1191177937

[2022-04-07 12:54] Nawarrr commented on #168
I would love to work on this, as I faced this problem yesterday, assign me if it's possible @miquelduranfrigola

[2022-04-07 13:03] Nawarrr commented on #168
@miquelduranfrigola  I also think that a warning is a better option, as some models (or maybe in the future if it is managed to make the models smaller) might not need git lfs and they who use it might be aware of that.

[2022-04-07 13:15] victorabba commented on #106
Class ErsiliaModel(ErsiliaBase):
""" Defines the instance of the ersilia model class and fetches the model""".

def is_valid(self):
""" Checks if the model is valid""".

def api(
        self, api_name=None, input=None, output=None, batch_size=DEFAULT_BATCH_SIZE
    ):
""" Defines the model  API name, input, output and size""".

def api_task(self, api_name, input, output, batch_size):
""" Defines

[2022-04-07 13:24] Med16-11 commented on #160
I will keep this thing in mind.
And yes I would love to contribute to the coding part too.

[2022-04-07 13:35] sayantani11 opened #177 "Add workflows and test to check if the writing style guidelines are being followed"
**What is your feature request?**
Once we get a rigid writing style guidelines, we can add tests or workflow that will run on PRs checking if the writing style guidelines is being followed. This will reduce a lot of work that was supposed to be done manually.

**Is your feature request related to a problem?**
Ersilia deals with a lot of documentation, keeping that in mind maintaining consistency a

[2022-04-07 13:36] sayantani11 commented on #177
I would like to be assigned this.
@GemmaTuron your thoughts?

[2022-04-07 14:18] loweyvana commented on #103
Hi @GemmaTuron. Here are some screenshots of a docstring I wrote.
![docstring 1](https://user-images.githubusercontent.com/102544900/162220366-b692f898-d74c-43ba-ae3a-ca07375e4b96.PNG)

![docstring 3](https://user-images.githubusercontent.com/102544900/162220599-b9bf31e9-17bf-419d-8751-db225294b71b.PNG)

[2022-04-07 15:25] Nawarrr commented on #102
![ersilia_streamlit_visualised](https://user-images.githubusercontent.com/46817360/162235281-e82f0996-1c5a-4bd4-bd23-e09b36f526af.png)

[2022-04-07 18:07] AditiiTripathii commented on #147
Hello, @GemmaTuron
Initial Steps:
For around 2-3 months, I worked as a content writer in a startup (specifically Doconation), which gave me a lot of exposure to content writing and sparked an interest in it. I'm also a techie, so why not combine my two passions and give to a place where it can make a difference, benefitting tens of thousands of people? As an outcome, I am eager to contribute to th

[2022-04-07 18:20] ugo-bee opened #179 "Outreachy Documentation Project: <Applicant>Ugochi Ihe"
Applicant: <applicant github handle>Ugo-bee

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community

[2022-04-07 20:30] miquelduranfrigola commented on #172
@GemmaTuron what are your thoughts on this?

[2022-04-07 20:37] miquelduranfrigola commented on #168
Hi all, thanks for your interest in this. I am assigning this to the three of you. Feel free to join efforts if you want, or simply PR your individual solutions/suggestions. Thanks!

[2022-04-07 20:58] Rufaida98 commented on #177
@sayantani11 that will organize the files and the data. Nice idea 👍

[2022-04-07 20:59] Rufaida98 commented on #172
@Sukriti-sood it will add a nice gesture to the project and it will make more much approachable 👍

[2022-04-08 00:09] dchidindu5 commented on #97
Hey @ifeoluwafavour you need to grant an access to 3rd party users to your blog post.
Here is what it says
![ife1](https://user-images.githubusercontent.com/18760267/162338591-4b2b4323-b3ba-46e6-8636-e03ef87f47e4.PNG)

[2022-04-08 00:12] dchidindu5 commented on #98
Thanks for giving me a feedback

[2022-04-08 02:02] dchidindu5 commented on #98
I created a slide explaining Ersilia's Mission and Vision Statements, Can you please review it? @GemmaTuron
Here's the link below [](https://docs.google.com/presentation/d/1zrgZca6zhmk1Af7XlwnB3be1MATHHTrLswBbJane8Aw/edit?usp=sharing)

[2022-04-08 02:18] Nawarrr commented on #102
#180

[2022-04-08 03:09] dchidindu5 commented on #98
@GemmaTuron I Created a pull request on a document I corrected in victor_windows.md #181

[2022-04-08 03:22] harshita214 commented on #144
Hello @GemmaTuron

I created a PR https://github.com/ersilia-os/ersilia/pull/178 for the issue

1. https://github.com/ersilia-os/ersilia/issues/11
2. https://github.com/ersilia-os/ersilia/issues/49

* PR is not yet reviewed/merged and requires mentor's approval

[2022-04-08 03:35] harshita214 commented on #144
While working on Readme, I saw many readme files and came across the point that a Contributing.md is also required which is a separate readme file. This readme file basically contains the following point

- [ ] How to start
- [ ] Submit a PR - STEPS
- [ ] Architecture- files structure
- [ ] Setup From Source
- [ ] Explanation of Important terms used in Ersilia
- [ ] Technology Stack
- [ ] Coding/P

[2022-04-08 04:04] harshita214 commented on #144
In India, there is a proverb " पहला सुख निरोगी काया " which means First happiness is a healthy body.  This means whether it be anyone or everyone health and healthcare are a priority for all! So when I came across this project through Outreachy and understood the concept, which became more clear after attending the meet by @GemmaTuron.

One line "Ersilia aims to provide AI models to enable scienti

[2022-04-08 05:23] Shamswaggirl commented on #170
Hello @GemmaTuron,
I have created the README file and linked the issue.
https://github.com/ersilia-os/ersilia/pull/182#issue-1196842425

[2022-04-08 05:30] miquelduranfrigola opened #183 "Reorganize documentation"
Hi @GemmaTuron,

Due to the many PR submitted by Outreachy applicants, there are README files in the repo now. Most of them end up in the `documentation` folder.

I think we need to:
* Make sure that all README files end up in the same folder
* Rename `documentation` to e.g. `outreachy_docs` or something like this.

Can you do so?

[2022-04-08 05:40] harshita214 commented on #144
Under Graphic material

- [x] Read the [Ersilia Brand Guidelines](https://medium.com/ersiliaio/ersilia-open-source-initiative-brand-guidelines-130fe53104f5)
- [x]  Read [“Why Ersilia?”](https://ersilia.gitbook.io/ersilia-wiki/)
- [x]  Create one image/slide to explain Ersilia’s mission and vision
- [x]  Link to the image/slide as a comment under this issue
- [ ]  Incorporate feedback from the ment

[2022-04-08 05:44] Deepthi562 commented on #183
@GemmaTuron, can I be assigned with this issue? Please let me know what elements I should work on. Thank you.

[2022-04-08 05:45] harshita214 commented on #183
@miquelduranfrigola @GemmaTuron
I can work on this issue, Can I be assigned this

[2022-04-08 05:58] Deepthi562 commented on #145
@Femme-js, can I be assigned with this? I would like to contribute.

[2022-04-08 06:00] miquelduranfrigola commented on #183
Hi @Deepthi562 @harshita214 I think it is better if @GemmaTuron takes care of this. Thanks!

[2022-04-08 06:08] miquelduranfrigola commented on #6
Hi @Riyabelle25 and @prtk2001 I am very delayed with this - my apologies. Please give me some time, I am aware I am the bottleneck. I hope you are still in.

@Riyabelle25, my approach will be to add checkpoints in the fetching process (simple JSON files stored on disk). I have used workflow managers in the past, but in this case I want to keep it simple (Ersilia already has too many dependencies).

[2022-04-08 06:16] miquelduranfrigola commented on #8
Hi @Riyabelle25 and @Amna-28 - I am slowly catching up.

You will see that I have a `ModelFullDeleter` class in: https://github.com/ersilia-os/ersilia/blob/master/ersilia/hub/delete/delete.py This is the class that is called by the CLI command as well: `ersilia delete ...`

This is the right way to delete a model (@Riyabelle25 it will delete the local copy of the github repo indeed, among other th

[2022-04-08 06:20] miquelduranfrigola commented on #177
Hi @sayantani11 this is a fantastic idea.

Do you think you could come up with minimum example of the workflow/test? Doesn't have to be perfect or too complex. Just for us to get an idea of what you have in mind.

[2022-04-08 06:32] miquelduranfrigola commented on #10
Thanks all for the feedback. All is well noted.

@JHlozek thanks for these excellent points.

Gathering your points, we are consulting now with AWS and we are awaiting their feedback. Will keep you updated. I anticipate this will be a "slow" thread.

[2022-04-08 06:38] miquelduranfrigola commented on #95
Hi @Amna-28 this is great.

I like the `ersilia catalog --size` option. Let's go for it.

At the moment, we have an airtable base, so perhaps it is not urgent to display yet another website https://airtable.com/shrUcrUnd7jB9ChZV/tblZGe2a2XeBxrEHP

[2022-04-08 06:41] Deepthi562 opened #184 "Outreachy Documentation Project: Deepthi"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-08 06:44] miquelduranfrigola commented on #9
Hi @anamika-yadav99 I am closing the issue now. All is well noted and some folk volunteers who are writing Github Actions with us will use your contribution. So I greatly appreciate it.

Will reopen in case any problems emerge!

[2022-04-08 06:44] #9 closed

[2022-04-08 07:17] Shamswaggirl commented on #170
Hello @GemmaTuron,
I have checked the HUB and created a technical card, please do refer to the card:

https://www.canva.com/design/DAE9RWG-bFI/gVeuxkJVrBTOzKS7_MEUHA/view?utm_content=DAE9RWG-bFI&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink

[2022-04-08 07:35] Riyabelle25 commented on #6
@miquelduranfrigola apologies for sounding noob-ish 🙈, your approach is to add pythonic checkpoints during cmd `ersilia fetch` correct? This ultimately translates to adding checkpoints during `git fetch` itself, as that's how we're fetching the model from its repository?

[2022-04-08 07:36] miquelduranfrigola commented on #172
Assigning this to @Sukriti-sood for now

[2022-04-08 08:02] Dapper50 commented on #170
Hello @Shamswaggirl great slide on the mission and vision, However i feel like it was straight to the point without much explanation. You can try adding Ersilia's logo and elaborating more on the vision and mission and what they do.

[2022-04-08 08:05] Dapper50 commented on #122
Community:
I commented on an issue from @Shamswaggirl and gave a feedback on the image slide created for the graphic material section.

[2022-04-08 08:07] miquelduranfrigola commented on #88
I am closing this issue and I suggest that we all move to the fantastic issue #177 opened by @sayantani11.

[2022-04-08 08:07] #88 closed

[2022-04-08 08:24] Dapper50 commented on #151
Hi @AnshuKumari197 Good job, please note that the community section is required for you to make a final application,
I can see that you have checked the final application box. Kindly make an edit to the community section.

[2022-04-08 08:46] TaiwoOluwaseyi opened #185 "Outreachy Documentation Project: <Taiwo Oluwaseyi Mabel>"
Applicant: <@TaiwoOluwaseyi>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are

[2022-04-08 09:02] ifeoluwafavour commented on #97
Oh I thought I was to give access to the mentor only.

I'll change it to be publicly accessible now.

[2022-04-08 09:10] EugeniaDedeTeye opened #186 "Outreachy Documentation Project: <Eugenia Dede Teye>"
Applicant: <EugeniaDedeTeye>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are

[2022-04-08 09:40] tracycod3r commented on #124
I have created a 1 page blog post for the Ersilia's Strategic Plan 2021-2023
https://docs.google.com/document/d/1YKJzEQTP3TGlECOBcII-pY6eRfmpqWcJgkK2Sg3pYag/edit?usp=sharing

[2022-04-08 09:40] tracycod3r commented on #124
I have written a 1 page blog post about Artificial Intelligence and Machine Learning for drug discovery of neglected diseases in low and middle income countries.
https://docs.google.com/document/d/1eY6qhC3aBQVvqeTBzd8LBcrb17XseB_zaXEOZ1S4trc/edit?usp=sharing

[2022-04-08 10:23] victorabba commented on #106
Graphic material

1 An image slide to explain Ersilia's mission and vision.
https://docs.google.com/presentation/d/1zKa6SBnGXrmIa-vwR87I8HGK00DAZ2IO/edit?usp=drivesdk&ouid=108466039633231002874&rtpof=true&sd=true

[2022-04-08 10:23] Dapper50 commented on #122
@GemmaTuron thank you so much on the feedback on the slide, i have made changes as advised please assist review.

[2022-04-08 10:27] julietugo commented on #150
Hello @GemmaTuron, here is the link to the blog post about Ersilia's Strategic Plan 2021 -2023 https://docs.google.com/document/d/19PIg4nPzECiMuQEWHo8R3xB57mBn19c55huVI4f6kNk/edit?usp=sharing

[2022-04-08 10:36] dchidindu5 commented on #97
That's why It's an open-source project
Every thing should be transparent

On Fri, Apr 8, 2022, 10:02 AM Ife ***@***.***> wrote:

[2022-04-08 10:52] adeolaadedeji commented on #103
Hi @loweyvana ,i was going through your blogpost  and i noticed that the `EOSI` link in the measurements of success and expectation column was not linked to a website.

[2022-04-08 11:01] miquelduranfrigola commented on #12
Hi @sayantani11 I think that `tabulate` is quite simple and, perhaps, an option that displays in the terminal with a multi-page view would be better. Do you think this is easy to achieve? As the catalog grows, it will be not feasible to display everything in the command line. Suggestions welcome!

As mentioned in issue #126 I would rather discard the website option at the moment since the AirTable

[2022-04-08 11:27] adeolaadedeji commented on #106
Hi @victorabba i was going through your image and i noticed that the content was overlapping the slides. Kindly re-check.

[2022-04-08 11:31] ifeoluwafavour commented on #97
It's publicly accessible now @dchidindu5

[2022-04-08 11:32] adeolaadedeji commented on #123
I checked out @victorabba's and @loweyvana's project and commented on their issues.

[2022-04-08 11:47] Riyabelle25 commented on #6
<img width="1025" alt="Screenshot 2022-04-08 at 5 06 01 PM" src="https://user-images.githubusercontent.com/55790848/162428558-eb311a60-652a-444a-b762-7a2bb57d61e6.png">
Aight, so this is how I'm calculating the time taken for each step (defined in `fetch.py`) and showing the same in the CLI.

Opening a PR for the same now, @miquelduranfrigola do take a look 😄

[2022-04-08 11:55] victorabba commented on #106
@adeolaadedeji what app are you using to view it? I'm using a Wps app and it's perfectly fine.

[2022-04-08 11:56] Shamswaggirl commented on #170
Thanks, @Dapper50
I'll update it.

[2022-04-08 12:20] victorabba commented on #106
It's not a doc file. It's a ppt file. It's uploaded to Google drive but
opens with wps or any app that has PowerPoint.

On Fri, Apr 8, 2022, 13:02 adeolaadedeji ***@***.***> wrote:

[2022-04-08 12:37] ifeoluwafavour commented on #97
**Twitter Template for The Release of New Models**

Introducing <model_name>,
A model that predicts activity in molecules with 70% accuracy. (Brief information about the model)

Learn more: <blog post about the model>
*picture/video of the model being used
1/3
-------------------------------------------------------
The code is of course open sourced: <link to its source code>

Source paper: online

[2022-04-08 12:38] Pmaidoo commented on #162
Hello @GemmaTuron Kindly find attached a link to my blog post and let me know the changes needed to be made,
https://docs.google.com/document/d/1MZHRs7lL-iPGB1DZM-oKjMJInPSkkgnQRehyMAK0VD8/edit#

[2022-04-08 12:45] Abhijay007 commented on #101
Contributions:

* The project was missing a contribution guildelines as of which made an issue to track that:
   [Create a contributing guidelines for the project #21](https://github.com/ersilia-os/ersilia/issues/21)
 * Starting with open source can always be over whelming as of which made an issue and PR to add a readme that will be helpful for the new contributors:
   [guidelines for new contrib

[2022-04-08 13:45] Pmaidoo commented on #162
hi @GemmaTuron and @miquelduranfrigola here is my technical card on one model from the hub

Malaria inhibitor prediction TECHNICAL CARD
USE : The malaria inhibitor prediction (MAIP) platform is the result of a public-private collaboration whose aim is to develop a consensus model for predicting blood stage malaria inhibition. Five Pharma and not-for-profit partners trained a model (using code deve

[2022-04-08 13:51] Pmaidoo commented on #162
@GemmaTuron  and @miquelduranfrigola here are 3 new models that would be relevant to incorporate in the Hub.
-DeepChem: a machine learning model that uses a python-based AI system to find a suitable candidate in drug discovery.

-Support Vector Machines.

-DeepTox: ML algorithm that predicts the toxicity of numerous molecules.

[2022-04-08 14:12] ifeoluwafavour commented on #103
Wow @loweyvana you are doing a great work!
Well done 💪

[2022-04-08 14:14] ifeoluwafavour commented on #106
Well done Victor!

[2022-04-08 14:38] Pmaidoo commented on #162
hi @GemmaTuron kindly find attached a link to my blog post on  own topic related to Ersilia (AI/ML for biomedical research)

https://docs.google.com/document/d/1h4cf8-cbsbTd1oojPc4UGsiko0IJpVZwHVRleleay4A/edit

[2022-04-08 14:50] victorabba commented on #106
Thanks @Ife

[2022-04-08 14:53] marliyya opened #196 "Outreachy Documentation Project: @marliyya"
Applicant:  @marliyya

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQUIRE

[2022-04-08 14:54] victorabba commented on #155
Hi @AIgbine. Your Blogpost is superb, but you need to add a title to the blog.

[2022-04-08 14:56] marliyya commented on #196
I am interested in this issue

[2022-04-08 14:59] victorabba commented on #97
Hello @ifeoluwafavour that's a nice write-up, but don't you think you can make it more catchy  by adding a suitable title?

[2022-04-08 15:34] GemmaTuron commented on #44
Hi @sayantani11
Please can you tackle this work that was assigned to you? So we can close this issue!

Many thanks

[2022-04-08 15:35] GemmaTuron commented on #90
Hello @suryaremanan
Please provide some more information on what are you suggesting as a task, otherwise we will close this issue due to inactivity

[2022-04-08 15:38] GemmaTuron commented on #92
Hi @anamika-yadav99
You have done some good work on the CLI! Can you link the relevant issues / PR's that you have contributed to? This way we can better follow your work!
Thanks

[2022-04-08 15:38] GemmaTuron commented on #93
Hi
I am closing this issue since each applicant will continue his/her work on the relevant follow up issues.

[2022-04-08 15:38] #93 closed

[2022-04-08 15:40] GemmaTuron commented on #96
Hi @camus60,

Are you still interested in contributing to Ersilia? Please if you are proceed with recording your contribution in the Outreachy page and linking this issue as a first initial contribution, and then proceed to work on some of the tasks detailed above.

[2022-04-08 15:45] AIgbine commented on #155
Hey @victorabba,

I put the title as the document name initially but I have now put it at the top of the post
Thank you for taking time out to read it!

[2022-04-08 15:51] GemmaTuron commented on #97
Hi @ifeoluwafavour,

Thanks for making the blogpost public. You can choose to make it readable only to the mentor, but of course we encourage to publicly share the information. I have added a few comments in it, specially I think you should focus in summarizing the lists into one or two sentences. You do not need to have all the information, is is a summary, but it makes it nicer for readers if bl

[2022-04-08 15:56] GemmaTuron commented on #97
Thanks for starting off in this task! Good first ideas, as a general suggestion, think that people scrolls through twitter and only half reads things, so it has to be very catchy. let's try to use a very catchy title, Introducing XXX model might not catch the attention of people scrolling through twitter. Something more like "We have a new model...."

I would not mention accuracy or other numbers

[2022-04-08 15:59] anamika-yadav99 commented on #92
@GemmaTuron I'll have completed most of these tasks. Can I do it after a couple of days? I have my exams going on currently.

[2022-04-08 16:02] GemmaTuron commented on #98
Hi @dchidindu5

Thanks for going through the work of other applicants. Please make sure to mention to the creator of the file what did you find and why you corrected it, always abiding by our code of conduct!

As for the slides, I like how you elaborated on the mission and vision. Can I ask you to choose a background that follows Ersilia's color palette? Just some comments for your consideration o

[2022-04-08 16:03] GemmaTuron commented on #100
Hi @busiratazeez

If you have done some work on the project, can you check the tasks and link the relevant documents here so we can provide feedback?

thanks!

[2022-04-08 16:03] ifeoluwafavour commented on #97
Yes I've seen your comments and I like them too 😄 I will make the changes as soon as possible. I will also go ahead to add the title and make the blogpost more engaging.