[2022-04-08 16:04] GemmaTuron commented on #102
thanks @Nawarrr this looks cool with the molecule drawn!

[2022-04-08 16:05] ifeoluwafavour commented on #97
Alright! Noted.
I'll make everything more catchy and make the other changes.
Thank you for your feedback.

[2022-04-08 16:11] GemmaTuron commented on #103
Hi @loweyvana

Amazing work. I will try to answer and provide feedback one by one:

- Strategic Plan blogpost: I like the table summary, it's perhaps not the best format for a blogpost (where people want to read text) but is a good way of summarizing. Just make sure you don't use an acronym if it has not been referenced before. Ie. Ersilia Open Source Initiative (EOSI) is ... then you can simply u

[2022-04-08 16:14] GemmaTuron commented on #103
For this models, DeepChem and DeepTox are indeed in our list of next to incorporate, so good job in finding them! SVM and RF are techniques that can be used to create the models, not a model per se (you need to give data to a Random Forest and use this technique to train the actual model).
Can I suggest as a follow up task to write the cards for these two models you have identified so that when we

[2022-04-08 16:16] GemmaTuron commented on #103
Good work @loweyvana ! See my suggestion to do the same with the models you identified in the literature. If there are some technical details in the papers you do not understand ping us here or in Slack for clarification!

[2022-04-08 16:16] AnshuKumari197 commented on #151
Hi, @GemmaTuron i have updated my readme file under #190 according to you suggestions please check it once and give feedback

[2022-04-08 16:30] sayantani11 commented on #177
If you see the writing style guideline I added there's a particular styling that supposed to be followed while making a PR related to the docs. This workflows/test will run on this PRs to make sure that the requirements are being satisfied. Verifying these manually will be cumbersome this will helpful. I'll try to make a PR for it asap!

[2022-04-08 16:30] GemmaTuron commented on #106
Hi @victorabba,

I am revising all your work, thanks for the effort you are putting into this.

- Strategic plan: I really like that you use the KPI term, well thought. Some minor changes: I would try to rephrase the " we tend to" for something more clear, we accomplish, we aim to... and I know its boring but try to find a different sentence each time rather than repeating the same. Many times wri

[2022-04-08 16:35] busiratazeez commented on #100
Hello @GemmaTuron
Yes I have done some work on the project. Kindly give me a little time to link the documents. Thank you.

[2022-04-08 16:36] GemmaTuron commented on #119
Hi @adeola-dev ,

thanks, two comments only!
- Revise the LICENSE file associated to this repo, the original readme file is not right
- Thanks for giving credit to us but this is a community project no need to add our pictures there  :)

[2022-04-08 16:38] GemmaTuron commented on #122
Hi @Dapper50
Thanks for the changes well done! Please continue working in the next task of your interest

[2022-04-08 17:05] harshita214 opened #198 "Modifying Contributing.md"
**What is your feature request?**

While working on Readme, I saw many readme files and came across the point that a Contributing.md is also very important which is a separate detailed readme file.

I want to enhance the already present [contributing](https://github.com/ersilia-os/ersilia/blob/master/CONTRIBUTION.md).md by including the points mentioned below

- [x] How to start (How to Contribute

[2022-04-08 17:28] victorabba commented on #106
Thanks @Gemma, I will make the changes.

On Fri, Apr 8, 2022, 17:30 gemmaturon ***@***.***> wrote:

[2022-04-08 17:44] harshita214 commented on #144
**Twitter Template for The Release of New Models**

<hr>

Did you know our "Model name" is out which can predict in just a single click?! Join the main contributor
and another main contributor on (Any date) for a Talk and Q/A session to know more about it 🤩

This is another step of Ersilia in helping researchers and towards our aim 💯

1/3

<hr>

This model is one of the best releases till now due

[2022-04-08 17:47] adeola-dev commented on #119
Hello @GemmaTuron, I fixed this at #200. Thanks..

[2022-04-08 19:10] loweyvana commented on #103
Hi @adeolaadedeji . Thank you so much for pointing that out. Let me rectify that.

[2022-04-08 19:12] loweyvana commented on #103
Hi @ifeoluwafavour. Thank you so much. You are equally doing a great job.

[2022-04-08 19:21] busiratazeez commented on #100
**Contributions so far:**

1. #58
2. #65

[2022-04-08 19:27] dchidindu5 commented on #98
@GemmaTuron Thanks for bringing that to my notice. I'll stick to the plan

[2022-04-08 19:39] loweyvana commented on #103
Hi @GemmaTuron. Thank you so much for the feedback. I have rectified the acronym issue.
For the graphic ; I used the organs to represent the possible targets of these bacteria/viruses. However, I agree with you since this might not be understood. I would change that and send the new slide. Thank you @GemmaTuron

[2022-04-08 19:46] loweyvana commented on #103
Oh wow!!! Thanks for the clarification on the difference between a model and an AI technique. I must admit at one point in time I got mixed up when researching.
For the follow-up tasks you can count it done. I would just want to find out which format you'd like me to use.

[2022-04-08 19:49] loweyvana commented on #103
Thank you @GemmaTuron. Was a pleasure doing this.  Please just clarify me, is this the right format to use?  I'd definitely ping you when I'm challenged.

[2022-04-08 19:51] dchidindu5 commented on #106
Hey @victorabba I actually a little correction on a document you created victor_windows.md #181
a typo where **they** was used instead of **the**.

[2022-04-08 20:01] loweyvana commented on #103
link to the corrected blogpost on Ersilia's strategic plan.
https://docs.google.com/document/d/1-9fjOPDfYV_OqfD4Zt9ub4s5ddIOAwksswfOoXUCBmI/edit?usp=sharing

[2022-04-08 20:19] AditiiTripathii commented on #147
Hello, @GemmaTuron
I have created a #pr201 for the creation of a readme file. Please review it and provide input so that I can improve it and make it perfect.
Link - https://github.com/ersilia-os/ersilia/pull/201
Thank you!

[2022-04-08 20:30] loweyvana commented on #97
Hi @ifeoluwafavour . Thanks for making your work readable. Great job!

[2022-04-08 20:49] loweyvana commented on #103
Template for Twitter.

 MAIN POST
Yaaaayy! We have a new model in the hub!!!
In our latest Twitter post, we are sharing with you all you need to know.

THREAD
-Name of model/ Date of incorporation into the hub. (1/3) eg Our new model DeepChem was added on 05/04/2021.
-Brief description of how it works. (2/3)   eg    This model works by....
-Name of contributors who worked on the project  and more

[2022-04-08 20:50] busiratazeez commented on #100
**Why I am Intrested in Ersilia project**
As a Biomedical Engineering student, I got excited when I read through the Ersilia project description. The thought of providing a pre-trained Artificial Intelligence models in daily experimental tasks attracted me towards this project.
While I was doing my thesis reasearch, I was limited to resources. This is the situation most student face during researc

[2022-04-08 20:57] GemmaTuron commented on #123
Hi @adeolaadedeji

The content looks good, perhaps you could give a bit of formatting so that it is not only text copied. If you prefer to work on something not related to graphic design choose one of the other tasks to continue

[2022-04-08 20:59] GemmaTuron commented on #124
Hi @tracycod3r , the beggining is good but perhaps you could add one line explanation of each goal, otherwise the content is not too relevant. The explanation of goals is more important than naming the values for example

[2022-04-08 21:07] GemmaTuron commented on #124
Hi @tracycod3r thanks
I have made comments in the text for your consideration

[2022-04-08 21:07] loweyvana commented on #97
Hi @ifeoluwafavour, I saw you ticked the community task. Please could you help me with some clarifications? When they say we should look at other projects, do they mean other Erisilia's projects on outreachy ? or other ersilia's projects in general on their webpage?

[2022-04-08 21:12] GemmaTuron commented on #144
Hi @harshita214

I have merged your readme. You made a lot of work on the installation and instructions, and have a direct way of introducing the project which I think is nice. For a README though, it is a bit too long. I think the information and images from the website do not need to be on the README which should focus on the Hub only. Can you modify it?

[2022-04-08 21:14] GemmaTuron commented on #144
I like the style, but some re-wording of the first sentence would be good!
Did you know our "Model name" is out which can predict in just a single click?! - predict what?

[2022-04-08 21:17] GemmaTuron commented on #147
Hi @AditiiTripathii

I have merged your file! It looks good but I am missing an important part, the license.

[2022-04-08 21:19] GemmaTuron commented on #150
Hi @julietugo

I like how you have summarized our goals and vision, thanks for the work! Please go ahead with your next contributions!

[2022-04-08 21:21] GemmaTuron commented on #151
Hi @AnshuKumari197 !

Thanks for the changes I merged them! go ahead with your next steps!

[2022-04-08 21:25] GemmaTuron commented on #155
Hi @Algbine!

Good job on this post! I left some comments for your consideration, check them before going onto other tasks but continue this good work, thanks!

[2022-04-08 21:29] lylynaheng opened #202 "Outreachy Documentation Project: <Lylyna Heng>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-08 21:31] GemmaTuron commented on #160
Hi @Med16-11,

I have merged the readme, I siggest removing the image as it is too detailed, and also is the readme for the whole project so no need for the last section, thanks though
Also please check the licenses it is essential to note which license we use

[2022-04-08 21:33] GemmaTuron commented on #162
I @Pmaidoo I can't open it!

[2022-04-08 21:33] GemmaTuron commented on #162
Hi @Pmaidoo
These have already been suggested, can you dig a little more to find some other models? thanks

[2022-04-08 21:34] GemmaTuron commented on #162
Hi @Pmaidoo
I think all information is there but it is a bit too long, and people wont read through it all.
Can you make it shorter and perhaps with a few more sections with only one or two lines under it?

[2022-04-08 21:40] GemmaTuron commented on #198
Hi @harshita214

This is already being tackled by @victorabba and @sayantani11
Can you check other tasks to work on? thanks

[2022-04-08 21:41] ifeoluwafavour commented on #97
It means you have to check other contributors' projects. Just as you've commented on mine

[2022-04-08 22:02] lylynaheng commented on #202
I think this is a great project to be a part of because healthcare is a global issue and complex. However, health problem seems to be ahead of us or even out of control like COVID-19. How can we have a better health system? Why can't we have a global health system? What can we do about it?

Well, I don't have any answers to the questions above. First, I don't have the technical skills in the field

[2022-04-08 22:06] Pmaidoo commented on #162
@GemmaTuron i have made it visible now. kindly check them and let me know
https://docs.google.com/document/d/1MZHRs7lL-iPGB1DZM-oKjMJInPSkkgnQRehyMAK0VD8/edit?usp=sharing

https://docs.google.com/document/d/1h4cf8-cbsbTd1oojPc4UGsiko0IJpVZwHVRleleay4A/edit?usp=sharing

[2022-04-08 22:09] loweyvana commented on #97
Oh ok! Great !!!
I was thinking far😅.

Thank youuuu. Let me catch some sleep now.

[2022-04-08 22:13] Pmaidoo commented on #162
hi @GemmaTuron  here is my technical card on one model from the hub after making all the correction you made mention of. its shorter now.

Malaria inhibitor prediction TECHNICAL CARD
USE : The malaria inhibitor prediction (MAIP) platform is the result of a public-private collaboration whose aim is to develop a consensus model for predicting blood stage malaria inhibition. Five Pharma and not-for-p

[2022-04-08 22:13] tracycod3r commented on #124
Thanks @GemmaTuron for the feedback. I will make the changes as soon as possible.

[2022-04-08 22:17] Pmaidoo commented on #162
hi @GemmaTuron here is my final technical card on one model from the hub after making the corrections you made mention of , its shorter and concise now. Awaiting your critiques if any.

Malaria inhibitor prediction TECHNICAL CARD
USE : The malaria inhibitor prediction (MAIP) platform is the result of a public-private collaboration whose aim is to develop a consensus model for predicting blood stag

[2022-04-08 22:17] tracycod3r commented on #124
I have created a short newsletter to be sent out every month to the community.
https://docs.google.com/document/d/1O06cgPllaxfTjXHK136V-yYOASpH0qR_LCsDonck1L4/edit?usp=sharing

[2022-04-08 22:35] Pmaidoo commented on #162
@GemmaTuron

Template for Twitter.

MAIN POST
Hey there! We have a new model in the hub!
we are sharing with you all you need to know since we are in this together! 1/3

THREAD
-Name of model/ Date of incorporation into the hub and brief description of how it works. (2/3)
-How the model works and more info on how to go about it( 3/3).

[2022-04-08 22:59] Pmaidoo commented on #162
@GemmaTuron here is my  template short Newsletter

Yaay!
Excited to have you here
We’ve got some interesting news for you. We have introduced__ (number of models) models into the Ersilia model hub. They are___ (Give the names of the models). For previous months we raised a fund of about ___(amount of funds) and we presently have __ (number)  users. Currently have about___ (number ) of volunteers w

[2022-04-09 00:20] tracycod3r commented on #124
I have made the changes @GemmaTuron . Kindly review

[2022-04-09 02:52] harshita214 commented on #144
Sure yes, I am getting your point, I will do the modifications. Thank you so much for your feedback.
For the installation part can we make a new readme with pictures since I believe Installations are essential and are actually the first step so it will help contributors a lot. On the website, pictures are not there.

[2022-04-09 03:26] harshita214 commented on #198
Oh okay okay sure!
Also, I saw the issue that @sayantani11 and @victorabba are doing, they have added new contributions.md for contributors, which Now is going to be merged with contributions.md. They have done a great job by adding some sections but still, some sections are left from the above-mentioned list. Can I work Collaboratory with @sayantani11 and @victorabba? If it is alright @GemmaTuron

[2022-04-09 03:36] harshita214 commented on #144
Thanks for the compliment 😄
Okay I will make the changes and modify it

[2022-04-09 03:45] harshita214 commented on #44
Hello @sayantani11
I am also interested to work on this issue collaboratively with you and add more sections which are not yet been added to the contribution.md

@GemmaTuron  Can I do that and work on issue

[2022-04-09 04:30] harshita214 commented on #170
Hello @Shamswaggirl
The content is good and is to the point but the background picture is a blur and while reading the colors are aligned with the picture, if possible change the background picture and add the logo of elisia.

[2022-04-09 04:39] suryaremanan commented on #90
Hello, @miquelduranfrigola and @GemmaTuron I want to work on improving the existing models.

[2022-04-09 04:52] AnshuKumari197 commented on #151
Hi @GemmaTuron ,
there was an issue left in my readme file I edited it . Issue - The links present in table of content is opening the editing file instead of the real readme file.
Please merge it once again and sorry for you inconvenience.

[2022-04-09 04:55] harshita214 commented on #144
https://bitmesra-my.sharepoint.com/:p:/g/personal/btech25053_20_bitmesra_ac_in/EVGAfhC6ElBJga-59f_KIoIB-If6bTfCIF5c-kP8Y4G8ng?e=XbF3MO

[2022-04-09 05:09] AnshuKumari197 commented on #151
Hii @GemmaTuron ,
I have created a slide based on Ersilia Model Hub mission and vision.
![1](https://user-images.githubusercontent.com/84778340/162557233-e5a1f11a-2fa6-4290-9137-2efef4ade05e.jpg)

![2](https://user-images.githubusercontent.com/84778340/162557290-5ff99654-16d8-482f-abc0-dffe31b0c404.jpg)
![3](https://user-images.githubusercontent.com/84778340/162557298-a1207779-33a1-46bc-a7b3-36469

[2022-04-09 05:24] Med16-11 commented on #160
Should I make another PR of the suggested changes?

[2022-04-09 07:31] julietugo commented on #150
Thanks for the feedback @GemmaTuron. I am working on other contributions.

[2022-04-09 07:39] victorabba commented on #106
Thanks @dchidindu5

[2022-04-09 07:40] victorabba commented on #106
Hello @GemmaTuron , I have implemented all the changes.

[2022-04-09 07:50] AIgbine commented on #155
Hey @GemmaTuron

I've implemented the corrections. Thank you for taking time to read through the document
https://docs.google.com/document/d/1lM3w3Ojdmj3edkneJi4XjjPzfNrk9pjJtNl1aUndC20/edit

[2022-04-09 08:09] pauline-banye opened #204 "Outreachy Documentation Project: <pauline-banye>"
Applicant: <pauline-banye, Pauline B>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sect

[2022-04-09 09:09] tracycod3r commented on #124
Thank you @GemmaTuron for the comments. Making the changes as soon as possible

[2022-04-09 09:17] pauline-banye commented on #204
Why am passionate about the Ersilia documentation project.

I grew up in a country where access to quality diagnostic medical care is either non existent or too expensive to incorporate and I have witnessed incidents where improper diagnosis have led to complications and in one case, death.

Prior to this internship, I had no idea about the Ersilia hub or what they were trying to accomplish but as

[2022-04-09 09:20] pauline-banye commented on #204
link to PR

[Write a more standard README file #11 by Pauline Banye](https://github.com/ersilia-os/ersilia/pull/75)

[2022-04-09 09:21] Exquisitedesigner opened #205 "Outreachy Documentation Project: <Oluwatosin Ayelabola>"
Applicant: <Exquisitedesigner>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections ar

[2022-04-09 09:27] Kcfreshly opened #206 "Error when trying to fetch a model with Ubuntu"
**Describe the bug**
I have successfully installed ersilia on my windows but the models doesn't seem to work.
When I run a model it always brings error messages such as:
_pygit2.GitError: invalid argument: 'password'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ubuntu '
2.  after setting up ersilia
3. type: ersilia fetch blood-brain-barrier
4. See error: _pygit2.GitError: invalid a

[2022-04-09 09:28] Kcfreshly commented on #206
@miquelduranfrigola and contributors, your feedback will be so appreciated

[2022-04-09 09:38] Exquisitedesigner commented on #205
As an Outreachy applicant and Digital Skills Advocate, also new to Free and Open Source Source (FOSS), I have a background in Accounting and during the early days of the COVID-9 pandemic, I suddenly began to discover the role of technology in healthcare, and how that technology is an enabler in driving healthcare delivery.

I also found out about Open source and its huge impact on individuals and

[2022-04-09 09:38] wintermornings00 opened #207 "Outreachy Documentation Project: <Yusra Nasir>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-09 09:40] tracycod3r commented on #124
I have made the changes @GemmaTuron

[2022-04-09 10:02] wintermornings00 commented on #207
I am interested in Ersillia because i think its a great initiative to help low income countries for research against infectious diseases. Moreover, the potential of AI/ML based tools is immense and a lot of research is required. I want to help out as much as I can to this noble initiative.

[2022-04-09 10:55] Riyabelle25 commented on #159
###  Link in the comments any other PR you have contributed to:
1. Currently working on #6 with PR: #188
2. Also working on #87 with Amna 🙌: Implementing `modelFullDeleter` to delete the unused models

[2022-04-09 11:03] Riyabelle25 commented on #159
### Add a comment in this issue with your new idea, tagging the mentor:

Seeing contributions #188, #87, #7 all of which result in getting model metadata before/during  `ersilia fetch <model_id>`
My idea is to have an all-purpose `metadata.json` in the root, that stores information such as the `size``, last_used_time` as well as `progress` checkpoints of all of Ersilia's models.
https://github.com

[2022-04-09 11:28] ElizabethMawutin commented on #114
Hello @GemmaTuron ,
Please find the attached files for my blog post.
1. My blog post for [Ersilia Strategic Plan 2021 - 2023](https://docs.google.com/document/d/1zfbquAkS045sXuoaTtllGv_amf22RUDrCUu3o3bTyQo/edit)
2. My blog post on [Neglected diseases](https://docs.google.com/document/d/1xnY9lFKVq-mTTPH0j8v23ig5XH09pZ7AupCk1CM7aPE/edit?usp=sharing)

Thank you.

[2022-04-09 11:30] dchidindu5 commented on #98
@GemmaTuron I've done the correction you asked me to do
### Things I Implemented in the slide
- I changed the border colours to that of Ersilia's brand guideline by using the following colour palette - #bee6b4, #d2d2d0, #50285a, #aa96fa
- Then I replaced the words **"acceptable and reliable research atomosphere"** to **world-class research atmosphere**
- I also changed the term **"unending solutio

[2022-04-09 11:40] dchidindu5 commented on #98
### **Initial Contributions**

- I created a README document for new users that specified guidelines to consider before choosing mini or anaconda for Ersilia model.  [Guidelines to consider before choosing mini or anaconda distribution](https://github.com/ersilia-os/ersilia/blob/master/documentation/Miniconda_OR_Anaconda_DennisOnyeka.md)  and it was merged on the 7th of April  #154

- I also made

[2022-04-09 12:41] Kcfreshly commented on #97
@ifeoluwafavour great work.

[2022-04-09 13:24] ifeoluwafavour commented on #97
😂😂 okay.

[2022-04-09 13:24] ifeoluwafavour commented on #97
Thank you 😁

[2022-04-09 13:48] busiratazeez commented on #100
**Slide [Link](https://docs.google.com/presentation/d/1pQhlBWDxDw68CFfXGvYVazQQOeDjp4Z9NsjL8lu-uwM/edit?usp=sharing) explaining Ersilia’s mission and vision**

@GemmaTuron kindly review

[2022-04-09 14:58] harshita214 commented on #144
![image](https://user-images.githubusercontent.com/79797000/162579348-e3d611f2-6f33-4486-af08-d5f38741a599.png)

Made this while thinking about Ersilia. All types of feedback are appreciated :)

Ps: It's not any task-related, I can delete it as well if it's violating any rule.

[2022-04-09 15:57] Med16-11 commented on #160
Hey! @GemmaTuron, I have also installed the Ersilia Model Hub in my system.

![image](https://user-images.githubusercontent.com/78318301/162581595-8e3a0807-073e-4d84-8ba1-fadd85de1785.png)

[2022-04-09 16:31] dauinh commented on #206
Hi, [the installation guide for Ersilia](https://ersilia.gitbook.io/ersilia-book/quick-start/installation)  says that for Ubuntu, you should install GitHub CLI and use it to log in as well.  Would it help?

[2022-04-09 17:03] Pmaidoo commented on #162
@GemmaTuron please find attached the link to my google doc with the ersilia image showing its vission and mission

https://docs.google.com/document/d/1kgbWjhx0WFef2Lh2lJXV16IRd1SQcn64n3fkM1obglM/edit?usp=sharing

[2022-04-09 17:07] ifeoluwafavour commented on #97
Hi @GemmaTuron, I have edited the Twitter post template

[2022-04-09 17:19] harshita214 commented on #144
For Newsletter, Kindly view this doc file @GemmaTuron

https://docs.google.com/document/d/1PP-qEORGE4PVUoNxgc4P4wFxYK9KMVv00DqBezvwShg/edit?usp=sharing

[2022-04-09 17:30] ifeoluwafavour commented on #97
@GemmaTuron I also incorporated the corrections you made in the blog post

[2022-04-09 19:16] Riyabelle25 commented on #159
### Add a screenshot showing that you are able to run predictions using ersilia as a Python library

<img width="723" alt="Screenshot 2022-04-10 at 12 44 54 AM" src="https://user-images.githubusercontent.com/55790848/162588524-f5001314-9316-4293-b363-002ba1000b7e.png">

[2022-04-09 19:19] ps-19 opened #208 "Outreachy Code Project: Priyansh Singh"
Applicant: @ps-19

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Python

[2022-04-09 19:28] ElizabethMawutin commented on #114
Hello @GemmaTuron . Here is a screenshot of the Model running on my pc.

![ubu 2](https://user-images.githubusercontent.com/102416858/162588909-578f05a5-d2dc-4288-9b8f-1e25b6215eb6.PNG)
![ubu 3](https://user-images.githubusercontent.com/102416858/162588907-012c16f3-87dc-44c7-8595-612dc4bc8628.PNG)
Thank you.

[2022-04-09 19:58] miquelduranfrigola commented on #206
Yes, this seems to be a GitHub issue. Please try to install it @Kcfreshly and let us know!

[2022-04-09 20:11] GemmaTuron commented on #204
Hi @pauline-banye

Nice work thanks! Some minor comments only for your consideration:
- the installation requirements could have a link (for example, to git-lfs page)
- When you are inside a code block, we conventionally use # to indicate a comment, for example:
`# to create a conda environment
$ conda create -n ersilia python=3.7`
The  $ can be used to indicate the CLI command, but is not require

[2022-04-09 20:17] GemmaTuron commented on #170
Hi @Shamswaggirl,

Good job on these tasks! I have only some minor comments:
- On the mission and vision slide, the sentence "Our mission is to cope with the recent trends like AI/ML to improvise the research" sounds a bit misleading. To cope with can be associated to a more negative idea, something like Our mission is to follow... sounds a bit better? And improve instead of improvise? I am not a

[2022-04-09 20:44] ElizabethMawutin commented on #114
Hello @GemmaTuron, Here is my Twitter post template.

**New Model Alert!**
Hello **scientists,** we’ve just added a new **Model** to our Hub.
I present to you **(Model name).** Want to know what this model does?, follow the thread……
This model is designed to (brief description of the model). And that’s not all ….
This model can be used to (explain functions of the model)
Want to know more about th

[2022-04-09 20:47] Jaya3112 commented on #140
I have created a README.md file. Please give your suggestions @GemmaTuron and @miquelduranfrigola.
Here is the link:
https://github.com/ersilia-os/ersilia/pull/209#issue-1198765585

[2022-04-09 21:05] dchidindu5 commented on #98
I have created a sample blogpost document with respect to strategic Plans of Ersilia.
[Blog post for Ersilia strategic plans](https://docs.google.com/document/d/1nR9J-w4BQ2mxoj12aJ9nf3gGjJCatFCkXvUI_xQUoa0/edit?usp=sharing)
I'm open to corrections

[2022-04-09 23:02] julietugo commented on #150
Hello @GemmaTuron, this is the blog post on a topic focusing on AI/ML for biomedical research - https://docs.google.com/document/d/1QuGJMCME_Y_2q1MqhTnKIq3OScuY4teOEGQ6h4HUBzA/edit?usp=sharing

[2022-04-09 23:14] tracycod3r commented on #98
Hi @dchidindu5 i have noticed spelling mistakes in the slide that explains Ersilia's mission statement. I believe the words below in the parentheses would rectify the errors.

1. Ersilia aims at making this (these) tools readily available
2. The goal is to provide a world-class research atmosphere for researcher (researchers)

[2022-04-09 23:22] tracycod3r commented on #124
I have commented on @dchidindu5 project and advised the errors in the blog post for Ersilia strategic plans and the graphic material for Ersilia's mission statement that need to be rectified

[2022-04-10 00:25] Kcfreshly commented on #206
Thanks @dauinh @miquelduranfrigola the GitHub CLI fixed the issue.
Present challenge is that the models brings an empty output when ran...

[2022-04-10 01:09] dchidindu5 commented on #98
Thank you for the correction

On Sun, Apr 10, 2022, 12:14 AM Tracy Nuwagaba ***@***.***>
wrote:

[2022-04-10 06:09] itsIapetus commented on #138
![image](https://user-images.githubusercontent.com/75844962/162604850-b8eecfcf-d652-45ca-b852-698e17c0389f.png)

[2022-04-10 06:12] itsIapetus commented on #138
Ersilia catalog
![image](https://user-images.githubusercontent.com/75844962/162604998-9659262a-199e-434c-ac9d-9767190ac89e.png)

[2022-04-10 06:58] pauline-banye commented on #204
Thanks so much for the constructive feedback @GemmaTuron ☺️. I'll update and make a PR to fix it.

[2022-04-10 07:07] itsIapetus commented on #138
@miquelduranfrigola I noticed an empty folder by the name tutorial in the repository. I wanted to ask if you are planning on adding some sort of tutorials to it. I would love to work on this.

[2022-04-10 08:51] Jaya3112 commented on #97
Great work @ifeoluwafavour

[2022-04-10 09:02] itsIapetus commented on #138
Python Library
![image](https://user-images.githubusercontent.com/75844962/162610845-936208aa-3e2e-4149-a935-4bd91f801a6d.png)

[2022-04-10 09:59] Rufaida98 commented on #206
@Kcfreshly try to be sure that you are installed all the necessary packages like miniconda and git lfs and try again

[2022-04-10 10:10] julietugo commented on #207
Hi @wintermornings00, you need to tick the box for any contribution you tackle. For example, you should tick the third box under "Initial Steps" as you have written why you are interested in the project. If you have applied to the project and joined the slack channel, indicate too. It helps to keep track of your progress.

[2022-04-10 10:19] adeolaadedeji commented on #123
Hi @GemmaTuron ,thank you for the feedback. I have made adjustments, kindly review while i skim through other tasks.

[2022-04-10 10:22] Rufaida98 commented on #6
After @miquelduranfrigola and @Riyabelle25 suggestions for solving the Metadata.json file as I think your both approaches are amazing. So what do you think if we check the Metadata file by defining a test function to perform the encoding and output of the size by using the "assert" e.g (assert len(encode...)==f.tell
Sorry for talking alot but let me know your opinions because you are experienced t

[2022-04-10 10:22] julietugo commented on #196
Hi @marliyya, you need to add a reason you are interested in this project. A few more sentences are okay. Then you can tick the third box under "initial steps". Also, have you joined the slack channel? Indicate too by ticking the box, if you have. It helps to keep track of your progress.

[2022-04-10 11:44] anamika-yadav99 commented on #92
I have fetched and run chemprop-antibiotic model
![image](https://user-images.githubusercontent.com/54634163/162616415-a18c27c5-a9c2-4e75-a220-0b0a327e302a.png)

[2022-04-10 11:46] wintermornings00 commented on #207
Thank you so much @julietugo.

[2022-04-10 11:52] anamika-yadav99 commented on #92
Fetched 3 models
![image](https://user-images.githubusercontent.com/54634163/162616739-32f2fab4-f051-4f52-b281-c9333740d97e.png)

[2022-04-10 11:59] anamika-yadav99 commented on #92
I was assigned issue #13 to add model search functionality in CLI : `$ersilia catalog --text "chemprop-antibiotic" `  and  ' $ersilia catalog --mode "pretrained"` to cli.
![image](https://user-images.githubusercontent.com/54634163/162616993-8cc89eac-3144-4c74-ad3c-b9ba6f6e42f2.png)

I have completed the task and the issue was closed.
Pull Request successfully merged  : #41

[2022-04-10 12:07] anamika-yadav99 commented on #92
Discussion on issue #60 Improving the search engine in https://airtable.com/shrUcrUnd7jB9ChZV/tblZGe2a2XeBxrEHP. I had suggested to add tag word to the model card which could be used to search for model related to they tag keywords. Later these keywords could also be added to `$ersilia --help`.
https://github.com/ersilia-os/ersilia/issues/60#issuecomment-1083385391

[2022-04-10 12:13] anamika-yadav99 commented on #92
issue #9 Make ersilia conda-installable
Added conda recipe which is used to build conda package . Then uploaded a package from my end to test the package. Raised PR  for the same.
PR #89  successfully merged.

[2022-04-10 13:07] loweyvana commented on #97
Great work @ifeoluwafavour , absolutely love it.

[2022-04-10 13:22] loweyvana commented on #106
Great job @victorabba  so far. I really love your blogpost on AI in medical research. Very insightful.

[2022-04-10 13:28] ifeoluwafavour commented on #97
Thank you so much @Jaya3112 @loweyvana

[2022-04-10 17:30] adeola-dev commented on #119
Hello @GemmaTuron, here is the link to the one-page blog post on Ersilia strategic plan I created
https://docs.google.com/document/d/1Xmxyr1hEvHGsxoJa2eTt6kD-Ne8DF-S9a8sjBoGgmEo/edit?usp=sharing
Your review is highly appreciated.

[2022-04-10 17:32] Kcfreshly commented on #103
Amazing work @loweyvana  with top pace. I recommend you channel your writing in strategic planning to look more like a blog post. Top notch work so far,

[2022-04-10 17:34] Kcfreshly commented on #108
@dauinh your work flow looks very good

[2022-04-10 19:20] Shamswaggirl commented on #170
Thanks a lot @GemmaTuron ,
I would certainly do the necessary changes.

[2022-04-10 19:50] Kcfreshly commented on #105
Docstring for for the ErsiliaModel class

[code]

[2022-04-10 19:51] Kcfreshly commented on #105
![Ersilia Model](https://user-images.githubusercontent.com/95097508/162637160-9110b037-6a12-47b0-a456-4045e8427381.png)

Screenshot of Ersilia model successfully running on Ubuntu

[2022-04-10 19:57] Kcfreshly commented on #105
This is the link to my first Blog
[Blog1](https://docs.google.com/document/d/1BuBobAoeAmYVawoE2nscCMxgNj2Hzgjc/edit?usp=sharing&ouid=109852797736375498341&rtpof=true&sd=true)

This is the link to my second Blog
[Blog2](https://docs.google.com/document/d/1cLpO35wh-S-aq3Yxe60GU5ODFOstwYca/edit?usp=sharing&ouid=109852797736375498341&rtpof=true&sd=true)

@GemmaTuron  and everyone I will be glad to hea

[2022-04-10 20:55] Amna-28 commented on #95
Hi @miquelduranfrigola just saw your comment, thank you for assigning me the task.
As far as I have looked up on the internet, there is no way to pre-determine the size of git-lfs repo. The recommended way is to clone the repository and then find its size.
In my understanding, the fetched models are being downloaded in the **_eos_** directory.
I have run the comman `du -h --max-depth=1 </path/to/e

[2022-04-10 21:02] Nawarrr opened #211 "Feature Request: Implement autocompeletion to improve UX of the CLI"
### Is your feature request related to a problem? Please describe.

No, It's an enchantment

### Describe the solution you'd like.

I'm still researching the solutions but there are a couple of implemented solutions online that might work.

### Describe alternatives you've considered

_No response_

### Additional context.

Auto completion would lead to a better UX and satisfaction, specially whil

[2022-04-10 21:04] Nawarrr commented on #211
@miquelduranfrigola I would love to work on this, Assign it to me please

[2022-04-11 01:09] dauinh commented on #108
Thank you so much! 😄

[2022-04-11 01:09] dauinh commented on #108
PR #212 to solve #168

[2022-04-11 03:34] AIgbine commented on #155
Hi @GemmaTuron

Here is my submission for the Ersilia newsletter template: https://docs.google.com/document/d/1V27kRIyaNNsRuW4N3hBVX3ttctjvZKxFuSuw7bTyyyY/edit?usp=sharing

I have also written a one-page blog post on Drug Discovery here: https://docs.google.com/document/d/11Pig-9SFFV5LZQeTJsHhsZ2X7EEuGfPyMPx5KeDR4cA/edit?usp=sharing

[2022-04-11 03:36] AIgbine commented on #155
@GemmaTuron, had to put this in a separate comment:

Here is a template for announcing new models on Twitter:

New at Ersilia!

We’re happy to introduce the drug-discovery-ai model. Credit to @xxis and her team for working hard on this model. The drug-discovery-ai model improves drug discovery with an accuracy of more than 98%. Head over to the Ersilia Model Hub to use this model! [Link] (1/2)

No

[2022-04-11 04:39] lylynaheng commented on #202
#PR

[2022-04-11 06:02] miquelduranfrigola commented on #102
Indeed this is quite good. Thanks @Nawarrr

[2022-04-11 06:09] miquelduranfrigola commented on #6
Hi @Rufaida98 thanks for giving it some thought. Have you checked the open PR thread: https://github.com/ersilia-os/ersilia/pull/188 ?
I would like to understand what do you mean by encoding in this context. I am sure your suggestion makes sense but I don't fully understand it at the moment. Can you elaborate a bit more? Thanks!

[2022-04-11 06:13] miquelduranfrigola commented on #92
Hi @anamika-yadav99 thanks for documenting all of this so nicely

[2022-04-11 06:32] miquelduranfrigola commented on #95
Hi @Amna-28 thanks for your comments, all well noted! Indeed, Git LFS does not easily allow for getting model size. Please see issue https://github.com/ersilia-os/ersilia/pull/188 where we are trying to estimate time to fetch a model. The same approach can be used to get model size, i.e. we just need to store model size in the metadata file.

I am closing this issue now since I feel that issue htt

[2022-04-11 06:32] #95 closed

[2022-04-11 06:34] miquelduranfrigola commented on #211
Hi @Nawarrr this is a nice suggestion.
Before jumping into the coding, could you explain a little bit the approach that you are planning to take?
Thanks!

[2022-04-11 06:47] miquelduranfrigola commented on #177
I really like the approach. Note that we use [black](https://pypi.org/project/black/) for formatting, which may simplify things a little bit.

[2022-04-11 07:06] Kcfreshly commented on #206
All fixed than you.

[2022-04-11 07:42] AIgbine commented on #155
Oh my. I actually just came up with it as a place holder. Never thought it would belong to anyone 😅

[2022-04-11 08:26] 0DUNTAN commented on #121
Link to the ReadMe Documentation https://github.com/ersilia-os/ersilia/compare/master...0DUNTAN:patch-1

[2022-04-11 08:38] julietugo commented on #150
Hi @GemmaTuron, I created two templates for the Twitter post. A can be used to make announcements of new models, an addition to the team, a new partnership with LMIC institutions, etc. B can also be used to announce new models, and then have a thread explaining further.

Let me know what you think please, thank you.

**Templates for Twitter post for Ersilia**
A
It's another big announcement day at

[2022-04-11 08:54] #206 closed

[2022-04-11 09:20] Prachi-22-81 commented on #125
I have created a README.md file. Please give your suggestions @GemmaTuron and @miquelduranfrigola.
Here is the link:
https://github.com/ersilia-os/ersilia/pull/213

[2022-04-11 10:02] Nawarrr commented on #211
It is harder than I thought and I'm still looking around, I'm currently looking into click's documentation.
If somebody asked to be assigned, please assign him too.
I will comment my approach before I start coding.

[2022-04-11 10:07] Nawarrr commented on #102
Here is my suggestion : #211
I'm currently studying solutions for it

[2022-04-11 10:45] Rufaida98 commented on #205
@Exquisitedesigner don't forget to tick the missions you did to keep your mentors updated like the comment you did could tick in initial steps.
P. S : to tick put x in the box when you edit your file

[2022-04-11 10:47] Pmaidoo commented on #162
@GemmaTuron About the community task above, i dont seem to understand the question well .
which exact project does it speak of ?
"Look up two other projects and comment on their issues with feedback on one of their tasks"

[2022-04-11 10:49] Rufaida98 commented on #145
@Deepthi562 you can't be assigned to this because it's its @Femme-js contribution project as you need to create your own and add your contributions there 🙏

[2022-04-11 10:56] sayantani11 commented on #101
- Added a writing style guideline that will be there for contributors to be followed while making documentation changes to Ersilia.
   https://github.com/ersilia-os/ersilia/pull/152

- Ersilia deals with a lot of documentation, keeping that in mind maintaining consistency across all the files is very important. And it's manually impossible to check it for every PR. So adding workflows or test will

[2022-04-11 12:15] ElizabethMawutin commented on #114
Hello @GemmaTuron,
Here is a link to my [Newsletter](https://www.canva.com/design/DAE9kYeZr1Q/v1OdD1N72wO6NW2xAY2G5Q/edit?layoutQuery=Newsletter#) template for our Users, Contributors and Funders.
Please do review and revert if there is need for changes.
Thank you.

[2022-04-11 12:26] anamika-yadav99 commented on #12
Hi @miquelduranfrigola multi-page view can be implemented using `latex_longtable` table format which is provided by `tabulate`.  Can I implement it and raise a pr for the same?

[2022-04-11 12:45] sfrooti commented on #156
Update :
I spent the last few days taking an in-depth look at Ersilia's website, their work, ethos and general content. I am really in awe of the level of dedication and empathy that exists within this community. Based on this, I made a couple of different mockups for the mission + vision task.

1. For this particular image I tried to keep the visuals as consistent with the current look and feel o

[2022-04-11 12:48] AbiolaAnisere opened #214 "Outreachy Documentation Project: <Applicant>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-11 12:50] AbiolaAnisere opened #215 "Outreachy Documentation Project: <Applicant>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-11 13:09] Med16-11 commented on #160
Hey @GemmaTuron, I hope you are doing well.
I have completed another task which is writing a page blog post.
Have a look and let me what are the things that needed to be improved.
Google Doc Link: https://docs.google.com/document/d/1Dj8XX69JCBSxjzLBVEmMx6zQsVk78pbxlUUPqsEJQXE/edit?usp=sharing

[2022-04-11 13:43] Jaya3112 commented on #140
I think Markdown Guide is very important as some people are facing problems with this issue. Can I open this like an issue and work on that?

[2022-04-11 14:11] Rufaida98 commented on #115
Fetch at least 3 models from the Ersilia Model Hub
![model](https://user-images.githubusercontent.com/92082003/162757875-f6c67b00-efb4-4d65-8fb7-fa20fc851295.PNG)
![model 1](https://user-images.githubusercontent.com/92082003/162757888-b16a807b-01af-4483-b46c-80b5f99f1d18.PNG)

[2022-04-11 16:54] AbiolaAnisere commented on #215
Yes, i believe we can work on it

[2022-04-11 16:54] AbiolaAnisere commented on #215
I believe so @GemmaTuron

[2022-04-11 18:13] Jaya3112 commented on #140
Hi @GemmaTuron, I hope you are doing well.
Here is my blog post on the Strategic plan 2021-2023. Have a look and let me know what are the things that needed to be improved.
https://docs.google.com/document/d/1Cp6HXsvKcKdW7OWwMBY79DypS9Hv-sEZ-YpKOlCEf2Q/edit?usp=sharing

[2022-04-11 18:57] miquelduranfrigola commented on #12
Hi @Deepthi562 the task was assigned to @sayantani11 a while ago, and I think we are on a good track with this. Do you have any suggestion that would go in the lines of what @anamika-yadav99 and @sayantani11 are discussing?

[2022-04-11 19:24] AditiiTripathii commented on #147
Hey @GemmaTuron
I've been looking at the licensing part for the past two days but haven't been able to figure out what part I'm missing. I've included the license in that readme file, but I couldn't discover any other licenses that should have been included.  Could you perhaps elaborate on it? It would be extremely helpful.
Here is what I have included:
<img width="565" alt="image" src="https://us

[2022-04-11 20:23] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 1 53 30 AM](https://user-images.githubusercontent.com/63330165/162825429-cbd540ee-0612-425d-8c5d-386e314f6788.jpeg)

[2022-04-11 20:23] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 1 51 58 AM](https://user-images.githubusercontent.com/63330165/162825454-a1546d4f-79b5-4c1f-9f3c-d963c55b4d25.jpeg)

[2022-04-11 20:23] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 1 02 40 AM](https://user-images.githubusercontent.com/63330165/162825459-b6a53317-1a76-48a3-8d32-e44490334894.jpeg)

[2022-04-11 20:23] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 12 58 21 AM](https://user-images.githubusercontent.com/63330165/162825461-397a4b12-3948-4769-9529-da7ddf2afdc8.jpeg)

[2022-04-11 20:23] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 12 55 24 AM](https://user-images.githubusercontent.com/63330165/162825463-6568de65-f36e-4522-b1bc-989c75633f0d.jpeg)

[2022-04-11 20:23] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 12 51 38 AM](https://user-images.githubusercontent.com/63330165/162825465-e76383da-5ef1-4c95-b192-e60ed19e7929.jpeg)

[2022-04-11 20:23] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 12 48 38 AM](https://user-images.githubusercontent.com/63330165/162825468-64404ac0-c893-4dd4-b48e-b09c438ce95a.jpeg)

[2022-04-11 20:24] ps-19 commented on #208
![WhatsApp Image 2022-04-08 at 12 43 56 AM](https://user-images.githubusercontent.com/63330165/162825470-8c4fbc91-6d6d-40bb-b1e5-cc9482377af3.jpeg)

[2022-04-11 20:27] ps-19 commented on #208
![model_mine](https://user-images.githubusercontent.com/63330165/162826193-c217c44f-d391-4318-a668-c178dc0d8b04.png)

[2022-04-11 20:55] Amna-28 commented on #95
Sure, thank you @miquelduranfrigola , I would be pleased to contribute to issue #188

[2022-04-11 22:13] lylynaheng commented on #202
A link to the blog post on EOSI – strategic plan 2021 - 2023.

https://scholarjourneys.com/2022/04/11/ersilia-open-source-initiative-strategic-plan-2021-2023-main-points-outreachy-contribution/

[2022-04-12 00:19] ifeoluwafavour commented on #97
I wrote a blog post on artificial intelligence in biomedical research. Here's the link.
https://docs.google.com/document/d/13jQqMVx85TuVAiE00flmGymiC3_pUdJSF_WMdF3fu08/edit?usp=drivesdk

[2022-04-12 01:01] Nawarrr commented on #214
Hey @AbiolaAnisere ,
add your name in the title of the issues instead of <Applicant>  to help the mentors while reviewing your progress.  :)

[2022-04-12 04:35] anamika-yadav99 commented on #12
@miquelduranfrigola @sayantani11 `latex_longtable` would look like a latex table. I'm sorry for not checking it properly. But now after after doing some research I found out that multipage table is only supported in `latex_longtable` in `tabulate` . One thing which can be done is adding a function which would slice the table, for say we have 200 models, 25 models in a page is decent size to displa

[2022-04-12 07:24] miquelduranfrigola commented on #12
Hi @anamika-yadav99 this is very good!

* I like the **fancy_grid** style with the centering as you suggest.
* 25 models per page is very reasonable
* I think your `ersilia catalog --next` solution is pretty good. Do you think we can also add a `ersilia catalog --previous`?

[2022-04-12 07:41] anamika-yadav99 commented on #12
Hi @miquelduranfrigola . Yes, I can add `ersilia catalog --previous` as well. But I see this issue has been assigned to @sayantani11 . I'm happy to help her out.

[2022-04-12 09:07] JyteCeo commented on #129
https://t.ly/uHIK

[2022-04-12 09:16] Rufaida98 commented on #104
@Amna-28 hi amna sorry to bother you but i am trying to do the prediction by jupytor notebook but it does not work do you know if there is something i should do even though i installed all the necessary package

[2022-04-12 09:36] JyteCeo commented on #129
#217

[2022-04-12 09:51] Amna-28 commented on #104
Hi @Rufaida98 , I am happy to help. Can you please share exactly what problem are you facing?

[2022-04-12 10:20] Rufaida98 commented on #104
![eew](https://user-images.githubusercontent.com/92082003/162939185-53dd27e8-b3d7-481b-bb38-be4863ddafaf.PNG)

[2022-04-12 10:20] Rufaida98 commented on #104
@Amna-28 that the problem

[2022-04-12 10:57] victorabba commented on #106
Thanks @loweyvana

[2022-04-12 11:00] Nawarrr commented on #104
You can install it using pip in the notebook, I think it will fix this

[2022-04-12 11:36] adeola-dev commented on #119
Hi @GemmaTuron, below is the link to the Ersilia mission and vision graphics I created.
https://docs.google.com/document/d/1KL5M0_p7dzZtOtxS2aeXdo5pVYqvLpXCb4C_Nq8ossU/edit?usp=sharing
Your suggestions and recommendations will be highly appreciated.

[2022-04-12 11:47] Melin20 opened #219 "Outreachy Documentation Project: <Adaeze Abba>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-12 11:47] Rufaida98 commented on #115
@GemmaTuron i am interested in scientific literature.Is this how to write a technical card please guide me :)
**Technical Card:**
_Model Name_ : eos2gth (maip-malaria)
_Model Object_ : develop a consensus in silico model to identify novel molecules that may have antimalarial properties.
_Model Input_ : in this model Maip was used. Maip is a free-web platform and available for the community to use

[2022-04-12 14:42] divyashreegautam opened #220 "Outreachy Code Project: <Divya Gautam>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowl

[2022-04-12 14:43] wintermornings00 commented on #207
Hi @GemmaTuron !
[https://docs.google.com/document/d/1DZJOLnJEcrEzBfP7uTClzh_xGE79vsbK6YoWMSUuP6I/edit?usp=sharing](url)
This is the link for the blog post on Strategic Plan

[2022-04-12 15:29] Rufaida98 commented on #104
Yes I did install and of course please delete it

[2022-04-12 17:12] Dapper50 commented on #122
Created a Tutorial video on how to use the Ersilia Model Hub with PR#1

[2022-04-12 17:18] JyteCeo commented on #129
@GemmaTuron greetings .. I've created the Readme file, what else is expected of me before I continue with my blog post or should I go ahead and upload my blogpost .?

[2022-04-12 17:24] Dapper50 commented on #122
@GemmaTuron I have proceeded to create a tutorial video

[2022-04-12 17:49] ps-19 commented on #208
Canva Design:
https://www.canva.com/design/DAE9NOj_TeE/0Wm5GEWoy3U0IjKH8XSl7w/edit?utm_content=DAE9NOj_TeE&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

[2022-04-12 17:49] ps-19 commented on #208
Youtube Ersilia:
https://youtu.be/wxELKx3wIOg

[2022-04-12 17:50] ps-19 commented on #208
https://medium.com/@priyansh.singh100/ai-ml-for-biomedical-research-26bb4524e443

[2022-04-12 17:51] ps-19 commented on #208
https://medium.com/@priyansh.singh100/artificial-intelligence-how-is-it-changing-medical-sciences-and-the-future-dfda48ca56f5

[2022-04-12 17:54] ps-19 commented on #208
My Merged PRs:

- https://github.com/ersilia-os/ersilia/pull/22
- https://github.com/ersilia-os/ersilia/pull/48
- https://github.com/ersilia-os/ersilia/pull/71
- https://github.com/ersilia-os/ersilia/pull/77
- https://github.com/ersilia-os/ersilia/pull/82

[2022-04-12 18:02] harshita214 commented on #144
Strategic plan 2021-2023 blogpost link

https://docs.google.com/document/d/1SJE5IWMzxyu2hDj7jwj2Uq0h-KY5PEaEcWxtmvoN9e4/edit?usp=sharing

@GemmaTuron Kindly review it :)

[2022-04-12 18:03] ps-19 commented on #208
Languages: Python C C++

Projects on Python:
[AI/ML project](https://github.com/ps-19/Sudoku-Deep_Learning_Model)
[Django](https://github.com/ps-19/CRUD)

[2022-04-12 21:38] loweyvana commented on #103
Thank you @Kcfreshly for your comment. Please @GemmaTuron is that ok?

[2022-04-12 21:41] loweyvana commented on #103
Hi @GemmaTuron. Here is the link to my video tutorial PR on how to use the model hub. #222

[2022-04-13 06:17] Kcfreshly commented on #105
### Here is my suggested Twitter Template:
Saving lives and eradicating communicable diseases is our purpose. We have made another milestone progress in defeating (Malaria) with our latest released (Chemprop-antibiotic model)
Ersilia believes that AI/ML can shorten the lengthy time for drug discovery, and we are glad that this model will bring us closer to that goal.

**Thread**

- [ ] Why we deci

[2022-04-13 07:06] JyteCeo commented on #129
@GemmaTuron please merge my PR

[2022-04-13 07:35] Nawarrr commented on #12
@anamika-yadav99 This is really good work and I think it will be better than the current catalog.

@miquelduranfrigola I would love to be assigned to help both @anamika-yadav99 and @sayantani11 if that's possible

[2022-04-13 07:40] Nawarrr commented on #211
@miquelduranfrigola I've got completely stuck and have no idea where to start, Incase you can give me a headstart, it would be great,
If anybody else would love to help me ask to be assigned.

[2022-04-13 07:48] GemmaTuron commented on #123
Hi @adeolaadedeji,

Thanks for the additions in the slide.
As we are more than halfway through the application period, I would encourage you to choose one task and focus on it to prepare your final application.

[2022-04-13 07:55] GemmaTuron commented on #119
Hi @adeola-dev

Great job on the graphics, I really like them! The infographic with our strategic goals is a great way of displaying this info.
Could you work on that infographic to make it a single image with:
- Ersilia logo (either the grid alone or grid+name)
- Color coding from our brands
It would be great for our communications.
When you finish this I think you are ready to prepare your final

[2022-04-13 07:57] busiratazeez commented on #100
Hello @GemmaTuron
kindly check this 1- page blogpost on [Strategic plan 2021 - 2023](https://busirat.com.ng/2022/04/13/ersilia-open-source-initiative/)

[2022-04-13 08:06] GemmaTuron commented on #155
Hi @AIgbine

Thanks for the effort in the project! Well done in the blogpost, and I like that you introduce new funders and donors for the newsletter.
Can I ask you to add here the Mission and Vision template as a .png or .jpg file for easy download?
You have done a lot of work. To complete your application, I would suggest to focus in one of the tasks of the Scientific content, and you will be re

[2022-04-13 08:10] GemmaTuron commented on #147
Hi @AditiiTripathii

Double check which license we are using in this repository, as the readme file is not correct as it is!
aside from  the tag at the top, is always good practice to have one section with the License cited.

Wen you are done with these modifications, please focus on one of the remaining tasks to prepare your final application.
thanks!

[2022-04-13 08:16] GemmaTuron commented on #151
Hi @AnshuKumari197

Thanks for the work! A few comments on the slides:
- the design is cool, but can you use Ersilia's colours? (plum and green for example)
- Like in the README file, it is confusing to talk about the Ersilia Model Hub before the mission and vision. Ersilia, as an organisation, has a mission and vision, and to fulfill the mission and vision it has created the Ersilia Model Hub. I

[2022-04-13 08:16] AIgbine commented on #155
Thanks for going through my work @GemmaTuron!

Here is the .png file of the Missio
![Ersilia Mission and Vision_ AIgbine](https://user-images.githubusercontent.com/35337868/163131688-463ea8b7-8983-4563-8483-3b29896f8c11.png)
n and Vision

[2022-04-13 08:16] GemmaTuron commented on #151
while preparing the final application on the outreachy website, please link this PR there

[2022-04-13 08:20] GemmaTuron commented on #110
Hi @kbetty

To prepare your final application, check the recommendations for the readme file and choose one task from the rest of the list if you want, or go ahead to create your final application in the website.
Please link this issue on the application page as well!

[2022-04-13 08:28] GemmaTuron commented on #122
Hi @Dapper50

I cannot access the video, can you check permissions? I think it is great if we can focus on having a short video as we don't have much video material yet. Grant me access and we can work on it

[2022-04-13 08:38] GemmaTuron commented on #100
Hi @busiratazeez

Thanks for your contributions. I am leaving here a few comments for you to address to prepare your final contribution:
- Readme: the installation section could be clearer. You explain how to install Ersilia in Ubuntu, and then for windows installation you just refer to installing WSL, not ersilia itself. PErhaps explaining somewhere that you need wsl before installing on windows

[2022-04-13 08:45] Dapper50 commented on #122
@GemmaTuron Apologies for the mix up I just granted you access to the video.

[2022-04-13 08:48] GemmaTuron commented on #98
Hi @dchidindu5

Thanks for making the requested changes in the mission and vision, reads much better now!
The Strategic Plan blogpost has your own style, and you have added some phrases I really like _ need radical solutions with innovative thought to break the current impasse in service delivery by setting up world class laboratories._ Thanks for putting effort into it.
I would like you to focus

[2022-04-13 08:55] AditiiTripathii commented on #147
Hello, @GemmaTuron
Feedback has been taken into account, noted, and incorporated.
PR link - [link](https://github.com/ersilia-os/ersilia/pull/224)

Please let me know if my readme needs to be updated, and I'll get started on my final application.
Thank you very much!

[2022-04-13 09:34] GemmaTuron commented on #114
Hi @ElizabethMawutin

Thanks for all the work. I am adding here minor comments:
- Strategic plan: sentences are very long, which makes it difficult sometimes to follow.
- Blogpost: nice summary of neglected diseases, I would rephrase the developing nations (Africa, Asia .. continents? or refer to Low Income Countries in general)
- Canva: if you can reduce text in the vision mission that would be f

[2022-04-13 09:42] GemmaTuron commented on #144
Hi @harshita214

You have done a lot of work, thank you for your efforts!
- I have left some comments in the Newsletter, but good template
- Strategic goals: thanks for the infographic!
- Mission and Vision: I like how you emphasize that healthcare researchers may not have the tech skills to use AI/ML, not everyone is aware of it. I would avoid generalistic comments such as "Our goal is to work fo

[2022-04-13 09:42] dchidindu5 commented on #98
Okay thanks 😊
I'll make the changes as soon as possible

On Wed, Apr 13, 2022, 9:49 AM gemmaturon ***@***.***> wrote:

[2022-04-13 09:49] GemmaTuron commented on #97
Hi @ifeoluwafavour

Thanks for adding our comments and being so active in the community in both GitHub and Slack, your work is really appreciated.
The AI post is well thought, good that you introduce the risk of bias in AI, is a topic we are really interested in.
The installation guidelines for Ersilia in Windows are great, we will incorporate them in our guide. I will work with @victorabba to mak

[2022-04-13 09:49] ElizabethMawutin commented on #114
Hello @GemmaTuron. Thank you for your comments, i'll make the necessary changes as soon as possible and revert back to you.
Am presently working on creating a tutorial on how to use Ersilia Model and writing a technical card for the model.

[2022-04-13 09:53] GemmaTuron commented on #140
Hi @Jaya3112

Good work on the blogpost, no major comments! Also the contribution guidelines with images were helpful, they have been merged in the Contribution.md file
The readme needs to be in the /documentation folder before I merge it !

I would suggest you choose one task from the list and focus on it, then you can prepare your final application, thanks!

[2022-04-13 09:59] GemmaTuron commented on #103
Hi @loweyvana

Your idea of doing a summary table is good, @Kcfreshly thanks for pointing this out, I had in mind a more "written" post style but I like the table format also, so let's leave it like this.
I'm looking forward to seeing the video! Can you add it somewhere, like google drive, and provide an open link? These videos won't go on the github repo, which would become too full

I think with

[2022-04-13 10:01] GemmaTuron commented on #202
Hi @lylynaheng

Great job on the blogpost thanks!
To prepare your final application I would suggest to focus on one task from the list and then you can go ahead and make the final submission

[2022-04-13 10:02] GemmaTuron commented on #160
Yes, modify your readme and upload it in a pr, so we have all final documents in one place, thanks

[2022-04-13 10:03] GemmaTuron commented on #160
@Med16-11

Great that the hub is finally running! Perhaps you can focus on one of the technical or scientific tasks to complete your application and submit to the outreachy website

[2022-04-13 10:06] loweyvana commented on #103
Well received! @GemmaTuron. Thank you so much.

[2022-04-13 10:08] GemmaTuron commented on #105
Hi @Kcfreshly

Great job you have done a lot of work. From the blogposts, I would only suggest to read a bit about the drug discovery pipeline and its stages (i.e, the lead optimization phase is focused on optimizing molecules, not genes)
I like the template for twitter, I would perhaps add a more direct style, encouraging people to go to out hub to check the tools

I suggest you wrap up any tasks

[2022-04-13 10:08] loweyvana commented on #103
https://drive.google.com/file/d/1WVQ5X3zTcPnTk5LCminKqMotEw4ERnXs/view
Here is the link to the video.

[2022-04-13 10:09] ifeoluwafavour commented on #97
Okay! 😃

Thank you very much for your kind words @GemmaTuron

I will start working on the technical card.

[2022-04-13 10:11] GemmaTuron commented on #121
Hi @0DUNTAN

Can you create a PR for the readme? If you want to focus in this task the goal is to create new versions of the current readme. Many applicants have already tackled this so perhaps you want to focus on another task from the list for your application

[2022-04-13 10:12] loweyvana commented on #103
Was about to send the newsletter template! Worked on it this morning. Let me send that and the cards on the new models.
Once again, thanks so much for everything. I am discovering a new passion!

[2022-04-13 10:13] GemmaTuron commented on #204
Hi @pauline-banye

Good job on the graphs!
Please for this last week finish off the tasks you are working on, add them in a comment here and start preparing your final application in the website!

[2022-04-13 10:21] GemmaTuron commented on #208
Hi @ps-19

Thanks for the work!
Can I ask you to not upload the video on youtube? We need to make sure we give a consisten image of Ersilia on Social Media, and if we upload all videos we are working on in the website it will confuse people who is looking for information. Simply keep it somewhere where we can access it but do not add it to the social media, many thanks!

My major feedback is regar

[2022-04-13 10:30] GemmaTuron commented on #156
Hi @sfrooti

Thanks for the work, very nice!
I think given your expertise, the best would be that you work towards making your final application, where you can explain what thoughts or ideas you have and what would you like to work on during the internship. For example, suggest what can be done to have a more cohesive brand direction, giving examples. Also if you can link to other material you hav

[2022-04-13 10:39] GemmaTuron commented on #124
Hi @tracycod3r

Thanks for the work and the support in the community! I suggest you start working towards your final application, finishing off any tasks you are currently tackling!

[2022-04-13 10:42] GemmaTuron commented on #179
Hi @ugo-bee

Thanks for the readme, linking to faqs and related projects is a good idea. As the application deadline is coming close, please focus on finishing off any task you are working on and submitting your final application!

[2022-04-13 10:45] GemmaTuron commented on #150
Hi @julietugo !

Good work in using a reference to where we can find AI in society, it helps people understand! Also nice that you checked we are gold-level endorsers of the principles for digital development!
I would suggest focusing on finishing off any tasks you are working on and preparing the final application!

[2022-04-13 10:46] GemmaTuron commented on #207
Hi @wintermornings00,

The blogpost is good but it is almost equal to the full length text, not really a summary. Since we are close to the application deadline, I would suggest focusing on one task and preparing the final application!

[2022-04-13 10:47] GemmaTuron commented on #106
Hi @victorabba

You have done a lot of work, I am loving the video, very explanatory!
I think you are  more than ready to submit your final application, thanks for the hard work you put into it!

[2022-04-13 10:50] GemmaTuron commented on #219
Dear @Melin20

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 10:50] GemmaTuron commented on #215
Dear @AbiolaAnisere

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 10:51] victorabba commented on #106
Thanks @Gemma. I'm pleased to hear that.

[2022-04-13 10:51] GemmaTuron commented on #214
Hi @AbiolaAnisere

I did not find your registration for the project but the task is marked as done, can you confirm what is the status? please note the project closed to new contributors last week

[2022-04-13 10:52] GemmaTuron commented on #205
Hello @Exquisitedesigner

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 10:52] GemmaTuron commented on #196
Dear @marliyya

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 10:53] GemmaTuron commented on #186
Hello @EugeniaDedeTeye

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 10:53] GemmaTuron commented on #184
Dear @Deepthi562 Deepthi,

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 10:55] GemmaTuron commented on #198
I @harshita214

Now that the other applicants have completed their work, Please add your contribution to the contribution.md file to the sections missing, thanks!

[2022-04-13 10:56] GemmaTuron commented on #183
Hi,

Thanks for the help, but I also think it will be best if I reorganize the repo, many thanks!

[2022-04-13 10:58] GemmaTuron commented on #177
Hi @sayantani11

Thanks for the suggestion, let us know when this is ready to revise and merge!

[2022-04-13 10:59] GemmaTuron commented on #172
Hi @Sukriti-sood

That is a good idea. Can you focus on creating a template for our organization as part of your final application?
thanks!

[2022-04-13 11:00] GemmaTuron commented on #146
Hi @itsmedeepak

New contributions to the project closed last week and we fail to see your application on the website

[2022-04-13 11:01] GemmaTuron commented on #141
hello @goelesha
Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 11:01] Kcfreshly commented on #105
@GemmaTuron Thanks for the feedback, this is the email newsletter template I created

https://drive.google.com/file/d/1H_zJKlaCSdl4Olo7HMknp6LZYX53aTA1/view?usp=sharing

[2022-04-13 11:02] GemmaTuron commented on #129
Hello @JyteCeo,

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 11:03] GemmaTuron commented on #125
Hello @Prachi-22-81

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 11:03] GemmaTuron commented on #96
Hello @camus60

Thanks for your interest in the project. I regret to inform you that this project has many strong applicants already, and it is closed to new contributions, to allow mentors to review the work of the applicants and support them in the process.

[2022-04-13 11:10] tracycod3r commented on #124
Thank you @GemmaTuron, working towards my final application

[2022-04-13 11:58] dauinh commented on #211
Hi @Nawarrr, maybe [this](https://community.platform.sh/t/how-to-enable-commandline-autocomplete-support-for-the-platform-cli-tool/312) would give you an idea of where to start. Or you can start with command correction first?

[2022-04-13 12:14] #214 closed

[2022-04-13 12:14] loweyvana commented on #103
Hi @GemmaTuron Link to the newsletter template.
https://docs.google.com/document/d/1hFuBpVesfZ-CuZqiyT0cx4tbEkB2vhZgl5DdTRByDNI/edit?usp=sharing

[2022-04-13 12:40] MVAMULYA opened #225 "Outreachy Code Project: <Vaishnavi amulya>"
Applicant: <MVAMULYA>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Pyt

[2022-04-13 12:55] wintermornings00 commented on #207
Thanks for the reply @GemmaTuron. I will try to make it more concise.

[2022-04-13 13:00] ifeoluwafavour commented on #97
**Model Technical Card**

**IDENTIFICATION** 

**Model ID:** eos1vms

**Model name:** chembl-multitask-descriptor

**Model description:** the model predicts the main target of a small molecule based on ChEMBL data.

**GENERAL INFORMATION** 

**ML algorithm used to train model:** Naive Bayes (specifically the Multinomial Naive Bayes algorithm).

**Data used to train model:** a subset of CHEMBL_18 d

[2022-04-13 13:06] Pmaidoo commented on #162
please find attached the link to my  blog post on own topic related to Ersilia (AI/ML for biomedical research) https://docs.google.com/document/d/1h4cf8-cbsbTd1oojPc4UGsiko0IJpVZwHVRleleay4A/edit?usp=sharing

[2022-04-13 13:11] julietugo commented on #150
I'll do that, @GemmaTuron. Thank you so much for your comments.

Meanwhile, here is the link to the image on the vision and mission of Ersilia - https://bit.ly/38CZuoA

[2022-04-13 13:25] Kcfreshly commented on #105
# Technical Card

**Model: Blood Brain Barrier
Description:**
This model predicts the Blood Brain Barrier Penetration (BBBP). The brain is a delicate area of the body and has two barriers controlling the inflow of endogenous substances and xenobiotics (drugs or toxins) to the CNS. Blood Brain Barrier (BBB) is one of the barriers that control the inflows into the CNS. BBB excludes all large-molecul

[2022-04-13 13:35] ElizabethMawutin commented on #114
Hello @GemmaTuron. I have incorporated your feedback on the tasks. Below are the links to the corrected tasks.
1. [Ersilia Strategic Plan](https://docs.google.com/document/d/1zfbquAkS045sXuoaTtllGv_amf22RUDrCUu3o3bTyQo/edit)
2. [Neglected Diseases](https://docs.google.com/document/d/1xnY9lFKVq-mTTPH0j8v23ig5XH09pZ7AupCk1CM7aPE/edit)
3. [Ersilia Mission and Vision](https://www.canva.com/design/DAE9

[2022-04-13 13:38] Kcfreshly commented on #105
I found these models interesting and will be glad if it can be incorporated into the Ersilia model

**PDBbind:**
PDBbind is a comprehensive database of experimentally measured binding affinities for bio-molecular complexes.48,49 Unlike other ligand-based biological activity datasets, in which only the structures of ligands are provided, PDBbind provides detailed 3D Cartesian coordinates of both li

[2022-04-13 13:47] victorabba commented on #114
Nice work you have there @ElizabethMawutin

[2022-04-13 13:54] ElizabethMawutin commented on #105
Hello @Kcfreshly Nice job on your Twitter template.

[2022-04-13 13:58] ElizabethMawutin commented on #97
Hello @ifeoluwafavour. Nice work

[2022-04-13 14:07] ElizabethMawutin commented on #114
Thank you @victorabba @ifeoluwafavour

[2022-04-13 14:09] Kcfreshly commented on #105
Thank you @ElizabethMawutin

[2022-04-13 15:18] pauline-banye commented on #204
Thank you so much @GemmaTuron. I appreciate your feedback. I'll definitely finish up on the final pending tasks before Sunday and focus on the final application.

[2022-04-13 15:21] Kcfreshly commented on #105
Here is the link to the card I created for our mission and vision statement

https://drive.google.com/file/d/1nAXHiAPV5V9Y7S09EkC4PulyHSy7WWxv/view?usp=sharing

[2022-04-13 15:58] julietugo commented on #150
Here is the link to the technical card - https://bit.ly/3rorzXk

Let me know what you think @GemmaTuron. Thank you.

The 3 new models that can be incorporated into the Ersilia hub are: chemprop-SARS, chemprop-AMU SARS-CoV-2 in vitro, and Coulomb matrix.

[2022-04-13 16:14] ifeoluwafavour commented on #97
Thank you @julietugo ☺

[2022-04-13 17:05] harshita214 commented on #198
@GemmaTuron Sure
Thank you, I will add the sections 👍

[2022-04-13 17:07] #141 closed

[2022-04-13 17:07] goelesha commented on #141
@GemmaTuron Thanks for your revert.

[2022-04-13 17:09] harshita214 commented on #144
@GemmaTuron Thanks for the feedback
I am happy to contribute :), Yes, I will make all the changes by tomorrow and will revert to you.

For the newsletter, I will make the appropriate changes
Yes I will keep in mind to avoid generalistic comments

Currently, I am working on the Scientific Content task of writing a Technical card. Apart from it, I am also working on issue #198

[2022-04-13 17:11] Rufaida98 commented on #8
Hi @miquelduranfrigola can we do DVC on this issue to track the files and then remove it. I am still learning and searching to how make work remotely. Ease guide me :)

[2022-04-13 17:20] loweyvana commented on #103
TECHNICAL CARD ON DEEPTOX

 ### DESCRIPTION:  DeepTox is a pipeline used to predict the toxicity of new compounds. Firstly, it analyzes the chemical representations of compounds, then it computes a large number of chemical descriptors that are used as input to machine learning methods.
**AI/ML Algorithm used to train the model**: DeepTox makes use of Deep Learning for toxicity prediction. Another

[2022-04-13 19:26] AnshuKumari197 commented on #151
Hi, @GemmaTuron I updated the slides according to your feedback. Please check once again and review it.
![Ersilia (1)](https://user-images.githubusercontent.com/84778340/163254525-9b1bb0a4-aa75-44da-b283-bed938b15681.png)
![Ersilia (2)](https://user-images.githubusercontent.com/84778340/163254579-3dad3aa0-94da-4031-a980-15a1e8999667.png)
![Ersilia (3)](https://user-images.githubusercontent.com/847

[2022-04-13 20:05] Amna-28 commented on #104
**Select one model from the list and write a technical card**
![66585ecb76614e319d3161ff9690a5ec-0001](https://user-images.githubusercontent.com/98670206/163260023-f9bfa9a5-bdfc-4f75-8bbe-18db41ab702d.jpg)

Hi @GemmaTuron , this is my first time writing a technical card for a ML model. I followed [this](https://arxiv.org/abs/1810.03993) article to write it. Please let me know if there is anything

[2022-04-13 20:19] loweyvana commented on #103
### TECHNICAL CARD ON DEEPCHEM

**DESCRIPTION**: DeepChem is an Open Source Machine Learning framework that aims at creating high-quality; open-source tools for drug discovery; material science, quantum chemistry, and genomics.  DeepChem supports a broad range of ML frameworks such as  PyTorch, Chemception, TorchModel, Scikit-learn models, KerasModel, weavemodel, Deep Tensor Neural Network and so

[2022-04-13 20:21] loweyvana commented on #103
Hi @GemmaTuron. Here are some cards on the models DeepTox and DeepChem.

[2022-04-13 21:06] tracycod3r commented on #114
Great work @ElizabethMawutin

[2022-04-13 21:09] busiratazeez commented on #100
Hi @GemmaTuron

Thanks for your feedbacks.

- Readme: I have updated the windows installation guide, the license file and also created a pull request #227
- Strategic goals: I have removed the grant maker as suggested.

[2022-04-13 21:31] tracycod3r commented on #106
Great tutorial @victorabba

[2022-04-13 22:14] tracycod3r commented on #103
Great work @loweyvana for the well detailed tutorial

[2022-04-14 03:09] AIgbine commented on #155
@GemmaTuron here is my submission for model technical card

**Model Summary**
**Name**: chemprop-antibiotic
**Code**: e0s4e40
**Function**: The model predicts the antibiotic activity of molecules that are structurally different from known antibiotics.
**Training Data**: The model training data consists of data available from US Food and Drug Administration (FDA) data and natural products isolated

[2022-04-14 03:15] AIgbine commented on #155
@GemmaTuron  here is my submission for model technical card

**Model Summary**
Name: chemprop-antibiotic
Code: e0s4e40
Input: A compound
Output: Antibiotic activity of the compound
Function: The model predicts the antibiotic activity of molecules that are structurally different from known antibiotics.

**Data and Algorithm**
Training Data: The model training data consists of data available from US

[2022-04-14 04:02] lylynaheng commented on #202
Hi @GemmaTuron

Thank you for the feedback and I choose to do graphic design for the project. I am more than happy to do UX/UI too, if there is a need for that.

This is a link to Ersilia's mission and vision.

https://bit.ly/3uEKZsU

[2022-04-14 04:27] Melin20 commented on #219
Ok. Thank you.

[2022-04-14 05:31] 0DUNTAN commented on #121
link to the Strategic plan  blogpost https://docs.google.com/document/d/1n7EAUpP1IMPWJwMh-SJSoqHIsXUUf8O3TCCwhYKqKao/edit?usp=sharing

[2022-04-14 06:19] Med16-11 commented on #160
from typing import List, Union, Tuple

import numpy as np
from rdkit import Chem
import torch
import torch.nn as nn

from .mpn import MPN
from chemprop.args import TrainArgs
from chemprop.features import BatchMolGraph
from chemprop.nn_utils import get_activation_function, initialize_weights

class MoleculeModel(nn.Module):
    """A :class:`MoleculeModel` is a model which contains a message passing

[2022-04-14 06:43] Sukriti-sood commented on #172
ya, sure.

[2022-04-14 08:31] tracycod3r commented on #162
Hi @Pmaidoo, I have noticed a slight spelling mistake in the google doc showing ersilia's vision and mission. You wrote healthcae in the vision instead of healthcare.

[2022-04-14 09:46] pauline-banye commented on #204
@GemmaTuron Here's the link to the blog post I created outlining the strategic plan 2021-2023 for Ersilia.

https://medium.com/@paulinebanye/the-ersilia-strategic-plan-2021-2023-ab4b606a4ab0

[2022-04-14 10:11] Pmaidoo commented on #162
@tracycod3r Thank you for the correction i will check it

[2022-04-14 10:12] loweyvana commented on #119
Wow! Your graphic is so beautiful. Well done @adeola-dev

[2022-04-14 10:20] loweyvana commented on #103
Thank you @tracycod3r.

[2022-04-14 10:31] pauline-banye commented on #204
Updated the readme with requested changes from @GemmaTuron which included:

Changing the License from MIT to GNU Affero General Public License
Adjusting comment style in code block to use #
Adding links to installation requirements

Additional update
Added detailed installation instructions for windows systems

[PR #229 ](ttps://github.com/ersilia-os/ersilia/pull/229)

[2022-04-14 10:43] loweyvana commented on #105
Hi @Kcfreshly.  You have added a lot of work! well done!!! Nice job searching, but I think these are not actually models but datasets. From my little understanding, AI algorithms like Random Forests, for example, make use of these datasets to create/train a model. A good example of a model is DeepTox, based on Deep Learning and uses the Tox21 dataset.

[2022-04-14 11:02] loweyvana commented on #202
BEAUTIFUL.

[2022-04-14 11:04] loweyvana commented on #204
Nice slide

[2022-04-14 11:07] loweyvana commented on #170
Your card is absolutely beautiful! You did this on canva?

[2022-04-14 11:33] Shamswaggirl commented on #170
Thanks a lot @loweyvana , yes I did this on Canva.

[2022-04-14 11:51] Nawarrr commented on #211
I've checked the link and I think it's for symfony (PHP framework) based apps.
Thanks for helping, means a lot

[2022-04-14 13:31] adeola-dev commented on #119
Thank you @loweyvana!

[2022-04-14 13:35] Albert-Debbarma opened #230 "Outreachy Code Project: <Albert Debbarma>"
Applicant: <Albert-Debbarma>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of

[2022-04-14 13:48] Albert-Debbarma commented on #230
i am interested in this project as it is in python. I would love to contribute  in such project.

[2022-04-14 15:13] pauline-banye commented on #155
Well done @AIgbine with the twitter template. I loved that you gave credit where due. I did feel that a link to a YouTube video would be perfect here.

[2022-04-14 15:15] pauline-banye commented on #204
Thank you very much @loweyvana

[2022-04-14 15:30] Nawarrr commented on #102
@GemmaTuron @miquelduranfrigola,
Here is the docstring for ErsiliaModel class, but I have multiple inquires

[code]
1- The 2nd paragraph is more of about what the class does with the main argument, not the class itself, should that be removed ?
2- The way I've mentioned the type of the Argument is the same as the google style guide, but in ErsiliaBase init's docstring, the notation used is the par

[2022-04-14 16:26] AIgbine commented on #155
Thanks for the review @pauline-banye. Yes, that's a good idea. YouTube videos and other resources can be linked to the second tweet.

[2022-04-14 17:36] Jaya3112 commented on #140
Hello, @GemmaTuron Thank you for your suggestion. Hope you are doing good. I have added the README.md  file to documentation folder you can check it. Thanks!

[2022-04-14 19:27] Jaya3112 commented on #114
Well done @ElizabethMawutin .Keep doing.

[2022-04-14 19:57] julietugo commented on #150
Hi @pauline-banye, thank you so much for your comment.

For Ersilia, I mentioned them towards the end of the article. And since it'll be (assuming Ersilia decides to use it) posted on the Ersilia website/blog, then the reader will look around the site after reading and click on more links.

[2022-04-15 01:15] julietugo commented on #150
Hi @GemmaTuron, here is the [readme file](https://github.com/ersilia-os/ersilia/pull/231) I created

[2022-04-15 03:35] marv-tech commented on #153
### TECHNICAL CARD

**Model Name: Ligand-based prediction of hERG blockade**

**Model Use**
CardioTox net is a comprehensive tool for predicting the obstructive actions of small molecules in drugs on specific ion channels (hERGs) that eventually lead to cardiotoxicity, which is simply described as damage to the heart muscle. This model is built on deep learning frameworks and aggregated training.

[2022-04-15 03:42] marv-tech commented on #153
![CALC MOLECULAR WEIGHT](https://user-images.githubusercontent.com/57637620/163514498-3327716d-321b-42e4-b531-3d0e44ea6c6f.png)

This image depicts a model's test case.

[2022-04-15 03:43] marv-tech commented on #153
![MOLECULAR WEIGHT TEST](https://user-images.githubusercontent.com/57637620/163514687-18507606-5541-4654-9dfc-96c1978b01ef.png)

This image depicts a model's test case 2.

[2022-04-15 06:26] miquelduranfrigola commented on #211
HI @Nawarrr I think this can help: https://click.palletsprojects.com/en/7.x/bashcomplete/

Let's stick to the click python library if possible, so no more dependencies to be installed.

[2022-04-15 06:28] #219 closed

[2022-04-15 06:29] #215 closed

[2022-04-15 06:29] miquelduranfrigola commented on #168
This is already being addressed in the PRs, so closing the issue. Great job.

[2022-04-15 06:29] #168 closed

[2022-04-15 06:35] miquelduranfrigola commented on #12
Hi @Nawarrr thanks for volunteering. I think the issue is well covered by the two of them. We will let you know if we need help, ok?

[2022-04-15 06:37] GemmaTuron commented on #207
Hi @wintermornings00

Thanks for the edits. I'd like to remind you to complete any other task you are focusing on by Tuesday 19th so we have time to provide feedback and you can work on your final application!

[2022-04-15 06:37] #205 closed

[2022-04-15 06:40] miquelduranfrigola commented on #8
Hi @Rufaida98 this is a great suggestion. We will certainly use DVC in the context of model data management (https://github.com/ersilia-os/isaura), but I feel the current solution, with cron jobs is good enough, because models are not being updated or anything - they just need to be removed after some time.

[2022-04-15 06:40] GemmaTuron commented on #204
Hi @pauline-banye

Thanks, I have merged your PR!
The blogpost looks good, I like that you included the image you had created thanks!

[2022-04-15 06:44] GemmaTuron commented on #170
Hi @Shamswaggirl

Great job so far, start thinking of your final application.
One minor comment that I realized, thanks to @loweyvana mention of the card again. The best for the Publication would be to use the citation: Duran-Frigola et al, Nature Biotech 2020 rather than the link - no need to change it now just for your information that's how we usually cite scientific publications

[2022-04-15 06:50] GemmaTuron commented on #160
Hi @Med16-11

I think you have chosen quite a complex Module to document. My suggestions are:
- if you do not have expertise in python documentation writing, its fine it is not a requirement for the project so don't focus on this task
- If you still want to try it out choose a simpler module from the ersilia repository, not the eos4e40.

[2022-04-15 06:50] Shamswaggirl commented on #170
Thanks for the information @GemmaTuron, I'll do my final application process.

[2022-04-15 06:52] GemmaTuron commented on #155
Hi @AIgbine

Thanks for the technical card, really well-thought!
Now focus on creating a good final application in the Outreachy website please!

[2022-04-15 06:55] GemmaTuron commented on #153
Hi @marv-tech
Good job on the card, my only comment is that it is perhaps a bit too long (can we make a summary?) and does not have links to the publication or source code.
Can you modify it accordingly? I would suggest next steps:
- Add feedback to model card
- Identify some new models for the hub
- Prepare final application

[2022-04-15 06:57] GemmaTuron commented on #151
Lot of effort @AnshuKumari197 really appreciate!
Thanks!

[2022-04-15 07:11] GemmaTuron commented on #119
Hi @adeola-dev

Thanks for the changes! Now focus on your final application please!

[2022-04-15 07:12] GemmaTuron commented on #114
Hi @ElizabethMawutin

Thanks for the changes! Please focus on finishing off tasks and submitting final applications

[2022-04-15 07:19] GemmaTuron commented on #105
Hi @Kcfreshly
Thanks for the newsletter template, looks good!
Some feedback on the technical card: we should try to make them shorter, summarizing description and algorithm, or people will not read everything. For the new models, indeed what you suggest are databases from which we could build models, not the final models themselves.

Focus on the final application now !

[2022-04-15 08:56] Rufaida98 commented on #8
@miquelduranfrigola oh I see thank you for the feedback 👍

[2022-04-15 09:53] Nawarrr commented on #211
I've checked that earlier, I will give it another try,
That's what stopped me from the begging, avoiding the use of more dependencies.

I will try again and reply to you with my plan before I start coding
@miquelduranfrigola @dauinh  Thanks for your help

[2022-04-15 10:54] Sukriti-sood commented on #157
@GemmaTuron I have updated Readme, according to the feedback .. please review it.

[2022-04-15 11:31] marv-tech commented on #153
### MODEL SUGGESTION

1. [DeepHIT ](https://academic.oup.com/bioinformatics/article/36/10/3049/5727757?login=false)model
2. [deephERG](https://pubs.acs.org/doi/10.1021/acs.jcim.8b00769) model
3. [CardPred](https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-019-2814-5) model

[2022-04-15 11:31] AnshuKumari197 commented on #151
Hi, @GemmaTuron Thankyou so much for your support and guidance .

[2022-04-15 11:34] marv-tech commented on #153
@GemmaTuron I've updated the technical card above; please confirm that all feedback has been properly implemented.

[2022-04-15 12:44] harshita214 commented on #144
**Twitter Template for The Release of New Models**

<hr>

Holla people!

Ersilia is excited to share that we have released our new model which predicts the detection of cancer cells in just one click! Isn't this intriguing?! Sure it is so join us on 18th April at 17:00 GMT to interact with the main contributor and another main contributor for a Talk and Q/A session to know more about it 🤩

This is

[2022-04-15 12:45] harshita214 commented on #144
https://docs.google.com/document/d/1PP-qEORGE4PVUoNxgc4P4wFxYK9KMVv00DqBezvwShg/edit?usp=sharing

Modified the newsletter

[2022-04-15 12:46] harshita214 commented on #144
@GemmaTuron I didn't find any comments on Strategic post
Is there any modification which is needed there also?

[2022-04-15 14:09] ps-19 opened #234 "Feature Request: Time Tracker in CLI"
### Is your feature request related to a problem? Please describe.

Sometime it takes lot of time to fetch a model. It takes too much time to make prediction sometime it depends mostly on two factors first one is amount of molecules involved in a model second is system configuration of any user. So their is need to add a time tracker to estimate how long a model takes to make predictions.

### Des

[2022-04-15 14:10] ps-19 commented on #208
Feature Requested in CLI: https://github.com/ersilia-os/ersilia/issues/234

[2022-04-15 14:35] ps-19 commented on #234
i want to work on this issue.

[2022-04-15 14:59] julietugo commented on #150
Thank you @GemmaTuron. I'm grateful for your feedback.

I have moved the [readme](https://github.com/ersilia-os/ersilia/pull/235) file into the documentation folder.

[2022-04-15 15:34] Med16-11 commented on #160
Okay! I will complete my Outreachy applications with the help of other tasks that I did.
I will continue doing these tasks since there are a lot of things in which I am interested and want to contribute. One of them is Graphic material tasks. Thanks for the suggestions.
Also, I have already raised a PR that contains all the changes that you suggested, Please have a look.

Thank you!

[2022-04-15 15:41] harshita214 commented on #144
**<h1>Technical Card </h1>**

### **Model ID**: [eos65rt](https://github.com/ersilia-os/eos65rt)

### **Model**: LogP calculation based on fluorescent data

### **Description**:

<h4> LogP calculation is used for fluorescent data for membrane permeability

Small-molecule fluorescent probes are becoming powerful biomedical reagents to advance cell biology and drug discovery research, as well as can

[2022-04-15 16:45] Dapper50 commented on #122
@GemmaTuron please assist view tutorial video.

[2022-04-15 18:13] Kcfreshly commented on #105
Thank you @loweyvana  and our mentor @GemmaTuron  for the feedback I will make the right changes

[2022-04-15 18:28] Kcfreshly commented on #105
**Three Models that can be useful to ersilia hub**

**Quantitative structure property relationship (QSPR)** model helps in predicting the aqueous solubility of drugs which is validated by cross-validation methods. Aqueous solubility of a drug/drug candidate is essential data in drug discovery.

**Support Vector Machines (SVM)** is a classification and regression tool used to predict drug-likeness

[2022-04-15 18:42] Kcfreshly commented on #105
Thank you @GemmaTuron  I have made the changes according to your instructions, I am heading now to the final application. It has been an honor contributing on this novel platform

[2022-04-15 20:55] Nawarrr commented on #211
I've been messing around with the ways mentioned here : https://click.palletsprojects.com/en/7.x/bashcomplete/

I've started by Activating auto completion as mentioned, here is what I've thought about and tried, I've added the activation line to .bashrc using a function that adds another snippet in default.py file (I'm only Experimenting, This is a really bad way to this )
![Activation_command](ht

[2022-04-15 21:48] lylynaheng commented on #202
This is the two-slide showing how to use Ersilia Model Hub. I am not sure about how the model works, so I need feedback on that. By the way, @GemmaTuron there is no tutorial folder, only the asset folder.

Here is the link to the slides:
https://bit.ly/3OqAQbo

#PR

[2022-04-15 22:10] fortune-max opened #236 "Outreachy Code Project: <Fortune Max>"
Applicant: <fortune-max>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the

[2022-04-15 22:27] fortune-max commented on #236
Motivation
My younger sister is studying pharmacy in a university in Nigeria. From her I have learned that the prospects of conducting novel drug research here is pretty difficult. Most of our drugs are imported and packaged here for the same reason. The drug tests are done on subjects who live in different conditions, and are affected by different factors. There is also a prevalence of fake drugs

[2022-04-15 23:41] fortune-max commented on #236
I am not sure if it's a common enough issue but on Mac it seems you have to install hdf5 library perhaps using homebrew as the python dependency (hf5py) requires the library to be present locally first.

Followed the installation instructions here:
https://ersilia.gitbook.io/ersilia-book/quick-start/installation

To fix run:
`brew install hdf5@1.8`

Then on ARM chip Macs:
`ln -s /opt/homebrew/opt/

[2022-04-16 06:38] fortune-max commented on #236
Another Mac specific issue I encountered while setting up.

The .bashrc file is read when starting up ersilia.

As my default shell is zsh, no .bashrc file exists. This causes `ersilia/default.py/bashrc_cli_snippet` function call to fail ([line 119](https://github.com/ersilia-os/ersilia/blob/master/ersilia/default.py#L119)).

It is not immediately obvious this is the cause from the error thrown.

[2022-04-16 07:42] Jaya3112 commented on #140
Hi @GemmaTuron. Hope You are doing great. I have created a slide to explain Ersilia’s mission and vision. Here is the link given below :
https://docs.google.com/presentation/d/1yJmpK1ifw-Gt4qnOlOPEWaI_P6mWGAoPdRxwa3kV8SI/edit#slide=id.p
Please give your suggestion. Thanks!

[2022-04-16 07:57] sonali-sk opened #237 "Outreachy Code Project: Sonali S K"
Applicant: @sonali-sk

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowledge of the Pyt

[2022-04-16 10:07] wintermornings00 commented on #207
Hi @GemmaTuron ,
I have written a blog post on [ AI/ML for Biomedical Research](https://docs.google.com/document/d/1zHmynu_jQafPHwhI5jXX-L1E-jiHVKnE-nFS2H6WYtY/edit?usp=sharing)
Do let me know if i need to make any changes.

[2022-04-16 10:10] fortune-max commented on #236
Running `ersilia fetch molecular-weight` kept failing for me until I ran
`conda create -n eosbase-bentoml-0.11.0-py37`

 and activated environment
`conda activate eosbase-bentoml-0.11.0-py37`

Kept throwing a source environment not found
`File "/Users/fortune/code/ersilia/ersilia/utils/conda.py", line 297, in clone`
`raise Exception("{0} source environment does not exist".format(src_env))`
`Except

[2022-04-16 10:14] fortune-max commented on #236
For Apple Silicon, the h5py dependency doesn't work with `pip install` as it has to be built from source and the headers and shared library files are not present.

Before running `pip install -e .` , make sure to install hdf5 with brew

`brew install hdf5@1.8`

Add the necessary flags to your session to allow local compilation of h5py:

`export LDFLAGS="-L/opt/homebrew/opt/hdf5@1.8/lib"`
`export C

[2022-04-16 10:21] AnshuKumari197 commented on #151
Hi, @GemmaTuron I install Ersilia Model Hub on my PC.
![image](https://user-images.githubusercontent.com/84778340/163671269-a25efe20-3ff6-40eb-8660-9aded6406e47.png)

[2022-04-16 11:12] Kcfreshly commented on #105
@GemmaTuron I made a tutorial video, I hope it serves right.

https://drive.google.com/file/d/1ufwLG7z_YFjHIkMpAtLM-9FJsEBIcGYb/view?usp=sharing

[2022-04-16 11:35] tracycod3r commented on #124
I have created a slide explaining Ersilia's mission and vision.

Here is the link
https://docs.google.com/presentation/d/1BZv81X4o35wx-80D2LL_W56YnLAnZF83/edit?usp=sharing&ouid=106977232773647805334&rtpof=true&sd=true

[2022-04-16 11:47] wintermornings00 commented on #103
The tutorial is really informative @loweyvana . Great job!

[2022-04-16 12:33] fortune-max commented on #236
<img width="745" alt="Screenshot 2022-04-16 at 12 09 18" src="https://user-images.githubusercontent.com/31856097/163672703-39057b23-ff54-4371-8b5c-1701cc6e73fc.png">

Screenshot of a model in use to determine molecular weight of aspirin.

[2022-04-16 12:35] pauline-banye commented on #204
Thanks @GemmaTuron I enjoyed writing it 😀

[2022-04-16 12:39] fortune-max commented on #236
<img width="631" alt="Screenshot 2022-04-16 at 13 39 18" src="https://user-images.githubusercontent.com/31856097/163675301-8cd11e8e-6ac1-4a20-b0d4-5bf00fa0207a.png">
Local catalog of installed models.

[2022-04-16 13:21] pauline-banye commented on #204
Here's the link to the technical card I created.
I chose the model Mordred: a molecular descriptor calculator. @GemmaTuron

[Ersilia's technical card](https://drive.google.com/uc?export=view&id=12Q8y69Dij0zfSuUH97jrmSamB7f_9MKO)

[2022-04-16 14:22] dchidindu5 commented on #98
@GemmaTuron I've sucessfully made the changes to the document. Ive created a pull request #239

[2022-04-16 14:27] dchidindu5 commented on #98
I've also created a Twitter template for the release of new models  [Twitter template](https://docs.google.com/document/d/1FNPKxudcDUoFQQouUDye4G6JMHOVLCJGSbA0MyDhGy0/edit?usp=sharing)

[2022-04-16 15:19] dchidindu5 commented on #124
@tracycod3r Nice interface, maybe you should add some spice to the vision and mission statement. Just a suggestion though

[2022-04-16 15:57] harshita214 commented on #144
Created a PR @GemmaTuron
- https://github.com/ersilia-os/ersilia/pull/240

Issue the PR is solving
- https://github.com/ersilia-os/ersilia/issues/198
- https://github.com/ersilia-os/ersilia/issues/21

[2022-04-16 16:18] Kcfreshly commented on #162
Well done @Pmaidoo

[2022-04-16 16:59] Pmaidoo commented on #105
@Kcfreshly this is amazing. great work done !!!!

[2022-04-16 17:07] anamika-yadav99 commented on #92
**Add a screenshot showing that you are able to run predictions using ersilia as a Python library (find more information [here](https://ersilia.gitbook.io/ersilia-book/quick-start/antibiotic-activity-prediction)). Ideally, use a Jupyter notebook.**
![image](https://user-images.githubusercontent.com/54634163/163684579-67a8ff34-b8b6-4867-b03f-18af8fa8bd1b.png)

[2022-04-16 17:22] loweyvana commented on #103
Thankk you very much @wintermornings00

[2022-04-16 18:14] Jaya3112 commented on #140
Hello @GemmaTuron, Here is my Twitter post template. Please give your suggestions.

We have a "NEW MODEL IN THE ERSILIA TOWN..... "

Hello Everyone, We have a new Model for our Hub...........
Introducing a model<model_name>. Excited to know, what this model does? follow the thread……
Design of the model (a brief narration about the model). Something more is waiting for you.........
Usage of this mo

[2022-04-16 18:17] Kcfreshly commented on #105
Thank you @Pmaidoo

[2022-04-16 18:41] ElizabethMawutin commented on #114
Thank you @Jaya3112 @tracycod3r

[2022-04-16 18:42] ElizabethMawutin commented on #114
Hello,
@GemmaTuron i am having difficulty making my video tutorial so i'll be stopping here for now. Can i still send the tutorial after rectifying the issue am having?.

[2022-04-16 19:05] Jaya3112 commented on #103
@loweyvana you are doing amazing!

[2022-04-16 19:39] anamika-yadav99 opened #241 "Feature Request: Improve model search functionality"
### Is your feature request related to a problem? Please describe.

yes, every once in a while there's a typo or user enters a wrong spelling. model search function in such cases return null table which could be confusing for the user.

### Describe the solution you'd like.

I'm still exploring for a good solution.  perhaps, a simple approximate string matching algorithm which would return the clo

[2022-04-16 19:42] anamika-yadav99 commented on #241
@GemmaTuron would this be a feature you would like to have?

[2022-04-16 19:58] anamika-yadav99 commented on #211
@Nawarrr what's the version of click installed in your local?

[2022-04-16 20:51] Amna-28 commented on #92
Hi @anamika-yadav99 , you have done a great job over all. I really like your approach in solving issue #13 _add model search functionality in CLI_ . Well done!

[2022-04-16 21:05] Amna-28 commented on #103
Hi @loweyvana , I was going through your work and I must say you are doing a great job. The video tutorial is Amazing.

[2022-04-16 21:41] tracycod3r commented on #124
Thanks @dchidindu5 will look into it

[2022-04-16 21:56] loweyvana commented on #103
Thank you so much Jaya!

[2022-04-16 21:57] loweyvana commented on #103
Thank youuuu @Amna-28. I'm glad  you found it helpful!

[2022-04-16 21:58] loweyvana commented on #140
Love this Jaya!

[2022-04-17 03:49] harshita214 commented on #198
@GemmaTuron
Done with the task
Kindly provide your feedback :)

[2022-04-17 04:16] anamika-yadav99 commented on #92
Thanks Amna. You did an amazing job with the streamlit app yourself. The app looks great!

[2022-04-17 06:02] ifeoluwafavour commented on #140
Lovely work Jaya
Well done!!!

[2022-04-17 06:34] Jaya3112 commented on #140
Thankyou  so much @loweyvana & @ifeoluwafavour .

[2022-04-17 06:36] Jaya3112 commented on #140
Hello @GemmaTuron .Here is my Newsletter. Please Give you suggestion.
https://docs.google.com/document/d/1qbAGtI_QQTcx67EnNCdfxhopy0IIzAIuqW5RlGLFIEo/edit?usp=sharing

Eagerly waiting for your reply. Thanks!

[2022-04-17 06:40] loweyvana commented on #140
Lovely work Jaya.

[2022-04-17 07:55] Kcfreshly commented on #207
Well done @wintermornings00  great article you have there

[2022-04-17 08:49] Jaya3112 commented on #140
Thankyou @loweyvana

[2022-04-17 09:26] wintermornings00 commented on #207
Thank you! @Kcfreshly

[2022-04-17 10:07] anamika-yadav99 commented on #92
**Search the scientific literature and suggest 3 new models (comment in this issue) that would be relevant to incorporate in the Hub.**
I came across a lot of models which might play crucial part in drug discovery but since I have a better understanding  of
**DeepDTA: deep drug–target binding affinity prediction:**
https://academic.oup.com/bioinformatics/article/34/17/i821/5093245.

**AtomNet: A D

[2022-04-17 10:20] wintermornings00 commented on #144
Great work! @harshita214

[2022-04-17 11:05] GUPTAVANSHIKA opened #242 "Outreachy Code Project: <Vanshika Gupta>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowl

[2022-04-17 11:08] GUPTAVANSHIKA opened #243 "Outreachy Documentation Project: Vanshika Gupta"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* secti

[2022-04-17 12:48] GUPTAVANSHIKA commented on #243
Why am passionate about the Ersilia documentation project.

I think this is a great project to be a part of because healthcare is a global issue. During the pandemic everyone has faced a lot of problems, some situations are out of our control too.
I am very much interested in this domain and want to explore more so, I choose this project to worked on. This is the best project where I can learn tec

[2022-04-17 12:53] harshita214 commented on #144
Thank you @wintermornings00 :)

[2022-04-17 13:03] 0DUNTAN commented on #121
Template for a twitter post for release of a new model https://docs.google.com/document/d/1UPZWS05iczyDz_2_JTFjni0qgqLqYfTNuk0U4WGItJc/edit?usp=sharing

[2022-04-17 13:09] 0DUNTAN commented on #121
Template short Newsletter for ersilia community https://docs.google.com/document/d/16CZp2Dz5RX1VsAtqRMzwzKiw78j88ZTtAttV2HQ1ycw/edit?usp=sharing

[2022-04-17 14:21] Jaya3112 commented on #140
MODEL TECHNICAL CARD(Malaria inhibitor prediction )

IDENTIFICATION

**Model ID** : eos2gth
**Model name** : maip-malaria
**Model description** : The malaria inhibitor prediction (MAIP) is a platform, whose aim is to develop a consensus model for predicting blood stage malaria inhibition.

GENERAL INFORMATION

**Algorithm used for the model** : t-distributed Stochastic Neighbor Embedding (t-SNE) i

[2022-04-17 14:24] ElizabethMawutin commented on #140
Hello Jaya, great work you have done so far 👍.

[2022-04-17 14:29] Jaya3112 commented on #140
Thankyou @ElizabethMawutin

[2022-04-17 14:41] Jaya3112 commented on #140
Hello @GemmaTuron. I know you are busy with many important works. Please give your view on my work. I am eagerly waiting for your suggestions and want to do more for this community. I want to be a part of this wonderful community and want to help more number of people and save millions of lives. It will be honour foe me . Thanks!

[2022-04-17 14:52] 0DUNTAN commented on #121
Hi @GemmaTuron
This is the Slide of Ersilia’s mission and vision  designed using Canva, Can be accessed by the Link https://www.canva.com/design/DAE-JcieoQ8/uKfXI_7fONeA6jxVjwN9Ng/edit?utm_content=DAE-JcieoQ8&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton

[2022-04-17 16:26] anamika-yadav99 commented on #241
_class ErsiliaModel(ErsiliaBase):

    """Child class of ErsiliaBase which serves as the main class for Ersilia Model.

       This class provides methods to fetch, serve, api and more.

       Attributes:
           model(str):
           save_to_lake(bool, optional): Option to save the calculation to Isaura Lake
           service_class(str, optional): Service class used. Accepts only [None, con

[2022-04-17 16:28] anamika-yadav99 commented on #92
### Write a docstring for the ErsiliaModel class. Use the Google Python Style guide.

_class ErsiliaModel(ErsiliaBase):

    """Child class of ErsiliaBase which serves as the main class for Ersilia Model.

       This class provides methods to fetch, serve, api and more.

       Attributes:
           model(str):
           save_to_lake(bool, optional): Option to save the calculation to Isaura Lak

[2022-04-17 17:13] Sukriti-sood commented on #157
As a result of reading the [Strategic Plan](https://ersilia.gitbook.io/ersilia-wiki/), I have created [this](https://docs.google.com/document/d/1t4zLkrHTlAfy2u2-G1_NdITn4J1WfpZqAYdJDWPTzWM/edit?usp=drivesdk) doc.

[2022-04-17 18:31] dauinh commented on #241
Hi @miquelduranfrigola @anamika-yadav99, can i work on this feature as well?

[2022-04-17 18:37] dauinh commented on #241
I found [this article](https://towardsdatascience.com/autocorrect-in-google-amazon-and-pinterest-and-how-to-write-your-own-one-6d23bc927c81) to be helpful. Do you think we can do after query autocorrection and implement a Trie to find the correct command?

[2022-04-17 18:42] dauinh commented on #102
Hi @Nawarrr I think your CLI feature suggestion is a really good idea

[2022-04-17 18:47] dauinh commented on #92
Hi @anamika-yadav99, I think that your CLI feature suggestion is a really nice idea

[2022-04-17 19:14] anamika-yadav99 commented on #241
Hi @dauinh Thanks for the help. The article was insightful. I'm also thinking of comparing the distance between the input model name and the model names in the hub or local and returning the closest matching model name. This is basically string matching algorithm only. Let's wait for what @miquelduranfrigola and @GemmaTuron have to say on this.

[2022-04-17 19:21] Amna-28 commented on #92
Thank you so much @anamika-yadav99

[2022-04-17 20:43] dauinh commented on #108
**Python library**: Docstring for the ErsiliaModel class

`"""ErsiliaModel class

This class runs models that user have fetched from the
Ersilia Model Hub. This class inherits from ErsiliaBase
class.

Attributes:
    model (ErsiliaBase): Import model that user has fetched
    save_to_lake (bool, optional): Check if model is saved to Lake.
    service_class (str, optional): Keep track of which envi

[2022-04-18 00:19] mahamtariq58 commented on #104
Hi @Amna-28 , you have done an amazing job and the approach you used for tracking of unused models is quite good. Also, the streamlit app looks awesome.

[2022-04-18 01:28] Rufaida98 commented on #234
@ps-19 @miquelduranfrigola maybe if you can make the models in compressed so the download will be easier which make the fetch time faster. I'll look for articles to help you 👍

[2022-04-18 04:25] SHRIYA1706 opened #244 "Outreachy Code Project: <Shriya Agrawal>"
Applicant: <applicant github handle>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the Ersilia Model Hub, a FOSS platform offering pre-trained AI/ML models for research”.

Please tick the tasks as you complete them. To make a final application it is not required to have completed all tasks. This project requires knowl

[2022-04-18 04:51] SHRIYA1706 commented on #244
@GemmaTuron @miquelduranfrigola  Can you please assign this issue to me. I want to work on this issue by completing the listed tasks.

[2022-04-18 06:45] Jaya3112 commented on #140
Hello @GemmaTuron. Hope you are doing well. Please give your view. Thanks!
After searching the scientific literature. I suggest three new models that would be relevant to incorporate into the Hub is as follows:

**Organic** :
A molecular generation tool that helps to create molecules with desired properties.
 https://github.com/aspuru-guzik-group/ORGANIC

**Lipophilicity in drug discovery**:
The r

[2022-04-18 07:32] adeolaadedeji commented on #123
Thank you @GemmaTuron

[2022-04-18 10:53] Shamswaggirl commented on #202
Hello @lylynaheng,
Nice to meet you, these slides are really good with a neat design but I guess the steps are not detailed, if you improve that it would be great.

[2022-04-18 11:18] Shamswaggirl commented on #170
Okay sure, noted and thanks.

[2022-04-18 12:15] itsIapetus commented on #138
@miquelduranfrigola

[2022-04-18 13:13] marv-tech commented on #153
This is  the link to the one-page blog post on [Strategic plan 2021-2023](https://docs.google.com/document/d/1_I15e99YyGiquqFpt-N18Hw9ex-XjgY0NPPf3qz1FtE/edit?usp=sharing)

[2022-04-18 14:54] DokuaAsiedu commented on #158
Here is a link to my blog post summary: https://1drv.ms/w/s!Ao-vQCbQQ9a4nBv1WAYq8BVBtooc?e=toPyAx

[2022-04-18 15:04] sayantani11 opened #246 "Feature Request: Add a WIP so that contributors can make 'Work in Progress' PRs"
### Is your feature request related to a problem? Please describe.

As a contributor, there are issues/features that need time to get resolved. Also, if we do end up merging #210 it will be good for the contributors to first have a WIP PR for issues that tackle a lot of documentation changes, in this way they'll also be able to take reviews from the maintainers and fix lint errors.

### Describe t

[2022-04-18 15:04] sayantani11 commented on #246
@GemmaTuron @miquelduranfrigola

[2022-04-18 16:01] marv-tech commented on #153
This is a link to an AI/ML related [article](https://docs.google.com/document/d/1jHjso6V3IMuMZ8zsfjhDSqvVtFFITks-7WhUq8age2E/edit?usp=sharing)

[2022-04-18 16:51] lylynaheng commented on #202
Hello @Shamswaggirl,

Nice to meet you. Can you clarify the steps? My first draft was including the details of the installation part, but then I changed it because I don't consider it as how to use Model Hub. I need a clarification on that so that I can changes accordingly.

Thank you!

[2022-04-18 17:13] marv-tech commented on #202
Nice work, well done

[2022-04-18 17:20] marv-tech commented on #204
Great job!

[2022-04-18 18:56] Nawarrr commented on #102
Thanks, I really appreciate you helping me in that feature

[2022-04-18 18:58] marv-tech commented on #153
@GemmaTuron I created a graphical image for the technical card [here](https://drive.google.com/file/d/1Xen4wMjoOwXHCBoOABC_-EE_TJ6VGBoD/view?usp=sharing)

[2022-04-18 21:51] Jaya3112 commented on #140
Hello @GemmaTuron. Hope you are doing well. Here is the link to my blog 2 on the topic:" AI for biomedical research"
https://docs.google.com/document/d/1PfVffSxo-a7SOJn-jNRdHAGIMovuf8ObdXeHCQ-EI74/edit?usp=sharing

please review it. I am eagerly waiting for my documentation to get reviewed and you will provide me with suggestions. Thanks!

[2022-04-18 23:14] DokuaAsiedu commented on #158
This is the link to the slide explaining Ersilia's mission and vision: https://1drv.ms/p/s!Ao-vQCbQQ9a4nB3WVqBZBv5D4DkY?e=REpWT6
@GemmaTuron

[2022-04-18 23:17] sophiee-blip commented on #127
Link to my blogpost ma'am@GemmaTuron
https://docs.google.com/document/d/1QuL8JW4TMDvZPIdW4lq5l8ArIR39jL69hm3QaoX3FKQ/edit?usp=drivesdk

[2022-04-19 00:19] dauinh commented on #241
Oh, i see what you mean... Thank you for clarifying!

[2022-04-19 00:52] loweyvana commented on #140
Jaya you are doing an amazing work.
Well done

[2022-04-19 01:35] Sukriti-sood commented on #172
In order to create this profile, we must create a .`github `repository, then create a `Readme.md` file under the `profile` folder of the repository. I have created a Readme file for the same [here](https://github.com/Sukriti-sood/Ersilia_Profile). Please provide feedback.

@GemmaTuron @miquelduranfrigola

[2022-04-19 02:34] Nawarrr commented on #102
Natural Product Fingerprint Model Card
![card_pic](https://user-images.githubusercontent.com/46817360/163908253-36f84378-50aa-4a8b-a8ec-8ad70bad9273.png)

[2022-04-19 03:59] dauinh commented on #108
**Python library**

Streamlit app

![Screen Shot 2022-04-18 at 11 54 17 PM](https://user-images.githubusercontent.com/62679553/163917338-779543a4-f264-4b39-a872-9a322dd1885e.png)

![Screen Shot 2022-04-18 at 11 56 29 PM](https://user-images.githubusercontent.com/62679553/163917433-54c23939-b723-47e6-961f-2b19fc799555.png)

![Screen Shot 2022-04-18 at 11 57 27 PM](https://user-images.githubusercont

[2022-04-19 05:36] GemmaTuron commented on #243
Hi @GUPTAVANSHIKA

Thanks for your interest and enthusiasm in Ersilia, I regret to inform you that this project already has many strong applicants and is closed to new contributors.
I wish you all the best with your next projects!

[2022-04-19 05:36] #243 closed

[2022-04-19 05:37] GemmaTuron commented on #242
Hi @GUPTAVANSHIKA

The Ersilia projects are closed to new contributors as there already are many strong applicants and the mentors are focusing on supporting the final applications.
I encourage you to check the Outreachy website and select other open projects!

[2022-04-19 05:37] #242 closed

[2022-04-19 05:39] GemmaTuron commented on #225
Hi @MVAMULYA

Thanks for your interest in Ersilia, I regret to inform you that there are already many strong applicants in this project and therefore it is closed to new contributors. I wish you all the best in finding other projects to contribute to!

[2022-04-19 05:39] #225 closed

[2022-04-19 05:41] GemmaTuron commented on #236
Hi @fortune-max

Thanks for checking the set up and installation of Ersilia. Please, could you report those problems in the form of a bug tracker opening a new issue for each one of them?

[2022-04-19 05:47] GemmaTuron commented on #207
Hi @wintermornings00

Thanks for the blogpost. I some minor comments for your consideration:
- The down to earth example is great to understand how AI/ML works. If you write a general blogpost about AI/ML in biomedicine is perfect, if you mention Ersilia later perhaps then the example could focus on an infectious disease rather than cancer, as is our area of interest, but no need to change it now,

[2022-04-19 05:49] GemmaTuron commented on #204
Hi @pauline-banye

thanks, nice work on the technical card! All the main fields are there! If only, when mentioning the publication it would be good to cite it in the standard way rather than putting the link, like: Turon et al, 2022 ...

But very good job thanks! I think you should focus  on writing the final application on the Outreachy website, good job!

[2022-04-19 05:53] GemmaTuron commented on #202
Hi @lylynaheng

Thanks for the work, the graphical material looks very nice. For the guide, there are three basic CLI commands:
`ersilia fetch eos0aaa`
`ersilia serve eos0aaa`
`ersilia api predict -i "CCCCC"`

you can check some of the other applicant issues with screenshots to learn more!

I think you can finish off this and prepare your final application on the website! thanks for the work!

[2022-04-19 05:54] #196 closed

[2022-04-19 05:54] #186 closed

[2022-04-19 05:55] GemmaTuron commented on #185
Hi @TaiwoOluwaseyi!

The deadline for the application is this Friday! If you still want to contribute please contact your mentors via slack, and we can discuss next steps.

[2022-04-19 05:55] #184 closed

[2022-04-19 05:55] pauline-banye commented on #204
Thanks so much for your feedback @GemmaTuron 😊. I'll edit and repost.

[2022-04-19 05:57] GemmaTuron commented on #198
Hi @harshita214

Good job thanks! As we mentioned in Slack, the mentors will now work in merging all these idead into a final readme and a final contribution.md file, thanks for all the work!
I think you can now focus on writing the final application on the outreachy website, good job!

[2022-04-19 05:58] GemmaTuron commented on #198
I have merged the PR and will close this issue now!

[2022-04-19 05:58] #198 closed

[2022-04-19 06:03] GemmaTuron commented on #172
Hi @Sukriti-sood
This is super cool thanks!
I will create the repo and add the readme file, I have cloned your repo and will use the template that you have created.
I am closing this issue here as this is completed.

[2022-04-19 06:03] #172 closed

[2022-04-19 06:07] GemmaTuron commented on #162
Hi @Pmaidoo

Thanks for rewriting the blogpost.
You have done a lot of work in the project so I think now you should focus on preparing your final application in the outreachy website, many thanks!

[2022-04-19 06:08] GemmaTuron commented on #160
Hi @Med16-11

Thanks, I have merged your PR.
Please focus on the final application first before thinking of any new tasks, since the deadline is approaching.

[2022-04-19 06:10] GemmaTuron commented on #158
Hi @DokuaAsiedu

Thanks for the work, I really like the background of the slide similar to our logo!
The application deadline is close, so please focus on preparing your final application in the Outreachy website!

Thanks

[2022-04-19 06:12] GemmaTuron commented on #157
Hi @Sukriti-sood

Thanks for the changes, I have merged your PR. I have also cloned your repo to work on the Organisation profile.
I think you should now focus on creating your final application! Thanks for all the work!

[2022-04-19 06:16] GemmaTuron commented on #153
Hi @marv-tech

Good job in identifying cardiotoxicity models. I also like the graphical card. On the article, its good that you add the source references! I think you should now focus on the final application, many thanks  for all the work!

[2022-04-19 06:17] GemmaTuron commented on #151
Hi @AnshuKumari197 that's fantastic!
Did you find problems in the installation?

[2022-04-19 06:19] GemmaTuron commented on #150
Hi @julietugo

Thanks I have merged the PR, I think now you should focus on writing the final application, many thanks for all the work!

[2022-04-19 06:21] GemmaTuron commented on #147
Hi @AditiiTripathii

I merged your PR, thanks for making the changes. Please focus on the final application now, many thanks!

[2022-04-19 06:21] GemmaTuron commented on #144
Hi @harshita214

Thanks, I have merged all your PR!

[2022-04-19 06:25] Jaya3112 commented on #140
Thank you so much @loweyvana.

[2022-04-19 06:25] GemmaTuron commented on #140
Hi @Jaya3112
Thanks for all the work.

The model cards are looking good, with all the necessary links on them!
For the models suggested, the last one is actually in our list already! The molecle generator is cool, and we do use these kind of models, but for the moment they are not the focus of the Hub. In the lipophilicity model I fail to see one suggestion, it opens a google search, can you check

[2022-04-19 06:26] #129 closed

[2022-04-19 06:27] GemmaTuron commented on #127
Hi @sophiee-blip

Thanks, I would suggest you revise the formatting (boldface, bullet points etc) to make it easier to follow.

[2022-04-19 06:27] #125 closed

[2022-04-19 06:28] GemmaTuron commented on #124
Thanks @tracycod3r for the slide!

[2022-04-19 06:34] GemmaTuron commented on #122
Hi @Dapper50

The video content is good but it goes so fast! perhaps typing the commands instead of just pasting a screenshot would make it easier to follow!

[2022-04-19 06:37] marv-tech commented on #153
Thank you @GemmaTuron, I had a great time working with you and wish I could do more.

[2022-04-19 06:38] GemmaTuron commented on #121
Hi @0DUNTAN

thanks, I will try to give some feedback on the different tasks, and I think you should now focus on the final application:
- the twitter post seems a bit too long, it will have too many characters once the name of the model is added, it should be broken down in parts
- The newsletter is perhaps missing a thank you note
The rest looks good, thanks for the work!

[2022-04-19 06:39] GemmaTuron commented on #114
Hi @ElizabethMawutin

Thanks for letting me know. No problem you have already done a lot of work so you have plenty of material to write your final application!

[2022-04-19 06:40] GemmaTuron commented on #105
Super video @Kcfreshly, very detailed! many thanks!

[2022-04-19 06:43] GemmaTuron commented on #103
Hi @loweyvana

The video is very clear thank you so much!
For the DeepChem, it is a larger library than just one model, this is why it looks a bit different from the others. For the moment, these larger libraries are out of scope for our work, so don't worry about the card

[2022-04-19 06:45] GemmaTuron commented on #100
Thanks @busiratazeez

Please now focus on the final application in the Outreachy website.

[2022-04-19 06:47] GemmaTuron commented on #98
Thanks @dchidindu5 for the twitter suggestion.
I have merged your PR, you should now focus in the final application!

[2022-04-19 06:49] GemmaTuron commented on #97
Hi @ifeoluwafavour
If only, the card is missing the number of molecules in the dataset (sometimes this is not available so don't worry). The rest is good, thanks!

[2022-04-19 06:49] #96 closed

[2022-04-19 06:52] Jaya3112 commented on #140
Thank you @GemmaTuron for your suggestions. I will consider this and do the needful. I will make the suggested model more appropriate. Yes, I will surely focus on the final application. Thanks!

[2022-04-19 07:04] AnshuKumari197 commented on #151
Yes, I faced some issues.
Some problem in installation of Ubuntu.
Issues in running Ersilia Model hub.
And I was doing one silly mistake that was " pip install -e . "  I missed this last dot while installing which created lot of issues.

[2022-04-19 07:16] sonali-sk commented on #8
Hi @miquelduranfrigola, I have a couple of doubts, If a model is already fetched and is in the local system,
1) If we fetch the same model again, will the model's repo along with other related files be fetched again from git-lfs or from the local system?
2) Also when we know that a model is already in the local system, should that model be fetched again or is it safe to go ahead serving?
Thanks.

[2022-04-19 07:18] fortune-max commented on #236
Sure, I'll be glad to help make the setup process go smoother for people sharing a similar environment as I am.

[2022-04-19 07:22] Jaya3112 commented on #140
Hi @GemmaTuron, I modify the suggested model. Please review it. Thanks for your support and for making us a part of this revolutionary change.

[2022-04-19 07:22] busiratazeez commented on #100
Hi @GemmaTuron

Thanks for the correction
I'm new to every part of open source contribution but I've been able to amend as requested. Please kindly review my correctiion. #227
Thankyou

[2022-04-19 07:43] Sukriti-sood commented on #157
Ook, Thanka✨

[2022-04-19 07:44] DokuaAsiedu commented on #158
Thank you for having a look

[2022-04-19 08:02] ifeoluwafavour commented on #97
Okay
Thank you very much for everything @GemmaTuron
Should I close the issue now?

[2022-04-19 08:18] fortune-max commented on #236
Hi @GemmaTuron

Is there a reason the dependencies are being installed system-wide instead of the virtual environment created by conda?

Using `conda install --file requirements.txt` instead of `pip install -e .` is preferable to me and actually works around the h5py installation issue I faced.

See https://ersilia.gitbook.io/ersilia-book/quick-start/installation

[2022-04-19 09:03] wintermornings00 commented on #207
Thank you for feedback @GemmaTuron . I will modify the last paragraph and write my final application.

[2022-04-19 10:47] fortune-max commented on #236
I have attempted to install ersilia's dependencies using conda. Unfortunately a number of them are unavailable from conda's repo alone. I think the best way would be to have the instructions say

`conda install h5py`

Then

`pip install -e .`

to get around the issue for Mac users. I will detail more of my findings in the issue I open.

[2022-04-19 11:10] fortune-max opened #248 "Bug 🐛: Installation fails on Mac [M1], h5py. Documentation suggestions/fixes"
### Describe the bug.

The [installation documentation](https://ersilia.gitbook.io/ersilia-book/quick-start/installation) says we install dependencies using `pip install -e .`. I suggest we instead use `conda install h5py && pip install -e .`.

While pip is fine for almost all packages, it requires compilation for numpy which is a dependency of h5py required by ersilia.

If the user hasn't already

[2022-04-19 11:13] Amna-28 commented on #104
Thank you very much @mahamtariq58 for your feedback

[2022-04-19 11:28] fortune-max opened #249 "Bug 🐛: Documentation suggestions during Installation"
### Describe the bug.

Running `ersilia fetch molecular-weight` fails with error when following instructions [here](https://ersilia.gitbook.io/ersilia-book/quick-start/molecular-weight)

`File "/Users/fortune/code/ersilia/ersilia/utils/conda.py", line 297, in clone`
`raise Exception("{0} source environment does not exist".format(src_env))`
`Exception: eosbase-bentoml-0.11.0-py37 source environment

[2022-04-19 11:46] loweyvana commented on #103
Thank you @GemmaTuron for reviewing my work. Working on my application now. Is that ok?

[2022-04-19 12:05] anamika-yadav99 commented on #249
@fortune-max this has also happened with me once before. I had to pip install bentoml on my own. But that was just once. I have setup environment for ersilia so many times. It never happened again.

[2022-04-19 12:42] julietugo commented on #150
Thanks for the feedback @GemmaTuron. I have submitted the final application.

[2022-04-19 13:20] srcmilena commented on #143
Hello, @GemmaTuron,

Thank you so much for your feedback and suggestions. I changed what you said. May you check? Please.

I altered the following things:
- Texts "Ersilia", "Mission" and "Vision";
- Background color;
- Text color;
- Color of the logo.

***

- Created by Canva

  - https://www.canva.com/design/DAE-VWtR2hE/lD74pk0uXhPcIl335PWJqg/view?utm_content=DAE-VWtR2hE&utm_campaign=designshare

[2022-04-19 13:26] Dapper50 commented on #122
@GemmaTuron Thank you for the feedback, I have made changes as requested.

[2022-04-19 13:30] srcmilena commented on #202
Dear @lylynaheng,

In your first task, I liked how you brought and mentioned our real situation in this world to the motivation between you and Ersilia. It was very nice to read what you wrote, you said it beautifully said. I hadn't thought of it that way!
Thank you for sharing.
Good work so far! Keep it going.

[2022-04-19 13:51] srcmilena commented on #162
Hello, @Pmaidoo!

I read your first task and I also like how the artificial intelligence can solve so many issues and I loved to know how Ersilia apply this in their concept.
Your document file name as "All about Ersilia" is also very helpful. Congrats for that!

Good work.

[2022-04-19 13:58] dchidindu5 commented on #98
Thanks a lot, I really appreciate @GemmaTuron

[2022-04-19 14:27] sayantani11 commented on #101
Made an feature request that can help contributors raise WIP PRs
https://github.com/ersilia-os/ersilia/issues/246

[2022-04-19 15:56] Med16-11 commented on #160
Thanks for merging the PR.
Also I have submitted my final application.

[2022-04-19 17:18] sophiee-blip commented on #127
Okay ma'am. Thank you.

[2022-04-19 18:08] AnshuKumari197 commented on #151
Hi, @GemmaTuron I know I am late to make a blog post on AI/ML in biomedical. But I made it. Please check once and give some your valuable feedback.
Thank you!
https://docs.google.com/document/d/1NJudyKArILgTgNC-iON8jpUvJGZsvjwCZsy1Ky4MY0o/edit?usp=sharing

[2022-04-19 18:09] Nawarrr commented on #211
I think it's the exact one installed by ersilia in the documentation, I will check whether it's not the latest

[2022-04-19 18:21] #123 closed

[2022-04-19 18:26] #122 closed

[2022-04-19 18:28] AnshuKumari197 commented on #151
Hi, @GemmaTuron here is my strategic plan 2021-2023.
https://docs.google.com/document/d/1eKO4ZM-PyK5usGxwDGC_J7N4h4ui5IsdgYaiaOLQE7E/edit?usp=sharing

[2022-04-19 18:31] lylynaheng commented on #204
Good job on the design.

[2022-04-19 18:32] anamika-yadav99 commented on #211
@Nawarrr if it's <7.0 then auto-complete won't work

[2022-04-19 18:34] #151 closed

[2022-04-19 18:43] Nawarrr commented on #108
Great work on the docstring, also the streamlit app looks really good

[2022-04-19 18:44] Nawarrr commented on #104
Great Model card, seems to cover all the important points about the model,
just remember to add the References

[2022-04-19 20:38] #160 closed

[2022-04-19 21:04] #153 closed

[2022-04-19 21:25] #124 closed

[2022-04-20 00:34] Amna-28 commented on #104
Thank you @Nawarrr for your feedback!

[2022-04-20 02:16] Nawarrr commented on #102
[here](https://github.com/ersilia-os/ersilia/issues/211) is my idea to improve ersilia , I also think that automated tests to check PR would accelerate the contribution process ,
Other PRs I've worked on:
#180

[2022-04-20 02:19] Nawarrr commented on #102
I'm assigned to  #211, but I do intend to work in this after the final application, I won't mark the "All PR or issues assigned to me are complete"

[2022-04-20 04:11] sayantani11 commented on #101
[slide on EOSI's mission and vision](https://docs.google.com/presentation/d/11DGunZOnNU7Fd05bDaGcBx4OvIqKdydMB8HcO5fK5s0/edit?usp=sharing)

[2022-04-20 04:12] sayantani11 commented on #101
- Made an feature request that can help contributors raise WIP PRs
   https://github.com/ersilia-os/ersilia/issues/246
- 1 page blog on Strategic plan 2021-2023
   [Strategic plan summary](https://docs.google.com/document/d/18ws_4hmSmZT7NjCx2e7XCXGVhDadAQUrdRKXqEN3La8/edit?usp=sharing)
- Image/ slide on EOSI's mission and vision
  [Mission & Visio](- Made an feature request that can help contribut

[2022-04-20 04:12] pauline-banye commented on #204
Thanks so much @lylynaheng

[2022-04-20 04:13] sayantani11 commented on #101
- Made an feature request that can help contributors raise WIP PRs
   https://github.com/ersilia-os/ersilia/issues/246
- 1 page blog on Strategic plan 2021-2023
   [Strategic plan summary](https://docs.google.com/document/d/18ws_4hmSmZT7NjCx2e7XCXGVhDadAQUrdRKXqEN3La8/edit?usp=sharing)
- Slide/ image on EOSI's mission and vision
  [Mission & Vision](https://docs.google.com/presentation/d/11DGunZOn

[2022-04-20 04:29] sayantani11 commented on #101
### **TECHNICAL CARD**

**Identification**
_Model ID:_ eos6tg8
_Name:_ Natural product fingerprint
_Description:_
A structural fingerprint based on natural products

**General info**
- Built using Pytorch
- the ADAM algorithm in combination with the One Cycle Learning Rate policy is used for Training
_Input:_ Compound
_Output:_ Vector
_Mode:_ Pretrained
_Status:_ Ready

**Resources**
_License:_ MI

[2022-04-20 06:58] pauline-banye commented on #204
Hi @GemmaTuron I have updated the [Ersilia's technical card](https://drive.google.com/uc?export=view&id=14JrzytG1aYcgl3S0DhIr3DhUlRRnsUrh). I removed the link and cited it in the standard way.

I have also submitted my final application. I welcome any feedbacks and adjustments you have especially to the timeline I proposed

[2022-04-20 07:23] #102 closed

[2022-04-20 09:13] Rufaida98 commented on #159
@Riyabelle25 your work is very organized 👍

[2022-04-20 09:43] Rufaida98 commented on #115
Add a screenshot showing that you are able to run predictions using ersilia as a Python library
![Capture predict](https://user-images.githubusercontent.com/92082003/164200185-fb7293da-c68b-4f6b-89ca-b07a31f74872.PNG)

[2022-04-20 11:23] Amna-28 commented on #104
### Write a docstring for the ErsiliaModel class

[code]

![image](https://user-images.githubusercontent.com/98670206/164220132-d2a4746f-c928-4499-a12f-7118557c100b.png)

[2022-04-20 11:27] DokuaAsiedu commented on #158
Twitter Template
Case 1: If model was developed by someone else
Hello everyone 👋!
We are please to announce that we have introduced a new addition to our hub. Credit goes to [name here] who reached out to have [pronoun here] model incorporated into the hub. [Brief description of model here]. Feel free to check it and also don't forget to send us your thoughts and contributions. We would love to he

[2022-04-20 12:17] Pmaidoo commented on #158
What a great job so far Dokua . keep it up .

[2022-04-20 12:21] Pmaidoo commented on #162
@srcmilena thank you very much . alright i will write  you on the slack if possible

[2022-04-20 12:26] srcmilena commented on #162
@Pmaidoo of course! you are welcome. i'll be waiting you on slack! see ya ☺️

[2022-04-20 12:56] Rufaida98 commented on #115
Write a docstring for the ErsiliaModel class
`
class ErsiliaModel(ErsiliaBase):
    '''
    Ersilia Model class:
    is a class to use given attributes to fetch and serve models

    Attributes:
        model: A str of the identifier or the slug of the model.
        save_to_lake : A boolean Indicating whether the calculations
            will be stored to the lake.
        service_class : A str I

[2022-04-20 13:06] DokuaAsiedu commented on #158
Screenshot showing model running
![Screenshot from 2022-04-20 12-25-28](https://user-images.githubusercontent.com/43910399/164237062-9b14b878-dc72-4fa6-8a4e-2dcd09b18f15.png)

[2022-04-20 13:20] ElizabethMawutin commented on #114
Thank you @GemmaTuron.

[2022-04-20 13:39] Amna-28 commented on #104
### Search the scientific literature and suggest 3 new models that would be relevant to incorporate in the Hub

1. **Next-Gen QSAR Models with MolPMoFiT**
    [Inductive transfer learning for molecular activity prediction: Next-Gen QSAR Models with MolPMoFiT](https://jcheminf.biomedcentral.com/articles/10.1186/s13321-020-00430-x)

2. **Mycobacterium tuberculosisIn Vitro Activity Prediction and Tar

[2022-04-20 14:12] DokuaAsiedu commented on #162
@Pmaidoo loved reading your blog post. It was very concise, straight to the point and conveyed the main points of the article. The addition of a table condenses the information and gives you everything you need to read.
Well done!

[2022-04-20 14:17] DokuaAsiedu commented on #158
Here's my `ErsiliaModel` class docstring:

[code]

[2022-04-20 14:21] DokuaAsiedu commented on #158
Thanks so much

[2022-04-20 14:51] sayantani11 commented on #101
@GemmaTuron Can you review the work? And @miquelduranfrigola for #210 can you please rename the branch to main?

[2022-04-20 17:13] #104 closed

[2022-04-20 17:18] DokuaAsiedu commented on #158
Here is a technical card for morgan-counts:
![Technical Card](https://user-images.githubusercontent.com/43910399/164286901-4379c121-0279-4565-a2dd-5baff9b5759a.png)

[2022-04-20 17:54] #103 closed

[2022-04-20 18:35] Riyabelle25 commented on #159
@Rufaida98 Thank you! 💛

[2022-04-21 03:54] srcmilena commented on #143
# Other

@GemmaTuron

When I joined the Slack channel/group, I was a little lost and stayed lost until the first meeting took place. I am not blaming anyone as this is due to my lack of knowledge about the platform, project and it was a very pleasant and new experience. I am thankful for that meeting, which happened 1 week after the start of the contributions, because it was from there that I was

[2022-04-21 04:53] anamika-yadav99 commented on #92
![image](https://user-images.githubusercontent.com/54634163/164374659-cdc13750-cb91-467c-b4a7-4c799bdb7a90.png)

[2022-04-21 05:18] srcmilena commented on #143
# Writing dissemination material

(Strategic plan 2021-2023)

- Page blogspot created by Google docs
  - https://docs.google.com/document/d/13tRV--Z_OFeTPGl0McgUAP4i1MAwNnkFC08kbPjzAxA/edit?usp=sharing

[2022-04-21 06:15] #155 closed

[2022-04-21 06:46] GemmaTuron commented on #204
Thank you @pauline-banye!
I am closing this issue as the Contribution period is finalized, many thanks for your work and support! Looking forward to reading your application.

[2022-04-21 06:46] #204 closed

[2022-04-21 06:49] GemmaTuron commented on #183
I have merged the different suggestions into a README and CONTRIBUTING files, and will also add changes on the installation guide on GitHub. As for the original documents contributed, I am preparing an open folder with the outreachy contributions, which will be available through our website.

[2022-04-21 06:49] #183 closed

[2022-04-21 06:54] GemmaTuron commented on #241
Hi @anamika-yadav99

This sounds fantastic. My only concern is if the search function for close models would slow down the package too much, but we can certainly explore options. Can you add this to your application as a task?

[2022-04-21 07:10] Jaya3112 commented on #140
I modified it please review it and give your suggestion.

[2022-04-21 07:16] #97 closed

[2022-04-21 07:41] #156 closed

[2022-04-21 08:15] anamika-yadav99 commented on #92
**Comment under this issue explaining why you are interested in this project.**

I’m a 3rd year undergraduate student from New Delhi, India. I’m currently pursuing engineering from GGS Indraprastha University, New Delhi. I’m a big supporter of open science and open source. I’m intrigued by the support and opportunities open source could provide to the scientific community and people. I have always

[2022-04-21 12:44] busiratazeez commented on #100
#10 is definitely a slow thread as @miquelduranfrigola anticipated.
Do we have any recent development from AWS ?

[2022-04-21 13:30] #114 closed

[2022-04-21 14:15] #207 closed

[2022-04-21 14:40] #162 closed

[2022-04-21 16:05] DokuaAsiedu commented on #158
### 3 Models I think would be a great addition to the hub:
* Binding Affinity: To help determine how well a potential drug, binds to its target which will have a hand in determining a drug's potency.

* Molecular Electrostatic Potential: To show a representation of the chemically reactive regions in a molecule

* Transporter Function: To give a probability that a drug being delivered to a target w

[2022-04-21 16:19] sophiee-blip commented on #202
This is really nice, well done!

[2022-04-21 16:20] sophiee-blip commented on #144
Nice job!

[2022-04-21 18:13] Kcfreshly commented on #105
Thank you  so much @GemmaTuron and @miquelduranfrigola  for the guidance.

[2022-04-21 18:16] #105 closed

[2022-04-21 18:31] sayantani11 commented on #44
This issue is done!!!

[2022-04-21 18:31] #44 closed

[2022-04-21 18:35] #106 closed

[2022-04-21 18:35] victorabba commented on #106
This issue has been closed.

[2022-04-21 19:08] ps-19 commented on #208
Finally completely all of the task.
![WhatsApp Image 2022-04-21 at 11 41 02 PM](https://user-images.githubusercontent.com/63330165/164535223-c8493108-e12c-4c97-ba0b-4dd947ed20bb.jpeg)
![WhatsApp Image 2022-04-21 at 11 54 45 PM](https://user-images.githubusercontent.com/63330165/164535237-396069cf-8ed6-4df5-909c-8af289e1cdc9.jpeg)
![WhatsApp Image 2022-04-22 at 12 00 02 AM](https://user-images.gith

[2022-04-21 19:19] ps-19 opened #254 "Feature Request: Add a UI feature to fetch models instead through CLI"
### Is your feature request related to a problem? Please describe.

_No response_

### Describe the solution you'd like.

_No response_

### Describe alternatives you've considered

_No response_

### Additional context.

_No response_

[2022-04-21 19:20] ps-19 commented on #208
Feature Requested: https://github.com/ersilia-os/ersilia/issues/254

[2022-04-21 19:23] ps-19 commented on #208
https://docs.google.com/document/d/1u0UfmoJg512SbeSeDnKxJNI1OSVUk8jwUZG_pYwh4Z0/edit?usp=sharing

[2022-04-21 19:32] ps-19 commented on #208
I am an undergraduate student of IT. In my first year I started doing competitive coding and still today I am doing competitive coding.

In my second  year I got to know about open source from GSoC and outreachy internship,
I started contributing to repositories like kubernetes-client, Pycharm, Cherrypy, LoginRadius, Cataclysm-DDA etc. I have a lot of PRs merged into these repositories(https://git

[2022-04-21 20:55] #98 closed

[2022-04-21 21:50] srcmilena commented on #143
# Github documentation
#### README file (I used the strategic plan file)

- README_Milena.md
  - [PR #255 ](https://github.com/ersilia-os/ersilia/pull/255)

[2022-04-21 21:53] #100 closed

[2022-04-21 22:47] srcmilena commented on #143
# Technical skills (required for the tutorial only)

I installed but after installing I noticed that is needed at least windows 10 and my currently version is older.

[2022-04-22 01:16] #143 closed

[2022-04-22 03:56] 0DUNTAN commented on #121
I am interested in this project (documentation) because, during my internship in Product Management, One of the major barriers to the adoption of new technology is documentation, Technical team build amazing technologies (like Models in the Ersilia Model Hub) but non Technical users are having difficulty using it due to less understanding of this technologies, thereby leading to low adoption.

My

[2022-04-22 03:56] #121 closed

[2022-04-22 08:17] #92 closed

[2022-04-22 08:17] GemmaTuron commented on #101
Hi @sayantani11

this looks good, I would only perhaps work a bit on the general info section, as most users won't be experts so that it is built with PyTorch or another one its not so relevant to them.
Otherwise great job!

[2022-04-22 08:18] mimigraphy20 opened #256 "Outreachy Documentation Project: <Miracle Nwoke>"
Applicant: <mimigraphy20>

Welcome to the Ersilia Open Source Initiative. This issue will serve to track all your contributions for the project “Improve the documentation and outreach material of the Ersilia Model Hub”.

Please tick the tasks as you complete them. To make a final application it is *not* required to have completed all tasks. Only the *Initial Steps* and *Community* sections are REQ

[2022-04-22 08:32] GemmaTuron commented on #256
Hi @mimigraphy20

Thanks for your interest, I regret to inform you this project already has many strong applicants and it is not accepting new contributors, specially as the deadline for submission is only a few hours away.

[2022-04-22 08:32] #256 closed

[2022-04-22 08:35] GemmaTuron commented on #249
Hi @fortune-max

It looks like a problem with installation on your side. Which Anaconda do you have? and have you created a conda environment with python 3.7, and used the command `pip install -e .`

[2022-04-22 08:37] GemmaTuron commented on #236
Hi @fortune-max

Thanks for the suggestions we will look into them as soon as possible. Unfortunately we won't be able to provide feedback before the application deadline so please go ahead and make your application listing these contributions so far.

Thanks!

[2022-04-22 08:56] fortune-max commented on #249
Hi Gemma,

The python I had in my conda environment was python3.8 (python3.7 was unavailable for ARM devices and is not on the conda repo). My conda installation is miniconda3 due to size constraints.

I did activate the Ersilia conda environment and run `pip install -e .`.

Hope this helps.

[2022-04-22 09:23] fortune-max commented on #236
Sure Gemma,

Glad to have helped. Will add to contributions now.

[2022-04-22 09:27] Rufaida98 commented on #115
i am still working in issue #6 so i will let All PR or issues assigned to me are complete open. Thank you 👍

[2022-04-22 09:27] #115 closed

[2022-04-22 09:33] mimigraphy20 commented on #256
😢

[2022-04-22 10:20] Jaya3112 commented on #140
Thank you @GemmaTuron  and @miquelduranfrigola for this amazing opportunity. Hope we can do more work together and fulfill the mission.

[2022-04-22 10:20] #140 closed

[2022-04-22 11:04] #158 closed

[2022-04-22 11:25] sophiee-blip commented on #127
Link to my blogpost ma'am@GemmaTuron
https://docs.google.com/document/d/1QuL8JW4TMDvZPIdW4lq5l8ArIR39jL69hm3QaoX3FKQ/edit?usp=drivesdk

[2022-04-22 11:26] sophiee-blip commented on #127
Good morning ma'am@GemmaTuron
Here's the link to my drug discovery blog post, I hope you enjoy it.

[2022-04-22 12:37] #208 closed

[2022-04-22 12:54] sophiee-blip commented on #127
Good morning ma'am@GemmaTuron
Here's the link to my drug discovery blog post, I hope you enjoy it.

[2022-04-22 12:58] sophiee-blip commented on #127
My Twitter post template.
  Hello beautiful people, As always, Ersilia finds new ways to make things scientific research easier.  In that light, a new model has been incorporated to the hub, be rest assured it is easier and better, which is why it was added.
     For more information,. Visit the Ersilia Model Hub and or follow this thread, we look forward to you enjoying using this new model!

[2022-04-22 13:02] #147 closed

[2022-04-22 16:57] harshita214 commented on #144
Submitted my final application ✨
Closing this Issue

Thank you @GemmaTuron and @miquelduranfrigola for the guidance ❤️

[2022-04-22 16:57] #144 closed

[2022-04-22 21:53] #202 closed

[2022-04-22 23:32] #94 closed

[2022-04-23 02:34] harshita214 commented on #91
@GemmaTuron Can I also work on this issue with @Sukriti-sood if it's alright

I would be happy to help and create an issue form for **documentation issues** since as of now there are these 3 categories of issue forms apart from outreachy forms. So if its alright can I work on this part @GemmaTuron

![image](https://user-images.githubusercontent.com/79797000/164865996-bb8929df-5c99-4d0e-9ff7-fc3344

[2022-04-23 04:05] dauinh commented on #108
thank you so much!

[2022-04-23 14:18] #159 closed

[2022-04-23 20:27] adeola-dev commented on #170
I really liked the technical card. Good job!

[2022-04-23 20:42] adeola-dev commented on #150
Hi @julietugo You did a good job with the AI blogpost!

[2022-04-23 20:52] adeola-dev commented on #119
Thanks again for all your support!

[2022-04-23 21:00] #119 closed

[2022-04-23 22:30] julietugo commented on #150
Thank you @adeola-dev.

[2022-04-24 01:57] #127 closed

[2022-04-24 03:59] Shamswaggirl commented on #170
Thanks alot for your credit @adeola-dev

[2022-04-24 10:03] Med16-11 opened #257 "Bug 🐛: Improving Installation Guidelines"
### Describe the bug.

 GitHub CLI and GitHub LFS installation steps are mentioned at the bottom due to which people start installing the Ersilia Python package before installing these dependencies. This makes the installation process more confusing.

### Describe the steps to reproduce the behavior

1. Go to the README.md file.
2. Click on the installation guide.
3. Scroll down to the bottom, you

[2022-04-25 19:19] sayantani11 commented on #257
Can I take this?

[2022-04-26 04:17] Med16-11 commented on #257
Hey @sayantani11!
Actually, I am an Outreachy applicant and I am not sure that I am allowed to assign this issue to anyone. Also, I am working on this issue.
I think @GemmaTuron can guide us !

[2022-04-27 06:24] GemmaTuron commented on #244
Hello @SHRIYA1706

This list of tasks was for the contribution period of Outreachy which is now closed. If you wish to contribute to the Ersilia repo, please identify a specific task and open an issue, community managers will assign tasks to different members via the issues.

[2022-04-27 06:24] #244 closed

[2022-04-27 06:24] #237 closed

[2022-04-27 06:24] #236 closed

[2022-04-27 06:24] #230 closed

[2022-04-27 06:26] GemmaTuron commented on #185
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:26] #185 closed

[2022-04-27 06:26] GemmaTuron commented on #179
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:26] #179 closed

[2022-04-27 06:26] GemmaTuron commented on #220
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:26] #220 closed

[2022-04-27 06:27] GemmaTuron commented on #170
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:27] #170 closed

[2022-04-27 06:27] GemmaTuron commented on #163
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:27] #163 closed

[2022-04-27 06:27] GemmaTuron commented on #157
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:27] #157 closed

[2022-04-27 06:27] GemmaTuron commented on #150
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:27] #150 closed

[2022-04-27 06:28] GemmaTuron commented on #148
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:28] #148 closed

[2022-04-27 06:28] GemmaTuron commented on #146
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:28] #146 closed

[2022-04-27 06:28] GemmaTuron commented on #145
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:28] #145 closed

[2022-04-27 06:28] GemmaTuron commented on #138
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:28] #138 closed

[2022-04-27 06:28] GemmaTuron commented on #120
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:28] #120 closed

[2022-04-27 06:29] GemmaTuron commented on #117
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:29] #117 closed

[2022-04-27 06:29] GemmaTuron commented on #110
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:29] #110 closed

[2022-04-27 06:29] GemmaTuron commented on #108
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:29] #108 closed

[2022-04-27 06:29] GemmaTuron commented on #107
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:29] #107 closed

[2022-04-27 06:30] GemmaTuron commented on #101
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:30] #101 closed

[2022-04-27 06:30] GemmaTuron commented on #99
The Outreachy contribution period has come to an end, so I will close this issue. If you want to continue contributing to Ersilia, please follow the guidelines in the CONTRIBUTING file

[2022-04-27 06:30] #99 closed

[2022-04-27 06:32] Shamswaggirl commented on #170
Okay, thanks alot @GemmaTuron for the opportunity to contribute for Ersilia.

[2022-04-27 06:32] GemmaTuron commented on #90
Hi @suryaremanan

Thanks for your interest. we are currently not able to provide individual guidance on how to train new models. If you have already done models that you wish to submit to the Hub, please do so via the github issues or request a model via our website

[2022-04-27 06:32] #90 closed

[2022-04-27 06:36] GemmaTuron commented on #257
Hi @Med16-11

Thanks for pointing this out. In the ReadMe file it clearly states to go first to the Installation guide to check dependencies,  where Git LFS and others are specified:
_Some pre-trained models, especially the ones that contain many parameters, require Git Large File Storage (LFS). Make sure this Git extension is [installed](https://git-lfs.github.com/) before proceeding._

We do not

[2022-04-27 06:38] GemmaTuron commented on #249
Hi @fortune-max

This looks like a specific issue of your miniconda installation. I cannot reproduce the error

[2022-04-27 06:54] Med16-11 commented on #257
@GemmaTuron Thanks for the clarification.
It's just that many people were facing this installation problem. I thought maybe, it would be better if we could add any NOTE in the starting. Although the guidelines are clear. I think contributors just need to read it carefully.

[2022-04-27 09:49] Sukriti-sood commented on #157
Thank you @GemmaTuron

[2022-04-27 10:24] #257 closed

[2022-04-27 12:31] fortune-max commented on #249
Hi @GemmaTuron

I have duplicated the error again, I added the terminal output for you to see. Hopefully that helps some.
h5py was installed using `conda install h5py` which is why it's already present in pip packages and I removed it from requirements.txt. Other than that the codebase is the same. The conda versions and python versions were also added.

[Ersilia error terminal output.txt](https:/

[2022-04-27 14:22] miquelduranfrigola commented on #234
Hi @ps-19 these are interesting suggestions.

There is a fantastic approach at the moment to calculating/estimating model download/fetch time #188. As you will see, a metadata file is used to do this estimation. An easy thing to do would be to add, in this metadata file, the average time to make one prediction. With this information in the metadata, we can tell the user the expected time it will t

[2022-04-27 14:25] miquelduranfrigola commented on #234
Hi @Rufaida98 indeed, we need to do this soon. Could you find an interesting approach? Feel free to open a new issue to tackle this specifically.

[2022-04-27 14:30] miquelduranfrigola commented on #8
Hi @sonali-sk thanks for the two questions.

At the moment, by default when you fetch a model that is currently available in your system, the model is deleted and we fetch it again. We can certainly optimize this, perhaps just by using git functionalities.

[2022-04-27 14:50] miquelduranfrigola commented on #246
This is interesting @sayantani11. Perhaps it would be sufficient to have a label called "WIP"?

[2022-04-27 14:53] miquelduranfrigola commented on #241
This is interesting overall. Because we are using AirTable to store our models, my immediate guess is that there may be some AirTable functionality for fuzzy string matching or something like this in a text-based search. If this is the case, we should certainly take this avenue.

[2022-04-27 14:54] sayantani11 commented on #246
Yep!!!
But WIP PRs shouldn't be running all the tests, to save resources. We
haven't added any advanced workflows yet.... But when we do, WIP PRs should
be running only linters and other tests/workflows later.
Idk, if I am making sense 😅

On Wed, Apr 27, 2022, 8:21 PM Miquel Duran-Frigola ***@***.***>
wrote:

[2022-04-27 15:01] miquelduranfrigola commented on #246
You are making sense as always!
I see your point.
Just as an FYI, we are working with some corporate folks that are helping with the GitHub Actions triggered for specific PR. One feature we are adding is triggering different actions depending on labels. So we can certainly add a "WIP" label and trigger only a subset of bare-minimum tests.

[2022-04-27 15:02] miquelduranfrigola commented on #12
Closing this issue now as it was resolved in #238

[2022-04-27 15:02] fortune-max commented on #248
Hi @miquelduranfrigola ,

Yes a conda package would solve this issue. Glad to see it's in the works. Thanks for reviewing.

[2022-04-27 15:03] #126 closed

[2022-04-27 15:06] miquelduranfrigola commented on #211
Hi I am closing this issue now - all progress is well noted and please, feel free to reopen it at any point!

[2022-04-27 15:06] #211 closed

[2022-04-27 15:08] miquelduranfrigola commented on #248
I really appreciate your points. Let me close the issue now but feel free to reopen at any point.

[2022-04-27 15:08] #248 closed

[2022-04-30 06:32] sonali-sk commented on #8
@miquelduranfrigola Is it being deleted so that the repo's last modify date is changed? Also, what I noticed initially is that when we try to fetch an already fetched model, it took lesser time compared to the current fetch mechanism, at that time was it fetching from the local system, due to which it took relatively less time?

[2022-05-01 11:31] anamika-yadav99 commented on #241
Hi @miquelduranfrigola  I looked into Airtable API. Unfortunately it doesn't support Fuzzy Search. Fuzzy search can easily be achieved using fuzzywuzzy python library but  I guess, you wouldn't want any more dependency in ersilia. So, I have modified the Search function in Ersilia  to include an algorithm which calculates the distance between the input from cli and data which is imported from hub

[2022-05-01 15:06] miquelduranfrigola commented on #241
Hi, @anamika-yadav99 thanks. This sounds like a good approach. Let's go for it. I am more interested in the `catalog` command than in the `fetch` command. So let's try with `catalog`, to start with?

[2022-05-01 15:11] miquelduranfrigola commented on #8
Good points, @sonali-sk. Fetching a second time takes less time in this case, probably because conda has already cached some packages.

I do think that checking for the "last modified" data point in the repo would be a good way of avoiding unnecessary extra downloads. We haven't implemented it yet. Will keep you updated.

[2022-05-01 15:17] anamika-yadav99 commented on #241
@miquelduranfrigola I'm almost done with the catalog command. I'll raise the PR by tomorrow.

[2022-05-05 04:41] Rufaida98 commented on #234
@miquelduranfrigola alright I will do that 🙏

[2022-05-05 04:52] Rufaida98 opened #261 "Compress models"
**Is your feature request related to a problem? Please describe.**
@miquelduranfrigola This to help issue #234 and #188

**Describe the solution you'd like**
I found an interesting essays so everyone please feel free to read them and help to contribute ☺️

 https://link.medium.com/XtCGGnB1Lpb

 https://link.medium.com/b1JUyJU0Lpb

[2022-05-05 08:20] harshita214 commented on #91
@GemmaTuron

[2022-05-05 11:58] anamika-yadav99 commented on #241
Hi @miquelduranfrigola I'm sorry for the delay. I was caught in some college work which took longer than expected. I have raised a pr for catalog command. Looking forward to your feedback.

[2022-05-09 07:26] miquelduranfrigola commented on #241
Hi @anamika-yadav99 this is great. I have approved PR #262 and closing the issue now! Many thanks.

[2022-05-09 07:26] #241 closed

[2022-05-09 07:31] miquelduranfrigola commented on #261
Hi @Rufaida98 this is very interesting, thanks for sharing. Certainly something we can take into account for our "Lite models" library, @GemmaTuron : https://github.com/ersilia-os/eos-lite-chem

[2022-05-09 09:23] Rufaida98 commented on #261
@miquelduranfrigola i am happy to be able to help. i will search more about compressed models and hopefully we can integrated to the current models

[2022-05-09 15:07] anamika-yadav99 commented on #261
Hi @miquelduranfrigola @Rufaida98 I know of a open source surrogate modeling toolbox which might come in handy if there's a plan to create surrogate models. It's
https://smt.readthedocs.io/en/latest/

[2022-05-09 16:43] miquelduranfrigola commented on #261
Hi @anamika-yadav99 - great suggestion, will look into it ASAP. At the moment, we create surrogate models quite successfully with KerasTuner, using 1, 2 or 3 dense layers. The key here is that we have a big (master) model (https://github.com/ersilia-os/groverfeat) that we can use as a pretrained model, and then the surrogate models are simple concatenations at the end of groverfeat.

[2022-05-19 03:57] Sukriti-sood opened #264 "Bug 🐛: Repition in issue templates"
### Describe the bug.

Recent commit has added `bug-report.md` and `feature-request.md` which resulted in having 2 `bug-report` an `feature-request` templates...

### Screenshots.

![Screenshot 2022-05-19 092556](https://user-images.githubusercontent.com/55010599/169201163-f3c43f1e-cfa8-4203-b213-ca6a1c456c35.png)

### Operating environment

Ubuntu

[2022-05-19 14:13] miquelduranfrigola commented on #264
Thanks for noticing this @Sukriti-sood.

[2022-05-19 14:13] #264 closed

[2022-06-07 15:24] Amna-28 opened #265 "Model Request:"
### Model Title

Compound Toxicity Prediction Based on SSL and GCN

### Publication

https://jcheminf.biomedcentral.com/articles/10.1186/s13321-021-00570-8

### Code

https://github.com/chen709847237/SSL-GCN

[2022-06-07 16:42] Amna-28 commented on #265
Model Incorporation Progress :

**SSL-GCN Model**
- [ ] Create conda environment with all the requirements/dependencies
- [ ] Download Model and Data
- [ ] Run SSL-GCN Model
- [ ] Run single Prediction - create predict.py
- [ ] Validate / Evaluate Model - 100 samples
- [ ] Display output having 12 different outcomes for a molecule

[2022-06-16 06:48] Amna-28 commented on #265
**Create Model Repository**
- [x] Add model files under eos69p9/model/framework/
- [x] Update DockerFile
- [x] Modify service.py

[2022-06-20 06:56] Amna-28 commented on #265
Compound Toxicity Prediction Based on SSL and GCN model added to ersilia as eos69p9

[2022-06-20 06:56] #265 closed

[2022-07-18 06:14] Amna-28 opened #269 "Bug 🐛: Version conflicts while installing Ersilia"
### Describe the bug.

I am working on Linux-Ubuntu 64-bit.
While Installing Ersilia, I encountered two dependency-related conflicts:

1. ersilia and isaura require different versions of h5py and loguru. I get the following error:
    `isaura 0.0.1 requires h5py==3.4.0, but you have h5py 3.7.0 which is incompatible.`
    `isaura 0.0.1 requires loguru==0.5.3, but you have loguru 0.6.0 which is inco

[2022-07-24 13:34] #234 closed

[2022-08-13 09:20] miquelduranfrigola commented on #177
Hi @sayantani11 - I am sorry I overlooked this message. I would prefer to keep the branch as `master` for now, although I am aware that we should rename it to `main` eventually. Renaming it now could potentially affect some scripts by collaborators, so I think we need to plan the renaming well. Will keep you updated.

Is there a specific reason you want this renaming?

[2022-08-13 09:23] miquelduranfrigola commented on #269
This has been resolved. Thanks @Amna-28 !

[2022-08-13 09:23] #269 closed

[2022-08-13 20:12] sayantani11 commented on #177
Yeah!! I guess the workflows actually look for a branch named `main`
instead of master. That's the only reason holding this PR. But we can
definitely put it on hold and look into it in the future.

On Sat, 13 Aug 2022 at 14:50, Miquel Duran-Frigola ***@***.***>
wrote:

[2022-08-17 13:07] miquelduranfrigola commented on #177
Thanks @sayantani11!! Yes let's put it on hold. We will have someone specifically taking care of workflows soon, so we can take over as soon as they are up to speed.

[2022-08-23 18:44] azycn opened #270 "New issue"
this is my error text

[2022-08-23 18:45] #270 closed

[2022-08-25 15:37] ifeoluwafavour opened #271 "Bug 🐛: Error when specifying output file path in Colab only"
### Describe the bug.

In Colab, when I specify a file path for a model to save the output pf a prediction or calculation on an input file, an error arises.

This method of specifying the output's file path works on the CLI but the error came up in Google Colab.

### Describe the steps to reproduce the behavior

In Google Colab, after installing Ersilia and mounting the drive, I went ahead to run

[2022-08-26 10:30] miquelduranfrigola commented on #271
Hi @ifeoluwafavour thanks for posting this bug. I have now resolved it. It was not specific to Colab - it was related to writing output in a csv file.

As an FYI, I have included some CircleCI tests to prevent this and similar errors in the future (cc @GemmaTuron):

[code]

[2022-08-26 10:30] #271 closed

[2022-08-29 07:12] #249 closed

[2022-08-29 14:44] #261 closed

[2022-08-29 14:48] GemmaTuron opened #272 "🐛 Model Fetching does not find data.h5"
### Describe the bug.

There are a few models on the Ersilia Model Hub that fail at fetching time with the following error:
FileNotFoundError: [Errno 2] No such file or directory: '/home/gturon/eos/dest/eos7a45/data.h5' -> '/home/gturon/eos/isaura/lake/eos7a45_public.h5'

The models that fail are: eos7a45, eos1amn, eos2hbd, eos97yu, eos2gth, eos65rt.
Full error logs are attached.
[log_eos7a45.txt]

[2022-08-29 15:22] GemmaTuron opened #273 "Bug 🐛: eos77w8"
### Describe the bug.

When fetching eos77w8 it automatically creates a features.npz folder in the location where you are at. This features should probably be downloaded in the eos folder instead.
@Amna-28 this model was incorporated by you, can you check it?

### Describe the steps to reproduce the behavior

ersilia fetch eos77w8

### Expected behavior.

No folder or file is downloaded in the dir

[2022-08-29 16:16] GemmaTuron commented on #273
It also happens with the eos1amr @Amna-28

[2022-08-30 08:55] GemmaTuron commented on #273
As an update, this seems to be an issue when locating the path to the features.npz file and happens across all Grover models. We are working to redirect them to the appropriate folder.

[2022-08-30 08:59] GemmaTuron opened #274 "Bug 🐛: Mol2Vec Featurizer for eos30gr"
### Describe the bug.

Mol2Vec featurizer is unable to convert SMILES of well known drugs, like isoniazid and pyrazinamide. Since these are used at fetching time, the model cannot be fetched.

### Describe the steps to reproduce the behavior

ersilia fetch eos30gr

### Expected behavior.

I would suggest to re-train the model using a differetn featurizer, because it seems we will encounter this er

[2022-08-30 09:01] GemmaTuron opened #275 "Bug 🐛: eos2b6f creates test.pkl file"
### Describe the bug.

The model [eos2b6f](https://github.com/ersilia-os/eos2b6f) creates a file named test.pkl at the destination folder at fetching time

### Describe the steps to reproduce the behavior

ersilia fetch eos2b6f

### Expected behavior.

If this file is necessary, it should be stored with the model, under eos/repository...
If it is not necessary for running the model it should be de

[2022-08-30 09:33] GemmaTuron commented on #272
I have fixed the issue with this [commit](https://github.com/ersilia-os/ersilia/commit/de14ca02872648cdcb4b1a826377d1b54ce4c6da)
Now it does not attempt to link the destination folder with isaura if isaura path does not exist.

[2022-08-30 09:33] #272 closed

[2022-08-30 23:44] svolk19-stanford commented on #275
The original pkasolver model relies on a package called dimorphite_dl to calculate pka values. The pkasolver model piped output from dimorphite_dl to itself by means of this test.pkl file, which was left over when the run was complete. I added logic to first output this test.pkl file to a predictable location, then delete it after the run is over.

[2022-08-30 23:44] #275 closed

[2022-09-06 21:47] miquelduranfrigola commented on #10
Closing this issue for now. We might resolve to DynamoDb eventually.

[2022-09-06 21:47] #10 closed

[2022-09-06 21:47] miquelduranfrigola commented on #91
@GemmaTuron - can we revise this issue and close it if solved?

[2022-09-13 09:00] marcostorrework opened #277 "Feature Request: Provide a more informative error message if Git LFS is not installed"
### Is your feature request related to a problem? Please describe.

Some models require Git Large File Storage (LFS) to run. One example is the model chemprop-antibiotic.
If LFS is not installed and we try to fetch a model that requires it, it fails with the error "Model API eos4e40:predict did not produce an output", which is not very helpful.
If we run in verbose mode, there is actually an indic

[2022-09-24 00:04] D1M1TR10S opened #280 "[Epic] Auto-test New Model Submissions"

[2022-09-24 00:04] D1M1TR10S opened #281 "[Epic] Scheduled Prediction Runs"
## Summary ⭐️
Run scheduled prediction runs for all models in Ersilia's database. Analyzing patterns on prediction runs helps their research. Build an Actions workflow that triggers prediction runs for all models in the database. Make sure it's performant and scalable – and less likely to incur heavy consumption costs on AWS.

## Objective 🎯
We want to answer the question: how long does it take ea

[2022-09-24 00:05] D1M1TR10S opened #282 "[Initiative] Post Updates to Social Media"

[2022-09-24 00:05] D1M1TR10S opened #283 "[Initiative] Security Workflows"

[2022-09-24 00:05] D1M1TR10S opened #284 "[Batch] Managing Dependencies"
To manage the dependencies of the packages in the Ersilia Repository.

- [x] #300
- [x] #299

[2022-09-24 01:10] D1M1TR10S opened #286 "[Batch] Automate Posts to Twitter"

[2022-09-28 18:42] D1M1TR10S opened #287 "[Epic] New Model Submission Flow"
## Summary ⭐️
Architect and build a new model submissions flow for a more efficient and scalable submission process.

## Objective 🎯
https://github.com/ersilia-os needs a streamlined way for users to submit model requests and when approved, have a shiny new repository made for their model based on the [eos-template](https://github.com/ersilia-os/eos-template) repo.

## Supporting Details ✏️

### W

[2022-09-28 19:10] D1M1TR10S opened #288 "[Spike] Explore options for the new model submission flow"

[2022-10-02 08:53] GemmaTuron commented on #91
Hi all,

We now have all the issue templates we need in a nice format, so I am closing this issue!

[2022-10-02 08:53] #91 closed

[2022-10-02 08:54] GemmaTuron commented on #177
Hi all!
I will close this issue since we are going to work on workflows in general with the support of the fantastic github volunteers.

[2022-10-02 08:54] #177 closed

[2022-10-02 08:55] GemmaTuron commented on #246
Hi!

We have not added the WIP label yet, but this is on the list for when the PR GitHub Actions are set, so I will close this issue while we wait for the implementation of GitHub Actions.

[2022-10-02 08:55] #246 closed

[2022-10-02 08:57] GemmaTuron commented on #277
Hi @marcostorrework !
I agree this is a major issue users encounter often, so we should add one check specifically for Git-LFS and make an easy to understand error if that is the case. Let's see if someone from the community can pick this up to work on!

[2022-10-02 17:07] GemmaTuron commented on #6
Hi all!

As an update, @nataliyah123 is working on this issue we will keep you posted on the progress!

[2022-10-03 03:03] GrantBirki commented on #288
## Model Submission Flow: Issues + GitHub Actions

This is a purposed solution for this spike to allow all users (internal or external to @ersilia-os) to be able submit new models with ease.

### Goal ⭐

@ersilia-os needs a streamlined way for users to submit model requests and when approved, have a shiny new repository made for their model based on the [eos-template](https://github.com/ersilia-os

[2022-10-03 07:55] miquelduranfrigola commented on #288
Hi @GrantBirki I think this is fantastic. I need to be 100% sure I have you covered on the eos-template side of things. What is the best way for ersilia to offer "support" for template repository setup?

[2022-10-03 16:13] GrantBirki commented on #288
@miquelduranfrigola I think as far as the template goes, it will really just be a "fill in the blanks" situation. We make the issue template have fields which will populate the main `README.md` of the repo we create with the "template repo".

For example, the area's in red will be filled in using the data provided in the issue template.
![image](https://user-images.githubusercontent.com/23362539/1

[2022-10-03 16:14] GrantBirki commented on #288
I think there should just be a really good "contract" between the issue template and the repo template. If we are asking user's to fill out a question in the "issue" then that data should correspond to a section in the README of the template repo we create for them.

[2022-10-05 03:32] GrantBirki commented on #288
I found an Action's workflow have been testing it out in my sandbox which will parse and issue template response. This will allow us to funnel that JSON output into a subsequent Action step that we can use to populate our template repository which we will create in the same Actions workflow.

I found a potential bug in the 3rd party Action and opened an issue which is linked above this comment

[2022-10-06 21:25] #8 closed

[2022-10-06 21:26] miquelduranfrigola commented on #273
Hi @GemmaTuron and @Amna-28 - has the issue been solved?

[2022-10-06 21:27] miquelduranfrigola commented on #274
This is a very important point. Can you please clarify which is the output given by mol2vec when it is unable to produce a vector? Does the model crash or does it return nan values?

[2022-10-06 21:34] miquelduranfrigola commented on #288
Hi @GrantBirki - all of this is great. I really like the idea of linking the form to the README.

I am now writing a script to generate model identifiers randomly, so users do not have to decide by themselves.

[2022-10-06 22:14] miquelduranfrigola commented on #288
Hi @GrantBirki!
The following script generates eos identifiers:
`python .github/scripts/generate_eos_identifier.py`
I hope this is helpful!

[2022-10-07 06:41] miquelduranfrigola opened #291 "🦠 Model Request: This is a test"
### Model Title

test-for-amna

### Publication

no publication

### Code

no code available

[2022-10-07 06:42] miquelduranfrigola commented on #291
/approve

[2022-10-08 15:00] JHlozek opened #292 "🐛 Bug: Authentication error for airtable"
### Describe the bug.

When fetching an ersilia model, I immediately get a crash with an https authentication error for the model airtable. The same type of error is raised when going to that link separately in a browser.

requests.exceptions.HTTPError: ('403 Client Error: Forbidden for url: https://api.airtable.com/v0/appgxpCzCDNyGjWc8/Models?pageSize=100&maxRecords=100000', "403 Client Error: Fo

[2022-10-08 23:13] Amna-28 commented on #273
Hi @GemmaTuron and @miquelduranfrigola, this issue has been resolved.

[2022-10-09 13:06] sayantani11 commented on #282
@D1M1TR10S Like do we want automation or manual?

[2022-10-09 17:21] DhanshreeA commented on #292
Experiencing this while fetching the ersilia catalog as well.

[2022-10-09 21:58] Malikbadmus commented on #292
Same issue I'm facing as well.

[2022-10-10 08:10] temitayopelumi commented on #292
I am also facing the same issue

[2022-10-10 09:02] miquelduranfrigola commented on #292
Hi @JHlozek and all - thanks for raising this issue. This is related to an update of the AirTable Read-Only API keys that we did not anticipate.

The issue is now solved (v.0.1.1) and we have implemented a more sustainable solution for the future. You will have to re-install Ersilia on your local device.

Thanks!

[2022-10-10 09:03] #291 closed

[2022-10-10 09:04] #273 closed

[2022-10-10 09:27] sayantani11 commented on #286
Hi @GemmaTuron @miquelduranfrigola I was trying to work on this!? But there are few things I would like to know:
1. Where will the twitter post fetch content from?
2. Do you want to automate in a way that there will be tweet at a particular interval?
Just wanted to be more clear before I can proceed. Also are we looking for a github action or a python program?

[2022-10-10 09:50] GemmaTuron opened #293 "How to contribute to Outreachy's internship application"
Hello all,

I am opening this issue to help guide Outreachy internship applicants in their process:

- Join the [Slack workspace](https://join.slack.com/t/ersilia-outreachy/shared_invite/zt-1h2u8vbxh-fkyxlOJE20Bx538hQvpC~A) to stay up to date with all announcements.
- READ the [Contribution Guide](https://ersilia.gitbook.io/ersilia-book/contributors/internships/outreachy-winter-2023), your mentors

[2022-10-10 12:22] Malikbadmus opened #294 "🐛 Bug: Requests.exceptions.ConnectionError for Model eos1579"
### Describe the bug.
raise ConnectionError(err, request=request)

requests.exceptions.ConnectionError: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))

This is the error raised while trying to fetch Model eos1579(Metabokiller)

### Describe the steps to reproduce the behavior

ersilia -v fetch eos1579

### Expected behavior.

Fetch the model successful

[2022-10-10 13:20] Malikbadmus opened #295 "🐛 Bug: EmptyOutputError for Model eos157v"
### Describe the bug.

Model API eos157v: predict did not produce an output.

The above is the error message gotten while trying to fetch eos157v.

Commands were run in verbose mode(-v in the CLI)

### Describe the steps to reproduce the behavior

ersilia -v fetch eos157v

### Expected behavior.

Fetch the model successfully

### Screenshots.

_No response_

### Operating environment

Ubuntu 22.04

[2022-10-10 17:20] D1M1TR10S commented on #287
## Summary ⭐️
Architect and build a new model submissions flow for a more efficient and scalable submission process.

## Objective 🎯
Have new model submission flow live by X date

## Supporting Details ✏️

## Dependencies 🖇
Actions 1 & 2 depend on this being complete.

## Team 🏀
**DRI:** @GrantBirki
**Backup:** TBD

## Timeline 🗓

## Documentation 📓

[2022-10-10 17:28] GemmaTuron commented on #294
Hello @Malikbadmus  can you run the  command in verbose mode to get more information?

`ersilia - v fetch ...`

[2022-10-10 17:30] GemmaTuron commented on #295
Hi  @Malikbadmus ! Thanks, if you can paste the whole error log that will be helpful!
I am also linking here @Amna-28 , I think you incorporated this model, any issues we should we aware of?
Thanks both!

[2022-10-10 17:59] D1M1TR10S commented on #282
Hi @sayantani11 ! I'll whatever details I have in the top-level comment.

To answer your question: Yes! We want this process of posting to Social Media to be automated with GitHub Actions.

So every time a new submission is approved and  deployed to Ersilia's CLI, we want to trigger an event that posts to platforms like Twitter, LinkedIn, etc.

[2022-10-10 22:13] Zainab-ik opened #296 "🐛 Bug: RPC failed; curl 92 HTTP/2 stream 5 was not closed cleanly before end of the underlying stream"
### Describe the bug.

Hi,

I'm unable to install the Ersilia python package. I tried running the command below twice
`git clone https://github.com/ersilia-os/ersilia.git`

The resulting error showed

error: 2427 bytes of body are still expected
fetch-pack: unexpected disconnect while reading sideband packet
fatal: early EOF
fatal: fetch-pack: invalid index-pack output

### Describe the steps to r

[2022-10-10 22:52] Zainab-ik commented on #296
### Solution
The Ersilia folder happens to have a large size and the default git config buffer size is not sufficient to handle it.
therefore, the post-buffer size needs to be increased and can be done using
`git config --global http.postBuffer 524288000`

Thereafter, you can clone the repository again with `git clone https://github.com/ersilia-os/ersilia.git`

### Screenshot result
![image](https

[2022-10-10 23:25] Zainab-ik opened #297 "🐛 Bug: TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Describe the bug.

### Problem

After installing the Ersilia python package, I tried to check that the CLI work on my terminal by checking the Ersilia CLI options and model catalogue using the

 see ersilia CLI options

see ersilia's model catalog

### Describe the steps to reproduce the behavior

- Install Ersilia python package
- Check that the CLI works on your terminal

### Expected behavi

[2022-10-11 03:47] honeyankit commented on #284
Enable Dependabot security and version updates.

Supporting Docs:
https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates
https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates

[2022-10-11 03:53] honeyankit opened #299 "Manage Version Dependancy"
Enable Dependabot Version update to automatically manage python dependencies in ersilia repository.

#### Supporting Docs:
https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates
https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/about-dependabot-version-updates

[2022-10-11 03:53] honeyankit opened #300 "Manage Security Dependency"
Follow the steps to enable the Dependabot security updates:
https://docs.github.com/en/code-security/dependabot/dependabot-security-updates/configuring-dependabot-security-updates

[2022-10-11 03:54] honeyankit commented on #299
PR: https://github.com/ersilia-os/ersilia/pull/298

[2022-10-11 05:04] honeyankit opened #301 "S3 or Dynamo DB to store prediction?"
**Feature**
Ersilia wants to implement a new feature where the output (key value pairs) are produced by the models based on the molecule (input) and need to be stored in some storage so that when the new model is submitted to Ersilia, it should first check to see if the prediction values exist for that input (molecule) in the storage and pull those values, or else the model should compute on the i

[2022-10-11 05:08] honeyankit opened #302 "Collect all the steps required to run the model"
Collect steps for to executing the Ersilia model

Exit Criteria:
Capture all the steps required for Ersilia to execute the model and generate the prediction values.

[2022-10-11 05:28] honeyankit commented on #301
When choosing the storage, we should keep in mind that the price will rely on two factors:
1. Number of API calls to the storage.
2. Amount of storage.

S3 Pricing: https://aws.amazon.com/s3/pricing/
Dynamo DB pricing: https://aws.amazon.com/dynamodb/pricing/on-demand/

[2022-10-11 06:06] honeyankit commented on #302
Based on the demo video below are the steps used by Ersilia to run the model:
1. `ersilia fetch` command will fetch the model from the git repository.
2. `ersilia serve <model name>` will pick a model.
3. `ersilia sample <model name> -f input.csv -n 100` will run the model for 100 molecules provided in the input file.
4. `ersilia api calculate -i <input.csv> file -o <output.csv>` file.

Note
-----

[2022-10-11 06:09] GemmaTuron commented on #297
Hi @Zainab-ik can you also share which operating environment are you using? The Hub works on UNIX systems, so windows users need a virtual machine or WSL

[2022-10-11 06:10] GemmaTuron commented on #296
Thanks @Zainab-ik !
We hadn't encountered this issue before but it's useful to know. One question, are you running Ersilia simply on the anaconda distribution for windows?

[2022-10-11 06:10] honeyankit commented on #302
@miquelduranfrigola Could you confirm the above steps are correct? Also could you upload a very small input.csv file and output.csv here as well?

[2022-10-11 06:25] GemmaTuron commented on #302
Hi @honeyankit,

Command 4, api, depends on the model. Most of them use a "predict" api, so:
`ersilia api predict -i <input.csv> -o <output.csv>`

I am attaching an example I got with the following commands:
`ersilia fetch eos2ta5`
`ersilia serve eos2ta5`
`ersilia api predict -i input_test.csv -o output_test.csv`

If you do not specify the output file it will just print the result in the screen in

[2022-10-11 06:27] honeyankit commented on #301
@miquelduranfrigola : What is Ersilia's budgetary allotment for AWS storage? This will have a significant influence on whether S3 or Dynamo DB is chosen.

[2022-10-11 06:29] GemmaTuron commented on #301
Hey @honeyankit,

clearly, S3 is much cheaper than DynamoDB, so if we have the money, what are the advantages of paying DynamoDB? From the little I know about AWS, better query functionalities?

[2022-10-11 07:38] ZakiaYahya commented on #297
@Zainab-ik how you resolved this error "TypeError: expected str, bytes or os.PathLike object, not NoneType"? i'm getting the same error when fetching the ersilia model using fetch command.

[2022-10-11 08:56] Zainab-ik commented on #297
@GemmaTuron I have both vagrant virtual machine and Ubuntu on my system. However, I run the installation commands and instructions on my anaconda prompt.
Do I go over all the installation instructions again on my ubuntu?

[2022-10-11 08:57] Zainab-ik commented on #297
@ZakiaYahya I'm yet to resolve it, can you share what operating system you used also.

[2022-10-11 08:58] dchidindu5 commented on #35
That sounds great

On Thu, Mar 31, 2022, 7:14 AM Sejal SIngh ***@***.***> wrote:

[2022-10-11 08:59] Zainab-ik commented on #296
@GemmaTuron  I think I'm running it on anaconda distribution for windows.
I'd like to ask if I need to download all the packages I have on windows on my WSL ubuntu too or linux to be able to run the command or I can just do them on the anaconda prompt?
Thanks

[2022-10-11 09:06] GemmaTuron commented on #297
Hi @Zainab-ik,

Yes, you need to install Ersilia on your Ubuntu subsystem. I also work on Windows and what is best for me is the combination of Windows Susbsytem Linux + Visual Studio Code to access it. Let me know when you try if it works!

@ZakiaYahya also can you share which system are you working on?

[2022-10-11 09:07] GemmaTuron commented on #296
You need to go to your WSL and install anaconda or miniconda there, and then clone ersilia's repository and install it. You do not need any other packages beforehand aside from Conda in the WSL.

[2022-10-11 09:17] ZakiaYahya commented on #297
@GemmaTuron  and @Zainab-ik i'm working on ubuntu 18.04 tweminal installed on WSL.

[2022-10-11 09:30] Malikbadmus commented on #294
Okay, I'll do that

[2022-10-11 09:48] Zainab-ik commented on #296
Alright, I'd do that from my WSL

[2022-10-11 10:09] Malikbadmus commented on #294
Hello @GemmaTuron i have run the command in verbose mode and displayed the information.

[2022-10-11 10:25] Zainab-ik commented on #297
I have both WSL and VS code, I'd integrate both and give feedback.
Thank you @GemmaTuron

[2022-10-11 11:07] risper25 commented on #295
Hello , @GemmaTuron  and @Malikbadmus ,Am also getting the same error on model eos2r5a.

[2022-10-11 11:10] FaithKovi commented on #301
Hello, @honeyankit and @GemmaTuron  . I think asides from the pricing the type of data being stored is very important too.
Based on your description the data is in key-value pairs. DynamoDB and S3 both have great features.
**Price:** S3 is cheaper than DynamoDB(which of course the budget allotment would be a great determining factor)
**Management:** In the long run, managing bucket policies on S3

[2022-10-11 13:08] ZakiaYahya opened #308 "🐛 Bug: Windows Crashes while Fetching the Ersilia models"
### Describe the bug.

My windows crashes and restarted, halting all active processes whenever i fetch the ersilia model. I have tried fetching three models i.e. eos2re5, eos 4tcc and eos78ao results in windows crash. Although when i run the fetch command everything is working fine, dependencies are installing properly without giving an error. I didn't catch up the point where the windows crashes

[2022-10-11 13:44] Malikbadmus commented on #295
Hi, @risper25  can you fetch the model again, I've been able to successfully run the model.
@GemmaTuron,  I ran through the whole model again and it was successful this time around, I have dropped the output file into the shared folder.

[2022-10-11 14:45] GemmaTuron commented on #308
Hi  @ZakiaYahya
Let's check if this is an issue with your system (for example, the free space you might have). Can you try:
[code]

The eos3b5e is a small model, hence it should not give problems when running, it simply calculates the molecular weight. We will try only one molecule (a random CCCC) and see if it is able to print the output

[2022-10-11 14:46] GemmaTuron commented on #297
Thanks  @Zainab-ik, let me know if it works in the WSL ;)

[2022-10-11 14:49] ZakiaYahya commented on #308
Thanks @GemmaTuron, i'll try it and will let you know.

[2022-10-11 14:52] zheeburg commented on #308
Thanks, I will try only one molecule and see if it is able to print the output

[2022-10-11 15:02] GemmaTuron commented on #308
@ZakiaYahya and @zheeburg note that I forgot the `-i ` flag on the calculate, dont make the same mistake

[2022-10-11 15:06] GemmaTuron commented on #294
mmm looks like an internet error (connection disconnected), I tested in my system and the fetch worked.
Can you do the test with a small model I just suggested in this issue #308 ?

[2022-10-11 15:07] ZakiaYahya commented on #308
Sure, Thanks @GemmaTuron

[2022-10-11 15:07] ZakiaYahya commented on #308
Sure, Thanks @GemmaTuron

[2022-10-11 15:08] GemmaTuron commented on #295
thanks @Malikbadmus for the update!
I alos wanted to check that you have GitLFS installed as the error at this moment is not very informative #277

[2022-10-11 15:25] #299 closed

[2022-10-11 15:31] ZakiaYahya commented on #308
Now window doesn't crash but it gives me an error "TypeError: expected str, bytes or os.PathLike object, not NoneType" and this is already raised as an issue.

[2022-10-11 16:10] muskansawa commented on #301
@GemmaTuron  dynamodb is suitable for storing tabular data or textual data , as in the for of key value pairs, where key is the field and the value is its value.

as in
{
'model' : 'x',
'accuracy': 90
}

Whereas S3 is more suitable for storing the files, as in pdf or CSVs, let say we want to store the predicted output.csv file to be stored in a database for future reference so we will store the CS

[2022-10-11 16:19] Amna-28 commented on #295
Hi @GemmaTuron , Thanks for letting me know. It was happening because of issue #292 which has been resolved. Reinstalling Ersilia will fix this problem

[2022-10-11 17:02] muskansawa commented on #297
I am getting a similar error in mac as well , sharing the whole error in a new issue

[2022-10-11 17:27] risper25 commented on #297
I am getting also this error in mac too

[2022-10-11 17:53] ikeadeoyin commented on #297
I am getting this error message as well.

[2022-10-11 19:25] miquelduranfrigola commented on #301
Thanks all for this interesting discussion.

We had a meeting with one of our best contributors, who is quite familiar with AWS.

Based on budget and on the usage needs, we decided to go for DynamoDb. We will set this up promptly. We hope it won't be a blocker.

@honeyankit - is this blocking us at this stage? If so, please let us know and will try to have a working solution ASAP.

[2022-10-11 19:31] miquelduranfrigola commented on #302
Thanks for all of this.

The only command that is missing at the moment in ersilia is `ersilia sample`. We do have a command called `ersilia example` which works similarly. The idea of the sample command would be that it would query the existing precalculated data and then provide a sample of molecules that have not yet been calculated. We will be able to provide this functionality as soon as we h

[2022-10-11 19:32] risper25 commented on #295
Thanks, @Malikbadmus  and @GemmaTuron, I have the GitFS installed, I tried to fetch the model but while fetching I encouter this error **TypeError: expected str, bytes, or os.PathLike object, not NoneType**  #297.

[2022-10-11 19:35] Hauwarh opened #309 "🐛 Bug: ERROR: Command errored out with exit status 1: error: command 'gcc' failed: No such file or directory"
### Describe the bug.

I'm unable to install the Ersilia python package, after using this commands
`git clone https://github.com/ersilia-os/ersilia.git`
`cd ersilia`
`pip install -e .`
I got this errors

![image](https://user-images.githubusercontent.com/101065854/195181197-465006bf-1a8e-4449-a04e-ac250a20005e.png)

![image](https://user-images.githubusercontent.com/101065854/195181591-2572add1-f8

[2022-10-11 19:46] Hauwarh commented on #309
Looking through the issue again, I realized I didnt activate ersilia's conda environment 😅
I activated it using `conda activate ersilia` and tried installed installing it. It started installing but threw some errors again
![image](https://user-images.githubusercontent.com/101065854/195184364-5f94a103-70d0-4ff5-accc-2a7e3ccb7fe9.png)
![image](https://user-images.githubusercontent.com/101065854/1951

[2022-10-11 19:51] alaminumar commented on #309
``i think you skipped a `step`
[code]

[2022-10-11 22:12] honeyankit commented on #299
PR to increase the pull request created by Dependabot: https://github.com/ersilia-os/ersilia/pull/310

[2022-10-11 22:17] honeyankit commented on #300
@miquelduranfrigola @GemmaTuron: I do not have [permission](https://github.com/ersilia-os/ersilia/pulse) to enable the security update on this repo. There is just on button click to enable it. Please follow this guide and enable dependabot security update.

[2022-10-11 22:34] zheeburg commented on #308
I had the same problem, and it turned out that [systemd-oomd](https://manpages.ubuntu.com/manpages/jammy/en/man8/systemd-oomd.8.html) (a userspace out-of-memory (OOM) killer) was killing my applications whenever I was running low on swap space.

You` can run the following command to see if it is the case for you as well:

`journalctl -u systemd-oomd`

Two options:

1 Disable systemd-oomd:
`systemc

[2022-10-11 23:01] honeyankit commented on #301
Thank you for all your feedback.

@miquelduranfrigola : DynamoDb would be the preferred choice as it will store molecule and its prediction as a key value pair and will be simple to implement the logic of retrieving and checking the key/value in a single call.

**Pros with Dynamo DB:**
- If the model is working on 100 inputs (which means 100 molecules) then it will make 100 calls to DynamoDB to ch