[2022-10-11 23:04] honeyankit commented on #301
This is not blocking at the moment, just wanted to come on the conclusion for selecting the storage.

[2022-10-11 23:07] zheeburg opened #311 "🐛 Bug: Apps crash randomly on newly installed ubuntu 22.04."
### [Apps crash randomly on newly installed ubuntu 22.04.

[Apps crash randomly on newly installed ubuntu 22.04
I've just installed Ubuntu 22.04 on my laptop with 8GB ram (no dual boot, ext4 + 20GB linux swap);

Installed 2 gnome shell extensions (Dash to panel, Workspace Matrix);

My working environment is just vs code, webpack dev server, and chrome;

During the active development something dies

[2022-10-11 23:52] honeyankit commented on #302
@miquelduranfrigola @GemmaTuron : Are these the [models repos](https://github.com/orgs/ersilia-os/repositories) thats needs to be fetched?

[2022-10-12 01:46] ZakiaYahya commented on #308
Thanks @zheeburg. in my case this is not due to out-of-memory problem it's basically the Antivirus that causes the window to crash when WSL installing some dependencies.

[2022-10-12 03:34] EstherIdabor opened #312 "🐛 Bug: ersilia --help producing traceback error instead of the expected output"
### Describe the bug.

installing the Ersilia python package and running pip install -e happened fine without producing any error, however running the ersilia --help to see the CLI options produce the error below:

Traceback (most recent call last):
File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 584, in _build_master

[2022-10-12 03:45] EstherIdabor opened #313 "🐛 Bug: Ersilia catalog outputing traceback error(pkg_resources.ContextualVersionConflict)"
### Describe the bug.

running ersilia catalog after smooth installation of the Ersilia python package produces a traceback error:

Traceback (most recent call last):
File "/usr/lib/python3/dist-packages/pkg_resources/__init__.py", line 584, in _build_master                                                                               ws.require(__requires__)

File "/usr/lib/python3/dist-packages/

[2022-10-12 03:51] EstherIdabor commented on #312
Hi @GemmaTuron, Please I am stuck here, and would glad to use some help

[2022-10-12 06:27] GemmaTuron commented on #313
Hi @EstherIdabor
Do other commands also crash or it is only the catalog? can you try
`ersilia --help`

[2022-10-12 06:29] GemmaTuron commented on #312
Hi @EstherIdabor
This is just the test I was asking in #313 .
It seems an installation issue, can you paste here the commands you followed to install Ersilia?

[2022-10-12 06:32] GemmaTuron commented on #311
Hello @zheeburg,

This is not an issue with Ersilia so I will close this issue as it is not related to the code in this repository

I guess you have copied the information from this thread? https://askubuntu.com/questions/1408784/apps-crash-randomly-on-newly-installed-ubuntu-22-04#:~:text=Since%20apps%20crash%20with%20less,programs%2Ftabs%2C%20etc).

I can't provide much support as I am not an ubu

[2022-10-12 06:32] #311 closed

[2022-10-12 06:36] GemmaTuron opened #318 "📑 Feature Request: Improve documentation for Ersilia Installation"
### Is your feature request related to a problem? Please describe.

As more users test Ersilia, different computer system configurations might give issues.

### Describe the solution you'd like.

Update documentation so new users know where to start debugging

### Describe alternatives you've considered

_No response_

### Additional context.

This is related to Issue #308

[2022-10-12 06:38] GemmaTuron commented on #318
Hi @ZakiaYahya can you provide two sentences describing the problem you encountered with the antivirus and how to solve it? I'll then add it to Ersilia's docs

[2022-10-12 06:40] GemmaTuron commented on #318
And @zheeburg could you do the same for the memory issue?
Please both mention your system installation, the problem you encountered and how you solved it.

[2022-10-12 06:42] GemmaTuron commented on #295
Hi @risper25

Can you:
- Try eos3b5e
- Use the -v mode and paste the whole error

[2022-10-12 07:07] zheeburg opened #319 "RequestsDependencyWarning: urllib3 (1.25.2) or chardet (3.0.4) doesn't match a supported version! Fix"
Whenever I run my code with requests or do a pip install I get this message

  RequestsDependencyWarning)

The proper command for fixing this is:
`pip3 install --upgrade requests`
I upgraded from `2.21.0` to `2.24.0` and the error went away

[2022-10-12 07:25] zheeburg opened #320 "RequestsDependencyWarning: urllib3 (1.25.2) or chardet (3.0.4) doesn't match a supported version!Another Fix"
**Whenever I run my code with requests or do a pip install I get this message**

  RequestsDependencyWarning)

You can fix this problem with;
`pip install --upgrade requests==2.20.1`

If you see version incompatible message like following, you should try other versions. All versions are: [here](https://pypi.org/project/requests/#history)

If that doesnt work, you can try removing docker compose;
`

[2022-10-12 07:54] honeyankit commented on #301
Based on the @miquelduranfrigola comment, we are going with DynamoDB.

[2022-10-12 07:54] #301 closed

[2022-10-12 08:30] risper25 commented on #295
hi @GemmaTuron, I reinstalled my docker and managed to fetch the model.
 Thanks...

[2022-10-12 08:42] Zainab-ik commented on #296
I did this on my WSL and it worked although it was slow. I guess the error is due to ersillia incompatibility with windows.

[2022-10-12 08:48] muskansawa opened #321 "🐛 Bug: TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Describe the bug.

It fetches the model , after the fetch is completed it asks for password and then there is a traceback error every time , it also says :
`The operation couldn’t be completed. Unable to locate a Java Runtime that supports ap`
 but i did install JAVA jdk from oracle.

it also has a type error in the end

### Describe the steps to reproduce the behavior

1. activate the ersilia

[2022-10-12 08:58] risper25 commented on #321
Hi @muskansawa, do you have docker installed?

[2022-10-12 12:48] shenyuygoodness commented on #318
@GemmaTuron please I will really love to contribute to this issue but i do not know in what particular way to go about it. Please can you assign me to a task(s).

[2022-10-12 13:04] alaminumar opened #322 "🐛 Bug: EmptyOutputError: Model API eos46ev : predict did not produce an output."
### Describe the bug.

when i try to fetch eos46ev from the CLI it gives me an EmptyOutput Error.

### Describe the steps to reproduce the behavior

1 activate ersilia
2 run ersilia -v fetch eos46ev

### Expected behavior.

fetch the model

### Screenshots.

![Screenshot (85)](https://user-images.githubusercontent.com/110132616/195350082-f3489705-cd0e-4864-807d-0c6a8b00c80e.png)

### Operating env

[2022-10-12 13:49] ZakiaYahya commented on #318
Yes sure.

[2022-10-12 14:04] ZakiaYahya commented on #318
When i tried fetching ersilia model in WindowSubSystem(WSL) with ubuntu 18.04 , then somewhere while installing dependancies my windows crashes. This happens because of Antivirus that blocks the WSL to install some dependencies in ubuntu folder created in your windows. So, i resolved this issue by uninstalling the Antivirus for time being and everything works fine .

[2022-10-12 14:27] alaminumar commented on #318
Hello @GemmaTuron , i would like to contribute to the documentation. When i tried running Ubuntu after i installed it, it did not work. This is because i use Windows 10 Home. Hyper v is used for virtualization, but it is not installed in Home and Pro versions. Follow this article step by step to install and enable it . https://www.itechtics.com/enable-hyper-v-windows-10-home/

[2022-10-12 14:37] Zainab-ik commented on #321
I also encounter the same error while running the dummy model with the `ersilia -v fetch eos3b5e
ersilia serve eos3b5e` model and I've been unable to run the model.  @GemmaTuron

[2022-10-12 16:10] GemmaTuron commented on #294
Hi,

I am closing this issue as the models assigned to @Malikbadmus to test are:
eos8451
eos157v
eos85a3
eos6o0z

[2022-10-12 16:10] #294 closed

[2022-10-12 16:11] GemmaTuron commented on #295
Fantastic, thanks @risper25
I'll close this issue then

[2022-10-12 16:11] #295 closed

[2022-10-12 16:13] GemmaTuron commented on #296
Hi @Zainab-ik , indeed Ersilia cannot run in windows, which is a limitation but we do not have the capacity currently to implement compatibility, we rather redirect people to WSL or Google Colab.
I will close the issue since this is solved

[2022-10-12 16:13] #296 closed

[2022-10-12 16:17] #320 closed

[2022-10-12 16:17] zheeburg commented on #320
Fixed

[2022-10-12 16:18] #319 closed

[2022-10-12 16:19] GemmaTuron commented on #300
Hi @honeyankit
Are you referring to this:
Dependabot security updates
Allow Dependabot to open pull requests automatically to resolve Dependabot alerts.
It appears Enabled on settings for this repo, the change I have done is adding you as security manager so it should work now!

[2022-10-12 16:20] GemmaTuron commented on #282
Hi @D1M1TR10S  and @megamanics thanks for taking the lead on this!
I 'd start with
- Twitter
- Slack

What do you need from us at this point?

[2022-10-12 16:25] GemmaTuron commented on #312
I'd suggest:

1. Make sure you are on WSL or a UNIX system with conda and git-lfs installed
2. Updating pip (@Zainab-ik can have more insight on this)
3. Deleting the conda environment and creating it anew
4. Cloning Ersilia's repository again
5. Run the `pip install -e .`

[2022-10-12 16:26] GemmaTuron commented on #313
@EstherIdabor  see my suggestions in #312 try and install it anew.

[2022-10-12 16:28] GemmaTuron commented on #318
thanks @ZakiaYahya and @alaminumar
@shenyuygoodness this issue is assigned once contributors run into an issue when installing ersilia or downloading a model, you can check more about the contribution guidelines [here](https://ersilia.gitbook.io/ersilia-book/contributors/internships/outreachy-winter-2023)

[2022-10-12 16:29] Hauwarh commented on #309
Yes I was able to run it again.
Thank you.

[2022-10-12 16:29] #309 closed

[2022-10-12 16:31] AnneO1 commented on #321
I successfully installed ersilia until encountered same error while running the dummy model.
On `ersilia -v fetch eos3b5e` i got these warning:

![ersilia -v fetch eos3b5e warningerror](https://user-images.githubusercontent.com/115647922/195398240-8bdbd859-6d26-4212-a29d-4121ac03d13a.PNG)

On `ersilia serve eos3b5e` i got the error:

![ersilia serve eos3b5e erroroutput](https://user-images.githubu

[2022-10-12 16:33] GemmaTuron commented on #321
Hello @muskansawa !

This model is quite particular because it requires python 2.7. I thought we had solved this issue but apparently not. Don't worry about this model and skip it for the moment, I need to think how to go about this error.

@Zainab-ik and @AnneO1 please open a bug with the model name, your error as you can see is not related to the error  @muskansawa was having, check the screensh

[2022-10-12 16:33] #321 closed

[2022-10-12 17:06] GemmaTuron commented on #322
Hi @alaminumar
Let me explain a bit about this error. At fetching time, Ersilia tests 3 molecules to be sure the model works (you can see them printed in your screen as key and input). The result you should get there is:
`19:00:45 | DEBUG    | [{'input': {'key': 'LUHMMHZLDLBAKX-UHFFFAOYSA-N', 'input': 'CC1C2C(CC3(C=CC(=O)C(=C3C2OC1=O)C)C)O', 'text': 'CC1C2C(CC3(C=CC(=O)C(=C3C2OC1=O)C)C)O'}, 'outpu

[2022-10-12 17:07] #297 closed

[2022-10-12 17:09] AnneO1 opened #323 "🐛 Bug: Errors on testing dummy model eos3b5e"
### Describe the bug.

I successfully installed ersilia I until encountered these errors while running the dummy model.
On `ersilia -v fetch eos3b5e` I got warnings and error: `ERROR: Could not find a version that satisfies the requirement rdkit-pypi (from versions: none)
ERROR: No matching distribution found for rdkit-pypi`'
And on continuing: `ersilia serve eos3b5e` , I get the error `TypeError:

[2022-10-12 17:51] shenyuygoodness commented on #318
Understood
Will revisit the guide at once

On Wed, Oct 12, 2022, 5:28 PM gemmaturon ***@***.***> wrote:

[2022-10-12 17:56] honeyankit commented on #300
@GemmaTuron : I do not see any `settings` section

<img width="1426" alt="image" src="https://user-images.githubusercontent.com/5500812/195413906-e6676dab-3e42-46e9-b3cb-c3b41684956a.png">

**This is what it should look like:**
<img width="759" alt="image" src="https://user-images.githubusercontent.com/5500812/195413188-239f6c39-2fc8-47c4-a1c0-35cecb2f3b11.png">

[2022-10-12 19:21] EstherIdabor commented on #312
Hi @GemmaTuron I've been on it all day trying to figure out what could be wrong, the installation up to that point went on fine, and I followed every single instructions on the ersillia book, and every was alright. However researching on the problem made me realize the pip install -e I ran lead to the install of some packages with different versions than what is required for instance it installs u

[2022-10-12 19:23] Malikbadmus opened #324 "🐛 Bug: Error on Model eos85a3"
### Describe the bug.

The model was fetched and served successfully, but an error is being raised while predicting the model.

See the below screenshot for the error log.

### Describe the steps to reproduce the behavior

ersilia -v api predict  -i input.csv  -o eos85a3.csv

### Expected behavior.

Model test run successfully

### Screenshots.

![New error](https://user-images.githubusercontent.c

[2022-10-12 19:39] EstherIdabor commented on #312
I'm on a Unix system with conda and git-lfs installed, I created a new conda and tried to clone the repo again but got an error, fatal:  destination path 'ersilia' already exists and is not an empty directory

I'm on a Unix system with conda and git-lfs installed, I created a new conda and tried to clone the repo again but got an error, fatal:  destination path 'ersilia' already exists and is not

[2022-10-12 20:10] ZakiaYahya commented on #322
@GemmaTuron @alaminumar i'm getting the same error while fetching ersilia model eos526j.
![Model_eos56j_Error](https://user-images.githubusercontent.com/54974236/195437527-4b3222c6-8db4-4fae-b7b2-c0e1ed10836f.png)

and @GemmaTuron i don't think this is due to "ersilia not properly installed" because i fetch and predicted assigned ersilia model eos2v11 successfully, if the ersilia is not installed

[2022-10-12 20:25] D1M1TR10S commented on #282
Sure thing @GemmaTuron. We're going to kick this off once the new Model Submissions Flow is complete, since this would depend on that workflow.

For the kickoff, here's what I think we'll need:
- Ersilia's login info for the Twitter and Slack accounts
- Either grant admin access to @megamanics on Twitter and Slack so he can get the API tokens for each platform, and set them up as endpoints for the

[2022-10-12 20:50] ZakiaYahya opened #325 "🐛 Bug: KeyError: 'predict' while predicting model eos8h6g"
### Describe the bug.

HI @GemmaTuron, Model **eos8h6g** fetch and serve successfully but when i run predict on it, it will through KeyError: 'predict' error.

![Model_eos8h6g_Error1](https://user-images.githubusercontent.com/54974236/195445608-3b29216f-fed4-4108-9cb0-109674ea651e.png)

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Scre

[2022-10-12 21:07] ZakiaYahya commented on #325
The following model has "Calculate" api instead of "Predict", just checked

[2022-10-12 21:14] #325 closed

[2022-10-12 21:40] dchidindu5 commented on #324
Have you tried predicting other models to see if an error is generated?

[2022-10-12 21:52] alaminumar commented on #322
@ZakiaYahya have you solved the issue ? I tried doing it with a different model , it ran for 2 and a half hours only to give me the same error

[2022-10-13 01:02] EstherIdabor commented on #312
Hi @GemmaTuron I am now able to get past ersillia--help and ersillia catalogue, firstly I have Ubuntu 18.04 which I wasn't using before now, I was using Ubuntu 20.04.4 LTS, I switched over to 18.04 and started the whole process of installing ersillia from the beginning, ensuring I miss no step and now it's not showing me any error.

Thank you

[2022-10-13 03:48] Femme-js opened #326 "🐛 Bug: TyperError while using predict api"
### Describe the bug.

The model eos2gth was fetched and served successfully, but a TypeError is being raised while predicting with the model.

### Describe the steps to reproduce the behavior

### Expected behavior.

Model test run successfully

### Screenshots.

![Screenshot from 2022-10-13 09-17-38](https://user-images.githubusercontent.com/48143381/195494692-26779dc0-7e9c-4962-97bd-3f5c1f447a1

[2022-10-13 04:38] Zainab-ik commented on #312
@EstherIdabor , regarding the pip and getting the CLI to work on terminal. Has everything been resolved. And which version of ubuntu are using exactly, the 18.04 or 20.04.

[2022-10-13 04:39] Zainab-ik commented on #312
@GemmaTuron I'd take her through

[2022-10-13 04:55] Zainab-ik commented on #326
@Femme-js , can you indicate the model ID in your title for easy identification incase someone has same error.

[2022-10-13 05:41] EstherIdabor commented on #312
Yes it has, I am now using 18.04, thank you

[2022-10-13 05:44] pauline-banye opened #327 "🐛 Bug: Error encountered 'ersilia -v api calculate eos3b5e'"
### Describe the bug.

Hi @GemmaTuron , I encountered a type error whilst  attempting to calculate the molecular weight of the model eos3b5e.

### Describe the steps to reproduce the behavior

Operating System - windows 10, Ubuntu 20.04.

Steps taken
- [x] Install the hub
- [x] Fetch model eos3b5e
- [x] Serve model eos3b5e
- [ ] Calculate the molecular weight failed using the 'ersilia -v api calcu

[2022-10-13 05:54] EstherIdabor commented on #312
To anyone who will encounter this error, I suggest you reinstall Ubuntu and start all over from the beginning without missing a step, and everything should work just fine.

[2022-10-13 05:55] EstherIdabor commented on #313
Thank you very much @GemmaTuron

[2022-10-13 06:04] Malikbadmus commented on #327
Hello @pauline-banye, check your api key, most of the models make use of api 'predict'.

But from your screenshot, I can see that you're testing the dummy model @GemmaTuron assigned to us.

Your command is missing -i element, and you should replace the model name with the single molecule "CCCCC".

ersilia -v api calculate -i "CCCCCC"

[2022-10-13 06:31] Cee-tech21 opened #328 "🐛 Bug:"
### Describe the bug.

A fetch was initiated at past 6am on Oct 13 for model eos9ei3. The fetch process seems to have started out normally with the process initiating a delete of the previously fetched model as the progress notifications in the terminal showed.

The terminal which displays the progress of ongoing processes eventually crashes/freezes after about 4 minutes of initiation of the fetch

[2022-10-13 06:41] zheeburg opened #329 "🐛 Bug: Error encountered 'ersilia -v api predict eos7w6n"
### Describe the bug.

All was almost done for about 30 minutes till i got the error `.csv not found`

### Describe the steps to reproduce the behavior

ersilia -v fetch eos7w6n
ersilia -v serve eos7w6n
ersilia -v api predict -i eml_canonical  -o eos7w6n
.csv

### Expected behavior.

_No response_

### Screenshots.

![eos7w6n 3](https://user-images.githubusercontent.com/41709695/195520960-5d412036

[2022-10-13 06:51] GemmaTuron commented on #329
Hi @zheeburg

First let me confirm the command you run was:
`ersilia -v api predict -i eml_canonical -o eos7w6n.csv`  (as stated in the issue)

OR

`ersilia -v api predict -i eml_canonical.csv  -o eos7w6n.csv` (note the .csv in the input file)

Please double check that before we dig more into the error

[2022-10-13 06:58] GemmaTuron commented on #328
Hello @Cee-tech21,

The initial delete part is normal, when there is actually no model it just prints the warning but actually does nothing, so if you are seeing this it means the fetch process is initiating normally.
I think you are the first user on Linux Mint 19, so that might be a reason. Can you try another motel (`eos3b5e`) and let me know if the terminal also crashes?

[2022-10-13 07:00] GemmaTuron commented on #327
Thanks @Malikbadmus

Indeed @pauline-banye the problem here seems that you are not giving the input:
`ersilia -v api calculate -i "CCCCCC"`

The -i flag refers to the input (what we will calculate the molecular weight of), "CCCC" is a simple molecule of only 4 Carbons

[2022-10-13 07:05] zheeburg commented on #329
Oh yes, Thanks so much Mentor
That was the mistake I made.

[2022-10-13 07:06] GemmaTuron commented on #326
Hi @Femme-js

The problem here seems that you are missing the input file name, which should be `eml_canonical.csv`
On your issue I see only `eml canonical` without the .csv

Also make sure you are either on the folder where eml canonical is stored, or you are adding the path in the input, for example in my case it would be something like that (if I was doing the test on a folder in my Desktop, and

[2022-10-13 07:10] pauline-banye commented on #327
Thanks @Malikbadmus @GemmaTuron. Trying it out now

[2022-10-13 07:13] GemmaTuron commented on #324
Hi @Malikbadmus

I can't say much with this screenshot, I'd like to see the full error log. You can get it by adding the following snippet to your bash command `> my.log 2>&1`

so:

`ersilia -v api predict -i input.csv -o eos85a3.csv > my.log 2>&1`

[2022-10-13 07:34] GemmaTuron commented on #322
Hi @alaminumar  and @ZakiaYahya are you sure you have Git-LFS installed? this is a common error :)

[2022-10-13 08:16] DhanshreeA commented on #327
@GemmaTuron Maybe we can make the error prompts or the stack trace more intuitive for these kinds of errors? I believe this could be handled upfront in the code for parsing arguments to the `ersilia` command.

[2022-10-13 08:16] Malikbadmus commented on #324
Thank you so much @GemmaTuron and @dchidindu5, I've been able to resolve the issue.

The problem was that the input file was not in my working directory, and I didn't specify a path to the file in my command.

[2022-10-13 08:22] DhanshreeA commented on #324
For the future: this issue is similar to issue https://github.com/ersilia-os/ersilia/issues/326 :)

[2022-10-13 08:27] DhanshreeA commented on #323
Could you give more details about your python and pip versions?

What's happening here is tht while fetching a model, ersilia creates a new conda environment for each model it fetches and installs their required dependencies. It is possible your conda installation is working with a python/pip version that could not install the missing requirements for protobuf and bentoml.  And since this model is

[2022-10-13 09:26] AnneO1 commented on #323
@mamabear25 and @DhanshreeA I decided to do a fresh installation and will provide updates incase the same issue recurs.

[2022-10-13 10:21] #329 closed

[2022-10-13 10:24] UChisom commented on #328
Hi @Cee-tech21 ,  also don't forget to include `> my.log 2>&1` to capture any error messages

[2022-10-13 11:00] pauline-banye commented on #318
Hi @GemmaTuron, I had an issue activating `conda activate ersilia` on prerequisite 5, using the instructions on the [Ersilia Installation](https://ersilia.gitbook.io/ersilia-book/ersilia-model-hub/installation) documentation.

I eventually figured out that it was because Ersilia had not been installed at this point. Might I suggest that the  instructions on **Pre-requisite 5: The Isaura data lake*

[2022-10-13 11:01] ICEY57 opened #330 "🐛 Bug: IndexError encountered 'ersilia -v api predict -i "eml_canonical.csv" -o "eos8d8a.csv" > my.log 2>&1'"
### Describe the bug.

When I tried to ran the model 'eos8d8a' to predict, the 'fetch', 'card', 'serve' commands ran correctly, but an error occurred at the API 'predict' command.
Here is the error log file.
[my.log](https://github.com/ersilia-os/ersilia/files/9775955/my.log)

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

It should have created a new csv

[2022-10-13 11:11] mamabear25 opened #331 "🐛 Bug:"
### Describe the bug.

### calculate api exits without any output

### Describe the steps to reproduce the behavior

1. ersilia fetch -v eos8a4x
2. ersilia -v serve eos8a4x

    ####  running the calculate api doesn’t output anything, it just exits.
4. ersilia -v calculate -i "eml_canonical.csv" -o "eos8a4x" > my.log 2>&1

### Expected behavior.

#### calculated outputs should be saved or printed

[2022-10-13 11:13] mamabear25 opened #332 "🐛 Bug: calculate api exits without any output"
### Describe the bug.

### calculate api exits without any output

running the calculate api doesn’t output anything, it just exits.

### Describe the steps to reproduce the behavior

1. ersilia fetch -v eos8a4x
2. ersilia -v serve eos8a4x
3. ersilia -v calculate -i "eml_canonical.csv" -o "eos8a4x" > my.log 2>&1

### Expected behavior.

#### calculated outputs should be saved or printed to the scr

[2022-10-13 11:14] #331 closed

[2022-10-13 11:29] Zainab-ik commented on #322
I happened to have same error with model eos4tcc, I got the key and input results also.
@ZakiaYahya @alaminumar , have you been able to resolve it?

@GemmaTuron , I have git LFS installed

[2022-10-13 11:33] alaminumar commented on #322
@Zainab-ik unfortunately not yet

[2022-10-13 11:35] Malikbadmus commented on #322
Hi @Zainab-ik and @alaminumar, I also encountered this error while i was fetching model eos157v.  see issue  #295 on how we resolve this.

[2022-10-13 12:02] Zainab-ik commented on #312
that's great @EstherIdabor

[2022-10-13 12:05] Zainab-ik commented on #323
@AnneO1 do you have docker installed? I'm getting a similar error, I want to install docker and try again.

[2022-10-13 12:07] AnneO1 commented on #323
@mamabear25  and @DhanshreeA, after new installation am still unable to fetch for model `eos3b5e`.
conda 22.9.0
pip 22.2.2
Python 3.7.13

[2022-10-13 12:16] ZakiaYahya commented on #322
Yes when i saw the log, it has error refering gif-lfs, although i had installed it while installing ersilia hub but still the conda environment didn't recognize it somehow. so, i installed tha git-lfs again in conda environment using
conda install git-lfs -c conda-forge
git-lfs install
and rerun the model again and it runs successfully. @alaminumar @Zainab-ik go through your log history and see if

[2022-10-13 12:17] Zainab-ik commented on #323
@AnneO1 The error persists also.
@GemmaTuron Help us look through

[2022-10-13 13:52] Zainab-ik commented on #332
Hi @mamabear25, I think you didn't add .csv at the end of your output doc.
should be ersilia -v calculate -i "eml_canonical.csv" -o "eos8a4x.csv" > my.log 2>&1. You should probably try this

[2022-10-13 13:53] Zainab-ik commented on #332
also include your error file

[2022-10-13 14:47] mamabear25 commented on #332
it's now working @Zainab-ik

[2022-10-13 14:47] mamabear25 commented on #332
it's not working @Zainab-ik

[2022-10-13 15:08] GemmaTuron commented on #300
@honeyankit let's have a look together in the meeting

[2022-10-13 15:09] GemmaTuron commented on #312
Fantastic, thanks @EstherIdabor and @Zainab-ik
I'll close this issue then!

[2022-10-13 15:09] #312 closed

[2022-10-13 15:10] GemmaTuron commented on #313
Hi @EstherIdabor is this issue solved?

[2022-10-13 15:12] GemmaTuron commented on #322
Hi @ZakiaYahya thanks, very helpful. Git-lfs is sometimes tricky to install.

@Zainab-ik and @alaminumar please share the FULL logs of the error so I can provide guidance. (use the flag `> my.log 2>&1` at the end of your CLI)

[2022-10-13 15:14] GemmaTuron commented on #323
Hello !

@AnneO1 can you please confirm
`ersilia --help` is working? This will let us know if there is a base problem when installing ersilia.
If that works, please, fetch the model and collect the full error log so I can understand what is going on. @Zainab-ik same for you please.

[2022-10-13 15:15] GemmaTuron commented on #323
To collect the logs you need to add at the end of the bash command the following:

`ersilia -v fetch eos3b5e > my.log 2>&1 `

This will create a my.log file with all the information we need

[2022-10-13 15:16] GemmaTuron commented on #324
Perfect, thanks @Malikbadmus for letting me know, I guess the explanations on issue #326 and Slack were helpful!
I'm closing this issue .

[2022-10-13 15:16] #324 closed

[2022-10-13 15:19] GemmaTuron commented on #328
I am also tagging here @miquelduranfrigola to check if the linux version has to do with it!

[2022-10-13 15:22] GemmaTuron commented on #332
Hi @mamabear25
I think you are missing the api command?

ersilia -v api calculate ...

[2022-10-13 15:29] GemmaTuron commented on #332
can you attach the log of this last run?

[2022-10-13 16:38] Zainab-ik commented on #322
@GemmaTuron
`model eos4tcc`, [https://drive.google.com/file/d/1slnDmcMm4oo3Nj1JcCf8wi5Eee0KoTyk/view?usp=sharing](url) this is my log file

[2022-10-13 16:38] Zainab-ik commented on #322
I think i should open a new issue since it's different model but similar error

[2022-10-13 16:42] honeyankit commented on #302
Most model have only one api.

[2022-10-13 16:44] GemmaTuron commented on #332
and @mamabear25 I still miss the .csv on the output file.. so you are not creating any file actually. Hope this helps!

[2022-10-13 16:55] donaldte commented on #293
Thanks Mentor @GemmaTuron for the guideline.  I'm Tedom Donald an Outreachy applicant I'm happy to be a future contributor of this special project base on AI/ML.

[2022-10-13 17:13] GemmaTuron commented on #330
Hi @ICEY57

Quick question: did you specify python 3.7 when creating ersilia's conda environment? I see in your commands python 3.9

[2022-10-13 17:24] Femme-js commented on #326
Hi @GemmaTuron ! I missed out this silly mistake. Thanks for your help.

In case someone had the same error, model ID is eos2gth

[2022-10-13 17:25] UChisom commented on #330
Hi @GemmaTuron , I'm curious.

Is Ersilia only compatible with Python 3.7 for now?

Referring to the installation guide in the Gitbook, pre requisite 2: python and conda states that: __We have tested our tools on Python 3.7 and above__

_I used version 3.7 though_

[2022-10-13 17:35] AnneO1 commented on #323
@GemmaTuron My `ersilia --help` is working, see image. See attached log file after running `ersilia -v fetch eos3b5e > eos3b5e.log 2>&1`.

![help](https://user-images.githubusercontent.com/115647922/195666464-253c77ee-90a3-42ff-ae4e-55bed3b2dd84.PNG)

[eos3b5e.log](https://github.com/ersilia-os/ersilia/files/9779182/eos3b5e.log)

[2022-10-13 17:45] Femme-js commented on #330
@UChisom you can try recreating the conda environment with Python 3.7 version, if you hadn't done this before.

[2022-10-13 17:47] ananthavaibhavi commented on #293
Hi @GemmaTuron, thanks for providing this guide. It's a pleasure to learn about ersilia and its contributions towards medical science. I am Vaibhavi an Outreachy applicant and would love to contribute to the cause.

[2022-10-13 18:45] EstherIdabor commented on #313
Yes I have, should I close the issue now?

[2022-10-13 19:10] Zainab-ik commented on #323
@GemmaTuron My `ersilia --help` still works also, attached is an image.
![image](https://user-images.githubusercontent.com/54579707/195687665-1762a891-8c1e-4046-b692-c3d7f179a4f6.png)
also, this is the log file of the model `eos3b5e`
[my.log](https://github.com/ersilia-os/ersilia/files/9779878/my.log)

[2022-10-13 19:11] mamabear25 commented on #332
@GemmaTuron I've fixed the issue...
I removed the quotes around the csv file, and ran it this way

`ersilia -v api calculate -i eml_canonical.csv -o "eos8a4x.csv"
`

[2022-10-13 19:11] #332 closed

[2022-10-13 19:42] UChisom commented on #330
@Femme-js  mine works fine, thanks.

I'm asking for curiousity :)

[2022-10-13 21:08] Zainab-ik commented on #327
@pauline-banye try checking your error log if it states Isaura data lakes not installed and reinstall it in your ersilia environment. I came across a similar also.

[2022-10-13 21:11] Motunrayo321 opened #333 "Ersilia Installation documentation omission"
Hello @GemmaTuron, after installing and testing Ersilia, I observed a few omissions in the commands for testing the 'eos3b5e' model on the site.

Command: ersilia serve
Correct command: ersilia serve 'eos3b5e'

Command: ersilia -v api calculate eos3b5e
Correct command: ersilia -v api calculate -i "CCCCCC"

Running the stated commands lead to an error message stating the usage.

![Outreachy Winter

[2022-10-13 21:31] Zainab-ik commented on #323
@GemmaTuron @AnneO1 I've been able to fetch the dummy model successfully, I opened a new terminal and activated the ersilia conda environment with `conda activate ersilia` and fetched it in this log file using `ersilia -v fetch eos3b5e > eos3b5e.log 2>&1`
[eos3b5e.log](https://github.com/ersilia-os/ersilia/files/9780698/eos3b5e.log)
and it fetched successfully, I proceeded to serve using `ersilia

[2022-10-13 21:32] Zainab-ik commented on #323
@AnneO1 I employ you to try it once again, refresh your system and rerun the process.

[2022-10-13 21:51] Zainab-ik commented on #327
I've resolved the type error in the log above, realized my input_csv was named wrongly and I adjusted the file path also. Now I have `eos3b5e.csv`.
@pauline-banye You can also try it.

[2022-10-13 22:01] Zainab-ik commented on #322
I'm getting a new error

not the error above again.

[2022-10-13 22:02] #322 closed

[2022-10-13 22:07] miquelduranfrigola commented on #302
Hi @honeyankit. I am now working on the `sample` command. Currently, it is not available. I will keep you updated.

[2022-10-13 23:10] EstherIdabor commented on #323
Hi @Zainab-ik  just to be clear, all the fetch, serve and predict or calculate is done in the ersillia directory right? and the ersillia conda environment?

[2022-10-14 02:36] ICEY57 commented on #330
Problems solved. It seems that recreate the python 3.7 version environment helps. @GemmaTuron @Femme-js thanks for help

[2022-10-14 02:37] ICEY57 commented on #330
I guess maybe Ersilia only compatible with Python 3.7 for now @UChisom

[2022-10-14 02:37] #330 closed

[2022-10-14 04:51] Dorothy2020 opened #334 "🐛 Bug: Ersilia Setup problem"
### Describe the bug.

Ersilia serve models cannot be fetched

### Describe the steps to reproduce the behavior

https://www.oreilly.com/library/view/ssh-the-secure/0596008953/ch07s03.html
Click on the link to solve the error in verbose mode

### Expected behavior.

EmptyOutputError

### Screenshots.

![Screenshot from 2022-10-14 07-39-43](https://user-images.githubusercontent.com/79142184/1957646

[2022-10-14 05:03] Femme-js commented on #334
HI @Dorothy2020

Have you fetched the model first?

Usually, You create the conda environment first, install all the requirements, and then fetch the model. After fetching you can serve the models.

From the error I can see, you might not have installed it. (pip install -e .)

[2022-10-14 05:36] Dorothy2020 commented on #334
Hello @Femme-js , yes I did fetch the model and it worked perfectly , so when I write ersilia serve command that's when I get the error

[2022-10-14 06:21] GemmaTuron commented on #333
Thanks @Motunrayo321

This is now changed in the docs.

[2022-10-14 06:21] #333 closed

[2022-10-14 06:24] GemmaTuron commented on #334
Hi @Dorothy2020

We need to see the log of the error in order to provide guidance. Please add the -v flag and save the error log.
Also, I see you jumped directly to testing this model but I haven't seen you comment on the first steps, which are testing that the CLI works and testing a simple model, eos3b5e.
Please follow the steps as some models are quite complex and before using them you must mak

[2022-10-14 06:25] GemmaTuron commented on #327
Hi @Zainab-ik if isaura is not installed it is not a proble to run ersilia, in principle they are two independent modules and it is a "nice to have" but not a hard requirement.
@pauline-banye please provide an update if you have revised your input and output files and got a log file also.

[2022-10-14 06:26] #326 closed

[2022-10-14 06:36] GemmaTuron commented on #323
These are two independent things @EstherIdabor :
- > The directory you are at when running commands, which does not need to be /ersilia, but where you have your files stored (could be Desktop or a folder in Desktop)
- > The conda environment of ersilia, which needs to be active to run ersilia successfully.

Let me give an example:
`(base) gturon@sotira:~/github/ersilia-os/ersilia$ `  # I am now in

[2022-10-14 06:37] GemmaTuron commented on #323
Hi @EstherIdabor, can you open an issue with your specific problem and the log file? if it is already open please link it here so we can find it

[2022-10-14 06:37] #313 closed

[2022-10-14 07:42] Zainab-ik commented on #323
You do it in the Ersillia environment not the directory.
Just `conda activate ersilia` after opening your WSL and then run your model. Just make sure you have git LFS and isaura installed in the ersilia environment.
You can check for them by doing `git-lfs --version`.

[2022-10-14 07:46] Zainab-ik commented on #327
Noted @GemmaTuron

[2022-10-14 07:54] Malikbadmus commented on #318
Hello @ZakiaYahya , if I may add, you could probably add the WSL file to the exceptions of your Anti-virus program instead of uninstalling the program outright.

[2022-10-14 08:10] ZakiaYahya opened #335 "🐛 Bug: Google Colab: JSONDecodeError when Fetching Models"
### Describe the bug.

Hi @GemmaTuron, Fetching ersilia models in google colab fails giving ModuleNotFoundError: No module named 'google.protobuf' error. Somehow i solved that issue by by running this command pip install protobuf==3.20.1. But now it's another error while fetching giving json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0).
Here's my colab link for access:
https:

[2022-10-14 09:56] pauline-banye opened #336 "🐛 Bug: Error while fetching models eos157v & eos8451"
### Describe the bug.

Good day @GemmaTuron , I have experienced more issues while fetching models with the fetch command

`ersilia -v fetch eos157v`
`ersilia -v fetch eos8451`

[my.log](https://github.com/ersilia-os/ersilia/files/9784675/my.log)

I encountered multiple package conflicts during this process
![package conflicts](https://user-images.githubusercontent.com/63536707/195818107-f53cdef3-

[2022-10-14 10:04] pauline-banye commented on #336
I was going through the thread on the slack workspace and it was suggested that ersilia be reinstalled. Trying that fix now

[2022-10-14 10:42] pauline-banye commented on #327
Hi everyone, please excuse my delayed response. I'm running through all your suggestions.

@GemmaTuron I was able to fetch & serve the test model successfully. Thanks for  the update. Yes I do have a log file and updates regarding the errors I've encountered. I created this [issue](https://github.com/ersilia-os/ersilia/issues/336), which includes screenshots and my.log file.

Thanks @Zainab-ik ! Y

[2022-10-14 13:41] Cee-tech21 commented on #328
I have been able to fetch other models successfully without the terminal crashing. The issue I experienced seems to be rare (at least I have not experienced it again). However, it doesn't seem to have been caused by the linux distribution in use.

[2022-10-14 14:49] EstherIdabor opened #337 "🐛 Bug: ersilia -v fetch eos3b5e returns TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Describe the bug.

@GemmaTuron
i am unable to fetch the dummy model eos3b5e and hence test the model as ersilia -v fetch eos3b5e is throwing a typeError as well as other addition error contained in
[error.log](https://github.com/ersilia-os/ersilia/files/9787385/error.log)

### Describe the steps to reproduce the behavior

I ensured I ran ersilia --help to make sure ersilia is installed and the

[2022-10-14 14:51] EstherIdabor commented on #337
Hi @GemmaTuron this is the issue and I have been on it yet still thesame output

[2022-10-14 15:54] Malikbadmus commented on #337
Hello @EstherIdabor, use this command `conda activate ersilia`  to activate conda and then proceed with your fetch command.

[2022-10-14 16:18] Femme-js opened #338 "🐛 Bug: Error while fetching models eos1579 & eos2thm"
### Describe the bug.

While fetching the ersilia model eos2thm and eos1579, I am getting the following error:

'''
EmptyOutputError

Error message:
Model API eos1579:predict did not produce an output

'''

### Describe the steps to reproduce the behavior

### Expected behavior.

Model fetched successfully!

### Screenshots.

![Screenshot from 2022-10-14 21-47-45](https://user-images.githubusercon

[2022-10-14 16:39] sayantani11 opened #339 "🐛 Bug: `ersilia -v fetch eos2re5` returns `TypeError: expected str, bytes or os.PathLike object, not NoneType`"
### Describe the bug.

`eos2re5` runs but after a certain point time throws a type error after almost 30 mins

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

[eos2re5.txt](https://github.com/ersilia-os/ersilia/files/9788370/eos2re5.txt)

### Operating environment

WSL Ubuntu 18.04.5 LTS

### Additional context

_No response

[2022-10-14 17:04] sayantani11 opened #340 "🐛 Bug: `eos526j` fails with an `EmptyOutputError`"
### Describe the bug.

eos526j runs but fails with an EmptyOutputError , and the model API `predict` did not produce an output.

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

:+1: Model eos526j fetched successfully!

### Screenshots.

[eos526j.txt](https://github.com/ersilia-os/ersilia/files/9788540/eos526j.txt)

### Operating environment

WSL Ubuntu 18.0

[2022-10-14 18:40] mamabear25 opened #341 "🐛 Bug: eos2r5a predict did not produce an output"
### Describe the bug.

### incomplete fetch: end of ouput with an error
#### Error message:
note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.

#### more error messages
Something went

[2022-10-14 19:20] Cee-tech21 opened #342 "🐛 Bug: Prediction with eos2a9n model repeatedly fails with "status 500" error codes logged out"
### Describe the bug.

Attempted prediction using eos2a9n model seems to fail and enter into an endless loop. "Status 500" error code is repeatedly registered in the process log. Prediction was tried twice and on both occasions, prediction had to be terminated manually after several minutes of observing the loop.

### Describe the steps to reproduce the behavior

Run the commands below in order to

[2022-10-15 01:31] Cee-tech21 opened #343 "🐛 Bug: eos3ae7 repeatedly fails to fetch"
### Describe the bug.

fetching of eos3ae7 repeatedly fails with the following error message logged:

### Describe the steps to reproduce the behavior

Run the following command:
`   ersilia -v fetch eos3ae7 | tee -a eos3ae7_fetch.log 2>&1`

### Expected behavior.

After running the "fetch" command, the model eos3ae7 is meant to be downloaded from remote repository to local computer.

### Screensh

[2022-10-15 05:55] Zainab-ik commented on #343
@Cee-tech21 try it again while the internet is connected. Sometimes, could be due to internet break.

[2022-10-15 05:58] Zainab-ik commented on #341
@mamabear25 kindly add your log file for easy debugging.

[2022-10-15 06:03] Zainab-ik commented on #340
@sayantani11 according to your log file, I see an error stating `maybe git LFS is broken`, try downloading it again and run your commands.
There's also an error about `pip dependency` I believe @GemmaTuron  will give justice to that.

[2022-10-15 06:07] Zainab-ik commented on #338
@Femme-js kindly add your log file for easy debugging.

[2022-10-15 07:11] RoseZhen2022 opened #344 "🐛 Bug: Fetching model eos97yu got "EmptyOutputError""
### Describe the bug.

Failed to fetch model eos97yu, it shows:
EmptyOutputError
Error message:
Model API eos97yu:predict did not produce an output

By the way, I have successfully fetched and calculated test model eos3b5e.

### Describe the steps to reproduce the behavior

ersilia -v fetch eos97yu | tee -a eos97yu.log 2>&1

### Expected behavior.

Expect to fetch the model and do the prediction

[2022-10-15 07:41] RoseZhen2022 opened #345 "🐛 Bug: Fetching model eos54ij got "Not a directory" error"
### Describe the bug.

I have fetch model eos54ij multiple times and tried to fetch it with or without export log, both got same error:
NotADirectoryError: [Errno 20] Not a directory

### Describe the steps to reproduce the behavior

1. ersilia -v fetch eos54ij | tee -a eos54ij.log 2>&1
2. ersilia -v fetch eos54ij

### Expected behavior.

Hope to fetch the model and do next step

### Screenshots.

[2022-10-15 08:04] miquelduranfrigola commented on #281
Hi @honeyankit, I have implemented a `sample` command. Responding now to #302 to document it!

[2022-10-15 08:07] miquelduranfrigola commented on #302
Hi @honeyankit the `sample` command is now finished. Based on this command, I suggest the following workflow:

[code]

[2022-10-15 08:38] ting96haha commented on #293
Hi @GemmaTuron, thanks for the guide. May you assign me to test some models to contribute to the project? Many thanks

[2022-10-15 08:47] ZakiaYahya commented on #342
@Cee-tech21 I'm experiencing the same thing.  i have successfully fetched all my assigned models, and i predicted all as well except one because it took so much time to predict like whole night and day, it seems like it hangs somewhere in between. i've tried it from last two days so many times but the same thing happens. So, for checking purpose i've predicting the model again that i was already p

[2022-10-15 08:49] ZakiaYahya commented on #342
Yes exactly i have to aborted the execution because it stucks in the endless loop of printing  10:55:29 | DEBUG    | Status code: 200 &  10:55:29 | DEBUG    | Status code: 500 over and over again.

[2022-10-15 10:04] AnneO1 commented on #323
Hi @GemmaTuron, I am still stuck at this issue. I followed the instructions you gave(git-lfs installed: git-lfs/2.9.2) am just still not sure what I am missing. I even changed the network still, am unable to fetch. I have attached the log file.

[eos3b5e.log](https://github.com/ersilia-os/ersilia/files/9791754/eos3b5e.log)

[2022-10-15 10:11] Cee-tech21 opened #346 "🐛 Bug: Fetching eos4u6p model repeatedly fails"
### Describe the bug.

Running the fetch command triggers download of relevant packages but eventually the process fails and self terminates with the following series of messages:

Running the serve command also leads to above outcome.

### Describe the steps to reproduce the behavior

Run the following commands in sequence:

   `ersilia -v fetch eos4u6p | tee -a eos4u6p_fetch.log 2>&1`
`
   ersil

[2022-10-15 10:11] Malikbadmus commented on #335
Hello @ZakiaYahya , I was able to solve this error by using  `import csv` , since I figured that JSON decoders are being ran against a csv file.

But now I'm generating another error while fetching .

raise Exception("{0} environment does not exist".format(environment))

[2022-10-15 10:23] Malikbadmus opened #347 "🐛 Bug: Raising Exception environment does not exist eos6o0z"
### Describe the bug.

Hello @GemmaTuron , I was getting the error json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0), while fetching model eos6o0z on colab.

Using `import csv` help me bypass that error ,  but now I'm getting another error while trying to fetch the model.
raise Exception("{0} environment does not exist".format(environment))
Exception: eos6o0z environment does

[2022-10-15 10:28] ZakiaYahya commented on #335
@Malikbadmus, oh right. where have you been use "import csv"?

[2022-10-15 10:31] Malikbadmus commented on #335
@ZakiaYahya , before the fetch command.

[2022-10-15 10:37] Malikbadmus commented on #346
Hello @Cee-tech21 , this problem usually occur if you don't have Git-LFS installed.

Check to make sure you have it installed.

[2022-10-15 10:43] Malikbadmus commented on #344
Hello @RoseZhen2022 , check that you have Git-LFS installed.

This problem usually occur if you don't have Git-LFS installed.

[2022-10-15 10:44] Cee-tech21 commented on #346
![git-lfs-version](https://user-images.githubusercontent.com/88627491/195982246-50735e43-58ec-4427-8e08-ca3e8702a168.png)

Hola @Malikbadmus
git-lfs is installed. Please see attached screenshot

[2022-10-15 11:21] ZakiaYahya commented on #335
@Malikbadmus i have tried it by  import csv before fetching but still got the same JSONDecodeError

[2022-10-15 16:36] UChisom commented on #346
Hi @Cee-tech21 , since you've installed `git-lfs`, did you also activate (initialize) it after your installation?
If no, you can do so by running `git-lfs install` command and retry fetching

[2022-10-15 16:54] UChisom commented on #323
Hi @AnneO1 If you haven't activated your git-lfs after installing it.

Use the command `git-lfs install` to do so. Then refresh and try.

If that doesn't solve it, I'd suggest reinstalling Ersilia, quit the CLI, log back in, then try fetching again.

[2022-10-15 18:00] Cee-tech21 commented on #346
Installed `git-lfs` again in the ersilia environment and was able to fetch and predict!

[2022-10-15 18:02] #346 closed

[2022-10-15 18:07] AnneO1 commented on #323
@UChisom, Thanks. Try it all, my git-lfs is initialized, still same logged output.

[2022-10-15 18:24] tarikkaoutar commented on #297
@GemmaTuron kindly i have the same error how you solved this problem thanks

[2022-10-15 19:04] UChisom commented on #338
@Femme-js also cross-check and confirm all the required dependencies are installed.
- git-lfs (installed and activated)
- ersilia --help
- isaura
- and if it isn't this trivial, then your log file would help 👍

[2022-10-15 21:13] RoseZhen2022 commented on #344
Thank you for your suggestion. Actually, I have installed git-lfs, and to make sure it works I installed it again. But the model was still fetched failed.

[2022-10-16 05:10] Malikbadmus commented on #344
Hello @RoseZhen2022 , look through issue #346  and see if the solutions there work for you.

[2022-10-16 09:05] GemmaTuron commented on #327
Great @pauline-banye !

I am closing this issue as resolved then!

[2022-10-16 09:05] #327 closed

[2022-10-16 09:23] ZakiaYahya opened #348 "🐛 Bug: Ersilia stuck in Endless loop of execution while Predicting model: "|DEBUG| Status code: 200""
### Describe the bug.

@Gemma Suddenly my installed Ersilia model hub behaving weird. i have successfully fetched all my assigned models, and i predicted all as well except one because it took so much time to predict like whole night and day, it seems like it hangs somewhere in between. So, for checking purpose i've predict the model again that i was already predicted successfully. But the same th

[2022-10-16 09:39] Zainab-ik opened #349 "🐛 Bug: Model `eos2ta5` ; Colab - Numpy module not found"
### Describe the bug.

The model `eos2ta5` repeatedly fails while fetching using the  `ersilia -v fetch eos2ta5 > eos2ta5E.log 2>&1 `.
It produces an error stating:

### Describe the steps to reproduce the behavior

- open WSL
- activate ersilia environment
- run  `ersilia -v fetch eos2ta5 > eos2ta5E.log 2>&1 `

### Expected behavior.

Fetch model succesfully.

### Screenshots.

[eos2ta5E.log](htt

[2022-10-16 09:40] Zainab-ik commented on #349
@GemmaTuron Kindly check, thank you.

[2022-10-16 09:49] Zainab-ik opened #350 "🐛 Bug: Model `eos6m4j`: CLI - `descriptors did not produce an output`"
### Describe the bug.

While fetching the model `eos6m4j`, my system suddenly shut down and the error log is not informative enough.
The model `eos6m4j` repeatedly shut down my system while fetching using the `ersilia -v fetch eos6m4j > eos6m4jEE.log 2>&1`.

### Describe the steps to reproduce the behavior

- open WSL

- activate ersilia environment

- run `ersilia -v fetch eos6m4j > eos6m4jEE.log

[2022-10-16 09:49] Zainab-ik commented on #350
@GemmaTuron, Kindly go through. Thank you

[2022-10-16 09:52] pauline-banye opened #351 "🐛 Bug: Convert model input file from csv to a smiles list"
### Describe the bug.

Hi @GemmaTuron

I encountered an error on [colab](https://colab.research.google.com/github/ersilia-os/ersilia/blob/master/notebooks/ErsiliaOnColaboratory.ipynb#scrollTo=2rHDJCpBUC73), whilst converting the model prediction output - [eos6o0z.csv](https://drive.google.com/file/d/1s63GHwJ4ETjjUdBaZ6GSKb6q9A89TSkk/view?usp=sharing) to a smiles list.

### Describe the steps to re

[2022-10-16 09:56] Zainab-ik opened #352 "🐛 Bug: Model `eos3d3r`: Type error while fetching"
### Describe the bug.

The model `eos3d3r` repeatedly fails while fetching using the `ersilia -v fetch eos3d3r > eos3d3rE.log 2>&1` .
It produces an error stating:

@GemmaTuron

### Describe the steps to reproduce the behavior

- open WSL
- activate ersilia environment
- run `ersilia -v fetch eos3d3r > eos3d3rE.log 2>&1`

### Expected behavior.

Fetch model successfully.

### Screenshots.

[eos3d3

[2022-10-16 10:06] Yayeks commented on #350
I tried running this in the early hours of the morning when I hadn't been assigned a model. My system went off to while downloading and extracting packages.

[2022-10-16 10:46] angelnagaba opened #353 "🐛 Bug: How to use the excel file to test the different modules"
### Describe the bug.

I have successfully fetched the sample model, served it and run the calculate
How do i use the excel file to proceed to and test my models

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating environment

Ubuntu 22.04 in windows 11 virtual box

### Additional context

_No respo

[2022-10-16 10:59] Malikbadmus commented on #351
Hello @pauline-banye, the data you're attempting to convert to smiles to read into python contains a wrong column name.

`smiles = df["CAN_SMILES"].tolists()`  change the CAN_SMILES to the column that contain your SMILES string in this case can_smiles.

so what you should have is smiles = `df["can_smiles"].tolist()`

[2022-10-16 11:09] angelnagaba opened #354 "🐛 Bug: Failed to Fetch model eos97yue"
### Describe the bug.

When i run the command to fetch the model this is the message i get

- InvalidModelIdentifierError

Error message:
Could not identifiy model identifier or slug eos97yue:
[my.log](https://github.com/ersilia-os/ersilia/files/9794287/my.log)

### Describe the steps to reproduce the behavior

Fetch the model eos97yue

### Expected behavior.

Successfully fetch the model

### Scr

[2022-10-16 11:11] pauline-banye commented on #353
Hi @angelnagaba you need to run

`ersilia -v api calculate -i "eml_canonical.csv" -o <name-of-model-csv> > my.log >2&1`

[2022-10-16 11:13] pauline-banye commented on #353
@angelnagaba you need to test the csv file on colab.

[2022-10-16 11:54] thormiwa opened #355 "🐛 Bug: Model eos92sw"
### Describe the bug.

While Trying to fetch the eos92sw Model using this command `ersilia -v fetch eos92sw` i get this error

`Something went wrong with Ersilia...

EmptyOutputError

Error message:
Model API eos92sw:predict did not produce an output`

### Describe the steps to reproduce the behavior

1. After Activating Ersilia with `conda activate ersilia`
2. Run `ersilia -v fetch eos92sw` and w

[2022-10-16 12:18] Femme-js commented on #338
Thanks @Zainab-ik @UChisom

git-lfs is installed and activated. Still getting the same error.

Here is the log file.
[eos1579_fetch.log](https://github.com/ersilia-os/ersilia/files/9794448/eos1579_fetch.log)

[2022-10-16 13:16] GemmaTuron commented on #328
Thanks @Cee-tech21 for the information
Does it still crash with this particular model, or it is now fine?
Also please update the models you have successfully fetched&run predictions on the excel file ;)

[2022-10-16 13:18] GemmaTuron commented on #334
Hi @Dorothy2020

I am just following on the thread, can you confirm if ersilia works? Try:
`conda activate ersilia`
`ersilia --help`
If this works fine, then try to fetch the model and store the log file.

[2022-10-16 13:26] GemmaTuron commented on #341
Hi @mamabear25 as Zainab just pointed out I would need to see the full log error file for helping you

Thanks!

[2022-10-16 13:31] GemmaTuron commented on #351
Thanks @Malikbadmus
Indeed this notebook is coded for a specific input file, in this case the problem is that python recognizes lowercase and uppercase, so we are asking it to find the column "CAN_SMILES" (which is the short version of canonical smiles") when we actually have a column named "can_smiles" it seems?
You can run:
`import pandas as pd #package for working with tables`
`df = pd.read_csv

[2022-10-16 13:31] #351 closed

[2022-10-16 13:33] GemmaTuron commented on #353
Hi @angelnagaba thanks for the question and @pauline-banye  for the contribution.
On the first stage, you will fetch and run predictions for the models that are assigned to you. The predictions should be for the eml_canonical.csv (the essential medicine list by the WHO). Once this is working, you should:

- Upload the predictions in the shared folder
- In the corresponding cells of the excel file,

[2022-10-16 13:33] #353 closed

[2022-10-16 13:35] mamabear25 commented on #341
Here's my log
[my.log](https://github.com/ersilia-os/ersilia/files/9794669/my.log)

[2022-10-16 13:41] GemmaTuron commented on #341
Hi @mamabear25

It seems that the issue is on git - lfs:

`git: 'lfs' is not a git command. See 'git --help'.`

Make sure it is installed and recognized, sometimes after git lfs install you need to restart the system.

[2022-10-16 14:22] Cee-tech21 commented on #351
hola @GemmaTuron and @pauline-banye I am not sure which file/data we need to use for the conversion to smiles list.
Is it the eml_canonical.csv file we should pass to `pd.read_csv(path)`

[2022-10-16 14:50] UChisom opened #356 "🐛 Bug: Download did not work fetching models eos2ta5 and eos6m4j"
### Describe the bug.

I tried to fetch two models - `eos2ta5` and `eos6m4j` and they both raised errors stating `Exception: Download from ersilia-os/eos2ta5 did not work`.

### Describe the steps to reproduce the behavior

- `ersilia -v fetch eos2ta5`

### Expected behavior.

Successfully fetched model

### Screenshots.

[eos2ta5.pdf](https://github.com/ersilia-os/ersilia/files/9794909/eos2ta5.pd

[2022-10-16 14:51] UChisom commented on #356
@GemmaTuron  please see issue

[2022-10-16 15:04] UChisom opened #357 "🐛 Bug: Empty output error while fetching eos4tcc"
### Describe the bug.

The model `eos4tcc` raised an `Emtpy output error` while I tried to fetch it. In the log file, it ran into a CONDAHTTPERROR from which the program continued to download packages and fetch the model. Eventually it produced an Empty output error

### Describe the steps to reproduce the behavior

- `ersilia -v fetch eos4tcc`

### Expected behavior.

Successfully fetched model

[2022-10-16 15:05] UChisom commented on #357
@GemmaTuron please see issue

[2022-10-16 15:23] GemmaTuron commented on #344
Hello  @RoseZhen2022

I think I am missing part of the error. Could you please run it again without the tee command, directly saving the log file and pasting it here? It might be missing a few lines. Let's check!
thanks

[2022-10-16 15:32] GemmaTuron commented on #345
Hello @RoseZhen2022

I just run it on my linux machine without problems:

17:30:30 | DEBUG    | [{'input': {'key': 'LUHMMHZLDLBAKX-UHFFFAOYSA-N', 'input': 'CC1C2C(CC3(C=CC(=O)C(=C3C2OC1=O)C)C)O', 'text': 'CC1C2C(CC3(C=CC(=O)C(=C3C2OC1=O)C)C)O'}, 'output': {'outcomes': [None, None, 0.8, 0.0, 0.2, 0.26]}}, {'input': {'key': 'QRXWMOHMRWLFEY-UHFFFAOYSA-N', 'input': 'C1=CN=CC=C1C(=O)NN', 'text': 'C1=CN

[2022-10-16 15:37] GemmaTuron commented on #345
Also, the "Not a Directory" error seems like you are running things from a location that ersilia is unable to find. Can you try to run the command from your desktop?

[2022-10-16 15:39] GemmaTuron commented on #354
Hi  @angelnagaba !

In this case is easy:
the error "Could not identifiy model identifier or slug eos97yue:" is simply telling you the name is not correct. All ersilia models are identified by eos+4 letters/numbers
in your case it is `eos97yu`
I might have made a typo on slack!

[2022-10-16 15:39] #354 closed

[2022-10-16 15:41] GemmaTuron commented on #355
Hi @thormiwa

Please save the log of the error and attach it here so that I can see what went wrong, the screenshot is only a snippet

[2022-10-16 15:57] thormiwa commented on #355
Hi @GemmaTuron. This is the log file
[eos92sw.log](https://github.com/ersilia-os/ersilia/files/9795106/eos92sw.log)

[2022-10-16 16:04] GemmaTuron commented on #357
Hi @UChisom

If you look at your error log, you will see the following message:
CondaHTTPError: HTTP 000 CONNECTION FAILED for url
<https://conda.anaconda.org/pytorch/linux-64/pytorch-1.12.0-py3.7_cuda11.3_cudnn8.3.2_0.tar.
bz2> Elapsed: -
An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.

This means your inter

[2022-10-16 16:06] GemmaTuron commented on #356
Hi  @UChisom I see the following two notices:
eos2ta5:
RPC failed; curl 56 GnuTLS recv error (-54): Error in the pull function.
error: 913 bytes of body are still expected
fetch-pack: unexpected disconnect while reading sideband packet
fatal: early EOF fatal:
fetch-pack: invalid index-pack output

eos6m4j
7915 bytes of body are still expected| 12.00 KiB/s
fetch-pack: unexpected disconnect while re

[2022-10-16 16:12] Femme-js commented on #348
Hi @ZakiaYahya

The same happened with one of my models. I left it overnight to get executed and got the output. You might just want to leave it for some more hours.

Also, I guess this is because the predictions are not done in batched but one by one for some models.
@GemmaTuron Can this be a possibility?

[2022-10-16 16:14] Balofire opened #358 "🐛 Bug: Error while cloning Ersilia from Github (ERROR: No matching distribution found for bentoml==0.11.0)"
### Describe the bug.

After satisfying all the pre-requisites for the installation of the Ersilia Tool and cloning it from Github using `git clone https://github.com/ersilia-os/ersilia.git,` I ran into the errors; **"ERROR: Could not find a version that satisfies the requirement bentoml==0.11.0 (from ersilia) (from versions: none)"** and **"ERROR: No matching distribution found for bentoml==0.11.

[2022-10-16 16:19] GemmaTuron commented on #352
Hello @Zainab-ik

As you can see in the log you get repeated times the following notification for the initial packages installed (pandas, rdkit and
WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f233b707fd0>: Failed to establish a new connection: [Er

[2022-10-16 16:25] GemmaTuron commented on #358
Hello @Balofire
If you check the error explanation you see this is related to an internet connection, not to ersilia. Could be due to a vpn or proxy you are using?
Also you can try to increase the buffer or download size
https://stdworkflow.com/877/error-rpc-failed-curl-56-gnutls-recv-error-54-error-in-the-pull-function

@Zaniab-ik is experiencing similar issues #352

[2022-10-16 16:25] EstherIdabor commented on #337
Hi @Malikbadmus thanks for the response, I did that, the log shows the result of the fetch which is a typeerror

[2022-10-16 16:25] GemmaTuron commented on #357
What might work for you @UChisom  is try and increase the buffer or download sizes, see https://stdworkflow.com/877/error-rpc-failed-curl-56-gnutls-recv-error-54-error-in-the-pull-function

[2022-10-16 16:25] Femme-js commented on #357
Hi @UChisom !

This is the same error that I ran into with two of my models.
[](https://github.com/ersilia-os/ersilia/issues/338)

[2022-10-16 16:27] GemmaTuron commented on #355
One question @thormiwa did you collect the log with the `| tee` command?

[2022-10-16 16:29] GemmaTuron commented on #350
Hi @Zainab-ik I don't know what can be the root of this issue, I have run it on my WSL system and also in my linux machine without trouble both times.
Focus on trying to understand the internet issues as we are discussing in #352 and see if we can get over those.

[2022-10-16 16:30] thormiwa commented on #355
@GemmaTuron Yes this was the command i ran `ersilia -v fetch eos92sw | tee -a eos92sw.log 2>&1`

[2022-10-16 16:31] GemmaTuron commented on #349
Hi @Zainab-ik !

Seems we have an internet connection issue, probably due to a VPN or proxy network. See my comments in #352
Also maybe increasing buffer size can help?
https://stdworkflow.com/877/error-rpc-failed-curl-56-gnutls-recv-error-54-error-in-the-pull-function

[2022-10-16 16:32] GemmaTuron commented on #338
Hi @Femme-js ,

Do you collect the log file with the |tee command?

[2022-10-16 16:33] GemmaTuron commented on #357
Hi @Femme-js ,
Actually if you look at the error logs on #338 I don't see the same messages, so this is not the same error I think...

[2022-10-16 16:43] GemmaTuron commented on #348
Hi  @ZakiaYahya !
What model is this?
Actually, you can have a deep dive into Ersilia's code and check what the Status Code 200 means. @Femme-js good guess

Ersilia tries to run all the molecules in batch, but if it gets problems, i.e cannot make predictions for one molecule (error code 500) , it will start going one by one, and giving you the outcome (status code:200). All the predictions will be

[2022-10-16 16:43] GemmaTuron commented on #348
Please let me know which model is it and if one molecule works, and we can close the issue

[2022-10-16 16:45] GemmaTuron commented on #355
Ok, try and do it without the |tee because I think it is not saving the full full error output ;)

[2022-10-16 16:47] GemmaTuron commented on #343
Hi  @Cee-tech21 !

The model is working in my linux machine. I think the `|tee` command is not saving all the error log as we need it, so I can't see what's going on. Please try again and save directly without the` |tee -a`
I have seen it in #355  and #344

[2022-10-16 16:50] GemmaTuron commented on #342
Hi @Cee-tech21 !

Thanks for your patience. The model tries first to do all the molecules in batch, but if it finds an error, it will do them one by one, which is the output you are seeing, so that's normal.
When a molecule is successfully predicted, you get a Status Code 200, when it is not, you get a status code 500.
In any case, after it has looped through all molecules, it will pack them in a

[2022-10-16 16:52] GemmaTuron commented on #340
Hi @sayantani11 !

Good catch @Zainab-ik , lines 9 and 10 seem to indicate there is an issue with Git LFS, can you check it is installed and recognized in the ersilia conda environment?

fatal: 'lfs' appears to be a git command, but we were not
able to execute it. Maybe git-lfs is broken?

[2022-10-16 16:52] GemmaTuron commented on #339
Hi @sayantani11 !

This model has some known issues due to python 2.7 installation, so I'd suggest we skip it for the moment ;)

[2022-10-16 16:52] #339 closed

[2022-10-16 16:54] GemmaTuron commented on #338
I think I am missing part of the errors logs when we use the` |tee` command, as I have noted in other issues #343 and  #355
Can you please run without it and paste the log error again?

[2022-10-16 16:55] GemmaTuron commented on #335
Hi @ZakiaYahya !

The error was on the google protobuf package, which clashed with ersilia's requirements of protobuf = 3.19
We think we solved this, so you can re -test and let me know if we can close this issue!

[2022-10-16 16:56] Femme-js commented on #338
Sure @GemmaTuron

[2022-10-16 16:58] thormiwa commented on #355
@GemmaTuron
[eos92sw-1.log](https://github.com/ersilia-os/ersilia/files/9795228/eos92sw-1.log)

[2022-10-16 16:59] GemmaTuron commented on #323
Hi @AnneO1 !

This is related to internet connection, as you have this in the log:

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7f93c8269650>: Failed to establish a new connection: [Errno -2] Name or service not known')': /simple/rdkit-pypi/

This

[2022-10-16 17:09] Chigoziee commented on #341
this was helpful reinstalling git - lfs worked

[2022-10-16 17:10] Chigoziee commented on #341
This was helpful, installing git - lfs solved the issue.

[2022-10-16 17:14] GemmaTuron opened #359 "📑 Feature Request: Improve Ersilia Documentation"
### Is your feature request related to a problem? Please describe.

Ersilia's Documentation could cover more comprehensively the installation issues users find, for example when installing the WSL if they are Windows users

### Describe the solution you'd like.

The different contributors that have struggled by one reason or another to install ersilia should add a comment in this issue with the fo

[2022-10-16 17:24] GemmaTuron commented on #359
This is an example, based on #277, #323  and #340

**Operating System:**
Linux Ubuntu 20.4 LTS
**Conda Version:**
conda 4.11.0 (Anaconda 3)
**Python Version:**
Python 3.9.7
**Issue:**
Git - LFS was not installed and therefore the model could not be fetched from the Git Repository
At fetching time I get an "EmptyErrorOutput". In the error log I can see the following message
git: 'lfs' is not a git

[2022-10-16 17:27] GemmaTuron commented on #347
Hi @Malikbadmus,

We have in principle debugged the issues with Google Colab, so try it again. If it works, close this issue ;)

[2022-10-16 17:42] GemmaTuron commented on #336
@pauline-banye
Sorry I haven't been able to get to this yet, finish the other models assigned to you and then move to colab while I try to see what happened!

[2022-10-16 17:49] GemmaTuron commented on #352
I also wanted to share this, maybe it helps!
https://stackoverflow.com/questions/52815784/python-pip-raising-newconnectionerror-while-installing-libraries

[2022-10-16 18:06] RoseZhen2022 commented on #344
Thank you for your replay @GemmaTuron. I just run it without tee command and here is new log.

[eos97yu.log](https://github.com/ersilia-os/ersilia/files/9795366/eos97yu.log)

[2022-10-16 19:05] UChisom commented on #356
Hi @GemmaTuron thanks for the responses! I'll follow through on the different solutions you linked and revert with updates.

Frankly, I'd appreciate any workaround for internet connectivity as well😊

[2022-10-16 19:09] UChisom commented on #357
Thanks @GemmaTuron I'll work on the solutions you've linked and get back to you.

I'll fetch them once more, and I'm really hopeful for any workaround to strengthen my internet stability 😊

_We could continue on this thread_

[2022-10-16 19:29] Zainab-ik commented on #323
@AnneO1 let's try to figure it out together. I'd try to check my network settings also and change it if it's going to work.

[2022-10-16 19:30] Zainab-ik commented on #323
@GemmaTuron we'd update you on our progress.

[2022-10-16 19:32] Zainab-ik commented on #352
@GemmaTuron Thank you, I don't use VPN but it's most likely due to Proxy network, according to the article, it suggests changing the network settings. So I'd do that and rerun my model.

[2022-10-16 19:39] Femme-js commented on #338
@GemmaTuron
[eos1579.log](https://github.com/ersilia-os/ersilia/files/9795518/eos1579.log)

[2022-10-16 19:43] Zainab-ik commented on #358
@Balofire check your network settings and check out this article [Here](https://stackoverflow.com/questions/52815784/python-pip-raising-newconnectionerror-while-installing-libraries)

[2022-10-16 19:50] Zainab-ik commented on #350
@GemmaTuron I'd make do with that.

[2022-10-16 21:21] Jona-Bvunza opened #360 "🐛 Bug: Model eos4e41 not Fetching: "Something went wrong with Ersilia...""
### Describe the bug.

Find attached the log file
[anti_bio.log](https://github.com/ersilia-os/ersilia/files/9795707/anti_bio.log)

### Describe the steps to reproduce the behavior

Ran the "ersilia -v fetching eos4e41 " command in Ubuntu 20,04 LTS WSL 2. tried to fetch for 30 mins + and finally gave the output attached in the log file.
 "ersilia -v serve eos4e41" reported that no model is present

[2022-10-16 21:31] Jona-Bvunza opened #361 "🐛 Bug: Model eos9f6t not Fetching: "Something went wrong with Ersilia...""
### Describe the bug.

Find the attached log file
[9f6t.log](https://github.com/ersilia-os/ersilia/files/9795716/9f6t.log)

### Describe the steps to reproduce the behavior

Ran "ersilia -v  fetch eos9f6t",  and after 2hrs + reported "Something went wrong with Ersilia... EmptyOutputError Error message:
Model API eos9f6t:predict did not produce an output"
Ran "ersilia -v serve eos9f6t " command, ga

[2022-10-16 21:57] EstherIdabor opened #362 "🐛 Bug: fetching eos6pbf model produce TypeError: expected str, bytes or os.PathLike object, not NoneType"
### Describe the bug.

Trying to fetch eos6pbf model produced a typeError, because of failure to download all the packages needed to fetch the model due to a condaHTTPError. the log of the error is attached below
[eos6pbf.log](https://github.com/ersilia-os/ersilia/files/9795768/eos6pbf.log)

### Describe the steps to reproduce the behavior

conda activate ersilia
ersilia fetch  -v fetch eos6pbf

#

[2022-10-17 00:28] pauline-banye commented on #351
Hii @Cee-tech21, I'm passing the eml_canonical.csv

[2022-10-17 00:54] pauline-banye commented on #351
@Cee-tech21 it's the eml_canonical.csv we need to specify  as the path

[2022-10-17 05:25] angelnagaba commented on #354
Thank you

[2022-10-17 05:30] angelnagaba opened #363 "🐛 Bug: Cannot test/calculate model eos54ij"
### Describe the bug.

When i run the API it shows isaura not installed
KeyError: 'calculate'
[my.log](https://github.com/ersilia-os/ersilia/files/9797135/my.log)

### Describe the steps to reproduce the behavior

- I fetched
- Successfully served
- It failed on Calculate

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating environment

Ubuntu 22.04 in windows 11

[2022-10-17 06:04] Hauwarh opened #364 "🐛 Bug: eos3xip - EmptyOutputError"
### Describe the bug.

I ran into this error while trying to fetch model eos3xip
The log file is below
[eos3xip.log](https://github.com/ersilia-os/ersilia/files/9797318/eos3xip.log)

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating environment

WSL Ubuntu 22,04 LTS

### Additional context

_No res

[2022-10-17 07:10] Jona-Bvunza commented on #343
Hi @Cee-tech21 !
was the error corrected

[2022-10-17 07:13] ZakiaYahya commented on #342
okay @GemmaTuron, i'll try it for one molecule and then let you know soon. Thanks.

[2022-10-17 07:56] ZakiaYahya commented on #335
Hi @GemmaTuron.
Yes the problem is resolved, it is not giving protobuf or JSONDecodeError anymore, and the model is fetched successfully.

[2022-10-17 09:36] ZakiaYahya commented on #348
Hi @GemmaTuron.
The model in which i'm getting this issue is "**eos526j**". I've predict that model for just first one molecule of test input file (i.e. time ersilia -v api predict -i "Nc1nc(NC2CC2)c2ncn([C@H]3C=C[C@@H](CO)C3)c2n1" -o check_eos526j.csv) and i'm getting an error "TypeError: 'NoneType' object is not subscriptable". For countercheck i've run predict on model "**eos2v11**" which i pre

[2022-10-17 09:54] mamabear25 commented on #341
I installed git-lfs but I'm still having the same issue.
Should i install it in ersilia environment? @Chigoziee

[2022-10-17 09:56] mamabear25 commented on #341
I installed git-lfs but I'm still having the same issue.
did you install it with pip or conda? @Chigoziee

[2022-10-17 10:03] GemmaTuron commented on #318
Hi all,

I have realised this will be very important for future users and therefore we should collect this information in a more ordered manner. I have opened an issue #359  where you can complete the information in a specific format, which will make it much easier to collect the information.
I'd really appreciate if you can move your comments there @ZakiaYahya @alaminumar @pauline-banye @Zainab-i

[2022-10-17 10:03] #318 closed

[2022-10-17 10:04] #335 closed

[2022-10-17 10:07] GemmaTuron commented on #337
Hello @EstherIdabor !

You are facing the same issues as @Zainab-ik and @AnneO1, it is not related to Ersilia but it depends on your network configuration. See for example #323
The error lines that indicate that are the messages:
`NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fa5c16ce450>: Failed to establish a new connection: [Errno -2] Name or service not known

[2022-10-17 10:12] GemmaTuron commented on #338
Thanks @Femme-js !

Let's try to understand what is happening, I can't reproduce the error, but let's see:
On line 344 I see an error due to sqalchemy versions, but on line 409 the versions seem to be updated. Can you confirm which version of Sqalchemy package you have in the model conda environment?
`conda activate eos1579`
and then I'd simply enter `python` and
`import sqlalchemy`
`sqlalchemy.__

[2022-10-17 10:13] GemmaTuron commented on #338
It would also be useful to run it in google colab, using the -v as well and try to see if you get the same error!

[2022-10-17 10:17] GemmaTuron commented on #341
I'd suggest conda-forge, and re-start the whole system.
Then check if it is recoginsed inside the ersilia conda environment

`conda install git-lfs -c conda-forge`
`git-lfs install`

[2022-10-17 10:20] GemmaTuron commented on #343
Hello  @Jona-Bvunza , please check the Slack channel for a more in depth explanation, the fact that you get an "empty output error" might come from a very different issue, so please open your own issue and paste the log file

[2022-10-17 10:21] GemmaTuron commented on #343
I am seeing that this model is also using the sqlalchemy package, maybe linked to what we are seeing in #338.
@Cee-tech21 can you do the same test as @femme-js? (check the version in the conda environment of the model, and try to run the model in colab)

@miquelduranfrigola do you think the problem might be in the sqlalchemy versions?

[2022-10-17 10:22] mamabear25 commented on #341
On it!!!

[2022-10-17 10:24] GemmaTuron commented on #344
Thanks @RoseZhen2022 !
I agree the log does not give obvious errors...
Can you move this model to the Google Colab testing? You can also specify the -verbose option there and see if we can reproduce the error

Thanks!

[2022-10-17 10:24] GemmaTuron commented on #344
I am tagging here @miquelduranfrigola to have a look at the CLI error as well

[2022-10-17 10:27] GemmaTuron commented on #348
Thanks @ZakiaYahya very helpful!!
Two things:

1. Run the prediction for a very easy molecule "CCCCC" see if it also crashes
2. Collect the log file for the prediction as well (add the same flag to save the log file at the end of the api command)

[2022-10-17 10:31] GemmaTuron commented on #355
Thanks @thormiwa !

I see a similar pattern with #338 and #343, so we are getting close. @miquelduranfrigola we need to have a closer look at these models, they all use sqlalchemy and also throw the chardet-urllib dependency warning.

@thormiwa can I ask you to go on and test the model in google colab see if we get the same error? (you can also use the -v flag there)

[2022-10-17 10:36] ZakiaYahya commented on #348
@GemmaTuron getting the same error "TypeError: 'NoneType' object is not subscriptable" while running prediction on molecule "CCCCC" using model "eos526j". I'm attaching the log file,

[eos526j_log.log](https://github.com/ersilia-os/ersilia/files/9799566/eos526j_log.log)

[2022-10-17 10:51] mamabear25 commented on #341
still doesn’t work,
I've fetched other models successfully and even tried models assigned to other people and it was successful.

[2022-10-17 10:57] Malikbadmus commented on #347
Hello @GemmaTuron.

The problem has been resolved, the models can now be fetched successfully. Many thanks.

[2022-10-17 11:42] GemmaTuron commented on #356
Hi @UChisom

Yes, I know internet can be a pain. Please try to get a but more information on the error and see if there is a way to solve them, and add it on the documentation issue as detailed as you can (#359 )
Meanwhile to continue with model testing, let's use google colab. Your internet will only be needed to connect to google, and model fetch etc will depend on google's own internet.

[2022-10-17 11:43] GemmaTuron commented on #357
Hi  @UChisom try and do some reading on the internet as there are a few solutions proposed such as increasing buffer size.
In parallel, test the models in Colab which won't be restricted by your internet ;)

[2022-10-17 11:59] GemmaTuron commented on #360
Hello @Jona-Bvunza

Please install git lfs and make sure it is recognized in ersilia's conda environment

See line: `git: 'lfs' is not a git command. See 'git --help'.`
And you can check my suggestion for this error on #359 and add any comments you might have!

[2022-10-17 12:02] GemmaTuron commented on #361
Hello @Jona-Bvunza

This seems to be an internet connection, check the error in your log file on line 1198
`pip._vendor.urllib3.exceptions.ReadTimeoutError: HTTPSConnectionPool(host='files.pythonhosted.org', port=443): Read timed out.`

A quick search popped some possible solutions:
https://stackoverflow.com/questions/43298872/how-to-solve-readtimeouterror-httpsconnectionpoolhost-pypi-python-org-p

[2022-10-17 12:03] GemmaTuron commented on #362
Hello @EstherIdabor !

This is not due to ersilia but seems your internet connection fails during fetch:
CondaHTTPError: HTTP 000 CONNECTION FAILED for url <https://repo.anaconda.com/pkgs/main/linux-64/mkl-2021.4.0-h06a4308_640.conda>
Elapsed: -

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.

You can try it

[2022-10-17 12:05] GemmaTuron commented on #363
Hello @angelnagaba !

The error is to use the api "calculate". When you serve the model, you get the api's that can be used with the model, it is probably predict.
Can you complete a documentation improvement on issue #359 suggesting a more informative error message for when users select a non existing API?

And close the issue if the correct api works !

thanks

[2022-10-17 12:19] GemmaTuron commented on #338
@miquelduranfrigola
Let's see for this model I can't reproduce the error, (see my log file)

@Femme-js do the tests for sqlalchemy to make sure we have the right version and go on to test them on colab meanwhile ;)

[2022-10-17 12:28] mamabear25 commented on #341
I was using the command pip install git-lfs instead of `git-lfs install` to initialize  Git LFS

### Solution:
1. installed xgboost again (Not sure if it had any effect)

2. conda install git-lfs -c conda-forge
3. git-lfs install
4. ersilia -v fetch eos2r5a

### response:
👍 Model eos2r5a fetched successfully!

Thanks so much @GemmaTuron

[2022-10-17 12:49] GemmaTuron commented on #341
yay there we go!

Im closing this issue then!

[2022-10-17 12:49] #341 closed

[2022-10-17 12:59] donaldte opened #365 "🐛 Bug: Exception eosbase-bentoml-0.11.0-py37 source environment does not exist"
### Describe the bug.

Exception: eosbase-bentoml-0.11.0-py37 source environment does not exist

This bug pops up when I try to fetch any model.
example:
ersilia -v fetch eos4e41 > eos4e41.log

This a log file:
[eos4e41.log](https://github.com/ersilia-os/ersilia/files/9800685/eos4e41.log)

### Describe the steps to reproduce the behavior

1. got to ersilia with : cd ersilia
2. activate ersilia wit

[2022-10-17 13:13] GemmaTuron commented on #364
Thanks @Hauwarh !

Can you please add:
- What conda distribution are you using
- What python
- What pip version
And if you collected the error log with `|tee`, please do it again without the` |tee -a `(save it directly), as I think it is hiding part of the log.
I am adding here the successful log file I got on my Linux to compare.
[eos3xip.log](https://github.com/ersilia-os/ersilia/files/9800808/e

[2022-10-17 13:24] GemmaTuron commented on #365
Seems like there is a problem with your conda installation, can you run `conda env list` and paste the output here? (it will show all the envs available to you)

[2022-10-17 13:34] donaldte commented on #365
@GemmaTuron  After run conda env list
This is the output
![Screenshot from 2022-10-17 14-30-22](https://user-images.githubusercontent.com/81464575/196190631-7e55bb49-d6eb-4377-b1ef-ea6491390795.png)

[2022-10-17 13:37] pauline-banye opened #366 "🐛 Bug: Environment does not exist error during fetch for model eos85a3 on google collab"
### Describe the bug.

Hi @GemmaTuron,
I received this error while fetching model eos85a3 on collab
`Exception: eos85a3 environment does not exist`.
Link to eos85a3 [ipynb](https://colab.research.google.com/drive/1ogfWlwgx9Z85bMQzIQi-xQr6CjLCNA7B#scrollTo=F81GE7eMZreU) file

I believe the error is from the model  because I was able to fetch, serve & predict model eos8451 without issues.
link to eo

[2022-10-17 13:55] mamabear25 opened #367 "🐛 Bug: Google collab"
### Describe the bug.

I'm getting a traceback error instead of the model being fetched succesfully.

### Describe the steps to reproduce the behavior

1. Install ersillia on google collab
2. !ersilia fetch eos5qfo

### Expected behavior.

👍 Model eos5qfo fetched successfully!

### Screenshots.

Here's a link to [my google collab](https://colab.research.google.com/drive/1OGqkjbXbD31HMhLyh9Kyjy4Pc7

[2022-10-17 14:03] pauline-banye commented on #366
Update:

@GemmaTuron it's definitely an issue with the model. I just fetched eos6o0z without issues

[2022-10-17 14:05] Jona-Bvunza opened #368 "Feature request: eos9be7 needs input adapter for two molecules."
### Describe the bug.

eos9be7 is fetching successfully in google colab, but not predicting. Its repporting the following massage,

AttributeError                            Traceback (most recent call last)
[<ipython-input-4-908e9577c1d6>](https://localhost:8080/#) in <module>
      3 model = ErsiliaModel("eos9be7")
      4 model.serve()
----> 5 output = model.predict(input=smiles, output="pandas

[2022-10-17 14:20] GemmaTuron commented on #365
Thanks, you see how you don't have the eosbase environment listed there?
This should have been created during ersilia's installation...
- Update pip
- Delete ersilia's conda environment and create it again (make sure its python=3.7)
- Pull latest changes to ersilia's git repository
- and pip install ersilia again

[2022-10-17 14:31] Malikbadmus commented on #359
**Operating system:**
Linux Ubuntu 22.4

**Conda Version:**
Conda 22.9.0

**Python version:**
Python 3.10.6

**Issue:'**
The Input file was not in my working directory and I did not specify a path to the file in my predict command
I got a `TypeError` when I ran the predict command. I have attached an error log below.
[TypeError.log](https://github.com/ersilia-os/ersilia/files/9801278/TypeError.log

[2022-10-17 14:47] ZakiaYahya commented on #358
@Balofire i've encountered the same problem while installing ersilia model. I did these steps and i got rid of these error, plz follow theses steps and check whether it's working for you or not, do this inside the ersilia environment,
sudo apt-get update
sudo apt-get upgrade
sudo apt install python3-pip
 pip3 --version

[2022-10-17 15:03] sayantani11 opened #369 "🐛 Bug: Model eos1579:metabokiller fails with `EmptyOutputError`"
### Describe the bug.

Previously for a same kind of error in a different model, it was suggested that maybe it is because of git-lfs being broken, but even after doing the necessary steps the same `EmptyOutputError` pops up. The same error even occurs in the Google Colab as well.

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

👍🏼model eos1579 fetched succ

[2022-10-17 15:11] pauline-banye commented on #359
Operating System:
- Windows 10
- Ubuntu 20.04

Conda Version:
- 22.9.0

Python Version:
- version 3.9.12

Issue:
I had an issue running `conda activate ersilia` at Pre-requisite 5: The Isaura data lake in the [Ersilia book](https://ersilia.gitbook.io/ersilia-book/ersilia-model-hub/installation).

#exact error notification that you got
I received an ersilia not found error in the terminal.
I figure

[2022-10-17 15:12] sayantani11 commented on #369
@GemmaTuron I was thinking like, what about this problem:
[code]
How to tackle this?

[2022-10-17 15:13] ZakiaYahya commented on #359
Operating system:
Windows 10 Pro (WSL installed with Ubuntu 18.04)

Conda Version:
Conda 22.9.0

Python version:
Python 3.7.13

Issue: While trying to install ersilia model hub, i was getting error continuously i.e.
Could not find a version that satisfies the requirement h5py==3.7.0 (from isaura) (from versions: none)
**ERROR:** No matching distribution found for h5py==3.7.0.
**Warning:** There wa

[2022-10-17 16:08] GemmaTuron commented on #369
Hi @sayantani11 !

If you check a few lines below you will see how this is dealt with directly (line 400)

  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.36
    Uninstalling SQLAlchemy-1.4.36:
      Successfully uninstalled SQLAlchemy-1.4.36
Successfully installed sqlalchemy-1.3.24

This is not the source of the error... I am attaching here a log I generated in

[2022-10-17 16:20] GemmaTuron commented on #368
Hi @Jona-Bvunza

Quick check,
If you run `!ersilia serve eos9be7` does it show predict as the api for the model?

[2022-10-17 16:21] GemmaTuron commented on #367
Hi @mamabear25 I need access to see the colab
And if you haven't, you can also add the -v flag in colab to get the error, when you use the `!` it is the same as a CLI

[2022-10-17 16:52] Malikbadmus commented on #366
I'm also getting the same error on Model eos85a3.

This is the google colab link: https://colab.research.google.com/drive/142NLJo0Ho5HlG7_xKEkYYwdR1nSM-vUj?usp=sharing

[2022-10-17 17:21] UChisom commented on #356
Thanks @GemmaTuron 🙂

[2022-10-17 18:10] EstherIdabor opened #370 "🐛 Bug: Model eos9ei3; predict did not produce expected result, throws error UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 0: invalid continuation byte"
### Describe the bug.
@GemmaTuron

fetching model eos9ei3 happened succesfully as well as the serve command. on predict it produces a uniCodeError; UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd0 in position 0: invalid continuation byte

attached is the error log

[eos9ei3.log](https://github.com/ersilia-os/ersilia/files/9803340/eos9ei3.log)

### Describe the steps to reproduce the behavi

[2022-10-17 18:19] GemmaTuron commented on #366
I am really puzzled because running your Notebook @Malikbadmus I don't get any errors... is the first time running the same piece of code I get different outputs.
I need to think a bit about what can be happening, open to suggestions as well!

[2022-10-17 18:23] GemmaTuron commented on #370
Thanks @EstherIdabor !

Two questions:

- Are you running the predict api from the folder where the .csv file is? otherwise you need to specify the path. We have discussed this in other issues and slack, you need to navigate through the CLI to where the file is
- Can you confirm if you get the same error when you use only a molecule as input?
`ersilia -v api predict -i "CCCCC" -o "eos9ei3.csv" > e

[2022-10-17 18:46] pauline-banye commented on #359
Operating System:
- Windows 10
- Brave browser

Conda Version:
- 22.9.0

Python Version:
- version 3.9.12

Issue:
Key error when converting model input file from csv to a smiles list
![cansmileserr](https://user-images.githubusercontent.com/63536707/196219853-eb752e58-fee3-41d4-8050-af5bd7ecb28d.png)

How did you solve it:
It was referencing CAN_SMILES which  wasn't present in the input file. So I

[2022-10-17 19:02] Zainab-ik commented on #370
The eml_canonical.csv, can you try running with the quote attached to it.

[2022-10-17 19:03] Zainab-ik commented on #370
And have you tried @GemmaTuron suggestions.

[2022-10-17 19:10] EstherIdabor commented on #370
@GemmaTuron thanks!!, It actually worked with the “CCCC” molecule, there are in thesame folder

[2022-10-17 19:11] EstherIdabor commented on #370
It's actually attached

[2022-10-17 19:11] EstherIdabor commented on #370
Thanks Zainab, I tried @GemmaTuron  second statement and it worked

[2022-10-17 19:50] pauline-banye commented on #366
Hmm @Malikbadmus I didn't experience the error affecting any of the other models. I fetched and predicted two models successfully after I encountered the error.

Thanks @GemmaTuron I'm comparing both notebooks now. I'll post an update once it's done

[2022-10-17 20:17] Chigoziee opened #371 "🐛 Bug: eos5qfo - Predict Error: products"
### Describe the bug.

I successfully fetched and serve my model 'eos5qfo' but when i tried to test it using the 'eml_canonical.csv' test dataset it was stuck in a loop for a very long time. i restarted my CL and my internet connection but that did not seem to help.
during fetching the model, it took a lot of time so i assumed it was one of those large models and that it would take time to finish

[2022-10-17 20:20] Hauwarh commented on #364
Thank you @GemmaTuron

- Im usiing miniconda and the version conda 22.9.0
- The python version in the WSL is python 3.9 while the python version in the ersilia env is python 3.7
- The pip version in the WSL is pip 21.2.4 while the pip version in the ersilia env is pip 22.2.2

[2022-10-17 20:21] Motunrayo321 commented on #333
Thank you very much @GemmaTuron.

[2022-10-17 20:22] Motunrayo321 commented on #333
Hello, since this issue has been solved, do I still need to include it in issue 359?

[2022-10-17 20:27] Malikbadmus commented on #366
@GemmaTuron , I created a new notebook and I was able to successfully predict the model with the same line of code, so I figured maybe the open sessions were interrupting fetching new Models to run.

So I proceeded to Disconnect and delete the current runtime on the original notebook, and I was able to fetch the model successfully.

@pauline-banye, I wonder if you could try this solution and see i

[2022-10-17 20:53] Femme-js commented on #338
Hi @GemmaTuron

THe sqlalchemy model I have is version 1.3.24'

[2022-10-17 20:55] pauline-banye commented on #366
I think this error is intermittent @GemmaTuron . I compared your ipynb file to mine and the only difference was the verbose flag.

I ran the predict again and it was successful.

Hi @Malikbadmus That's an interesting solution and I think you're probably right. When I reopened the ipynb file, I saw a pop-up about reconnecting. I didn't delete the environment however but the end result is the same

[2022-10-17 20:59] thormiwa commented on #355
@GemmaTuron it actually ran correctly on google colab...i will update on the excel sheet and also the drive😂

[2022-10-17 21:00] Motunrayo321 commented on #359
Operating System:
Windows 10 Pro (WSL installed with Ubuntu 22.04)

Conda Version:
conda 4.11.0 (miniconda 3)

Python Version:
Python 3.9.9

Issue:
ersilia: command not found

I had closed the terminal previously and picked off from where I left after reopening it.
No ersilia command worked after I went back to the directory path.

How did you solve it:
I activated the ersilia environment using th

[2022-10-17 21:34] Motunrayo321 commented on #359
Operating System:
Windows 10 Pro (WSL installed with Ubuntu 22.04)

Conda Version:
conda 4.11.0 (miniconda 3)

Python Version:
Python 3.9.9

Issue:
While trying to install WSL on my Windows 10 pro machine with the command "wsl --install", I received an error message:
WslRegisterDistribution failed with error: 0x80370102
Error: 0x80370102 The virtual machine could not be started because a required

[2022-10-17 21:39] UChisom opened #372 "🐛 Bug: Environment does not exist; Exception while fetching models on Google colab"
### Describe the bug.

I tried to fetch the models `eos4tcc`, `eos2ta5`, and `eos6m4j `using the google colab format. For all of the models I got thesame exception: environment does not exist.

However, on the first run of `eos4tcc` I got an `emptyoutput exception` after a very lengthy error message body.

Only one of my models fetched successfully

### Describe the steps to reproduce the behavior

[2022-10-17 21:39] UChisom commented on #372
@GemmaTuron kindly assist.

[2022-10-17 21:40] faith-zuby opened #373 "🐛 Bug: Difficulty installing ersilia model due error in checking the latest pip version and bentoml==0.11.0 requirement not being met"
### Describe the bug.

I'm receiving the following errors while trying to install the ersilia model hub:
1. An error that states that it could not find a version that satisfies the requirement betoml==0.11.0
2. An error that states no matching distribution found for bentoml==0.11.0
3. And a warning that states there was an error in checking the latest version of pip

### Describe the steps to repr

[2022-10-17 21:56] carcablop opened #374 "🐛 Bug: Model API eos526j:predict did not produce an output"
### Describe the bug.

When fetching the model eos526j I  have the following error:
Something went wrong with Ersilia...

EmptyOutputError

Error message:
Model API eos526j:predict did not produce an output

Checking the log file, the first error found is a pip dependency:
''' ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour

[2022-10-17 22:42] carcablop commented on #374
**I tried again to install Git-lfs. Just like I do below.: **
[code]

Even though I reinstalled the required packages according to the documentation, I still get the same error.

I share the last log that I made,
[eos526j_fetch_5.log](https://github.com/ersilia-os/ersilia/files/9804989/eos526j_fetch_5.log)
I can see that in line 631 I have an error that isaura is not installed, but in the previous

[2022-10-17 22:56] carcablop commented on #373
Hello @faith-zuby. Maybe you should also check your internet connection. This connection should be stable.

[2022-10-17 23:06] carcablop commented on #374
This is my version of sqlalchemy:
[code]

[2022-10-17 23:36] Motunrayo321 opened #375 "🐛 Bug: Failed to fetch model eos30gr"
### Describe the bug.

I encountered an unidentified error while trying to fetch model eos30gr.
There is no specific error message that can be used to debug.
The exception message read "Download from {0}/{1} did not work"
I also was not able to get a log file of the error because it kept running for over 4 hours so I will add a screenshot instead.

### Describe the steps to reproduce the behavior

[2022-10-18 00:39] EstherIdabor commented on #374
@carcablop you do not have to be in the ersilia directory to fetch the models, as long as the ersilia environment is activated you can fetch the models. You can try sudo apt-get update, sudo apt-get upgrade, sudo apt install python3-pip. And then rerun the terminal, this might be helpful as it helped me resolve issues with pip install.

[2022-10-18 00:56] carcablop opened #376 "🐛 Bug: Error with the git lfs command, it does not install. git: 'lfs' is not a git command. See 'git --help'."
### Describe the bug.

When I fetch the model, despite having followed the steps and installed git lfs correctly, as we see below:
[code]

 In the fetch log the problem that it has not been installed continues to appear. Despite being with the active environment, and installing it with the ersilia conda environment, the same problem continues, as indicated below in the log:

[code]

[eos526j_fetch

[2022-10-18 01:04] carcablop commented on #376
To fix the problem, the following steps are necessary:

Activate the ersilia environment.
Use the following commands to install git-lfs.
**`sudo apt install git-lfs`**

This helped me to definitively install the git -lfs and the problem did not appear again, since with the command of the guide when I did fetch it did not recognize it as a command.

[eos526j_fetch_6.log](https://github.com/ersilia-

[2022-10-18 01:04] #376 closed

[2022-10-18 01:06] EstherIdabor commented on #362
After some reruns and ensuring I have a good internet connection, I got past this error

[2022-10-18 01:07] EstherIdabor commented on #362
After some reruns and ensuring I have a good internet connection, I got past this error

[2022-10-18 01:11] carcablop commented on #323
I agree with the solution, although in my case it worked for me using the following command and with the ersilia environment activated:
sudo apt install git-lfs

As I indicate in this bug #376 : https://github.com/ersilia-os/ersilia/issues/376

[2022-10-18 01:15] #337 closed

[2022-10-18 01:15] EstherIdabor commented on #337
Ok thank you @GemmaTuron

[2022-10-18 01:16] #336 closed

[2022-10-18 02:05] pauline-banye commented on #359
Operating System:
- Windows 10
- Ubuntu 20.04

Conda Version:
- 22.9.0

Python Version:
- version 3.9.12

Issue:
experienced more issues while fetching models with the fetch command

`ersilia -v fetch eos157v`
`ersilia -v fetch eos8451`

[my.log](https://github.com/ersilia-os/ersilia/files/9784675/my.log)

I encountered multiple package conflicts during this process
![package conflicts](https://us

[2022-10-18 02:32] pauline-banye commented on #359
Operating System:
- Windows 10
- Brave browser 1.44.105

Conda Version:
- 22.9.0

Python Version:
- version 3.9.12

Issue:
I received this error while fetching model eos85a3 on collab
`Exception: eos85a3 environment does not exist`.
![colab1 err](https://user-images.githubusercontent.com/63536707/196189011-8d498b76-71ae-4d9f-bf44-778feb799bfc.png)

How did you solve it:
I reconnected the runtime e

[2022-10-18 02:38] Cee-tech21 commented on #343
Model has now been run on google colab but the same error noted in this issue is witnessed in google colab.
![chizi_e_cee-tech](https://user-images.githubusercontent.com/88627491/196322635-b8bf9750-94b8-4398-a06c-64529fb0548e.png)

[2022-10-18 02:59] pauline-banye commented on #359
Operating System:
- Windows 10
- Brave browser 1.44.105

Conda Version:
- 22.9.0

Python Version:
- version 3.9.12

Issue/Improvement:
This isn't  really a bug I encountered. It's more like a feature which would enhance usability of the colab environment.

A a first time user to google collab, I struggled with identifying the correct path for the input file. I eventually figured it out but I notic

[2022-10-18 03:14] ZakiaYahya opened #377 "🐛 Bug: eos526j needs an output adapter to convert json to csv"
### Describe the bug.

@GemmaTuron, I have encountered a endless loop of execution while running predict api on model "eos526j". The model is showing this same behaviour both in google colab and CLI. So for checking purpose i have run the predict api on eos526j for just first one molecule of [test.csv](https://github.com/ersilia-os/ersilia/files/9806127/test.csv). I have encountered error "TypeErr

[2022-10-18 03:34] ZakiaYahya commented on #373
@faith-zuby  i've encountered the same problem while installing ersilia model. I did these steps and i got rid of these error, plz follow theses steps and check whether it's working for you or not, do this inside the ersilia environment,
sudo apt-get update
sudo apt-get upgrade
sudo apt install python3-pip
pip3 --version after that deactivate the ersilia conda environment &
rerun the terminal.
I h

[2022-10-18 03:56] Cee-tech21 commented on #342
First four molecules of list successfully predicted with model "eos2a9n" on google colab. Will now close this issue.

[2022-10-18 03:56] #342 closed

[2022-10-18 04:13] Cee-tech21 commented on #343
Since this model fails to fetch both on my local computer and on colab, I intend closing this issue with the presumption/conclusion that there's a problem preventing the model from being fetched.

[2022-10-18 06:07] RoseZhen2022 commented on #344
Hi @GemmaTuron , I changed operating system to Ubuntu 22.04.1 LTS and set the environment again. It works well  and I have added the output csv file to the drive, so I would like to close this issue.

[2022-10-18 06:08] #344 closed

[2022-10-18 06:41] GemmaTuron commented on #370
Hi @EstherIdabor !
Great, so the problem does not seem to be with the model. Are you indicating the path to the eml_canonical.csv file ?
Where has the output file been saved? This will indicate the folder you are in.

You either need to launch the code from the folder where it is stored or pass the full path to the CLI. For example, in my case could be:
`~/Desktop/ersiliatest/eml_canonical.csv`

[2022-10-18 06:46] GemmaTuron commented on #364
Hi  @Hauwarh

Your log file seems like it's missing some information (you can use mine to compare) I see an error in line 38 on your file (please, do have a look and try to understand what goes on on your log files).
Have you used the `|tee` comand to get the file? If so, please do it again without the `|tee` command

[2022-10-18 06:46] GemmaTuron commented on #333
No, that's fine @Motunrayo321 ! Thanks

[2022-10-18 06:47] GemmaTuron commented on #338
Thanks  @Femme-js !
- Do you have this error on Google Colab?
- Does eos2thm (as per the bug title) gives the same error?

[2022-10-18 06:48] GemmaTuron commented on #355
Thanks @thormiwa !

We'll do some debugging on our side to see what is going on, will post here questions as I come across them, see if we can identify the problem.

[2022-10-18 07:11] GemmaTuron opened #378 "🐛 Bug: Google Colab Runntime needs to be refreshed"
### Describe the bug.

It has been reported in several issues that running Ersilia on Google Colab crashes sometimes.
I am listing here a few of the issues where this has been reported
#372
#366
#347

The common error message in all of them seems to be with tqdm though I am not sure this is the source cause:
[code]
It is known that ipywidgets (needed by tqdm) was not supported by Googlecolab, but

[2022-10-18 07:15] angelnagaba opened #379 "🐛 Bug: emptyoutput error. Fetch consistently fails"
### Describe the bug.

Fetch consistently fails even after working on my  internet settings.
[my.log](https://github.com/ersilia-os/ersilia/files/9807423/my.log)

### Describe the steps to reproduce the behavior

Fetch the model

### Expected behavior.

Fetch model successfully

### Screenshots.

_No response_

### Operating environment

Ubuntu 22.04 VM

### Additional context

_No response_

[2022-10-18 07:24] Femme-js commented on #359
Operating system:
Ubuntu 18.04.3 LTS

Conda Version:
conda 4.12.0

Python version:
Python 3.9.12

###Issue:
I encountered a TypeError while predicting the eml_canonical.csv.

###How did you solve it:
I mentioned the exact path of the input file in the predict command and executed the command. It ran successfully.

###What would you like to see in the Documentation:
As new contributors or people wh

[2022-10-18 07:26] Cee-tech21 commented on #359
https://github.com/ersilia-os/ersilia/issues/342

**Operating System:**
Linux 19
Conda Version:
conda 22.9.0
Python Version:
Python 3.9.13

**Issue:**
Repeated output of "status 500" error code.
During prediction using a model, the process seems to get stuck in a loop and repeatedly outputs "status 500" error code: see #342.

**How did you solve it:**

- Run prediction for one molecule
- If predic

[2022-10-18 07:27] GemmaTuron commented on #367
Hi @mamabear25,

while you change access to colab, also check issue #378 as this might help!

[2022-10-18 07:30] GemmaTuron commented on #366
That's very helpful thanks for the work @pauline-banye and  @Malikbadmus !
See issue  #378 I hope we will be able to understand where this is coming from, but meanwhile, would any of you add a comment on #359 so we can make sure users know what to do (at least temporarily) ?

Thanks !

[2022-10-18 07:31] GemmaTuron commented on #372
Hi @UChisom !

We have been discussing this with @pauline-banye and @malikbadmus on  #366 and seems we have been able to get a temporary fix while I dig more into the root cause of this. See also #378 !
Let us know if this solves the issues for you as well

[2022-10-18 07:32] zheeburg commented on #318
Yes sure

[2022-10-18 07:33] GemmaTuron commented on #323
Thanks @carcablop !
Please can you add this useful tip to #359 ?

[2022-10-18 07:38] Jona-Bvunza commented on #368
No, eos9be7 has "calculate" as its api. However i have tried replacing `output = model.predict(input=smiles, output="pandas")` with `output = model.calculate(input=smiles, output="pandas")`  but i am getting an `AssertionError` with a message below,

---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call las

[2022-10-18 07:43] GemmaTuron commented on #377
Hi @ZakiaYahya !

You are right about the model, you can use the [model hub website](https://ersilia.io/model-hub) and search this model using the eos identifier.
You will see it is a tool to calculate "how easy it is to synthesize a molecule in the lab" -- the input molecule is broken down into different precursors (you can imagine it as a Lego) and it gives the precursors you could use to build

[2022-10-18 07:44] GemmaTuron commented on #377
Don't close the issue, but if you can change the title to
"eos526j needs an output adapter to convert json to csv" it will be more informative for us!

[2022-10-18 07:47] zheeburg commented on #318
Operating System:  Linux Ubuntu 20.4 LTS 

Conda Version:  conda 22.9.0  

Python Version:  Python 3.9.12 

Issue:  My windows crashes and restarted, stopping all active processes whenever i fetch the ersilia model.

How did you solve it: 
It turned out that [systemd-oomd](https://manpages.ubuntu.com/manpages/jammy/en/man8/systemd-oomd.8.html) (a userspace out-of-memory (OOM) killer) was killing m

[2022-10-18 07:50] zheeburg commented on #359
Operating System:  Linux Ubuntu 20.4 LTS 

Conda Version:  conda 22.9.0  

Python Version:  Python 3.9.12 

Issue:  My windows crashes and restarted, stopping all active processes whenever i fetch the ersilia model.

How did you solve it: 
It turned out that [systemd-oomd](https://manpages.ubuntu.com/manpages/jammy/en/man8/systemd-oomd.8.html) (a userspace out-of-memory (OOM) killer) was killing m

[2022-10-18 07:58] Femme-js commented on #338
Yes, I have same error with model eos1579 on google colab, with same log ouput.

However, model eos2thm shows an empty output error in CLI, but it successfully ran onto the collab and prediction was also successful.

One thing to note, the sqlalchemy version on my colab is diff (1.4.41) from the CLI

[2022-10-18 08:01] GemmaTuron commented on #343
@Cee-tech21
I can reproduce the same error, I need some time to check what can be the issue.
Can you please leave the issue open but change title to "eos3ae7 fails at fetching time"
I will add some tags to help us locate it.
Mark the issue on excel and move on!

[2022-10-18 08:01] zheeburg commented on #359
Operating System:  Linux Ubuntu 20.4 LTS 

Conda Version:  conda 22.9.0  

Python Version:  Python 3.9.12

ISSUE ENCOUNTERED:
Whenever I tried fetching my model, I got this message
/usr/lib/python2.7/site-packages/requests/init.py:91: RequestsDependencyWarning: urllib3 (1.25.2) or chardet (3.0.4) doesn't match a supported version! RequestsDependencyWarning)

HOW TO FIX:
You can fix this problem wi

[2022-10-18 08:03] mamabear25 commented on #367
@GemmaTuron you can access the colab now.
I'll start trouble shooting right now
Thanks

[2022-10-18 08:05] GemmaTuron commented on #373
Thanks @ZakiaYahya  for the suggestions

I'd suggest also upgrading pip since the last line in your screenshot is showing that the pip version cannot be found

[2022-10-18 08:09] ZakiaYahya commented on #377
Sure @GemmaTuron, i have changed the title. Thanks.

[2022-10-18 08:17] Jona-Bvunza commented on #360
thanks Gemma, will try another predict today and get back to you

[2022-10-18 08:22] GemmaTuron commented on #368
Hi @Jona-Bvunza

If you go to the [Ersilia Model Hub Website](https://ersilia.io/model-hub) and search for the model `eos9be7` you will see the following explanation: _This model calculates a novel distance measure between two molecules, the Fréchet ChemNet distance (FCD)_
Therefore, you need TWO molecules as input. This means we will also need to improve the input adapters in the python package s

[2022-10-18 08:26] Jona-Bvunza commented on #368
Ok, noted.

[2022-10-18 08:26] GemmaTuron commented on #348
Hi @ZakiaYahya thanks for the test, it seems it is still due to the output format.
If you do not add a .csv requirement in the output, so it will just be printed in the CLI, is the error persisting?

`ersilia -v api predict -i "CCCCC"`  #do not add output

[2022-10-18 08:30] GemmaTuron commented on #328
Hi @Cee-tech21 !
I'd like to close this issue if it is solved, please update when you can

[2022-10-18 08:31] zheeburg commented on #359
Operating System:  Ubuntu 20.04.1 LTS

Conda Version:  conda 22.9.0  

Python Version:  Python 3.9.12

The Issue:
Issue #349
I got an Error `.CSV not found` while predicting my models using the downloaded drive file “eml_canonical.csv”
![67778921-1BA1-45E1-A3D7-CE634225C901](https://user-images.githubusercontent.com/41709695/196373820-8c501318-cdd3-4210-835a-175d4df570c9.jpeg)

How did you solve i

[2022-10-18 08:35] Malikbadmus commented on #359
**Operating Environment**
Google Colab

**Conda Version:**
Conda 4.2.0

**Python version:**
Python 3.7.13

**Issue:**
It was observed that the fetching of a new model immediately after successfully running another model on google colab raises the error `Exception: (model name) environment does not exist.`

This would imply that the current working session has to be terminated and Ersilia Re-instal

[2022-10-18 08:35] GemmaTuron commented on #340
Hi @sayantani11 !

I know you don't have this model assigned but I wanted to confirm if your `git-lfs` was working properly, if you can try a fetch for the model again and let me know that would be great.
We will then close the issue if solved!

[2022-10-18 08:36] GemmaTuron commented on #345
Hi @RoseZhen2022
Have you been able to check my suggestions?

[2022-10-18 08:38] GemmaTuron commented on #349
@Zainab-ik as we have discussed in Slack, try this model in Google Colab, and if it is working we can close this issue

[2022-10-18 08:40] GemmaTuron commented on #352
Hi @Zainab-ik
As we have discussed in Slack, for this issue and also #350 #349 let's use Google Colab

[2022-10-18 08:42] GemmaTuron commented on #361
Also, seeing issue #360 , first make sure git-lfs is working and then try this model again as well

[2022-10-18 08:43] GemmaTuron commented on #363
Hi @angelnagaba

I'd like to close this issue if it is solved, can you let me know?
Thanks!

[2022-10-18 08:45] angelnagaba commented on #363
Hi @GemmaTuron I haven't progressed with fetching but I opened another issue. #379

[2022-10-18 08:49] GemmaTuron commented on #369
I am also linking here issue #338 from @femme-js as it is related to the same model
I can successfully fetch it from my CLI, so there must be some different installation setup.
Can both of you clarify:
- What system are you using
- What conda version
- What pip version
- What python version
- What slqalchemy we have on the ersilia environment (if it is installed) and in the eos1579 environment

[2022-10-18 08:50] mamabear25 commented on #367
Same model isn’t successful on the CLI
<img width="1440" alt="Screenshot 2022-10-18 at 09 47 43" src="https://user-images.githubusercontent.com/102018576/196383151-ed83cea2-b5e3-4f77-838c-ed7e8a150a95.png">

[2022-10-18 08:50] ZakiaYahya commented on #348
Hi @GemmaTuron, yes without adding .csv requirement, it gave me output. I have open another issue i.e. #377 with more detail on this model, which is sorted now. So, i'm closing this issue.

[2022-10-18 08:50] #348 closed

[2022-10-18 08:51] GemmaTuron commented on #338
Ok @Femme-js
That is interesting, I will need some time to dig deeper onto what is going on, I could reproduce the error on Google Colab as well...

See issue #369 from @sayantani11 and lets add all the information we have to try and debug it, but don't get stuck here, mark it in the excel as work in progress
can you change the issue title to **"eos1579 fetching does not produce output"**

[2022-10-18 08:53] GemmaTuron commented on #369
Also mark this on excel as ongoing discussion but don't get stuck here and proceed with other tasks meanwhile

[2022-10-18 08:58] zheeburg commented on #379
Can you check if you imputed the correct command in the file name and format for output? (Model.csv)

[2022-10-18 09:00] GemmaTuron commented on #371
Hi @Chigoziee

Thanks, this is helpful. The error is due to the input format type, which requires two molecules, you can check the [Ersilia Model Hub website](https://Ersilia.io/mode-hub) and read what is this model doing _Utilizes a Weisfeiler-Lehman network (attentive mechanism) to predict the products of an organic reaction given the reactants. The model identifies the reaction centers (set of

[2022-10-18 09:02] GemmaTuron commented on #374
Hi @carcablop you need to check GIT LFS installation:
see line 18
`git: 'lfs'no es un comando de git. Mira 'git --help'.`

[2022-10-18 09:03] GemmaTuron commented on #375
Hi @Motunrayo321
Let's leave this model for the moment as it has a known bug #274
I'll mark that on the excel file

[2022-10-18 09:05] GemmaTuron commented on #379
Hi @angelnagaba !

Let's move this testing to Colab and see if we can make it work , to avoid internet issues!

[2022-10-18 09:17] GemmaTuron opened #380 "📑 Feature Request: Google Colab Guide"
### Is your feature request related to a problem? Please describe.

We need to improve the documentation to use Google Colab. There are three main actions that could be done:

- [ ] Write a comprehensive guide
- [ ] Improve the notebook template
- [ ] create a small video/presentation

### Describe the solution you'd like.

Some contributors to work together to improve this.
I would suggest using

[2022-10-18 09:35] mamabear25 commented on #367
It doesn’t output anything after the last line on the screenshot, except i try terminating the process, then it'll continue fetching.

I'll have to `control c` for it to continue
Is that normal?

[2022-10-18 09:39] mamabear25 commented on #367
Okay, I'll do that

[2022-10-18 09:58] mamabear25 commented on #367
@GemmaTuron Here's the whole output

<img width="1440" alt="Screenshot 2022-10-18 at 10 56 07" src="https://user-images.githubusercontent.com/102018576/196399284-5c3d89db-1e2e-475f-a501-9f18c4a6fe9a.png">

[2022-10-18 10:03] mamabear25 commented on #367
the traceback is similar to what I got on the google colab

[2022-10-18 10:37] pauline-banye commented on #380
Hi @GemmaTuron, I think this is a fantastic idea. I don't mind working on a video presentation for how to fetch models and predict models successfully on colab

[2022-10-18 10:42] pauline-banye commented on #380
I think we could run through the very beginning, from the download csv to the prediction/calculation 🤔

[2022-10-18 10:44] Malikbadmus commented on #380
Hello @GemmaTuron, this is a very fantastic concept, I will like to work on the comprehensive guide.

Is anyone also interested in working with me on this?

[2022-10-18 10:45] ZakiaYahya commented on #380
@GemmaTuron i would love to work on comprehensive guide.

[2022-10-18 10:46] ZakiaYahya commented on #380
yes, i'll co-lead with you @Malikbadmus :)

[2022-10-18 10:47] Femme-js commented on #338
[eos2thm.log](https://github.com/ersilia-os/ersilia/files/9809527/eos2thm.log)

Also attaching the log for eos2htm on CLI

[2022-10-18 10:51] angelnagaba commented on #379
Hello let me do this

[2022-10-18 10:52] pauline-banye commented on #380
Great @Malikbadmus @ZakiaYahya you have the comprehensive guide covered 👍!

[2022-10-18 11:04] pauline-banye commented on #380
I created a [doc](https://docs.google.com/document/d/1Cl5tai9XBD75plZNU75lP37dvzgRAakC5Xq-1nB20V4/edit?usp=drivesdk)  where we can input suggested changes

[2022-10-18 11:12] Cee-tech21 commented on #380
Concerning making a video, I note that I may be constrained by hardware and I also lack prior video making experience

[2022-10-18 11:43] AnneO1 commented on #323
Hi @GemmaTuron,
Hi Everyone, thanks so much for all the help. Finally my environment is working. After a whole week of troubleshoot, I let my system rest for a day then I did the following:
1. Settings-> Network & Internet -> Proxy -> Turned OFF(disable) automatically detect settings on Proxy Setup.
2.  Changed my network
3. Force reboot the my Linux system

Successfully tested dummy model eos3b5e

[2022-10-18 11:43] #323 closed

[2022-10-18 11:54] GemmaTuron commented on #323
I'm glad to hear this!

@Zainab-ik see the proxy setup settings disabling

[2022-10-18 12:30] Femme-js commented on #359
**Operating Environment**
Google Colab

**Python version:**
3.7.15

**Issue:**
It was observed that while making predictions using predict API on CLI using an input file, we do not get a message indicating the total time taken to make predictions as we use to get while fetching the model.
Even in the colab template, we do not get any printed messages regarding the total time taken by the model to

[2022-10-18 12:51] UChisom commented on #372
Hi @GemmaTuron thanks. I'm working through possible solutions now. I'll let you know how it goes.

[2022-10-18 14:07] pauline-banye commented on #380
@Cee-tech21 no worries, you can assist with the notebook template. I'm working on the video.

[2022-10-18 15:48] Malikbadmus commented on #380
@pauline-banye, thanks for creating the docs, to have a more streamlined process,  because we might want to include the changes made on the template into the guide and video, who will handle the notebook template?

[2022-10-18 16:04] Chigoziee commented on #371
Hi @GemmaTuron  i created a csv called "test" with two inputs and tested it with the model, this gave me a "**KeyError: 'products**'" error, i have attached the test input data and also the log
[eos5qfo_log.log](https://github.com/ersilia-os/ersilia/files/9812463/eos5qfo_log.log)
[test.csv](https://github.com/ersilia-os/ersilia/files/9812465/test.csv)

[2022-10-18 16:06] alaminumar opened #382 "🐛 Bug: "eos7a04 - Google Colab - No module named dataclasses"
### Describe the bug.

tried to fetch eos7a04 in google Colab but it's giving me the above error .

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

![Screenshot (92)](https://user-images.githubusercontent.com/110132616/196484146-97103647-bf04-4ead-b668-a11657557880.png)

### Operating environment

Ubuntu 20.04 LTS

### Addit

[2022-10-18 16:08] Zainab-ik commented on #349
@GemmaTuron Currently on it in colab. Thank you

[2022-10-18 16:25] Cee-tech21 commented on #380
Just a starting idea for the notebook:

https://colab.research.google.com/drive/1rCGNGYCtqJ9OQra0KDRShvv3bV4sF5fF?usp=sharing

[2022-10-18 16:40] carcablop commented on #323
Yes @GemmaTuron I'll do it.

[2022-10-18 16:46] carcablop commented on #374
Thank you @GemmaTuron. I alredy solved that problem.

[2022-10-18 16:48] carcablop commented on #374
Thank you so much @EstherIdabor. I'm going to do what you suggest, and I'll comment on what comes out.

[2022-10-18 17:21] Malikbadmus commented on #378
@mamabear25 , use this instead.
`from google.colab import runtime
runtime.unassign()`

[2022-10-18 17:22] Motunrayo321 commented on #375
Alright then, thank you.

[2022-10-18 17:26] muskansawa opened #383 "🐛 Bug: TypeError: No registered converter was able to produce a C++ rvalue"
### Describe the bug.

 facing an error whilst running` ersilia -v api calculate -i  "eml_canonical.csv" -o "output.csv"` but this `ersilia -v api calculate -i "CCCC"` works fine with the same model

TypeError: No registered converter was able to produce a C++ rvalue of type std::basic_string<wchar_t, std::char_traits<wchar_t>, std::allocator<wchar_t> > from this Python object of type NoneType

##

[2022-10-18 17:33] #383 closed, assigned to nobody

[2022-10-18 17:35] muskansawa commented on #383
1. make sure to put the names of the csv files under a quotation mark
2. make sure the input csv file is in your current working directory, double check by doing an` ls`  on your terminal

[2022-10-18 17:37] mamabear25 commented on #378
@malikbadmus I just tried it, same output....
[my collab](https://colab.research.google.com/drive/1OGqkjbXbD31HMhLyh9Kyjy4Pc7IX55El#scrollTo=agMWePaubXjW)

[2022-10-18 17:58] EstherIdabor commented on #370
Hi @GemmaTuron , finally gotten it, I downloaded the test file with my phone and it was saved as an .xls extension I transferred it to my laptop and tried changing the extension to CSV along that line I think it was  compromised, I downloaded it again with my laptop and transferred it to my working directory and it worked perfectly

[2022-10-18 17:58] #370 closed

[2022-10-18 17:58] EstherIdabor commented on #370
Thank you @GemmaTuron

[2022-10-18 18:08] Malikbadmus commented on #380
Fantastic @Cee-tech21, @pauline-banye, and @ZakiaYahya, can we start incorporating the suggestion on docs to this notebook?

[2022-10-18 18:11] ZakiaYahya commented on #380
@Malikbadmus yes sure. Can we do all sections together?

[2022-10-18 18:26] Malikbadmus commented on #380
@ZakiaYahya , I think we should, what do you think @ZakiaYahya, @Cee-tech21 .  We can then include the link to the tutorial video created on the template.

[2022-10-18 18:27] Femme-js commented on #382
Hi @alaminumar ! Can you get the logs for above error?

Please re-execute the command with verbose -v

[2022-10-18 18:30] Femme-js commented on #380
Hi @GemmaTuron !

This is a great idea. I would love to contribute to making the template better and with easier readability.

[2022-10-18 18:32] Femme-js commented on #380
@Cee-tech21 I can co-lead with you on making the template better. I have a few ideas already.

[2022-10-18 18:39] EstherIdabor commented on #359
**Operating Environment**
Windows 10 Ubuntu 18.04.5

**Conda Version**
22.9.0

**python version**
3.7.13

**Issue**
After installing ersilia model hub, ersilia --help threw an error which indicates that ersilia was not properly installed, the error is a ContextualVersionConflict which arose because the packages needed to run ersilia are not the versions required, in other words are not available.

[2022-10-18 19:05] UChisom commented on #372
. @GemmaTuron I have tried the solution by Malikbadmus, but I still get the errors as described in the log files.
[eos6m4j_.log](https://github.com/ersilia-os/ersilia/files/9814280/eos6m4j_.log)
[eos4tcc_.log](https://github.com/ersilia-os/ersilia/files/9814282/eos4tcc_.log)

I really need help here. Three of my models haven't been able to run either on Ubuntu or Colab. @zainab-ik also experienced

[2022-10-18 19:31] muskansawa commented on #380
@GemmaTuron  can we also create a thread for the improvement of ersilia cli as well, there are a lot errors people can report while testing the models and those can be handled in a better way, so as to give a better idea what is the actual problem. For example:
I run `ersilia card eos4b8j ` without fetching the model first it will give an error in the command line, but if it can just let the user

[2022-10-18 19:57] RoseZhen2022 commented on #345
Hi @GemmaTuron  Sorry for the late reply. As the operating system I used before has many problems. So recently I changed to another system Ubuntu 22.04.1 LTS and set the new Erisilia working environment. Using this new system, I have successfully predicted 3 of 4 models you assigned me before and I have already added the output csv files to drive. However, only this model eos54ij was fetched faile

[2022-10-19 00:09] EstherIdabor commented on #380
hi @Malikbadmus I would love to offer assist

[2022-10-19 00:27] pauline-banye commented on #380
I just had a thought, should we push the video creation till when the template is updated? It might be confusing for people to see some features on the template that aren't present in the video
@ZakiaYahya
@Malikbadmus
@Cee-tech21
@sayantani11

[2022-10-19 00:29] Cee-tech21 commented on #380
Well observed
 @pauline-banye

[2022-10-19 00:29] pauline-banye commented on #380
Yes please!!

[2022-10-19 00:33] Cee-tech21 commented on #380
I propose that anyone who wants to copies the draft template and also make suggestions then @pauline-banye willl integrate all suggestions into the template/video

[2022-10-19 01:55] pauline-banye commented on #380
Hi @Cee-tech21 I'm impressed at how quickly you came up with this dradt. Good job!

I was running through the commands on the draft [template](https://colab.research.google.com/drive/1rCGNGYCtqJ9OQra0KDRShvv3bV4sF5fF?usp=sharing#scrollTo=-Rh3-Vt9Nev9) and I came across some errors.

- The timer code returns an error
![err1](https://user-images.githubusercontent.com/63536707/196578687-41a6e0b4-2fae

[2022-10-19 02:55] pauline-banye commented on #380
Update:
I imported the module h5py and I'm currently testing it with a model. Hopefully that resolves the error.

I also made some changes to the draft template @Cee-tech21

[2022-10-19 03:13] thormiwa opened #384 "🐛 Bug: Model eos4b8j and eos7jlv - Google Colab - Output adaptors needed"
### Describe the bug.

Both models have an API: PREDICT with each of them giving a `ValueError: Columns must be same length as key` everytime you predict.
Link to each model google colab
[eos4b8j](https://colab.research.google.com/drive/1_3jZ7jzheZmfSebaiOmQnEzeR9Q3zZ2M?usp=sharing)
[eos7jlv](https://colab.research.google.com/drive/1QEp7-vMulA1DeDdFZ3U7IjreNch51Du9?usp=sharing)

### Describe the s

[2022-10-19 03:34] pauline-banye commented on #380
Oh, I forgot about that. Granted

[2022-10-19 04:13] Hauwarh commented on #364
I tried running it without the |tee command. Right now there is nothing in my log file and it's been that way for hours.

[2022-10-19 05:37] zheeburg opened #385 "Traceback error while trying to fetch model on Google Colab"
### Describe the bug.

![58864390-090E-4FB2-8F4D-F969C864E5BC](https://user-images.githubusercontent.com/41709695/196605893-3bb6fcdf-600b-4e77-8c8a-c45b1687f178.jpeg)

### Describe the steps to reproduce the behavior

_No response_

### Expected behavior.

_No response_

### Screenshots.

_No response_

### Operating environment

Ubuntu 20.4.1

### Additional context

_No response_

[2022-10-19 06:53] Zainab-ik commented on #385
@zheeburg for a traceback error, try deleting your runtime and disconnect. Then run your code all over from the start. I think the problem should've resolved.

[2022-10-19 07:06] RoseZhen2022 opened #386 "🐛 Bug: Fetching model eos54ij with "EmptyOutputError""
### Describe the bug.

Fetching model eos54ij failed with error message "EmptyOutputError". Using Colab to fetch this model also got this error message.

### Describe the steps to reproduce the behavior

ersilia -v fetch eos54ij > eos54ij.log 2>&1

### Expected behavior.

fetch the model succeffully

### Screenshots.

file:///home/ru/Documents/ersilia/eos54ij.log

### Operating environment

Ubuntu

[2022-10-19 07:06] Zainab-ik commented on #380
@Malikbadmus @ZakiaYahya I'd like to join in on the comprehensive guide. Thanks

[2022-10-19 07:07] RoseZhen2022 commented on #345
Hi @GemmaTuron , to make this more clear, I create a new issue https://github.com/ersilia-os/ersilia/issues/386. I will close this issue.

[2022-10-19 07:07] #345 closed

[2022-10-19 07:08] RoseZhen2022 commented on #386
[eos54ij.log](https://github.com/ersilia-os/ersilia/files/9817732/eos54ij.log)
Here is the log file.

[2022-10-19 07:12] Malikbadmus commented on #380
Thank you @pauline-banye .

I feel implementing the guide into the notebook will be messy, Lets create different documentation for that.

I've made some changes to the template [here](https://colab.research.google.com/drive/1rCGNGYCtqJ9OQra0KDRShvv3bV4sF5fF?usp=sharing)

@Femme-js has some suggestions on incorporating time messages during predictions.

@ZakiaYahya, @Zainab-ik, I have started worki

[2022-10-19 07:13] Zainab-ik commented on #380
I think the comprehensive guide can include an explanation of what is in the notebook, so it wouldn't be messy.

[2022-10-19 07:15] Malikbadmus commented on #380
No, I'm speaking of having the guide inside the notebook.

[2022-10-19 07:15] Zainab-ik commented on #380
@Malikbadmus kindly grant access

[2022-10-19 07:16] Malikbadmus commented on #380
Done

[2022-10-19 07:17] Zainab-ik commented on #380
I think it should be the other way around. the notebook in the guide. Just like Ersilia gitbook, contains the colab template

[2022-10-19 07:19] Malikbadmus commented on #380
Yes, @Zainab-ik, that's exactly what I'm talking about, so we can keep the notebook simple without too much explanation on it.

[2022-10-19 07:20] Zainab-ik commented on #380
Exactly

[2022-10-19 07:25] pauline-banye commented on #380
@Malikbadmus Did you say you made changes to the template I worked on or the original template? Could you review the template I edited.

[2022-10-19 07:28] Zainab-ik commented on #380
@pauline-banye Can we discuss about this, this style doesn't seem to solve my error module. Thanks

[2022-10-19 07:31] pauline-banye commented on #380
@

Hi @Zainab-ik sure we can. Can I try the model myself as well? Did you try it out with the template I shared?

[2022-10-19 07:34] Malikbadmus commented on #380
No changes were made to your template, I reviewed it. That's why I was thinking more of having less explanation on the colab notebook, things like what is colab would be better suited to the guide.

[2022-10-19 07:37] Zainab-ik commented on #372
@GemmaTuron While replicating Malik solution, the model still outputs same error. Also after deleting runtime and reconnecting.

[2022-10-19 07:53] Cee-tech21 commented on #380
![what_is_colab](https://user-images.githubusercontent.com/88627491/196629137-a9d879ae-f2f8-4a11-bb43-1b3aec206e6c.png)

The section about "what is colab" as it is in the draft ersilia template/notebook isn't a comprehensive guide to colab at all. In fact when a comprehensive guide to colab is ready it can be linked to in the "what is colab section".

For now we only have one sentence saying what

[2022-10-19 08:02] Zainab-ik commented on #349
@GemmaTuron After running in colab, I got an error

Since the error has to do with no module found, I tried importing numpy manually but still resulted in the same error.

![image](https://user-images.githubusercontent.com/54579707/196629784-4242b455-3db9-472f-bf03-abc45c71dfd5.png)

Here is the link to the Colab [eos2ta5Colab](https://colab.research.google.com/drive/1i5T4b_nMiVhhmPktnqaB4rfZTy96M

[2022-10-19 08:04] Malikbadmus commented on #380
@Cee-tech21, Alright, let's work with that.

[2022-10-19 08:04] Zainab-ik commented on #349
### Operating environment
I also used macOS CLI and encountered the same error

[2022-10-19 08:15] Zainab-ik commented on #349
Along the log file, I observed some modules were uninstalled and installed back. However, `numpy` which was uninstalled wasn't installed back.
![image](https://user-images.githubusercontent.com/54579707/196635069-315b082f-b545-48c0-bae0-2429179472de.png)

This likely is a cause of the error.

[2022-10-19 08:17] Zainab-ik commented on #352
@GemmaTuron I was able to run this in colab and uploaded my CSV to the drive. It still doesn't work in the CLI though.

[2022-10-19 08:17] #352 closed

[2022-10-19 08:34] Zainab-ik commented on #380
Sure, let me tag you under the issue so this place doesn't get messy. Thanks

[2022-10-19 08:36] Zainab-ik commented on #349
@pauline-banye So for this model, I tried the solution you suggested in #380 about importing a module not found but it didn't work.

[2022-10-19 08:37] #360 closed

[2022-10-19 08:38] Jona-Bvunza commented on #361
Thanks, @GemmaTuron. I was able to solve the issue by installing git-lfs using `conda install -c conda-forge git-lfs` . The model was fetched successfully and ran predictions for the test smiles.

[2022-10-19 08:38] #361 closed

[2022-10-19 10:08] Zainab-ik opened #387 "🐛 Bug: Model `eos6m4j` : ModuleNotFoundError: No module named 'dataclasses' on Colab"
### Describe the bug.

Hi @GemmaTuron, While fetching the model `eos6m4j ` on colab, I got the error

Link to the colab [eos6m4j](https://colab.research.google.com/drive/11p4x0LWzOFqNQNQYkSwmL8DS4nvFepI7?usp=sharing)

I believe the error is from the model since I was able to fetch one of my models successfully and 4 other random models.

This model also crashes my system on CLI, see #350 while I d

[2022-10-19 10:11] ZakiaYahya commented on #380
Yes that's sound more convenient @Zainab-ik

[2022-10-19 10:12] ZakiaYahya commented on #380
Exactly

[2022-10-19 11:00] Balofire opened #388 "🐛 Bug: Errors with Flask and Docker after running ''ersilia --help''"
### Describe the bug.

After following all of the installation steps again, I've  run into a traceback errors that either mention flask or docker, after running `ersilia --help`, even though both have already been installed and upgraded in the ubuntu terminal.

### Describe the steps to reproduce the behavior

1. Activate conda environment with; `conda activate ersilia`
2. Clone ersilia from Githu

[2022-10-19 11:23] Zainab-ik opened #389 "🐛 Bug: Model `eos4tcc`: EmptyOutputError on Colab"
### Describe the bug.

While running the model `eos4tcc` on Colab.It crashes and gives
[code]

In the log file [eos6m4j](https://colab.research.google.com/drive/1iU_HEwJd-Z7rosVJTaOfOcEzKSmemTBA?authuser=1) the warning error seems to be

`import tqdm as _tqdm
    ModuleNotFoundError: No module named 'tqdm'
`
While @GemmaTuron mentioned in #378 to delete and disconnect runtime, It still gave me the

[2022-10-19 11:56] Femme-js commented on #380
HI @Malikbadmus @pauline-banye @Cee-tech21 !

Do we have  a common notebook for the template, where we are incorporating all the changes? If not, I can make one.

[2022-10-19 12:01] Motunrayo321 opened #390 "🐛 Bug: eos7a04 Invalid model identifier"
### Describe the bug.

I encountered an InvalidModelIdentifierError while trying to fetch model eos7a04.
The error message seems to imply that this model does not exist.
I followed the given link and confirmed that it indeed does exist.

![eos7a04_exists](https://user-images.githubusercontent.com/104320678/196682963-fff68737-9e32-4a5d-9bec-ecc11d4b76dc.png)

I also checked for approved and ready m

[2022-10-19 12:03] Cee-tech21 commented on #380
@Femme-js please copy this draft to your drive:

https://colab.research.google.com/drive/1rCGNGYCtqJ9OQra0KDRShvv3bV4sF5fF?usp=sharing#scrollTo=-Rh3-Vt9Nev9

edit the copy you have with ideas and share with your edit

[2022-10-19 12:21] Zainab-ik commented on #390
Could be due to internet bug or not cloning completely from github, try rerunning again.

[2022-10-19 12:54] sayantani11 commented on #380
@pauline-banye Sorry was unavailable yesterday but great to see that the colab feature request is set up. The thing I was finding the problem was downloading the csv file. Apart from the suggested mentions by @GemmaTuron I feel we can also introduce a prerequisite as a lot of people might be new to the colab altogether.
@Zainab-ik
@Malikbadmus
@Cee-tech21
What say?

[2022-10-19 12:54] Motunrayo321 commented on #390
@Zainab-ik I have tried it several times, and internet connection doesn't seem to be the problem.

[2022-10-19 13:02] ZakiaYahya commented on #380
@sayantani11 we have decided to put a sesction on this in a comprehensive guide.

[2022-10-19 13:12] sayantani11 opened #391 "🐛 Bug: `eos2thm` fails with an `EmptyOutputError` locally but works fine on Colab"
### Describe the bug.

The problem is similar to the one I faced in fetching `eos1579` , but in that case the same problem was seen in both Colab & my local machine, but here the fetching & serving was very well done in Colab. I went through the logs, but it seems to show the similar error. I am still trying to figure out but will be thankful with some help.

### Describe the steps to reproduce th

[2022-10-19 13:15] Femme-js commented on #391
@sayantani11 I am also having the same issue #338

[2022-10-19 13:22] Femme-js commented on #380
Hi!

Here is the changes and some some suggestions that I mentioned.

1) We might not need to a lot of info to explain people what is colab in the template as it is already present in the comprehensive guide.
2) While mounting the drive we can provide two instructions to maintain simplicity , (to upload the .csv file to the drive, and then mount the drive to fetch the file). I saw a lot of unneces

[2022-10-19 13:26] Cee-tech21 commented on #380
Well done @Femme-js!
Lots of progress has been made now on the colab template.
The work is actually being actively discussed about on slack
here is the link to Pauline_B's draft:

https://colab.research.google.com/drive/1XvEil6gJGuiHdqID9jpubE9gVHcdxRUF#scrollTo=1cg9EqzVnJSs

[2022-10-19 13:27] ZakiaYahya commented on #380
That's great @femme-js. The cell you are talking about (in point 3) has been removed.

[2022-10-19 13:32] Femme-js commented on #380
This seems good. I can make a few more changes in the @pauline-banye 's draft.

[2022-10-19 13:33] Malikbadmus commented on #380
@Femme-js , nice work.

Can you have the  serve and predict command on different blocks?

[2022-10-19 13:37] Malikbadmus commented on #380
@sayantani11 , are you talking about the output file?

[2022-10-19 13:38] Femme-js commented on #380
Yes, I am adding more changes in the @pauline-banye 's latest draft.

[2022-10-19 13:47] sayantani11 commented on #380
Yeah!
And we should also mention the importance of SMILES format tho. A lot of people might not be aware of that🤔

[2022-10-19 13:51] thormiwa commented on #380
Hey guys i have seen this time issue being talked about but funny enough there is an inbuilt time in colab that tells you the exact time you need without additional code being written. Because for beginners who aren't really tech savvy the time module might seem alot. Here is a screenshot of a colab notebook
<img width="1440" alt="Screenshot 2022-10-19 at 14 47 37" src="https://user-images.githubu

[2022-10-19 13:51] Femme-js commented on #380
https://colab.research.google.com/drive/15Aks1BOOCvgwoL9BjqLeDBYvIaUnVreT?usp=sharing

Here are the new changes
@Malikbadmus @pauline-banye @Zainab-ik @Cee-tech21

[2022-10-19 14:20] alaminumar commented on #382
@Femme-js will do

[2022-10-19 14:25] pauline-banye commented on #372
Hi @GemmaTuron I'm done with the colab [template](https://colab.research.google.com/drive/1XvEil6gJGuiHdqID9jpubE9gVHcdxRUF#scrollTo=1cg9EqzVnJSs).

 Please review.

[2022-10-19 14:30] alaminumar commented on #382
Link to the colab. https://colab.research.google.com/drive/1iXX7R80k-b2lW2xjDsCDM4wKaWIYB1YF?usp=sharing

[2022-10-19 14:37] alaminumar commented on #387
I also get this same error with eos7a04. Have you fixed the problem ?

[2022-10-19 14:55] alaminumar commented on #359
**Operating System:**
Linux Ubuntu 20.4 LTS
**Conda Version:**
conda 4.11.0 (Anaconda 3)
**Python Version:**
Python 3.9.12

**Issue:**
Ubuntu was not able to work after WSL installation in Windows 10. This is because Hyper V a virtualization
package does not come preinstalled in windows 10 Home and Virtualization was disabled in BIOS.

**How did you solve it:**
Enabled Virtualization in BIOS
googl

[2022-10-19 15:18] GemmaTuron commented on #387
Hi @Zainab-ik and @alaminumar !
I have also been able to reproduce this error on Colab, so we are on the same page here.

I've marked this issue for further examination, mark it in purple in the excel!

[2022-10-19 15:22] GemmaTuron commented on #350
Hi  @Zainab-ik !

I am unable to reproduce this, so I am guessing it might have to do with the connection (MolMap is quite a large model)
Let's close this issue and mark it in purple in the excel file so that I know this model can be problematic

[2022-10-19 15:23] GemmaTuron commented on #372
Hi  @UChisom just to confirm, these are logs form Google Colab?

[2022-10-19 15:27] GemmaTuron commented on #372
Hi @Zainab-ik ,
I understand your frustration, let's park eos6m4j, but I'd like to fix the problems on the others, for what i can see in the excel:

- eos2ta5: gives problems to both @UChisom and @Zainab-ik (but runs ok in my computer)
- eos4tcc: same as above
- eos3d3r: @UChisom succedded, @Zainab-ik  could not fetch
Seeing this, maybe lets start by eos3d3r. Is there a specific log file for that

[2022-10-19 15:31] GemmaTuron commented on #391
Hi @sayantani11

That is a very good indication that the problem we are facing is due to the setup on your local machine, if the model runs in colab the packages etc itself are well indicated. Can you paste the log file when you try it on your local machine or point me to the issue where it is?

[2022-10-19 15:32] carcablop commented on #380
Hello Everyone.
@pauline-banye @Malikbadmus @Femme-js @Zainab-ik @ZakiaYahya.

I want to collaborate in the guide and in improving the notebook. I was already making a small guide on the steps I had taken to work with colab. I would like to add my suggestions. It is very important and I saw it in the slack, that it is necessary to add a brief explanation about the inputs and the SMILES in the guid

[2022-10-19 15:33] GemmaTuron commented on #391
I see @Femme-js !

Ok, I'll need some time to look at what can be the problem and suggest a  few things to try.

For both of you, let's mark these models in the excel file in purple and I am tagging this issue for further work on it!

[2022-10-19 15:36] GemmaTuron commented on #390
Hi @Motunrayo321!

I just double checked and the identifier is correct. Your issue is on your fetching command, form what I see in the screenshot:
`ersilia -v fetch 7a04`

where it should be

`ersilia -v fetch eos7a04`

[2022-10-19 15:44] GemmaTuron commented on #388
Hi @Balofire,

Let's see if we can find where the problem is:

- Which command have you used to CREATE the conda environment? Did you specify python version 3.7?
- Which conda version are you using?
- Which Python do you have on your system?
- Have you updated pip and conda to the latest versions?

[2022-10-19 15:45] mamabear25 commented on #367
@Zainab-ik Yes, I have done that...
same output

[2022-10-19 15:51] GemmaTuron commented on #385
Hi @zheeburg !

Traceback error is simply the indication that something went wrong, as the name suggests is giving you pointers as to where you can trace the origin of the error.
Please, update your issue with the relevant information or we can't provide support.

[2022-10-19 15:51] carcablop commented on #380
@pauline-banye @Malikbadmus Also I think it is important to add a code block where you can check the API with the command: !ersilia -v serve name_model

[2022-10-19 15:55] GemmaTuron commented on #384
Hi  @thormiwa !

Can you check what happens if you only pass one molecule for prediction?
instead of input=smiles, write input="CCCC"

[2022-10-19 16:00] ZakiaYahya commented on #380
Hello Everyone,
Here the link of edited guide: (Any suggestions)
https://docs.google.com/document/d/1JlIVmLGa1cL_Qk3q1yS0hVfnDJlHupe4Zg5L8TBYG2I/edit#heading=h.jhw0asezssbt

[2022-10-19 16:02] carcablop commented on #380
Yes @ZakiaYahya Yes, I will write you some comments in the document.

[2022-10-19 16:05] Balofire commented on #388
I used `conda create -n ersilia python=3.7` to create the conda environment, I have python 3.9.12 on my system but in ubuntu it's 3.7.13. I haven't updated pip and conda though.

[2022-10-19 16:08] thormiwa commented on #384
Hi @GemmaTuron  i get this error when i do that ` PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance. `

[eos4b8j](https://colab.research.google.com/drive/1_3jZ7jzheZmfSebaiOmQnEzeR9Q3zZ2M?usp=sharing)
[eos7jlv](https://colab.research.google.com/drive/1QEp7-vMulA1DeDdFZ3U7IjreNch51Du9?usp=sharing)

[2022-10-19 16:15] Malikbadmus commented on #380
This has been added to the notebook

[2022-10-19 16:15] Malikbadmus commented on #380
This has been added to the notebook

[2022-10-19 16:19] pauline-banye commented on #380
I already separated them into different blocks @Femme-js

[2022-10-19 16:21] Malikbadmus commented on #380
https://docs.google.com/document/d/1JlIVmLGa1cL_Qk3q1yS0hVfnDJlHupe4Zg5L8TBYG2I/edit#heading=h.jhw0asezssbt

Please you guys should review the Comprehensive guide and let us know your suggestions on this.

[2022-10-19 16:22] pauline-banye commented on #380
Hi @Femme-js isn't this is the link to the template I  created?

[2022-10-19 16:31] pauline-banye commented on #380
Thanks @carcablop I have handled that already.

[2022-10-19 16:33] ZakiaYahya commented on #380
@pauline-banye i have added that code block in the guide, please check it

[2022-10-19 16:36] carcablop commented on #380
Thank you. I'll take a look at it

[2022-10-19 16:38] carcablop commented on #380
I saw it, thanks you.

[2022-10-19 16:39] Femme-js commented on #380
I will let yo

Sure, I guess we have already provided a good-to-go template. If there would be any more interesting suggestions, I can take a look at them. @GemmaTuron Can also provide her feedback, once she gets time to look at it.

[2022-10-19 16:41] Femme-js commented on #380
Good work on the guide everyone. I will take a more detailed look and provide some suggestions if any.

[2022-10-19 16:42] ZakiaYahya commented on #380
@Femme-js please free to give suggestions :)

[2022-10-19 16:43] pauline-banye commented on #380
thanks for your willingness to assist @carcablop, have you had a look at the final draft yet? If you do have anymore suggestions, please tag me in a comment here.

[2022-10-19 16:45] ZakiaYahya commented on #380
Yes i have saw that

 yes i have seen them , Thanks. please put images with english content so everyone can understand.

[2022-10-19 16:47] pauline-banye commented on #380
Yeah we considered extra additions but in the long run, we decided that the template should be minimal with the more detailed information present in the user guide that @Malikbadmus is working on.

[2022-10-19 16:50] pauline-banye commented on #380
@Malikbadmus

[2022-10-19 16:54] GemmaTuron commented on #386
Thanks @RoseZhen2022 !
I can confirm the error is reproducible, whereas this model was working a few weeks ago. This is probably due to the update of a package.
We will dig deeper and come back to this when I have a better understanding of what might be happening!
Leave the issue open and mark this in purple on excel. Have you tested the model in colab?
Attaching here my log file to keep track:
[e

[2022-10-19 16:59] RoseZhen2022 commented on #386
Thank you for your reply. Actually, I have run this model on Colab, and I got the same result. It was fetched failed. Do I need to open a new issue about Colab result?

[2022-10-19 17:01] GemmaTuron commented on #384
Thanks @thormiwa !
This is due to the input-output format which we are trying to constrain to a pandas dataframe.
Just last check, to help us improve on this error.
Can you run, from Google Colab, using CLI commands and see what output you get?

After fetching, do:
`!ersilia serve 4b8j`
`!ersilia -v api predict -i "CCCCC"`

The ! indicates a CLI command to run on a jupyter notebook

[2022-10-19 17:03] GemmaTuron commented on #379
Hi  @angelnagaba!
We have identified an issue with this model, see #386 --> I'd ask you to try and report if you get the same error consistently!

Thanks!

[2022-10-19 17:03] #375 closed

[2022-10-19 17:08] GemmaTuron commented on #363
Thanks  @angelnagaba !

Let's work on #379 , you 'll see my coments there. I'm closign this one to avoid duplicating information ;)

[2022-10-19 17:08] #363 closed

[2022-10-19 17:08] thormiwa commented on #384
@GemmaTuron Using CLI commands worked for both models. :)

[2022-10-19 17:16] GemmaTuron commented on #382
Hi @alaminumar !

thanks, I think the dataclasses package has been updated and is causing trouble in a few models, see #387
Please change the title of the issue to:
"eos7a04 - Google Colab - No module named dataclasses" and mark it in purple on the excel.

[2022-10-19 17:19] GemmaTuron commented on #371
Hi @Chigoziee !

Thanks for the test.
Two things:

1.  MY FAULT: I gave you the wrong input format. A trick we have in the Hub is to automatically generate a template with the shape that the model needs, the command is: `ersilia example eos5qfo -n 1 -f myexample.csv` (it will create a my example file). You will see SMILES separated by a .
2. BAD NEWS: the correct input file still fails with same e

[2022-10-19 17:21] GemmaTuron commented on #364
Ok thanks @Hauwarh !

Let's try to run it in Google Colab and see if you get the same error, paste a link to the colab notebook here ;)
And change the issue title adding the name of the model at the beginning please so I don't get lost

[2022-10-19 17:22] ZakiaYahya commented on #380
@pauline-banye i was also working on comprehensive guide along with @Malikbadmus  :)

[2022-10-19 17:23] #356 closed

[2022-10-19 17:23] carcablop commented on #380
@pauline-banye
It may be necessary to add only this text "Once uploaded, copy the path of the uploaded file" after: "Click on the folder icon to the left and upload the input .csv file which will be used in the prediction/calculations".
Please let me know if you agree to add it to the template. Thank you

[2022-10-19 17:42] pauline-banye commented on #380
Sure, I’ll have a look at it. Thanks 👍🏻

[2022-10-19 18:37] Malikbadmus commented on #380
@pauline-banye , on the suggestion of having a global variable for the model name, instead of having to input it manually.

https://colab.research.google.com/drive/1XvEil6gJGuiHdqID9jpubE9gVHcdxRUF?usp=sharing

I have made the changes for that here, you can review it and incorporate it into the final design.

[2022-10-19 19:36] carcablop commented on #380
@pauline-banye
It may be necessary to add only this text "Once uploaded, copy the path of the uploaded file" after: "Click on the folder icon to the left and upload the input .csv file which will be used in the prediction/calculations".
Please let me know if you agree to add it to the template. Thank you

[2022-10-19 20:42] carcablop commented on #380
@pauline-banye @Malikbadmus @ZakiaYahya I also think it can be done and it is a good idea. I suggest if it seems good to you that you can add a block specifying the name of the model, as well as the name of the path:

![imagen](https://user-images.githubusercontent.com/17841081/196799341-b55c5b47-a7e4-49d7-a0eb-c1b76b4caa9b.png)

I share the link where I modify it if it can be added to the final t

[2022-10-19 20:45] UChisom commented on #356
Thanks @GemmaTuron

That's fine

[2022-10-19 20:50] UChisom commented on #357
Hi @GemmaTuron I have now tested the model and opened the associated issues in #372 .

They still didn't work out

[2022-10-19 20:57] UChisom commented on #372
Yes, @GemmaTuron they are all logs from colab.

Issue #356 contains info on `eos2ta5`, while #357 contains that on `eos4tcc`. Both when run on Ubuntu

Thanks for the encouragement 😅

[2022-10-19 20:59] UChisom commented on #372
To be clear, we're leaving out eos6m4j right?

[2022-10-19 20:59] sayantani11 commented on #391
I did upload the log file, guess there were some errors while uploading
Here it is:
[eos2thm.txt](https://github.com/ersilia-os/ersilia/files/9824317/eos2thm.txt)

[2022-10-19 23:50] sayantani11 commented on #369
This is the colab output:
[code]

[2022-10-19 23:55] carcablop commented on #359
**Operating System:**
Ubuntu 20.4 LTS
**Conda Version:**
conda 22.9.0(Anaconda 3)
**Python Version:**
Python 3.7.13

**Issue**:
When I fetch a model it hosts an error in the log:
git: 'lfs' is not a git command. See 'git --help'.
(see attached log)
[eos526j_fetch_5.log](https://github.com/ersilia-os/ersilia/files/9824887/eos526j_fetch_5.log)
Despite following the installation steps and reinstallin

[2022-10-20 00:52] carcablop commented on #359
Operating System:
Ubuntu 20.4 LTS
Conda Version:
conda 22.9.0(Anaconda 3)
Python Version:
Python 3.7.13

Issue:
When trying to fetch a model I got this error:
**TypeError: 'NoneType' object is not subscriptable.**
Reviewing the log I found that an ErrorException had been generated

![imagen](https://user-images.githubusercontent.com/17841081/196828521-5f542709-574f-4a08-a793-1523ea8ab82f.png)

In

[2022-10-20 02:33] carcablop opened #392 "🐛 Bug: eoseos526j - Colab - not predict. System crashes."
### Describe the bug.

When I trying to make the prediction in google colab of the eos526j model. This took approximately 5 hours until the system collapsed and locked up. In other words, it stayed in an infinite loop and the prediction did not return any results.

I changed the input to a single molecule:  `smiles = "CC(=O)Nc1nnc(S(N)(=O)=O)s1"`  but that throws me the following error:
TypeError:

[2022-10-20 03:08] Ng-ethe opened #393 "🐛 Bug: Docker for Windows error: "Hardware assisted virtualization and data execution protection must be enabled in the BIOS""
### Describe the bug.

[Docker for Windows error: "Hardware assisted virtualization and data execution protection must be enabled in the BIOS"]

### Describe the steps to reproduce the behavior

I installed Docker as per the instructions in the Ersilia workbook. I choose the option to use it with WSL instead of Hyper-V. However, after launching Docker it gives that error. I've tried some recommend

[2022-10-20 03:15] ting96haha commented on #293
Yes, you had assigned tasks for me. Thank you very much.

[2022-10-20 03:47] ting96haha opened #394 "🐛 Bug: Unable to predict eos9ei3 due to OSError: Unable to open file (file signature not found)"
### Describe the bug.

The model "eos9ei3" is unable to be predicted successfully due to OSError: Unable to open file (file signature not found). I had searched the error online and this error message probably suggests the file is either corrupted or not in the HDF5 format.

### Describe the steps to reproduce the behavior

The error occurs in the `ersilia -v api predict -i "eml_canonical.csv" -o

[2022-10-20 04:16] pravina5 opened #395 "🐛 Bug: Error while running pip install -e"
### Describe the bug.

I completed the pre-requisite and cloned Ersilia from Github. I was trying to run 'pip install -e .' and got these errors. It seems like there is a build error while installing grpcio package.

I could see this build error when I scrolled up:
#### This error originates from a subprocess and is likely not a problem with pip.
#### ERROR: Failed building wheel for grpcio

### D

[2022-10-20 05:09] pravina5 commented on #395
Hello,

The issue is resolved after running some commands, referring to this issue https://github.com/grpc/grpc/issues/30064:
- First I confirmed if I had multiple python3 version or not using ```lipo -archs $(which python3)``` for me it was only arm64
- So I went directly for ```conda install grpcio```
- After that ran ```pip install -e .``` which was successful and proceeded with the next comman

[2022-10-20 05:09] #395 closed

[2022-10-20 05:21] Zainab-ik commented on #389
Noted @GemmaTuron

[2022-10-20 05:25] Zainab-ik commented on #387
I've marked purple.

[2022-10-20 05:34] honeyankit opened #396 "Implement Action workflow for Ersilia to schedule a job to fetch, serve, output the model results."
Based on the https://github.com/ersilia-os/ersilia/issues/302#issuecomment-1279691307 implement the action workflow for Ersillia.

Exit Criteria:
To have a action workflow for Ersilia to execute the model and generate the prediction values.

[2022-10-20 06:31] Zainab-ik commented on #380
Well done everyone, apologies I wasn't available yesterday.
@Malikbadmus @ZakiaYahya Thanks for the work on the guide.
I made a few direct edits, I realized getting the output file wasn't specifically stated, so I made an elaborate explanation on that. Also, one of the images was misleading as it had an import module on it, I changed that.
I also added a few more images to explain some things.

[2022-10-20 06:36] Zainab-ik commented on #380
also, I wanted to suggest that we can make use of hashnode to write the final comprehensive guide, it's more real-time as we can add code blocks instead of images. It's a more similar way to the gitbook and it's more implementable and should be easy to be incorporated than google docs.
@ZakiaYahya @Malikbadmus let me know what you guys think so we can take each other through.
Shouldn't be difficul

[2022-10-20 06:38] Zainab-ik commented on #380
the template requires access

[2022-10-20 06:46] Zainab-ik commented on #349
@GemmaTuron

[2022-10-20 07:01] Zainab-ik commented on #372
for now

[2022-10-20 07:08] Zainab-ik commented on #372
@GemmaTuron Thanks for the clarification.
#349 reference the `eos2ta5` while #389 reference `eos4tcc` . Also, I've been able to fetch `eos3d3r` on colab but not on CLI
[eos3d3rE.log](https://github.com/ersilia-os/ersilia/files/9827176/eos3d3rE.log), this is the log file from CLI

Kindly look through

[2022-10-20 07:59] GemmaTuron commented on #391
Thanks I can see it now!
Seems like the Git LFS error is persisting
When you run git-lfs --help (or any other git lfs command, I am not sure which ones are available) inside ersilia's conda environment, do you get the correct output?

[2022-10-20 08:11] Zainab-ik commented on #394
@ting96haha I suggest you check if you have the input file in the same directory you are working and if the input file is the correct one.

[2022-10-20 08:15] Zainab-ik commented on #393
@Ng-ethe installing docker is not a necessary prerequisites for running your models. However, if you want to install, enable WSL from power shell by using `WSL`, it simply enables it. Also, it's just `pip install docker`, you need not yet it running.
I believe @GemmaTuron can provide a more better explanation.

[2022-10-20 08:16] Zainab-ik commented on #393
Also, kindly edit your title name to include the error you encounter so others can assist.

[2022-10-20 08:18] GemmaTuron commented on #349
Thanks @Zainab-ik !

This error is not consistent (I can get over it on my CLI, and sometimes on Colab) but it does pop an error sometimes around the numpy package, even after deleting the runtime and restarting.
Flagging this for further checking - mark in purple in excel

[2022-10-20 08:52] ting96haha commented on #394
Yes, I confirmed it is in the same directory. I tested with the other models and they worked perfectly.

[2022-10-20 09:25] Malikbadmus commented on #380
That's fantastic! @Zainab-ik

[2022-10-20 09:27] Malikbadmus commented on #380
@ZakiaYahya , I think your suggestion is valid, @ZakiaYahya what's your thought on this?

[2022-10-20 09:59] ZakiaYahya commented on #380
@Zainab-ik nice suggestion. @Malikbadmus @Zainab-ik, But i didn't use hashnode before but i can help u still in that.

[2022-10-20 10:12] GemmaTuron commented on #394
Hi @ting96haha !

Thanks, can I ask you to do a check?
There is a command that will generate, in principle, an example input file for the model. This is still work in process, but it's worth a try in this case.
That command will give you an example file that you can then use to check the input format and also use it with the predict command to see it it runs ;)

`ersilia example eos9ei3 -n 10 -f m

[2022-10-20 10:19] GemmaTuron commented on #393
Hi @Ng-ethe !

Thanks for such detailed explanations, it really helps. I am unsure about whether you are installing docker IN your WSL only or in your windows system. @Zainab-ik suggestion seems a good try!
Also, Docker is currently not required to run ersilia (will be in the future ;) ) so you can skip this step if it's giving you trouble.

[2022-10-20 10:21] Malikbadmus commented on #380
So I think the guide is ready as it is, all that's left is to deploy it to Hashnode as suggested by @Zainab-ik

https://docs.google.com/document/d/1JlIVmLGa1cL_Qk3q1yS0hVfnDJlHupe4Zg5L8TBYG2I/edit#

Thanks to everyone that contributed to this, you guys are amazing!!

[2022-10-20 10:36] mamabear25 commented on #367
@GemmaTuron here's
[my.log](https://github.com/ersilia-os/ersilia/files/9828894/my.log) on the CLI
I've been trouble shooting for days but nothing seems to work, this model is also failing on google colab.

[2022-10-20 10:39] mamabear25 commented on #367
@GemmaTuron here's
[my.log](https://github.com/ersilia-os/ersilia/files/9828894/my.log) on the CLI
I've been trouble shooting for days but nothing seems to work, this model is also failing on google colab.

It also keeps popping up different errors on google colab
https://colab.research.google.com/drive/17yQnD3fSVNDMWJBmbS5QEl64EKt3KfO9#scrollTo=ri4rJHbPT_ph

[2022-10-20 10:59] mamabear25 commented on #367
@GemmaTuron here's
I've been trouble shooting this model for days but nothing seems to work
It keeps outputing different errors on google colab, eg `No module named dataclasses`,
[Google colab](https://colab.research.google.com/drive/17yQnD3fSVNDMWJBmbS5QEl64EKt3KfO9#scrollTo=ri4rJHbPT_ph)

Same thing on the CLI

[2022-10-20 11:10] GemmaTuron commented on #372
Hi @Zainab-ik !

Thanks. Definitely there is an issue with your connection, see this thread: https://stackoverflow.com/questions/45576930/python-requests-newconnectionerror
Can you try to ping google from your CLI and see if it responds? This[ thread](https://stackoverflow.com/questions/52815784/python-pip-raising-newconnectionerror-while-installing-libraries) is suggesting a solution that also wo

[2022-10-20 11:13] GemmaTuron commented on #349
Can you change the title to:
**eos2ta5 - Colab - Numpy module not found**

[2022-10-20 11:14] ting96haha commented on #394
Hi @GemmaTuron, thank you for the advice. I used the example file from the `ersilia example eos9ei3 -n 10 -f myexample.csv` , and it provides me the example file as follows. It can generate 10 molecules as the input example.

[myexample.csv](https://github.com/ersilia-os/ersilia/files/9829064/myexample.csv)

After that, I used the example file as the input file through this command line `ersilia -

[2022-10-20 11:14] ZakiaYahya commented on #380
@Zainab-ik  if you guide us on hashnode, me and @Malikbadmus will help you to convert the guide into a hashnode template.

[2022-10-20 11:16] GemmaTuron commented on #389
Can you change the title to **eos4tcc - Colab - No module named tqdm**

[2022-10-20 11:25] GemmaTuron commented on #338
Hello @Femme-js !

Can I ask you to:
1. Update pip and conda
2. Try fetching eos1579 again
Meanwhile we are working on the chardet urllib conflict, to solve it and see if it was the cause of the error

[2022-10-20 11:29] GemmaTuron commented on #369
Thanks @sayantani11
From the colab notebooks is best if you can share the link to them when they have run so I can see the whole error.

[2022-10-20 11:30] GemmaTuron commented on #369
Hi @sayantani11 and  @femme-js, re-posting these questions! @femme-js very helpful if you paste your current version, then do the updates as I suggested on #338 and try fetching again :)

[2022-10-20 11:33] Zainab-ik commented on #389
Done @GemmaTuron. I'd keep retrying in case there's changes in Output.

[2022-10-20 11:58] mamabear25 commented on #367
@GemmaTuron the other 3 models assigned me have been successful.
Can I leave model `eos5qfo` and move forward?

[2022-10-20 12:13] Zainab-ik commented on #380
We are good to start, I'd send a hashnode draft we will edit soon.

[2022-10-20 12:19] GemmaTuron commented on #357
Hi @UChisom I am closing this error as this is originally related to connectivity issues.
Let's continue the conversation on the open issues!

[2022-10-20 12:19] #357 closed

[2022-10-20 12:22] GemmaTuron commented on #372
@UChisom in your case, the log on eos4tcc is pointing to this annoying tqdm issue, which is already been reported elsewhere #389 , so let's leave that for the moment.
And eos6mj is in #387 , so all errors reported !
Let's use this issue thread to try and solve the eos3d3r issue with @Zainab-ik, it would be great to identify how to solve the NewConnectionError so we can help future users

[2022-10-20 12:27] GemmaTuron commented on #384
Cool so we need to work on the input/output adaptors.
Im gonna flag this for future work, can you change the title to:
**eos4b8j and eos7jlv - Google Colab - Output adaptors needed**

[2022-10-20 12:30] GemmaTuron commented on #386
No that's fine, I'll flag the model on our system for checking.
I leave the issue open to report updates!

[2022-10-20 12:50] GemmaTuron commented on #388
hey @Balofire !

Great, let's make sure you have pip and conda updated and try to pull ersilia and install again. Eliminate the conda environment and create it anew just in case.

[2022-10-20 13:01] GemmaTuron commented on #367
Hi @mamabear25 !

Thanks for your efforts, yes, this is the same error as #387 for a different model.
Can you change the issue name to:
**eos5qfo - Colab - no module named dataclasses**

[2022-10-20 13:03] mamabear25 commented on #367
@GemmaTuron okay
Thanks

[2022-10-20 13:10] GemmaTuron commented on #392
thanks @carcablop !

There is an issue with the input adapter for this model clearly, see #377 . We will tackle soon hopefully, I am going to close this issue to avoid duplication of information. Mark it in purple on excel please.

[2022-10-20 13:10] #392 closed

[2022-10-20 13:16] carcablop commented on #380
Thank you very much. They are an excellent work team. I made a small comment in the guide. I also like the idea of @Zainab-ik, although I have not used hashnode, I would like to continue contributing to the guide if necessary.
@Malikbadmus  @Zainab-ik @ZakiaYahya  I was wondering what you think if we also add in the guide the option of the global variable for the name of the model as it was propos

[2022-10-20 13:22] GemmaTuron commented on #380
Hello all!!

Great job, let me go part by part:
- The document is very detailed, good job on explaining how to load data. Might I suggest we add it to Ersilia's GitBook instead of Hashnode? This is where all documentation of Ersilia resides. I think it will make it easier for other users to find, what do you think? I can give access to one of you to move the final version of the document to GitBoo

[2022-10-20 13:23] carcablop commented on #392
Thanks @GemmaTuron. I'll check out #377.

[2022-10-20 13:32] Malikbadmus commented on #380
Thank you very much @GemmaTuron.

@ZakiaYahya , @Zainab-ik and @carcablop . Lets us go with @GemmaTuron  suggestion of adding it to Ersilia Gitbook since that will make it much easier for other user's to find.

@Zainab-ik , you can still put us through on how to use hashnode , if it wont be to much hassle for  you.

[2022-10-20 13:33] carcablop commented on #380
@GemmaTuron Hello. I think that doing it in the GitBook of Ersilia is much better. If @Malikbadmus and @ZakiaYahya  agree, I offer to upload the final version to the Gitbook.

[2022-10-20 13:41] Zainab-ik commented on #380
That's great, I thought we won't have access to the gitbook is why I suggested something similar.

[2022-10-20 13:46] thormiwa commented on #380
Thank you @GemmaTuron ... The video will be ready soon i have shared it will the team once it is ready we will share the link to it.

[2022-10-20 13:47] ZakiaYahya commented on #380
@GemmaTuron Thanks for you valuable feedback. We will work on your suggestions.
@carcablop i'll add the latest screenshot of variable model_name in the file, don't worry.

[2022-10-20 13:48] ZakiaYahya commented on #380
@carcablop i'll let you know after making relevant changes in it. Then you proceed it by uploading on gitbook :)

[2022-10-20 13:51] Malikbadmus commented on #380
You can include it in the Fetch, Serve and Predict sub-heading or what do you think?

[2022-10-20 14:08] pauline-banye commented on #380
Oh just coming to GitHub! @carcablop. Thanks so much for the suggestion. Sure, I can add it to the template. There's currently a line there which says "ENSURE you include the path to your file", i can change it to something like"ENSURE you copy and paste the path to your uploaded" file

[2022-10-20 14:17] pauline-banye commented on #380
I'm so sorry for the late response @ZakiaYahya 🤦‍♀️. Just coming to GitHub now. We spoke about this on slack remember and it's been incorporated already 😂. Thanks so much for the suggestion

[2022-10-20 14:21] Zainab-ik commented on #349
Hi @GemmaTuron title changed.

[2022-10-20 14:23] pauline-banye commented on #380
Hi @sayantani11 👋,  can you give me some more context regarding the output file?

Re the importance of the smiles format, should we add it to the guide or the colab template?

[2022-10-20 14:37] ZakiaYahya commented on #380
@GemmaTuron i'm thinking of passing variables to input and and output paths too, so the users just have to give and define drive path just at only one place.
@pauline can we incorporate changes to paths as well as i discussed with you earlier??

[2022-10-20 14:47] ZakiaYahya commented on #380
@pauline i'll send you the template again with the corresponding changes

[2022-10-20 15:06] ZakiaYahya commented on #380
@pauline please check the changes in this template and incorporate it final template. in this template i have pass the variables to input _path and out_path so the user have to just change the path in the starting just https://drive.google.com/file/d/1UozvLXnGluT3eZbMl2u7eKK1Sfo_s4O5/view?usp=sharing

[2022-10-20 15:13] pauline-banye commented on #380
@carcablop I've adjusted that line, here's what it looks like currently.
![edit](https://user-images.githubusercontent.com/63536707/196988151-4dd1ec14-229d-46a2-b917-a6c03d5b5045.png)

[2022-10-20 15:27] pauline-banye commented on #380
Thanks for the feedback @GemmaTuron, we'll work on the additions

[2022-10-20 15:28] ting96haha commented on #394
Thank you for the clarification! I will mark it in purple on excel.

[2022-10-20 15:53] ting96haha opened #400 "🐛 Bug: Failed to fetch model "eos2lm8" due to "Model API eos2lm8:predict did not produce an output""
### Describe the bug.

The model cannot be fetched successfully due to empty output error. The error message while fetching the model is "Model API eos2lm8:predict did not produce an output"

### Describe the steps to reproduce the behavior

The error occurs in the `ersilia -v fetch eos2lm8 > eos2lm8_fetch.log 2>&1` command line.

### Expected behavior.

Successfully fetch the model

### Screensho

[2022-10-20 16:19] carcablop commented on #380
Thank you so much @pauline-banye. This looks great. 💯

[2022-10-20 16:20] ting96haha commented on #400
Hi, @GemmaTuron, although the model cannot be fetched in local machine, I successfully fetched and predict on the Google Colab. Would you guide me through the reason behind this phenomena? Many thanks

[2022-10-20 16:25] GemmaTuron commented on #400
If it works in Google Colab but not on your local system it points at a problem in your set up
In this case, I see on line 18 the error:
23:33:26 | DEBUG    | Cloning from github to /home/ting/eos/dest/eos2lm8
Skipping object checkout, Git LFS is not installed.

You need Git Large File Storage as explained in the prerequisites for ersilia, make sure it is recognized in your system (usually require

[2022-10-20 16:47] pauline-banye commented on #380
@ZakiaYahya
I had a chance to look throu

thanks @carcablop  😄

[2022-10-20 16:48] pauline-banye commented on #380
Thanks @carcablop  😄

[2022-10-20 17:26] natividadesusana opened #401 "🐛 Bug: Model eos9be7 - ERROR: Cannot install fcd==1.0 and fcd==1.1"
### Describe the bug.

I successfully installed ersilia until I encountered these errors when running the eos9be7 model.
On `ersilia -v fetch eos9be7` I got warnings and error:
`ERROR: Cannot install fcd==1.0 and fcd==1.1 because these package versions have conflicting dependencies.`

### Describe the steps to reproduce the behavior

1. conda activate ersilia
2.  ersilia -v fetch eos9be7
Error:

#

[2022-10-20 17:31] natividadesusana opened #402 "🐛 Bug: Model eos9be7 - ASM Builds for BoringSSL currently not supported on: macosx-11.1-arm64"
### Describe the bug.

I successfully installed ersilia until I encountered these errors when running the eos9be7 model.
On` ersilia -v fetch eos9be7` I got warnings and error:
[code]

### Describe the steps to reproduce the behavior

1. conda activate ersilia
2. ersilia -v fetch eos9be7
Error:

### Expected behavior.

Fetch the model.

### Screenshots.

<img width="590" alt="Captura de Tela 2022-

[2022-10-20 17:51] GemmaTuron commented on #380
Good job all!

@carcablop I'll follow up with you to give you access to GitBook

[2022-10-20 17:54] pauline-banye commented on #380
@ZakiaYahya This is a good idea 👍 .
My only observation is that  the user is restricted to one folder for both the input files and the output files.
![edit](https://user-images.githubusercontent.com/63536707/197021831-6bfb3e13-870c-4fbb-a77b-b7db3fd50dd4.png)

[2022-10-20 17:56] natividadesusana opened #403 "🐛 Bug: Model eos9be7 - error: legacy-install-failure"
### Describe the bug.

I successfully installed ersilia until I encountered these errors when running the eos9be7 model.
On `ersilia -v fetch eos9be7` I got warnings and error:
[code]

### Describe the steps to reproduce the behavior

1. conda activate ersilia
2. ersilia -v fetch eos9be7
Error:

### Expected behavior.

Fetch the model.

### Screenshots.

<img width="683" alt="Captura de Tela 2022-

[2022-10-20 18:02] natividadesusana opened #404 "🐛 Bug: Model eos9be7 - Error message: os.PathLike object, not NoneType"
### Describe the bug.

I successfully installed ersilia until I encountered these errors when running the eos9be7 model.
On `ersilia -v fetch eos9be7` I got warnings and error:

[code]

[code]

[code]

### Describe the steps to reproduce the behavior

1. conda activate ersilia
2. ersilia -v fetch eos9be7
Error:

### Expected behavior.

Fetch the model.

### Screenshots.

<img width="987" alt="Capt

[2022-10-20 18:43] pauline-banye commented on #380
@Malikbadmus oh okay, in essence 3 new variables, drive_path_input, input_filename and drive_path_output

[2022-10-20 19:53] natividadesusana opened #405 "🐛 Bug: Model eos4e41 - ERROR: No matching distribution found for scikit-learn==0.22.2"
### Describe the bug.

I successfully installed ersilia until I encountered these errors when running the eos9be7 model.
On `ersilia -v fetch eos4e41` I got warnings and error:
[code]

### Describe the steps to reproduce the behavior

1. `conda activate ersilia`
1. `ersilia -v fetch eos4e41`
Error:

### Expected behavior.

Fetch the model.

### Screenshots.

<img width="879" alt="Captura de Tela 2

[2022-10-20 20:15] RoseZhen2022 opened #406 "🐛 Bug: Colab_model eos2b6f prediction no output"
### Describe the bug.

It can be fetched successfully. When doing prediction, it just keep running till time out. Then I need to fetch it again and do the prediction and still keep running. I couldn't get any error message, it seems the prediction didn't finish.

### Describe the steps to reproduce the behavior

1. !ersilia -v fetch eos2b6f
2. model = ErsiliaModel("eos2b6f")
3. model.serve()
4. ou

[2022-10-20 22:05] RoseZhen2022 commented on #406
As someone kindly suggested in the Slack, I changed the input to a single molecule, it can be predicted successfully. I have no idea how to do next.

[2022-10-21 00:16] UChisom commented on #372
Thanks for the feedback @GemmaTuron

I've read through the references.
I'll mark the other models in purple on the sheet excluding eos3d3r.

I'm reviewing the error in @Zainab-ik log file. I've had similar issues with other models, but I haven't cracked yet. I'll read more and revert!

[2022-10-21 01:02] faith-zuby commented on #373
Thank you for your support and @ZakiaYahya it actually worked thank you so much

[2022-10-21 01:02] #373 closed

[2022-10-21 01:23] Ng-ethe commented on #393
Okay, done.

[2022-10-21 02:20] Ng-ethe commented on #393
This worked thank you.

[2022-10-21 02:21] PranjuP opened #407 "🐛 Bug: getting error while running "sudo apt install build-essential" on ubuntu on windows"
### Describe the bug.

getting error while  running "sudo apt install build-essential" on ubuntu on windows, it is failing with error code 404 with the following error statement "E: Failed to fetch http://security.ubuntu.com/ubuntu/pool/main/l/linux/linux-libc-dev_5.4.0-100.113_amd64.deb  404  Not Found [IP: 91.189.91.38 80]"
Here is a snap of the error window:
[
![bug](https://user-images.githubu

[2022-10-21 05:42] Zainab-ik commented on #359
### Operating System:
Windows 11 - Linux Ubuntu 20.4 LTS
### Conda Version:
conda 22.9.0 (Miniconda)
### Python Version:
Python 3.7.13
### Issue/Improvement:
This is a feature in colab to enhance the user experience. While using the model, Google colab has a timestamp feature that records the duration of time for each cell code run. This could be used to record fetch and predict time as calculatin

[2022-10-21 05:58] Zainab-ik commented on #359
### Operating System:
Windows 11 - Linux Ubuntu 20.4 LTS

### Conda Version:
conda 22.9.0 (Miniconda)

### Python Version:
Python 3.7.13

### Issue/Improvement:
While installing the ersilia python package by running the clone command ``git clone https://github.com/ersilia-os/ersilia.git`` to clone the ersilia repository to my local machine.
The following error showed:

error: 2427 bytes of body ar

[2022-10-21 06:19] Zainab-ik commented on #359
### Operating System:
Windows 11 - Linux Ubuntu 20.4 LTS
### Conda Version:
conda 22.9.0 (Miniconda)
### Python Version:
Python 3.7.13
### Issue/Improvement:
While fetching the model in Colab, it returned an error `Exception: Download from ersilia-os/eos3d3r did not work` when it's supposed to fetch succesfully.

### How did you solve it:
I figured that there was an internet break along the line a

[2022-10-21 06:51] Zainab-ik commented on #380
I presume the importance of the smiles format should be in the guide.

[2022-10-21 06:55] Zainab-ik commented on #407
I presume you are trying to download the GCC Compiler which gave you an error, make sure to enable WSL in your PowerShell to be sure you are running it in the correct terminal. However, I believe you can proceed with other steps.

[2022-10-21 07:01] Zainab-ik commented on #405
@natividadesusana There are 2 instances for this error, either an internet connection or a pip package needs updating. I suggest you rerun the process all over again in a new terminal and check your pip version using `pip --version`.
i believe @GemmaTuron can do justice to the issue

[2022-10-21 07:04] Zainab-ik commented on #404
@natividadesusana I advise to always output into a log file for easy debugging, you can run your fetch as `ersilia -v fetch eos3b5e > my.log 2>&1`. The log file simply saves your output which you can upload to the issue here for easy debugging as the error might be missed.

[2022-10-21 07:07] KvngRicky commented on #359
Just try first to activate the ersilia environment you want to work with and then in your ubuntu, use `python -m pip install -r requirements.txt` use python/python3 according to your system configs.

[2022-10-21 07:20] #393 closed

[2022-10-21 07:20] GemmaTuron commented on #405
Hi @natividadesusana

I need the full log of the error to be able to provide support. Thanks

[2022-10-21 07:31] zheeburg commented on #359
Operating System:  Linux Ubuntu 20.4 LTS 

Conda Version:  conda 22.9.0  

**Python Version**:  Python 3.9.12 

**Issue**:  When I was installing some new packages (actually after trying to install build-essential), I got the error,
`Package installation fails with 404 errors.`

**Here is the error**
` $ sudo apt install build-essential
Reading package lists... Done
Building dependency tree
Readin

[2022-10-21 08:01] Malikbadmus commented on #407
Hello @PranjuP, @Zheeburg suggested a solution to your issue, so basically check that your system clock is in sync with your host environment.
you can find more about this here.

https://github.com/ersilia-os/ersilia/issues/359#issuecomment-1286572578

[2022-10-21 08:45] GemmaTuron opened #408 "🐛 Bug: Charset Normalizer v 2.0.4 conflicts"
### Describe the bug.

The warning message is:
`RequestsDependencyWarning: urllib3 (1.25.11) or chardet (5.0.0)/charset_normalizer (2.0.4) doesn't match a supported version!  warnings.warn("urllib3 ({}) or chardet ({})/charset_normalizer ({}) doesn't match a supported "`
In my system I don't get it when I have the following versions:
- requests: 2.28.1
- urllib3: 1.25.11
- chardet: 5.0.0
- charset

[2022-10-21 08:47] GemmaTuron commented on #408
@femme-js, related to issue #338 can you do the test explained above? Check which versions of the packages you have and paste them here, upgrade them and try the fetching again see if the warning has disappeared
_I don't think this is what is causing the models not to be fetched, more on this on the relevant channels, but it would still be good to avid the warning_

[2022-10-21 08:49] GemmaTuron commented on #391
Hi @Femme-js and @sayantani11 !

Updates on this model:
- @sayantani11 please check your git lfs installation and let's make sure this error is not persisting anymore. I am suspecting you might have tried installing the windows version of git in your linux wsl. See this issue which can help you find the proble: https://github.com/git-lfs/git-lfs/issues/2898
- @Femme-js after several trials on diff

[2022-10-21 09:03] GemmaTuron commented on #359
Thanks for all the contributions, you can keep adding them in this issue!
Meanwhile we will start collecting the errors into a comprehensive documentation, separated by different issue types.

@zheeburg has offered to start with the documentation around installing the WSL. I suggest @zheeburg you prepare a GDocs and share it here so people can add comments and suggestions. Once the doc is finished

[2022-10-21 09:13] zheeburg commented on #359
Okay Sure, Thanks
I will do that now.

[2022-10-21 09:29] GemmaTuron commented on #391
@Femme-js still working on the model to identify what is going wrong.
The warning for chardet urllib is in #408 but that is not the root of the problem

Seems a memory error. Can you run `ulimit` on your bash and let me know your memory limit?

[2022-10-21 10:31] Femme-js commented on #408
Hi  @GemmaTuron ! Sure, let me get back to you after testing.

[2022-10-21 11:09] zheeburg commented on #359
Hi Everyone
I created a detailed guide on how to install WSL2 on different versions of windows 10 and I added an issue already, also how I fixed it.
I’d love to have your comments on it so we can create a detailed document.
Here is the link to the Google Docs.

https://docs.google.com/document/d/13qddcK8_Lfe-6qbNhAdTJfXIVE6PckRuuWuLrKrclEE/edit

[2022-10-21 11:12] GemmaTuron commented on #382
I'm gonna leave it open so we see which things we need to work on ;)

[2022-10-21 11:20] GemmaTuron commented on #407
Hi @PranjuP,
I'm sorry this is related to installing ubuntu, not to Ersilia's specific installation so I can't provide much support. Please check the suggestions above and see if you can get over it.

[2022-10-21 11:20] #407 closed

[2022-10-21 11:21] GemmaTuron commented on #406
Hi  @RoseZhen2022 !

If the model can predict one molecule it simply means it needs time to do all of them, so don't worry
I am closing this as solved and you can mark in excel that the model works

[2022-10-21 11:21] #406 closed

[2022-10-21 11:22] GemmaTuron commented on #404
Hi  @natividadesusana indeed please paste the error log or I can't help

[2022-10-21 11:24] GemmaTuron commented on #403
Hi @natividadesusana is this related to #404 as well? when do you get one or the other error? I'd like to close one of the two issues to avoid duplicating information
Please add the log files.
Thanks!

[2022-10-21 11:24] ting96haha commented on #400
Thank you very much. I had reinstall the Git Large File Storage again for ersilia. After that, I can fetch the model within 3 mins. Thank you for your help.

[2022-10-21 11:24] GemmaTuron commented on #402
Hi @natividadesusana

Same as for #403 and #404 I am not sure if you get different errors after trying different things or is all the same error.

[2022-10-21 11:25] ZakiaYahya commented on #405
@natividadesusana if get the pip version error too along with this error then follow thw folllowing steps,
Do this inside the ersilia environment,
sudo apt-get update
sudo apt-get upgrade
sudo apt install python3-pip
pip3 --version after that deactivate the ersilia conda environment &
rerun the terminal.
I hope this works for u too.

[2022-10-21 11:26] GemmaTuron commented on #401
I'm going to close
#401, #402 #403 and keep the conversation only in #404. Please add all the info including log files there (conda version, pip version etc)

[2022-10-21 11:26] #401 closed

[2022-10-21 11:26] #402 closed

[2022-10-21 11:26] #403 closed

[2022-10-21 11:26] #400 closed

[2022-10-21 12:53] ting96haha opened #409 "🐛 Bug: Unable to predict eos2lm8 due to Index Error: list index out of range"
### Describe the bug.

The model "eos2lm8" is unable to be predicted successfully due to Index Error: list index out of range from the api.py file.

### Describe the steps to reproduce the behavior

The error occurs in the `ersilia -v api predict -i "eml_canonical.csv" -o "eos2lm8.csv" > error_eos2lm8.log 2>&1` command line.

### Expected behavior.

Successfully predicted with the model eos2lm8

#

[2022-10-21 14:53] cynthiarichard007 commented on #293
Hi @GemmaTuron i still having issues installing ersilia after doing everything necessary

[2022-10-21 15:43] sayantani11 commented on #369
@GemmaTuron
System = WSL Ubuntu 18.04
Conda = conda 22.9.0
pip = pip 22.2.2
python = Python 3.7.13
slqalchemy = says not installed and eos1579 environment i don't see but this is there `eosbase-bentoml-0.11.0-py37`

[2022-10-21 15:46] sayantani11 commented on #391
when i do `git-lfs` it shows all the available commands.. and works fine

[2022-10-21 16:13] Femme-js commented on #359
@GemmaTuron

I also encountered an error while installing Ersilia with the help of instructions. But I quickly figured it out given that I already have experience when dealing with virtual environments. But later I realized a lot of folks went through the same issue.

Mentioning this, I would like to assist you with improving the installation guidelines when working with Ersilia.

[2022-10-21 16:20] GemmaTuron commented on #293
Hi @cynthiarichard007
I am sorry to hear that but without more information I am unable to help.

[2022-10-21 16:26] GemmaTuron commented on #391
Hi @sayantani11 !
This is annoying but is clear from the log error pasted above and in the issue #369 that ersilia is unable to find the git-lfs. Can you try once again the following as suggested in the issue above? Make sure you are inside the WLS:
(from: https://github.com/git-lfs/git-lfs/wiki/Installation#debian-and-ubuntu):
`curl -s https://packagecloud.io/install/repositories/github/git-lfs/s

[2022-10-21 16:27] GemmaTuron commented on #369
Hi @sayantani11 :
The log of the error is showing the git-lfs issue, so for some reason it is not able to find it in your system even though it's installed.If you run
`conda env list`

It does not show eos1579?

[2022-10-21 16:28] GemmaTuron commented on #385
Hi @zheeburg

Why are you closing this issue? Please report if the model worked, if it didn't, what error is it showing?

[2022-10-21 16:32] Femme-js opened #410 "📑 Feature Request: Improving issues with Ersilia's current readme.md file."
### Is your feature request related to a problem? Please describe.

While exploring the github repository of Ersilia and going through the readme.md, I found that Table of Contents have second content as 'Installation' but later in the file, the heading of content is replaced by 'Quick Start Guide'. Neither it is linked to the content under 'Table of Contents:' heading.

### Describe the solution

[2022-10-21 16:33] GemmaTuron commented on #409
Thanks @ting96haha !

Can you check what is the output that you get when you run the following command?
`ersilia example molecular-weight -n 10 -f myexample.csv`

This will generate an example file that you can pass as input. Paste the file here as well so we can see what is the exact input (this command is work in progress, so might not work for some models, let's try)

[2022-10-21 16:34] GemmaTuron commented on #390
Hi @Motunrayo321

Can you please let me know when you have time if the issue is solved?

[2022-10-21 16:35] GemmaTuron commented on #328
Hi @Cee-tech21

Please update us on this when you can.
Thanks!

[2022-10-21 16:36] GemmaTuron commented on #365
Hello @donaldte

Have you been able to make progress?

Thanks!

[2022-10-21 16:42] natividadesusana commented on #404
I tried but it didn't work ):

[2022-10-21 16:45] GemmaTuron commented on #404
ok, from the little I can see in these errors ersilia is not installed, because even bentoML can't be found.
Can you write down exactly the steps that you took to install ersilia? with versions etc.
Also, do you have git-lfs installed?
And what pops up when you do `conda env list`

[2022-10-21 16:49] natividadesusana commented on #404
Hi @GemmaTuron, I put the information all together, is it correct now? Thanks.

[2022-10-21 16:57] GemmaTuron commented on #404
hello @natividadesusana
if you don't answer the questions I posted above cant help you out I'm sorry.
I need to see the log of the error which can be collected through the command line at fetch time, or alternatively a detailed explanation of what steps did you take to install ersilia, and which conda environments do you have-

[2022-10-21 17:01] GemmaTuron commented on #374
Hi  @carcablop

You solved the git-lfs issue? Can you post the log of the error you are getting now if git lfs is working properly?
Thanks!

[2022-10-21 17:07] natividadesusana commented on #404
When I do `conda env list `:

<img width="627" alt="Captura de Tela 2022-10-21 às 13 50 43" src="https://user-images.githubusercontent.com/95102911/197248591-0cf4af12-94e9-4afd-b6f6-08c7def1fc77.png">

I installed Git LFS:
1. `conda install git-lfs -c conda-forge`
2. `git-lfs install`

Then the isaura:
1. `git clone https://github.com/ersilia-os/isaura.git`
2. `cd isaura`
3. `pip install -e .`

T

[2022-10-21 17:15] GemmaTuron commented on #372
Hi, I am also adding here @EstherIdabor because she also gets the network connection error. It would be great if you can do some research with @Zainab-ik, starting for this  https://stackoverflow.com/questions/52815784/python-pip-raising-newconnectionerror-while-installing-libraries

[2022-10-21 17:17] GemmaTuron commented on #404
Thanks @natividadesusana !

I see the conda environment for ersilia is python 3.9 when it should be 3.7, I also see you have both miniconda and anaconda installed?

[2022-10-21 17:20] natividadesusana commented on #404
Looks like so.. I'll fix it!

[2022-10-21 17:30] Chigoziee commented on #359
Operating System:
Windows 10 Pro (WSL installed with Ubuntu 22.04)

Conda Version:
conda 4.11.0 (miniconda 3)

Python Version:
Python 3.9.9

Issue:
After the installation of ubuntu and Ersillia (and all other additional packages). I was stuck on a virtual environment so I could not load my test data into the model because I could not locate the directory which it was saved at.

How did you solve i

[2022-10-21 17:43] Femme-js commented on #338
Older Conda Version:
4.12.0
Older Pip Version:
pip 22.2.2

New Conda Version:
pip 22.2.2

New PiP Version:
pip 22.3

Still having the same EmptyOutputError

[2022-10-21 18:02] Femme-js commented on #355
Hi @GemmaTuron !

I was able to fetch this model successfully on my CLI.
[eos92sw.log](https://github.com/ersilia-os/ersilia/files/9841357/eos92sw.log)

Neither I am getting any dependency warnings here.

Versions:
requests==2.28.1
urllib3==1.25.11
chardet==5.0.0
charset-normalizer==2.1.1

[2022-10-21 18:06] Femme-js commented on #408
requests==2.28.1
urllib3==1.25.11
chardet==5.0.0
charset-normalizer==2.1.1

Hi @GemmaTuron
I am already having the updated versions in my environment, the same as you mentioned.

I have successfully fetched the eos92sw model. I would say this might not be the issue causing model fetch failure. As in my new log output on eos1579, the warning have disappeared. This is after I updated my pip and cond

[2022-10-21 18:17] pauline-banye commented on #380
This is the current [template](https://colab.research.google.com/drive/1_anC9_E-Sr5rI61HicGGcCQ8bPPLWOsq?usp=sharing), please review @GemmaTuron , @Malikbadmus , @ZakiaYahya .

I separated the drive paths to allow the user to specify the output folder. If it's preferable to specify only one drive folder, I can make some more edits.

[2022-10-21 18:24] UChisom commented on #372
Noted @GemmaTuron .

[2022-10-21 18:41] pauline-banye commented on #359
@GemmaTuron

Operating System:
Windows 10
Brave browser 1.44.105

Conda Version:
22.9.0

Python Version:
version 3.9.12

Issue:
It was observed that the instructions for making model predictions on colab was not explanatory or user friendly.

How did you solve it:
Incorporating the feedback from other contributors, I edited the Ersilia template to:
- [x]  Assign the model as a variable
- [x]  Assi

[2022-10-21 19:02] thormiwa commented on #355
Hi @GemmaTuron After installing lfs correctly i just had to fetch, serve and predict and it ran successfully :). I will add the files to the drive and also check through other issues to support folks who might have similar error. Can i close the issue now?

[2022-10-21 19:49] ZakiaYahya commented on #380
Hello @Gemma, @pauline-banye @Malikbadmus
I have completed the work on comprehensive guide, please have a look. You can access the guide using the link:
https://docs.google.com/document/d/1JlIVmLGa1cL_Qk3q1yS0hVfnDJlHupe4Zg5L8TBYG2I/edit#

@carcablop you can now proceed to put this guide on gitbook.

[2022-10-21 20:24] Malikbadmus commented on #380
@pauline-banye , Nice!!. The simplicity. And it is very well  detailed. Nice work!

[2022-10-21 20:28] sayantani11 commented on #369
No, it doesn't show eos1579. I'll try the entire thing again let you know.

[2022-10-21 22:56] natividadesusana opened #411 "🐛 Bug: eos9be7 input data error"
### Describe the bug.

I'm getting an error when trying to install ersilia model hub:

Error: bentoml 0.11.0 has requirement urllib3<=1.25.11, but you'll have urllib3 1.26.12 which is incompatible.

### Describe the steps to reproduce the behavior

1. sh  /Users/natividadesusana/Downloads/Miniforge3-MacOSX-arm64.sh
2. conda activate base
3. conda create --name ersilia
4. conda activate ersilia
5.

[2022-10-21 23:30] carcablop commented on #380
Hello Everyone. Thanks, @ZakiaYahya. I made some spelling corrections. I tried to leave feedback on all spelling improvements. Only leave comments on the most relevant ones so as not to fill up the comments document. Also,  leave a suggestion for us to consider if it can be changed. @GemmaTuron Could you give me access to Ersilia's gitbook to upload the guide? As it is the first time I will use gi

[2022-10-22 00:44] carcablop commented on #374
Hello @GemmaTuron. I'm sorry I didn't answer before and share the last log, I focused on advancing in Colab and the last stage. Of course, I don't have git-lfs errors anymore, this is already solved for me. I share the last log I generated on Ocubre 18. Thank you.
[eos526j_fetch_181003.log](https://github.com/ersilia-os/ersilia/files/9843167/eos526j_fetch_181003.log)